{% unless cart.item_count > 1 %}
<cart-drawer-recommendations section-id="{{ section.id }}" product-id="{{ cart.items.first.product_id }}"
    class="mini-cart__recommendations">
    {%- assign acceptable_recommendations_count = 0 -%}
    {%- for product in recommendations.products -%}

    {%- assign matching_product = cart.items | where: 'product_id', product.id | first -%}

    {%- if matching_product == blank -%}
    {%- assign acceptable_recommendations_count = acceptable_recommendations_count | plus: 1 -%}
    {%- endif -%}

    {%- endfor -%}

    {%- if recommendations.performed -%}
    {%- if acceptable_recommendations_count > 0 -%}
    <div class="mini-cart__recommendations-inner">
        {%- if section.settings.recommendations_title != blank -%}
        <a href="{{ section.settings.recomm_collection.url }}" class="view_all_items"
            style="display: flex;justify-content: space-between;margin-right: 8px;">
            <p class="frequently_bought_heading">{{ section.settings.recommendations_title }}</p>
            <b class="view-all">View collection
            </b>
        </a>
        {%- endif -%}
        <div class="scroller">
            <div class="scroller__inner">
                <div class="mini-cart__recommendations-list d-flex">
                    {%- assign shown_products_count = 0 -%}

                    {%- assign matching_product_1 = cart.items | where: 'product_id', product.id -%}
                    {% comment %} info: Not required on 2.0
                    {%- if matching_product_1.size == 0 -%}
                    <span class="mini-cart__recommendations-heading heading heading--small hidden-pocket">
                        {{ section.settings.recommendations_title | escape }}
                    </span>
                    {% endif %} {% endcomment %}

                    {%- for product in section.settings.recomm_collection.products -%}

                    {%- if shown_products_count >= 6 -%}
                    {%- break -%}
                    {%- endif -%}

                    {% comment %} info: Not required on 2.0 {% endcomment %}
                    {% comment %}
                    <span
                        class="mini-cart__recommendations-heading heading heading--xsmall text--subdued hidden-lap-and-up">
                        {{ section.settings.recommendations_title | escape }}
                        <span class="gst-container">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1" width="16" height="16"
                                viewBox="0 0 20 20">
                                <path fill="black"
                                    d="M10 0C4.483 0 0 4.483 0 10s4.483 10 10 10 10-4.483 10-10S15.517 0 10 0zm0 18c-4.417 0-8-3.583-8-8s3.583-8 8-8 8 3.583 8 8-3.583 8-8 8zM9.833 5.75c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0 1.067l.983 1v6.1H12.3v2H9.8l-.983-.967V8.817H7.483v-2h2.35z" />
                            </svg>
                            <span class="gst-icon-detail gst_style">
                                <p>Products may be delivered from different warehouses subject to availability</p>
                            </span>
                        </span>
                    </span>
                    {% endcomment %}

                    {%- assign matching_product = cart.items | where: 'product_id', product.id -%}
                    {%- if matching_product.size == 0 -%}
                    {%- assign shown_products_count = shown_products_count | plus: 1 -%}
                    {%- render 'product-item2.0', product: product, reduced_content: true, reduced_font_size: true
                    , hide_secondary_image: true, add_first_available: true, sizes_attribute: '(max-width: 740px) 65px,
                    92px' -%}
                    {%- else -%}
                    <p class="gift-box" style="display:none;">Gift box in your cart is the outer packaging box that can
                        beused for
                        gifting purposes. It does not contain any boAt product inside it.</p>
                    {%- endif -%}
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
    {%- endif -%}
    {%- else -%}
    <div class="mini-cart__recommendations-inner">
        <div class="spinner">
            {%- render 'icon' with 'spinner', stroke_width: 3, width: 40, height: 40 -%}
        </div>
    </div>
    {%- endif -%}
</cart-drawer-recommendations>
{% endunless %}