<script>

  Shopify.cartMessage = `{{section.settings.cart_announcement}}`;
  sessionStorage.setItem('total_discount_amount', {{ total_discount_amount | json }});
  sessionStorage.setItem('offer_discount_code', '{{ section.settings.discount_code }}');

  Shopify.cartUpdate = function(cartJson) {

// Add code which need to run on cart update
  }{% comment %}
    if (document.readyState === 'loading') {
      console.log("loading");
    }{% endcomment %}$(window).on("load", function() {

// $('.custom-gift-button')[0] ? $('.custom-gift-button')[0].click() : '';
    {% if settings.products_offering_freebie != blank %}
      let custumisedvariant_ids = [];
      let giftId = "{{ gift-product_variant }}";
      let onloadfreeqnty = 0;
      let onloadcustomisedqnt = 0;
      jQuery.getJSON('/cart.js', function(cart) {
        let cartItem = cart.items;
        let onloadfreeItems = cartItem.filter(item => item.properties && item.properties.Free);
        $(onloadfreeItems).each(function(ind, el) {
          onloadfreeqnty += el.quantity;
        }){% comment %}
          info : for product customisation let onloadcustomised = cartItem.filter(item => item.properties && item.properties.PersonalisedMessage != undefined);$(onloadcustomised).each(function(ind, el) {
          onloadcustomisedqnt += el.quantity;
          if (! custumisedvariant_ids.includes(el.id)) {
            custumisedvariant_ids.push(el.id);
          }
        }){% endcomment %}
      if (onloadcustomisedqnt > 0) {
        customized_added()
      }
      console.log("onloadfreeqnty", onloadfreeqnty, "onloadcustomisedqnt", onloadcustomisedqnt, custumisedvariant_ids)
    }){% comment %}
      info : for product customisation let updatedcustomisedqnt = 0;document.addEventListener('cart:updated', function(event) {
      console.log("old", updatedcustomisedqnt);
      let newupdatedcustomisedqnt = 0;
      let cartItem = event.detail.cart.items; // Get the updated content of the cart
      let onloadcustomised = cartItem.filter(item => item.properties && item.properties.PersonalisedMessage != undefined);
      $(onloadcustomised).each(function(ind, el) {
        newupdatedcustomisedqnt += el.quantity;
      })
      if (updatedcustomisedqnt < newupdatedcustomisedqnt) {
        $(onloadcustomised).each(function(ind, el) {
          if (! custumisedvariant_ids.includes(el.id)) {
            custumisedvariant_ids.push(el.id);
          }
        })
      } else {
        custumisedvariant_ids = [];
        $(onloadcustomised).each(function(ind, el) {
          if (! custumisedvariant_ids.includes(el.id)) {
            custumisedvariant_ids.push(el.id);
          }
        })
      }

      console.log("newcustomisedqnt", updatedcustomisedqnt, custumisedvariant_ids)
      if (updatedcustomisedqnt >= 1) {
        customized_added()
      } else if (updatedcustomisedqnt < custumisedvariant_ids.length) {
        customized_added()
      } else {
        customized_removed()
      } updatedcustomisedqnt = newupdatedcustomisedqnt;
      console.log("new", updatedcustomisedqnt, newupdatedcustomisedqnt);
    });


    document.addEventListener('variant:changed', function(event) {
      if (custumisedvariant_ids.length > 0) {
        console.log(custumisedvariant_ids);
        let variant = event.detail.variant; // Gives you access to the whole variant details
        if (custumisedvariant_ids.includes(variant.id)) {
          customized_added()
        } else {
          customized_removed()
        }
      }
    });
    function customized_added() {
      $(".cutomized-btn .loader-button__text").html('Only one unit per order allowed');
      $(".cutomized-btn, .button.custom-prebook").addClass('signle-unit');
    }
    function customized_removed() {
      $(".cutomized-btn .loader-button__text").html(`PRE-ORDER <span class="pdp-btn-price d-lg-none">₹{{ product.price | divided_by: 100 }}</span>`);
      $(".cutomized-btn, .button.custom-prebook").removeClass('signle-unit');
    }
  {% endcomment %}

  const checkbox = document.querySelector(".check_container input");
  const message = document.querySelector(".message-container .message");
  const targNode = document.getElementById('mini-cart');
  const config_ = {
    attributes: false,
    childList: true,
    subtree: false
  };
  const callback_ = (mutationList, observer) => {
    for (const mutation of mutationList) {
      let updatedqnty = 0;
      jQuery.getJSON('/cart.js', function(cart) {
        cartI = cart.items;
        let updatedfreeitems = cartI.filter(item => item.properties && item.properties.Free);
        $(updatedfreeitems).each(function(ind, el) {
          updatedqnty += el.quantity;
        })
        console.log("onloadfreeqnty", onloadfreeqnty, "updatedqnty", updatedqnty)
        if (updatedqnty > onloadfreeqnty) {
          console.log("add free product");
          $('.custom-gift-button')[0].click();
          onloadfreeqnty += 1;
        } else if (updatedqnty < onloadfreeqnty) {
          console.log("remove free product");
          $('#mini-cart-form .line-item').each(function() {
            let dataItemId = $(this).data('item-id');
            if (dataItemId == giftId) {
              $(`.line-item[data-item-id="${dataItemId}"] a[aria-label="Decrease quantity"]`)[0].click();
            }
          });
          onloadfreeqnty -= 1;
        }
      }){% comment %}
        let total_price = parseInt($('.mini-cart__drawer-footer .cart-total-text')[0]
            .textContent
            .replace(/^\D+/g, '')
            .replace(/,/g, "")
            .slice(0, -3));
          console.log('price', total_price);
          if ($('.custom-gift-button').length > 0) {
            $('.custom-gift-button')[0].click();
          }
          $('#mini-cart-form .line-item').each(function()
          let dataItemId = $(this).data('item-id');
          if(dataItemId == giftId) {
            let remove_price = $(`.line-item[data-item-id="${dataItemId}"] .price.price--highlight`)
              .text()
              .replace(/^\D+/g, '')
              .replace(/,/g, "")
              .slice(0, -3);
            $(`.line-item[data-item-id="${dataItemId}"] ul, .line-item[data-item-id="${dataItemId}"] span.price.price--compare.line-through`).each(function() {
              $(this).css("display", "none")
            })
            if (total_price - remove_price < 1000) {
              $(`.line-item[data-item-id="${dataItemId}"] a.line-item__remove-button`)[0].click();
            }
          }
        }
      ){% endcomment %}
}};const observer_ = new MutationObserver(callback_);observer_.observe(targNode, config_);{% endif %}{% comment %}if (checkbox) {checkbox.addEventListener('change', () => {
if (checkbox.checked) {
  message.textContent = 'Billing address will be PPOB address as per GST portal'
} else {
  message.textContent = '{{ section.settings.cart_announcement }}'
}})}{% endcomment %}{% comment %}const customer_id = "{{customer.id}}"$('#mini-cart-form .line-item').each(function() {let dataItemId = $(this).data('item-id');if (dataItemId == giftId) {
if (customer_id.trim().length == 0) {
  $(`.line-item[data-item-id="${dataItemId}"] a.line-item__remove-button`)[0].click();
}}}){% endcomment %}
/* $(".razorpay-checkout").click(function () {
  let productsincart = line_item.product;
  clevertap.event.push("razor/magic Button Clicked",{
    "cart products": productsincart,
    "Amount": cart_total_price
  });
}); */});{% comment %}const checkbox = document.querySelector(".check_container input");const message = document.querySelector(".message-container .message");window.addEventListener('load', () => {if (checkbox.checked) {message.textContent = 'Billing address will be PPOB address as per GST portal'} else {message.textContent = '{{ section.settings.cart_announcement }}'}})document.addEventListener('cart:updated', (event) => {if (checkbox.checked) {message.textContent = 'Billing address will be PPOB address as per GST portal'} else {message.textContent = '{{ section.settings.cart_announcement }}'}}){% endcomment %}
</script>