{% if collection.title == "boAthead Days" %}
  <div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/boAthead-catogery-banner_new.jpg" alt="{{collection.title}}" />
  </div>
  <div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/boAthead-Catogery_mobie_1.jpg" alt="{{collection.title}}" />
  </div>
{% endif %}


{% if collection.title == "Wireless Speakers" %}
  <div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Stone-Speakers_Catgry-web_5ddac427-ef95-4cc3-bcd7-5f08ab93359d.jpg?v=1634903645" alt="Bluetooth Speakers" />
  </div>
  <div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Stone_category_mob_e5485fea-2179-43cc-a00e-3a6636c4e692.jpg?v=1634903645" alt="Bluetooth Speakers" />
  </div>
{% endif %}
{% if collection.title == "Smart Watches" %}
  <div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Smart-Watch_Catgry-web.jpg?v=1634717240" alt="Smart Watch" />
  </div>
  <div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Smart_watch_Catgry_mob_5fa95cde-91f1-4be3-815a-8d2067646a0b.jpg?v=1634717240" alt="Smart Watch" />
  </div>
{% endif %}
{% if collection.title == "Wireless Earbuds" %}
  <div class="collection-banner-image-row only-desktop">
               <img class=" lazyload"
  src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Airdopes_Catgry-web_7cf20899-eb4a-427f-9a8a-799d7e1c37fa_100x.jpg?v=1634716734"
  data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Airdopes_Catgry-web_7cf20899-eb4a-427f-9a8a-799d7e1c37fa.jpg?v=1634716734"
  data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
  data-aspectratio="auto"
  data-sizes="auto"
  data-parent-fit="cover"
  alt="Wireless Earbuds">
        </div>
  <div class="collection-banner-image-row mobile-only">
                             <img class=" lazyload"
  src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Airdopes_Catgry_mob_f0563a88-8eaf-444b-b11d-719299bafbe2_100x.jpg?v=1634716734"
  data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Airdopes_Catgry_mob_f0563a88-8eaf-444b-b11d-719299bafbe2_500x.jpg?v=1634716734"
  data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
  data-aspectratio="auto"
  data-sizes="auto"
  data-parent-fit="cover"
  alt="Wireless Earbuds"> 
   </div>
{% endif %}
{% if collection.title == "Wireless Headphones" %}
  <div class="collection-banner-image-row only-desktop">
               <img class=" lazyload"
  src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Rockerz-_Catgry_web_d201c6e3-e067-4280-a127-56a2e1b51399_100x.jpg?v=1634806683"
  data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Rockerz-_Catgry_web_d201c6e3-e067-4280-a127-56a2e1b51399.jpg?v=1634806683"
  data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
  data-aspectratio="auto"
  data-sizes="auto"
  data-parent-fit="cover"
  alt="Wireless Headphones and Bluetooth Earphones">
    </div>
  <div class="collection-banner-image-row mobile-only">
                        <img class=" lazyload"
  src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Rockerz_Catgry_Mobile_edbb0801-6494-40b8-8dff-d9dfaa966bd8_100x.jpg?v=1634806683"
  data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Rockerz_Catgry_Mobile_edbb0801-6494-40b8-8dff-d9dfaa966bd8_500x.jpg?v=1634806683"
  data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
  data-aspectratio="auto"
  data-sizes="auto"
  data-parent-fit="cover"
  alt="Wireless Headphones and Bluetooth Earphones">
  </div>
{% endif %}
{% if collection.title == "Wired Earphones" %}
  <div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Bassheads-_Catgry_web.jpg?v=1634717143" alt="Wired Headphones" />
  </div>
  <div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Bassheads_category_mob.jpg?v=1634717143" alt="Wired Headphones" />
  </div>
{% endif %}
{% if collection.title == "Home Theater Systems & Soundbars" %}
  <div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Aavante_category_web_1.jpg?v=1634903645" alt="Home Theater & Sound bar" />
  </div>
  <div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Aavante_category_mob_1.jpg?v=1634903645" alt="Home Theater & Sound bar" />
  </div>
{% endif %}
{% if collection.title == "Mobile Accessories" %}
  <div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Mobile_Accessories_web.jpg?v=1634903645" alt="AUX Cables, Mobile and Car Chargers" />
  </div>
  <div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Mobile_Accessories_mob.jpg?v=1634903645" alt="AUX Cables, Mobile and Car Chargers" />
  </div>
{% endif %}
{% if collection.title == "Limited Edition" %}
  <div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Limited_edition_cat_web.jpg?v=1634903645" alt="boAt Limited Edition Earphones & Headphones" />
  </div>
  <div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Limited_editon_cat_mob.jpg?v=1634903645" alt="boAt Limited Edition Earphones & Headphones" />
  </div>
{% endif %}
{% if collection.title == "TRebel" %}
  <div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Trebel_Category_Web_new.jpg?v=1646673029" alt="boAt TRebel" />
  </div>
  <div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Trebel_Category_Mob_new.jpg?v=1646673030" alt="boAt TRebel" />
  </div>
{% endif %}


{%- if collection.title == 'Exclusive Offers' -%}
	<div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/August_Catogery__web.jpg?v=1630314172" alt="Exclusive Offers">
    </div>
    <div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/August_Catogery_Mobile_MB.jpg?v=1630314172" alt="Exclusive Offers">
  	</div>
{%- endif -%}


{%- if collection.title == 'Plug-In Sale' -%}
	<div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Plug-In-Sale_1.jpg?v=1618374488" alt="Plug In Sale">
  	</div>
  	<div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/plug-in-sale-mobile.png?v=1618374488" alt="Plug In Sale">
  	</div>
{%- endif -%}
{%- if collection.title == 'Misfit - Best Trimmer for Men' -%}
	<div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/MISFIT-T200_Catgry_Web.jpg?v=1634806683" alt={{collection.title}}>
  	</div>
  	<div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/MISFIT-T200_Mobile_Catgry_10ad9111-75aa-45b4-84e7-6a9260d93b0c.jpg?v=1634806683" alt={{collection.title}}>
  	</div>
{%- endif -%}
{%- if collection.title == 'Immortal Gaming' -%}
	<div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Immortal-Catgry_web.jpg?v=1634903645" alt={{collection.title}}>
  	</div>
  	<div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Immortal_Catgry_mob.jpg?v=1634903645" alt={{collection.title}}>
  	</div>
{%- endif -%}
{%- if collection.handle == 'flat-15' -%}
	<div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Flat15_-off-_web_1.jpg?v=1636550765" alt={{collection.title}}>
  	</div>
  	<div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Flat15_-off_mobile_1.jpg?v=1636550764" alt={{collection.title}}>
  	</div>
{%- endif -%}

{% if collection.title == "Flat 10% Sale" %}
  <div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Flat10_-off-_web.jpg?v=1632759459" alt="{{collection.title}}" />
  </div>
  <div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Flat10_-off_mobile.jpg?v=1632759459" alt="{{collection.title}}" />
  </div>
{% endif %}

{% if collection.title == "New Launches" %}
  <div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/BBD_Catogery_Web-1_1.jpg?v=1633076267" alt="{{collection.title}}" />
  </div>
  <div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/BBD_catogery_mobile_1.jpg?v=1633076268" alt="{{collection.title}}" />
  </div>
{% endif %}

{% if collection.title == "The Ultimate Sail" %}
  <div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Ultimate_saleback_Web.jpg?v=1634711156" alt="{{collection.title}}" />
  </div>
  <div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Ultimate_saleback_mobile.jpg?v=1634711156" alt="{{collection.title}}" />
  </div>
{% endif %}
{% if collection.handle == "diwali-gifting" %}
  <div class="collection-banner-image-row only-desktop diwali">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Collection-page-Desk.Code.jpg?v=1635748066" alt="{{collection.title}}" />
      <div class="top---text text-center">
        <p class="text-uppercase text-white m-0"><strong>Get Flat 15% Off Sitewide</strong></p>
      </div>
      <div class="bottom---text text-center">
        <p class="text-uppercase text-white m-0">Apply Code: <strong>boatxdiwali</strong></p>
      </div>
  </div>
  <div class="collection-banner-image-row mobile-only diwali">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Collection-page-mob-Code.jpg?v=1635748066" alt="{{collection.title}}" />
  	  <div class="top---text text-center">
        <p class="text-uppercase text-white m-0"><strong>Get Flat 15% Off Sitewide</strong></p>
      </div>
      <div class="bottom---text text-center">
        <p class="text-uppercase text-white m-0">Apply Code: <strong>boatxdiwali</strong></p>
      </div>
  </div>
{% endif %}
{% if collection.handle == "boat-x-diwali" %}
  <div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Desktop.png?v=1635849378" alt="{{collection.title}}" />
  </div>
  <div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/mob.png?v=1635849378" alt="{{collection.title}}" />
  </div>
{% endif %}
{% if collection.handle == "black-friday" %}
  <div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Collection-banner-web.png?v=1637736676" alt="{{collection.title}}" />
  </div>
  <div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Collection-banner-mob.png?v=1637736676" alt="{{collection.title}}" />
  </div>
{% endif %}
{% if collection.handle == "sail-with-boat" %}
  <div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/sailwithboAt_Catryweb_f75d265b-a134-4148-ab05-a559228fc36d.jpg?v=1638613667" alt="{{collection.title}}" />
  </div>
  <div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/sailwithboAt_Catry_mobile_bf641842-9675-4e8a-b9db-9cbece6b6376.jpg?v=1638613667" alt="{{collection.title}}" />
  </div>
{% endif %}
{% if collection.handle == "boat-x-marvel" %}
  <div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Marvel_Catgry-_web_SN.jpg?v=1639994617" alt="{{collection.title}}" />
  </div>
  <div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Marvel_Catgry_mobile_SN.jpg?v=1639994617" alt="{{collection.title}}" />
  </div>
{% endif %}
{% if collection.handle == "flat-20" %}
  <div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/flat-20_Catgry-_web.jpg?v=1639679519" alt="{{collection.title}}" />
  </div>
  <div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/WatchB-image_cc12beff-6eb9-498b-8b06-64fd575ff311.jpg?v=1639679519" alt="{{collection.title}}" />
  </div>
{% endif %}
{% if collection.handle == "flat-20" %}
  <div class="collection-banner-image-row only-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/flat-20_Catgry-_web.jpg?v=1639679519" alt="{{collection.title}}" />
  </div>
  <div class="collection-banner-image-row mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/WatchB-image_cc12beff-6eb9-498b-8b06-64fd575ff311.jpg?v=1639679519" alt="{{collection.title}}" />
  </div>
{% endif %}