  {% assign coll = collection.handle %}
  {% assign tag_article = 'meta-' | append: coll  %}
		<div class="RelatedPosts">
          <gallery-list class="gallery related-article-list boat-custom-gallery">
            <scrollable-content draggable class="gallery__list-wrapper {% if section.blocks.size >= 3 %}is-scrollable{% endif %} hide-scrollbar">
              <div class="container">
                <div class="gallery__list">
                  {% paginate blogs.blog.articles by 100000 %}
                  {% for article in blogs.blog.articles %}
                    {% if article.tags contains tag_article %}
                    <gallery-item class="related-article">
                        <a href="{{ article.url }}">
                         <img loading="lazy" class="lazyload" src="{{ article.image | img_url: '' }}" alt="{{ article.title }}" />
                        </a>
                        <p class="addin_title text-white"><a class="text-white" href="{{ article.url }}">{{ article.title }}</a></p>
                        <p class="excerpt">
                          <a href="{{ article.url }}">
                            Read More
                          </a>
                        </p>
                    </gallery-item>
                    {% endif %}
                  {% endfor %}
                  {% endpaginate %}
                </div>
              </div>
            </scrollable-content>
            <prev-next-buttons class="gallery__prev-next-buttons prev-next-buttons">
              <button class="gallery__arrow prev-next-button prev-next-button--prev">
                <span class="visually-hidden">{{ 'general.accessibility.previous' | t }}</span>
                {%- render 'icon' with 'nav-arrow-left', direction_aware: true -%}
              </button>

              <button class="gallery__arrow prev-next-button prev-next-button--next">
                <span class="visually-hidden">{{ 'general.accessibility.next' | t }}</span>
                {%- render 'icon' with 'nav-arrow-right', direction_aware: true -%}
              </button>
            </prev-next-buttons>
          </gallery-list>
    	</div>
  <style>

  .related-article-list {
  	display: flex;
    flex-wrap: nowrap;
    margin-bottom: 3em;
    position: relative;
  }
  .related-article {
    width: 32%;
    display: inline-block;
    float: left;
    padding: 0px;
    margin: 10px 5px;
    background: #25272c;
    min-width: 280px;
  }
  .related-article a {display:block;}
  .related-article img {display:block;width: 100%;}
  .section_title {
  	text-align: center;
    font-weight: bold;
    font-size: 25px;
  }
  .addin_title {
  	font-size: 15px;
    line-height: normal;
    font-weight: bold;
    padding: 0 12px;
  }
  .addin_title a {margin-top:10px;}
  .addin_title a:hover {text-decoration:none;color:#ff0000;}
  .excerpt {
  	font-size: 12px;
    line-height: normal;
    margin-top:12px;
    text-align: left !important;
    padding: 0 12px;
  }
  .excerpt a {
    color: #fff;
    font-style: normal;
    border: 1px solid #ff0000;
    padding: 10px 10px;
    display: inline-block;
    border-radius: 5px;
    font-size: 13px;
    margin: 10px 0;
  }
  .excerpt a:hover {text-decoration:none;}
  @media screen and (max-width:767px) {
    .related-article-list {
    	display: flex;
    }
    .related-article {min-width: 280px;}
  }
 @media screen and (min-width:768px) {    
      .RelatedPosts {
  	margin: 50px auto 0px;
    clear: both;
    overflow: hidden;
    max-width: 1300px;
    padding: 0 35px;
      }   
  }
</style>