{% if banner_end_date != blank %} 
 <div class="timer banner-timer"> 
   {% if banner_title != blank %}<h4 class="timer__title">{{ banner_title }}</h4>{% endif %} 
   <div class="timer-display"> 
     <div class="timer-block"> 
       <span class="timer-block__num js-timer-days">00</span> 
<!--        <span class="timer-block__unit">:</span>  -->
     </div> 
     <div class="timer-block"> 
       <span class="timer-block__num js-timer-hours">00</span> 
<!--        <span class="timer-block__unit">:</span>  -->
     </div> 
     <div class="timer-block"> 
       <span class="timer-block__num js-timer-minutes">00</span> 
<!--        <span class="timer-block__unit">:</span>  -->
     </div> 
     <div class="timer-block"> 
       <span class="timer-block__num js-timer-seconds">00</span> 
<!--        <span class="timer-block__unit">:</span>  -->
     </div> 
   </div> 
 </div> 

 <style> 
  .{{ section.id }} .timer { 
     background: {{ time_background }}; 
   } 
  {% if time_inline %}
   .{{ section.id }} .timer.banner-timer {
    padding-top: 4px; 
    display: flex!important;
    justify-content: center;
    align-items: center;
  }
  @media(min-width:1024px){
    {{section.id}} .timer.banner-timer {
      padding-top: 0px; 
      margin-left: 8px;
    }
   }
  {% endif %}
   .timer__title { 
     text-align: center; 
     margin: 0;
     color: #ff0000;
     font-size: 16px;
     font-weight: bold;
   } 
   .timer-display { 
     display: -webkit-box; 
     display: -ms-flexbox; 
     display: flex; 
     -ms-flex-wrap: wrap; 
     flex-wrap: wrap; 
     -webkit-box-pack: justify; 
     -ms-flex-pack: justify; 
     justify-content: space-between; 
   } 
   .timer-block { 
     position: relative; 
     width: 25%; 
     padding: 0 10px; 
   } 
   .timer-block:not(:last-child):after { 
       content: ':'; 
       position: absolute; 
       right: -1px;
       top: 0px;
     } 
   .timer-block__num, 
   .timer-block__unit { 
     display: block; 
     text-align: center; 
   } 
  .{{section.id}} .timer.banner-timer{position: absolute;top: -20px;}
 </style> 

  <script type="text/javascript"> 
    $(window).on('load', function() {
      $('.{{section.id}} .timer').fadeIn("fast");
    });
    var banner_second = 1000, 
        banner_minute = banner_second * 60, 
        banner_hour = banner_minute * 60, 
        banner_day = banner_hour * 24; 

    var banner_countDown = new Date('{{- banner_end_date -}}').getTime(), 
        banner_x = setInterval(function() { 
    var banner_now = new Date().getTime(), 
        banner_distance = banner_countDown - banner_now;
          
        var days_left = Math.floor(banner_distance / (banner_day));
        var hours_left = Math.floor((banner_distance % (banner_day)) / (banner_hour)) + days_left * 24;
        if (banner_distance > 0){
          $('.{{section.id}} .timer.banner-timer').css("position", "unset");
          document.querySelector('.{{section.id}} .js-timer-days').innerText = Math.floor(banner_distance / (banner_day)) + 'd', 
          document.querySelector('.{{section.id}} .js-timer-hours').innerText = hours_left + 'h', 
          document.querySelector('.{{section.id}} .js-timer-minutes').innerText = Math.floor((banner_distance % (banner_hour)) / (banner_minute)) + 'm', 
          document.querySelector('.{{section.id}} .js-timer-seconds').innerText = Math.floor((banner_distance % (banner_minute)) / banner_second) + 's'; 
        }
    }, banner_second) 
 </script> 

 {% endif %} 