<style>
.footer-additional-block{display:flex;flex-wrap:wrap;margin-top:2.5rem}
.footer-collection-block{margin-bottom:50px;width:100%}
p.footer-collection-title{font-size:16px;font-weight:700;color:#1a2024;margin-bottom:18px}
p.footer-collection-subtitle{font-size:14px;font-weight:500;color:#1a2024;margin-bottom:5px}
.features-wrapper{margin-bottom:18px}
ul.footer-features-filter-list,ul.footer-price-filter-list{padding:0}
li.footer-features-filter-item,li.footer-price-filter-item{list-style:none;padding:0;font-size:12px;font-weight:400;color:#868c91}
@media (min-width:769px){
.footer-collection-block{width:25%}
.footer__item-list{background: #e7f0f5;margin-left:-50px;margin-right:-50px;margin-top:-50px;padding:50px;padding-top:50px!important;}
}
@media (max-width:768px){
.footer-additional-block{padding:2.5rem 18px 0;margin-top:0;background:#f7fafc;}
.footer-collection-block{margin-bottom:0;}
.features-wrapper,.price-wrapper{display:none;}
.price-wrapper{margin-bottom:40px;}
p.footer-collection-title{font-size:14px;font-weight:500;padding-bottom:10px;position:relative;color:#4e5358;}
p.footer-collection-subtitle{font-size:13px;}
li.footer-features-filter-item,li.footer-price-filter-item{font-size:14px;margin-top:14px;}
.filter_icon{font-size:18px;position:absolute;top:50%;transform:translateY(-50%);right:10px;color:#b2b9bf;font-weight:500;padding-bottom:10px;}
.expand_filter:before{content:'+'}
.collapse_filter:before{content:'-'}
}
</style>

{% comment %} <div class="footer-additional-block">
    {%- for collection in collections reversed -%}
        <script>console.log('{{ collection.title}}, {{ forloop.length}}')</script>
        {%- if collection.metafields.custom.footer_collection == true -%}
            <div class="footer-collection-block">
                <p class="footer-collection-title">{{collection.title}}</p>
                {% assign features_collection = collection.metafields.custom.shop_by_feature.value %}
                {%- if features_collection != blank -%}
                    <div class="features-wrapper">
                        <p class="footer-collection-subtitle">Shop by Features</p>
                        <ul class="footer-features-filter-list">
                            {% for coll in features_collection %}
                                <li class="footer-features-filter-item">
                                    <a class="footer-features-filter-link" href="{{ coll.url }}">{{ coll.title }}</a>
                                </li>
                            {% endfor %} 
                        </ul>
                    </div>
                {%- endif -%}
                {% assign price_collection = collection.metafields.custom.shop_by_price.value %}
                {%- if price_collection != blank -%}
                    <div class="price-wrapper">
                        <p class="footer-collection-subtitle">Shop by Price</p>
                        <ul class="footer-price-filter-list">
                            {% for coll in price_collection %}
                                <li class="footer-price-filter-item">
                                    <a class="footer-price-filter-link" href="{{ coll.url }}">{{ coll.title }}</a>
                                </li>
                            {% endfor %} 
                        </ul>
                    </div>
                {%- endif -%}
            </div>
        {%- endif -%}
    {%- endfor -%}
</div> {% endcomment %}

<div class="footer-additional-block">
    {%- assign filter_menu = section.settings.filter_menu -%}
    {%- for link in filter_menu.links -%}
        <div class="footer-collection-block">
            {% assign collectionHandle = link.url | split: '/' | last %}
            {% assign collection = collections[collectionHandle] %}
            <div class="footer-collection-block-inner">
                <p class="footer-collection-title">{{ link.title }}
                    <span class="expand_filter filter_icon d-lg-none"></span>
                </p>
                {% assign features_collection = collection.metafields.custom.shop_by_feature.value %}
                {%- if features_collection != blank -%}
                    <div class="features-wrapper">
                        <p class="footer-collection-subtitle">Shop by Features</p>
                        <ul class="footer-features-filter-list">
                            {% for coll in features_collection %}
                                <li class="footer-features-filter-item">
                                    <a class="footer-features-filter-link" href="{{ coll.url }}">{{ coll.title }}</a>
                                </li>
                            {% endfor %} 
                        </ul>
                    </div>
                {%- endif -%}
                {% assign price_collection = collection.metafields.custom.shop_by_price.value %}
                {%- if price_collection != blank -%}
                    <div class="price-wrapper">
                        <p class="footer-collection-subtitle">Shop by Price</p>
                        <ul class="footer-price-filter-list">
                            {% for coll in price_collection %}
                                <li class="footer-price-filter-item">
                                    <a class="footer-price-filter-link" href="{{ coll.url }}">{{ coll.title }}</a>
                                </li>
                            {% endfor %} 
                        </ul>
                    </div>
                {%- endif -%}
            </div>
        </div>
    {% endfor %}            
</div>

<script>
$('.footer-collection-block').each(function() {
    $(this).find('.footer-collection-title').click(function() {
        $(this).find('span').toggleClass('expand_filter');
        $(this).find('span').toggleClass('collapse_filter');
        $(this).siblings('.features-wrapper').slideToggle()
        $(this).siblings('.price-wrapper').slideToggle()
    })
})
</script>