{% assign gift-product = collections['freebie-offer'].products[0] %}
{% assign gift-product_variant = gift-product.variants[0].id %}

{% capture itemTags %}
{% for item in cart.items %}
  {{ item.product.tags }},
{% endfor %}
{% endcapture %}
   {%- comment -%} <style>  
 .line-item[data-item-id="{{ gift-product_variant }}"] ul, .line-item[data-item-id="{{ gift-product_variant }}"] span.price.price--compare.line-through, .line-item[data-item-id="{{ gift-product_variant }}"] a.line-item__remove-button.link.text--subdued.text--xxsmall {display: none;}
  #mini-cart-form  .line-item[data-item-id="{{ gift-product_variant }}"] .quantity-selector__button{pointer-events:none;cursor:no-drop;color: grey; opacity : 0.5;}  
 </style> {%- endcomment -%}
{% if itemTags contains settings.products_offering_freebie %}
  <!-- for free-earphones --->
{%- form 'product', gift-product, is: 'product-form', id: form_id, class: 'product-item__quick-form d-none' -%}
  <input type="hidden" name="quantity" value="1">
  <input type="hidden" name="id" value="{{ gift-product_variant }}">
  <button
    is="loader-button"
    type="submit"
    class="button button--outline custom-gift-button button--text button--full {% if section.settings.desktop_products_per_row >= 5 %}button--small{% endif %} hidden-touch"
  >
    ADD YOUR FREE GIFT
  </button>
  <button type="submit" class="product-item__quick-buy-button custom-gift-button hidden-no-touch ">
    <span class="visually-hidden">{{ 'collection.product.add_to_cart_short' | t }}</span>
    ADD YOUR FREE GIFT
  </button>
{%- endform -%}
{%- endif -%}
{% comment %} for one time adding product to the cart like cart.price n all{% endcomment %}
{% unless itemTags contains 'freebie-offer' %}
{% unless settings.products_offering_freebie != blank %}
{% if cart.total_price >= 400000 %}
{%- form 'product', gift-product, is: 'product-form', id: form_id, class: 'product-item__quick-form d-none' -%}
<input type="hidden" name="quantity" value="1">
<input type="hidden" name="id" value="{{ gift-product_variant }}">
<button is="loader-button" type="submit"
  class="button button--outline price-gift-button button--text button--full {% if section.settings.desktop_products_per_row >= 5 %}button--small{% endif %} hidden-touch">
  ADD YOUR FREE GIFT
</button>
<button type="submit" class="product-item__quick-buy-button price-gift-button hidden-no-touch ">
  <span class="visually-hidden">{{ 'collection.product.add_to_cart_short' | t }}</span>
  ADD YOUR FREE GIFT
</button>
{%- endform -%}
{% endif %}
{% endunless %}
{% endunless %}

{% comment %} 
{% if cart.total_price > 100000 %}
  {% if customer %}
    {% assign lowercase_tags = customer.tags | join: ',' | downcase | split: ',' %}
    {% if lowercase_tags contains 'freebie-offer' %}
      {% assign customer_message = 'Welcome, '| append: customer.name | append: ' you have got a freebie-offer!' %}
      <p class="custom-discount m-0 text-center">{{ customer_message }}</p>

      {% capture itemTags %}
        {% for item in cart.items %}
          {{ item.product.tags | downcase }},
        {% endfor %}
      {% endcapture %}
      {% unless itemTags contains 'freebie-offer' %}
        <p class="custom-discount m-0 text-center">yay! {{ gift-product.title }}</p>
        {%- form 'product', gift-product, is: 'product-form', id: form_id, class: 'product-item__quick-form d-none' -%}
          <input type="hidden" name="quantity" value="1">
          <input type="hidden" name="id" value="{{ gift-product_variant }}">
          <button
            is="loader-button"
            type="submit"
            class="button button--outline custom-gift-button button--text button--full {% if section.settings.desktop_products_per_row >= 5 %}button--small{% endif %} hidden-touch"
          >
            ADD YOUR FREE GIFT
          </button>
          <button type="submit" class="product-item__quick-buy-button hidden-no-touch ">
            <span class="visually-hidden">{{ 'collection.product.add_to_cart_short' | t }}</span>
            ADD YOUR FREE GIFT
          </button>
        {%- endform -%}
      {% endunless %}
    {% else %}
     <!--- This will be the message for logged-in customers without any special tags --->
      {% assign customer_message = 'Logged in as  ' | append: customer.name %}
      <span class="welcome-message">{{ customer_message }} </span>
    {% endif %}
  {% else %}
    <!--- Customer is not logged in --->
    <style>
      .custom-discount a:hover{color: red!important;font-weight: 700;}
    </style>
    <p class="custom-discount text-center">
      Please <a class="text-red" href="https://www.boat-lifestyle.com/account/login?source=cart">Login</a> to get your customized
      offers
    </p>
  {% endif %}
{% endif %}
 {% endcomment %}