
{%- assign cover = true -%}
{%- assign max_width = image.width -%}

<div class="rimage-outer-wrapper" {% unless cover or no_max_width %}style="max-width: {{ max_width }}px"{% endunless %}>
  <div class="rimage-wrapper lazyload--placeholder" style="padding-top:{{ 1 | divided_by: image.aspectRatio  | times: 100 }}%">
    <img class="rimage__image lazyload fade-in cover"
      data-src="{{ image.src  }}"
      data-widths="[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
      data-aspectratio="{{ image.aspectRatio }}"
      data-sizes="auto"
      alt="{{ image.alt }}"
      data-parent-fit="cover">

    <noscript>
      <img class="rimage__image" src="{{ image.fallbackSrc  }}" alt="{{ alt }}">
    </noscript>
  </div>
</div>
{%- assign max_height = false -%}