{%- assign direction = 'ltr' -%}
{%- case request.locale.iso_code -%}
  {%- when 'ar' or 'arc' or 'dv' or 'fa' or 'ha' or 'he' or 'kwh' or 'ks' or 'ku' or 'ps' or 'ur' or 'yi' -%}
  {%- assign direction = 'rtl' -%}
{%- endcase -%}

<mobile-navigation
  append-body
  id="mobile-menu-drawer"
  class="drawer {% if direction == 'ltr' %}drawer--from-left{% endif %}">

  <span class="drawer__overlay"></span>

  <div class="drawer__content p-0">
    <ul
      class="mobile-nav list--unstyled"
      style="padding-bottom:10rem"
      role="list">
      {%- for link in menu.links -%}
        {%- assign link_title_downcase = link.title | strip | downcase -%}
        {%- assign mega_menu_block = '' -%}
        {%- assign mega_menu_images = '' -%}

        {%- for block in section.blocks -%}
          {%- assign menu_item_downcase = block.settings.menu_item | strip | downcase -%}

          {%- if menu_item_downcase == link_title_downcase -%}
            {%- assign mega_menu_block = block -%}
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}

        {%- if mega_menu_block != '' -%}
          {%- assign images_count = 0 -%}

          {%- capture mega_menu_images -%}
            {%- for i in (1..6) -%}
              {%- capture image_setting -%}image_{{ i }}{%- endcapture -%}

              {%- if mega_menu_block.settings[image_setting] != blank -%}
                {%- assign images_count = images_count | plus: 1 -%}

                {%- capture image_heading_setting -%}image_{{ i }}_heading{%- endcapture -%}
                {%- capture image_text_setting -%}image_{{ i }}_text{%- endcapture -%}
                {%- capture image_link_setting -%}image_{{ i }}_link{%- endcapture -%}

                {%- capture image_push -%}
                  <img
                    class="mobile-nav__image"
                    loading="lazy"
                    sizes="270px"
                    {% render 'image-attributes', image: mega_menu_block.settings[image_setting], sizes: '270,540,810' -%}>

                  {%- if mega_menu_block.settings[image_heading_setting] != '' -%}
                    <p class="mobile-nav__image-heading heading heading--xsmall">
                      {{ mega_menu_block.settings[image_heading_setting] }}
                    </p>
                  {%- endif -%}

                  {%- if mega_menu_block.settings[image_text_setting] != '' -%}
                    <span class="mobile-nav__image-text text--xsmall">
                      {{- mega_menu_block.settings[image_text_setting] -}}
                    </span>
                  {%- endif -%}
                {%- endcapture -%}

                {%- if mega_menu_block.settings[image_link_setting] != blank -%}
                  <a href="{{ mega_menu_block.settings[image_link_setting] }}" class="mobile-nav__image-push">
                    {{- image_push -}}
                  </a>
                {%- else -%}
                  <div class="mobile-nav__image-push">
                    {{- image_push -}}
                  </div>
                {%- endif -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endcapture -%}
        {%- endif -%}

        <li class="mobile-nav__item" data-level="1">
          {%- if link.links.size > 0 or mega_menu_images != blank -%}
            <button
              is="toggle-button"
              class="mobile-nav__link heading {% if settings.heading_text_transform == 'uppercase' %}h6{% else %}h5{% endif %}"
              aria-controls="mobile-menu-{{ forloop.index }}"
              aria-expanded="{% if forloop.index != 1 %}false{% else %}true{% endif %}">
              {{- link.title -}}
              <span class="animated-arrow menu-arrow">
                {% comment %} <svg
                  width="35"
                  height="35"
                  viewBox="0 0 35 35"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.5001 2.91699C9.46466 2.91699 2.91675 9.46491 2.91675 17.5003C2.91675 25.5357 9.46466 32.0837 17.5001 32.0837C25.5355 32.0837 32.0834 25.5357 32.0834 17.5003C32.0834 9.46491 25.5355 2.91699 17.5001 2.91699ZM21.8605 19.6587C21.4813 20.1253 20.7959 20.1837 20.3293 19.8045L17.5001 17.4712L14.6709 19.8045C14.4667 19.9649 14.2334 20.0524 13.9855 20.0524C13.6647 20.0524 13.3584 19.9212 13.1397 19.6587C12.7459 19.192 12.8188 18.492 13.2855 18.1128L16.8001 15.1962C17.2084 14.8607 17.7917 14.8607 18.2001 15.1962L21.7147 18.1128C22.1813 18.492 22.2543 19.192 21.8605 19.6587Z" fill="black" />
                </svg> {% endcomment %}
                {% comment %} <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/submenu-icon.png?v=1676374713" class="submenu_icon" /> {% endcomment %}
              </span>
            </button>

            <collapsible-content
              id="mobile-menu-{{ forloop.index }}"
              class="collapsible {% if forloop.last %} last{% endif %}"
              {% if forloop.first %}style="overflow: visible;"open{% endif %}>
              {%- if link.links.size > 0 -%}
              {% assign sub_link_expand = false %}
                <ul class="mobile-nav list--unstyled" role="list">
                  {%- for sub_link in link.links -%}
                    <li class="mobile-nav__item{% if sub_link.object.image %} collection_menu_item{% if forloop.index > 9 %} hide {% endif %}{% else %} sub_menu_items{% endif %}" data-level="2">
                      {%- if sub_link.links.size > 0 -%}
                        <button
                          is="toggle-button"
                          class="mobile-nav__link"
                          aria-controls="mobile-menu-{{ forloop.parentloop.index }}-{{ forloop.index }}"
                          aria-expanded="false">
                          {{- sub_link.title -}}
                          <span class="animated-arrow"></span>
                        </button>

                        <collapsible-content id="mobile-menu-{{ forloop.parentloop.index }}-{{ forloop.index }}" class="collapsible">
                          <ul class="mobile-nav list--unstyled" role="list">
                            {%- for sub_sub_link in sub_link.links -%}
                              <li class="mobile-nav__item" data-level="3">
                                <a href="{{ sub_sub_link.url }}" class="mobile-nav__link">
                                  {{- sub_sub_link.title -}}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </collapsible-content>
                      {%- else -%}
                        {%- if sub_link.object.image -%}
                          <a href="{{ sub_link.url }}" class="">
                            <div class="cat_img_wrapper">
                              <img
                                loading="lazy"
                                {% render 'image-attributes', image: sub_link.object.image, sizes: '240,480,720' %}
                                alt="{{- sub_link.title -}}">
                            </div>
                            <p>{{- sub_link.title -}}</p>
                          </a>
                        {%- else -%}
                          <a href="{{ sub_link.url }}" class="">
                            {{- sub_link.title -}}
                          </a>
                        {%- endif -%}
                      {%- endif -%}
                    </li>
                    {% if sub_link.object.image and forloop.length > 9 %}
                    {% assign sub_link_expand = true %}
                    {% endif %}
                  {%- endfor -%}
                </ul>
                {% if sub_link_expand %}
                <div class="sub_link_expand_container expand">
                  <span class="view-all">Expand More</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                    <path id="Path_337386" data-name="Path 337386" d="M8.159,2.693a6.7,6.7,0,0,0,2.7-.551A7.172,7.172,0,0,0,13.095.625,7.133,7.133,0,0,0,14.608-1.6a6.735,6.735,0,0,0,.548-2.706,6.7,6.7,0,0,0-.551-2.7A7.216,7.216,0,0,0,13.087-9.25a7.041,7.041,0,0,0-2.234-1.513,6.781,6.781,0,0,0-2.7-.544,6.755,6.755,0,0,0-2.7.544A7.1,7.1,0,0,0,3.22-9.25,7.134,7.134,0,0,0,1.7-7.012a6.742,6.742,0,0,0-.548,2.7A6.7,6.7,0,0,0,1.706-1.6,7.184,7.184,0,0,0,3.223.625a7.184,7.184,0,0,0,2.23,1.517A6.7,6.7,0,0,0,8.159,2.693Zm0-1.283A5.609,5.609,0,0,1,5.932.968,5.741,5.741,0,0,1,4.109-.261,5.692,5.692,0,0,1,2.885-2.084a5.648,5.648,0,0,1-.44-2.226,5.648,5.648,0,0,1,.44-2.226A5.692,5.692,0,0,1,4.109-8.36,5.7,5.7,0,0,1,5.929-9.585a5.622,5.622,0,0,1,2.223-.44,5.675,5.675,0,0,1,2.23.44A5.681,5.681,0,0,1,12.208-8.36a5.692,5.692,0,0,1,1.225,1.823,5.648,5.648,0,0,1,.44,2.226,5.648,5.648,0,0,1-.44,2.226A5.692,5.692,0,0,1,12.208-.261,5.741,5.741,0,0,1,10.385.968,5.609,5.609,0,0,1,8.159,1.411Zm3.5-5.735a.637.637,0,0,0-.209-.44l-2.306-2.3a.541.541,0,0,0-.389-.144.5.5,0,0,0-.371.151.507.507,0,0,0-.148.367.526.526,0,0,0,.166.4l.843.821.793.648L8.62-4.887H5.183a.528.528,0,0,0-.4.162.557.557,0,0,0-.155.4.553.553,0,0,0,.155.4.535.535,0,0,0,.4.159H8.62l1.419-.058-.793.656L8.4-2.35a.5.5,0,0,0-.166.389.528.528,0,0,0,.148.378.491.491,0,0,0,.371.155.529.529,0,0,0,.389-.159l2.306-2.291A.627.627,0,0,0,11.661-4.325Z" transform="translate(-1.155 11.307)" fill="#2f5b96"></path>
                  </svg>
                </div>
                {% endif %}
              {%- endif -%}

              {%- if mega_menu_images != blank -%}
                <div class="mobile-nav__images-wrapper {% if images_count >= 3 %}mobile-nav__images-wrapper--tight{% endif %} hide-scrollbar">
                  <div class="mobile-nav__images-scroller">
                    {{- mega_menu_images -}}
                  </div>
                </div>
              {%- endif -%}
              <div class="collection_item_drawer">
                <div class="collection_item-nav__link_container">
                <div class="collection_item-nav__link">
                  <span class="back_icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="8.27"
                      height="14.473"
                      viewBox="0 0 8.27 14.473">
                      <path
                        data-name="Path 340747"
                        d="M7.991.277a.961.961 0 0 0-1.349 0L.28 6.569a.936.936 0 0 0 0 1.331l6.362 6.3a.961.961 0 0 0 1.349 0 .935.935 0 0 0 0-1.334L2.3 7.237l5.691-5.626a.935.935 0 0 0 0-1.334z"
                        style="fill:#1a2024;fill-rule:evenodd" />
                    </svg>
                  </span>
                  <span class="menu_drawer_nav_link">Back</span>
                </div>
                <div class="collection_item-nav_viewAll">
                  <a href="/" class="view-all">View All
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                    <path id="Path_337386" data-name="Path 337386" d="M8.159,2.693a6.7,6.7,0,0,0,2.7-.551A7.172,7.172,0,0,0,13.095.625,7.133,7.133,0,0,0,14.608-1.6a6.735,6.735,0,0,0,.548-2.706,6.7,6.7,0,0,0-.551-2.7A7.216,7.216,0,0,0,13.087-9.25a7.041,7.041,0,0,0-2.234-1.513,6.781,6.781,0,0,0-2.7-.544,6.755,6.755,0,0,0-2.7.544A7.1,7.1,0,0,0,3.22-9.25,7.134,7.134,0,0,0,1.7-7.012a6.742,6.742,0,0,0-.548,2.7A6.7,6.7,0,0,0,1.706-1.6,7.184,7.184,0,0,0,3.223.625a7.184,7.184,0,0,0,2.23,1.517A6.7,6.7,0,0,0,8.159,2.693Zm0-1.283A5.609,5.609,0,0,1,5.932.968,5.741,5.741,0,0,1,4.109-.261,5.692,5.692,0,0,1,2.885-2.084a5.648,5.648,0,0,1-.44-2.226,5.648,5.648,0,0,1,.44-2.226A5.692,5.692,0,0,1,4.109-8.36,5.7,5.7,0,0,1,5.929-9.585a5.622,5.622,0,0,1,2.223-.44,5.675,5.675,0,0,1,2.23.44A5.681,5.681,0,0,1,12.208-8.36a5.692,5.692,0,0,1,1.225,1.823,5.648,5.648,0,0,1,.44,2.226,5.648,5.648,0,0,1-.44,2.226A5.692,5.692,0,0,1,12.208-.261,5.741,5.741,0,0,1,10.385.968,5.609,5.609,0,0,1,8.159,1.411Zm3.5-5.735a.637.637,0,0,0-.209-.44l-2.306-2.3a.541.541,0,0,0-.389-.144.5.5,0,0,0-.371.151.507.507,0,0,0-.148.367.526.526,0,0,0,.166.4l.843.821.793.648L8.62-4.887H5.183a.528.528,0,0,0-.4.162.557.557,0,0,0-.155.4.553.553,0,0,0,.155.4.535.535,0,0,0,.4.159H8.62l1.419-.058-.793.656L8.4-2.35a.5.5,0,0,0-.166.389.528.528,0,0,0,.148.378.491.491,0,0,0,.371.155.529.529,0,0,0,.389-.159l2.306-2.291A.627.627,0,0,0,11.661-4.325Z" transform="translate(-1.155 11.307)" fill="#2f5b96"></path>
                  </svg>
                </a>
                </div>
                </div>
                <div class="collection_item_drawer_inner"></div>
              </div>
            </collapsible-content>
          {%- else -%}
            <a href="{{ link.url }}" class="mobile-nav__link heading {% if settings.heading_text_transform == 'uppercase' %}h6{% else %}h5{% endif %}">
              {{- link.title -}} 
              <span class="redirect_arrow">
                <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/next.svg?v=1686829773" alt="redirect arrow" />
              </span>
            </a>
          {%- endif -%}
        </li>
      {%- endfor -%}
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li class="mobile-nav__item" data-level="1">
            <a class="trackorder mobile-nav__link heading h5" href="https://boat-lifestyle.com/apps/ret">Manage Your Order
            <span class="redirect_arrow">
              <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/next.svg?v=1686829773" alt="redirect arrow" />
            </span>
            </a>
          </li>
          <li
            class="mobile-nav__item"
            data-level="1"
            style="opacity: 1;">
            <a href="https://dtc.boat-lifestyle.com/track" class="mobile-nav__link heading h5">Track your order
            <span class="redirect_arrow">
              <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/next.svg?v=1686829773" alt="redirect arrow" />
            </span>
            </a>
          </li>
          <li class="mobile-nav__item" data-level="1">
            <a class="logout mobile-nav__link heading h5" href="/account/logout">Logout
            <span class="redirect_arrow">
              <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/next.svg?v=1686829773" alt="redirect arrow" />
            </span>
            </a>
          </li>
        {% else %}
          <li
            class="mobile-nav__item"
            data-level="1"
            style="opacity: 1;">
            <a class="logout mobile-nav__link heading h5 login-popup-trigger" href="/account">Account
            <span class="redirect_arrow">
              <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/next.svg?v=1686829773" alt="redirect arrow" />
            </span>
            </a>
          </li>
          <li
            class="mobile-nav__item"
            data-level="1"
            style="opacity: 1;">
            <a href="https://dtc.boat-lifestyle.com/track" class="mobile-nav__link heading h5">Track your order
            <span class="redirect_arrow">
              <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/next.svg?v=1686829773" alt="redirect arrow" />
            </span>
            </a>
          </li>
        {% endif %}
      {% endif %}
    </ul>
    {% comment %} <ul class="mobile-nav list--unstyled visually-hidden" role="list">
    {%- for link in menu.links -%}
    {%- assign link_title_downcase = link.title | strip | downcase -%}
    {%- assign mega_menu_block = '' -%}
    {%- assign mega_menu_images = '' -%}

    {%- for block in section.blocks -%}
    {%- assign menu_item_downcase = block.settings.menu_item | strip | downcase -%}

    {%- if menu_item_downcase == link_title_downcase -%}
    {%- assign mega_menu_block = block -%}
    {%- break -%}
    {%- endif -%}
    {%- endfor -%}

    {%- if mega_menu_block != '' -%}
    {%- assign images_count = 0 -%}

    {%- capture mega_menu_images -%}
    {%- for i in (1..6) -%}
    {%- capture image_setting -%}image_{{ i }}{%- endcapture -%}

    {%- if mega_menu_block.settings[image_setting] != blank -%}
    {%- assign images_count = images_count | plus: 1 -%}

    {%- capture image_heading_setting -%}image_{{ i }}_heading{%- endcapture -%}
    {%- capture image_text_setting -%}image_{{ i }}_text{%- endcapture -%}
    {%- capture image_link_setting -%}image_{{ i }}_link{%- endcapture -%}

    {%- capture image_push -%}
    <img
    class="mobile-nav__image"
    loading="lazy"
    sizes="270px"
    {% render 'image-attributes', image: mega_menu_block.settings[image_setting], sizes: '270,540,810' -%}
    >

    {%- if mega_menu_block.settings[image_heading_setting] != '' -%}
    <p class="mobile-nav__image-heading heading heading--xsmall">
    {{ mega_menu_block.settings[image_heading_setting] }}
    </p>
    {%- endif -%}

    {%- if mega_menu_block.settings[image_text_setting] != '' -%}
    <span class="mobile-nav__image-text text--xsmall">
    {{- mega_menu_block.settings[image_text_setting] -}}
    </span>
    {%- endif -%}
    {%- endcapture -%}

    {%- if mega_menu_block.settings[image_link_setting] != blank -%}
    <a href="{{ mega_menu_block.settings[image_link_setting] }}" class="mobile-nav__image-push">
    {{- image_push -}}
    </a>
    {%- else -%}
    <div class="mobile-nav__image-push">
    {{- image_push -}}
    </div>
    {%- endif -%}
    {%- endif -%}
    {%- endfor -%}
    {%- endcapture -%}
    {%- endif -%}

    <li class="mobile-nav__item" data-level="1">
    {%- if link.links.size > 0 or mega_menu_images != blank -%}
    <button
    is="toggle-button"
    class="mobile-nav__link heading {% if settings.heading_text_transform == 'uppercase' %}h6{% else %}h5{% endif %}"
    aria-controls="mobile-menu-{{ forloop.index }}"
    aria-expanded="false"
    >
    {{- link.title -}}
    <span class="animated-arrow"></span>
    </button>

    <collapsible-content id="mobile-menu-{{ forloop.index }}" class="collapsible">
    {%- if link.links.size > 0 -%}
    <ul class="mobile-nav list--unstyled overflow-auto" role="list">
    {%- for sub_link in link.links -%}
    <li class="mobile-nav__item" data-level="2">
    {%- if sub_link.links.size > 0 -%}
    <button
    is="toggle-button"
    class="mobile-nav__link"
    aria-controls="mobile-menu-{{ forloop.parentloop.index }}-{{ forloop.index }}"
    aria-expanded="false"
    >
    {{- sub_link.title -}}
    <span class="animated-arrow"></span>
    </button>

    <collapsible-content
    id="mobile-menu-{{ forloop.parentloop.index }}-{{ forloop.index }}"
    class="collapsible"
    >
    <ul class="mobile-nav list--unstyled" role="list">
    {%- for sub_sub_link in sub_link.links -%}
    <li class="mobile-nav__item" data-level="3">
    <a href="{{ sub_sub_link.url }}" class="mobile-nav__link">{{ sub_sub_link.title }}</a>
    </li>
    {%- endfor -%}
    </ul>
    {%- else -%}
    <a href="{{ sub_link.url }}" class="mobile-nav__link">
    {%- if sub_link.object.image -%}
    <img
    loading="lazy"
    {% render 'image-attributes', image: sub_link.object.image, sizes: '240,480,720' %}
    alt="{{- sub_link.title -}}"
    >
    {%- else -%}
    {{- sub_link.title -}}
    {%- endif -%}
    </a>
    {%- endif -%}
    </li>
    {%- endfor -%}
    </ul>
    {%- endif -%}

    {%- if mega_menu_images != blank -%}
    <div class="mobile-nav__images-wrapper {% if images_count >= 3 %}mobile-nav__images-wrapper--tight{% endif %} hide-scrollbar">
    <div class="mobile-nav__images-scroller">
    {{- mega_menu_images -}}
    </div>
    </div>
    {%- endif -%}
    </collapsible-content>
    {%- else -%}
    <a
    href="{{ link.url }}"
    class="mobile-nav__link heading {% if settings.heading_text_transform == 'uppercase' %}h6{% else %}h5{% endif %}"
    >
    {{- link.title -}}
    </a>
    {%- endif -%}
    </li>
    {%- endfor -%}
    {% if shop.customer_accounts_enabled %}
    {% if customer %}
    <li class="mobile-nav__item">
    <a
    class="trackorder mobile-nav__link heading h5"
    href="https://boat-lifestyle.com/apps/ret"
    >Manage Your Order</a
    >
    </li>
    <li class="mobile-nav__item">
    <a class="logout mobile-nav__link heading h5" href="/account/logout">Logout</a>
    </li>
    {% else %}
    <li class="mobile-nav__item">
    <a class="mobile-nav__link heading" href="/account">
    <span class="icon_name"> Account </span>
    </a>
    </li>
    {% endif %}
    {% endif %}
    </ul> {% endcomment %}
    {%- if shop.customer_accounts_enabled or locale_selector or currency_selector -%}
      <div class="drawer__footer drawer__footer--tight drawer__footer--bordered">
        <div class="mobile-nav__footer">
          {%- if locale_selector or currency_selector -%}
            {%- form 'localization', id: 'header-sidebar-localization-form', class: 'header__cross-border' -%}
              {%- if currency_selector -%}
                <div class="popover-container">
                  <input
                    type="hidden"
                    name="currency_code"
                    value="{{ form.current_currency.iso_code }}">
                  <span class="visually-hidden">{{ 'header.general.currency' | t }}</span>

                  <button
                    type="button"
                    is="toggle-button"
                    class="popover-button text--xsmall tap-area"
                    aria-expanded="false"
                    aria-controls="header-sidebar-localization-form-currency">
                    {{- form.current_currency.iso_code }}
                    {% if form.current_currency.symbol %}
                      {{ form.current_currency.symbol -}}{%- endif -%}
                    {%- render 'icon' with 'chevron', width: 9, height: 6, inline: true -%}
                  </button>

                  <popover-content id="header-sidebar-localization-form-currency" class="popover popover--top popover--small">
                    <span class="popover__overlay"></span>

                    <header class="popover__header">
                      <span class="popover__title heading h6">{{- 'header.general.currency' | t -}}</span>

                      <button
                        type="button"
                        class="popover__close-button tap-area tap-area--large"
                        data-action="close"
                        title="{{ 'general.accessibility.close' | t | escape }}">
                        {%- render 'icon' with 'close' -%}
                      </button>
                    </header>

                    <div class="popover__content">
                      <div class="popover__choice-list">
                        {%- for currency in form.available_currencies -%}
                          <button
                            type="submit"
                            name="currency_code"
                            value="{{ currency.iso_code }}"
                            class="popover__choice-item">
                            <span class="popover__choice-label" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %}>
                              {{ currency.iso_code }}
                              {% if currency.symbol %}
                                {{ currency.symbol }}{% endif %}
                            </span>
                          </button>
                        {%- endfor -%}
                      </div>
                    </div>
                  </popover-content>
                </div>
              {%- endif -%}

              {%- if locale_selector -%}
                <div class="popover-container">
                  <input
                    type="hidden"
                    name="locale_code"
                    value="{{ form.current_locale.iso_code }}">
                  <span class="visually-hidden">{{ 'header.general.language' | t }}</span>

                  <button
                    type="button"
                    is="toggle-button"
                    class="popover-button text--xsmall tap-area"
                    aria-expanded="false"
                    aria-controls="header-sidebar-localization-form-locale">
                    {{- form.current_locale.endonym_name | capitalize -}}
                    {%- render 'icon' with 'chevron', width: 9, height: 6, inline: true -%}
                  </button>

                  <popover-content id="header-sidebar-localization-form-locale" class="popover popover--top popover--small">
                    <span class="popover__overlay"></span>

                    <header class="popover__header">
                      <span class="popover__title heading h6">{{- 'header.general.language' | t -}}</span>

                      <button
                        type="button"
                        class="popover__close-button tap-area tap-area--large"
                        data-action="close"
                        title="{{ 'general.accessibility.close' | t | escape }}">
                        {%- render 'icon' with 'close' -%}
                      </button>
                    </header>

                    <div class="popover__content">
                      <div class="popover__choice-list">
                        {%- for locale in form.available_locales -%}
                          <button
                            type="submit"
                            name="locale_code"
                            value="{{ locale.iso_code }}"
                            class="popover__choice-item">
                            <span class="popover__choice-label" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %}>
                              {{- locale.endonym_name | capitalize -}}
                            </span>
                          </button>
                        {%- endfor -%}
                      </div>
                    </div>
                  </popover-content>
                </div>
              {%- endif -%}
            {%- endform -%}
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
  </div>

  {%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
    {%- assign locale_selector = true -%}
  {%- endif -%}

  {%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
    {%- assign currency_selector = true -%}
  {%- endif -%}

</mobile-navigation>

<script>
  setTimeout(menu_open_close, 2000);

  function menu_open_close() {
    $('#mobile-menu-drawer .mobile-nav .mobile-nav__item button').on('click', function(e) {
      e.preventDefault();
      if ($(this).attr('aria-expanded') == 'true') {
        $('#mobile-menu-drawer .mobile-nav .mobile-nav__item button').attr('aria-expanded', false);
        $(this).attr('aria-expanded', true);
      } else {

        $('#mobile-menu-drawer .mobile-nav .mobile-nav__item button').attr('aria-expanded', false);
      }
    });
  }
  $(document).ready(function() {
    $('#mobile-menu-drawer .drawer__overlay').on('click', function() {
      $(".mobile_hamburger_btn")[0].click();
      $(".mobile_hamburger_btn").attr('aria-expanded', 'false');
      $('.mobile_hamburger_btn .mobile_hamburger_icon').attr('src', 'https://cdn.shopify.com/s/files/1/0057/8938/4802/files/hamburger-icon.png?v=1675762678');
    })
  })
</script>


<script>
  Shopify.customLazy = function() {
    let selector = document.querySelectorAll('.custom_lazy');
    if (selector.length > 0) {
      for (let i = 0; i < selector.length; i++) {
        let src = selector[i].getAttribute('data-src');
        selector[i].setAttribute('src', src)
      }
    }
  }
  document.addEventListener("touchmove", Shopify.customLazy);
  document.addEventListener("touchstart", Shopify.customLazy);
  document.addEventListener("touchend", Shopify.customLazy);
  document.addEventListener("scroll", Shopify.customLazy);
</script>
<script type="lazyScript">
  Shopify.customLazy();
</script>