{%- assign color_label_list = 'general.label.color' | t | replace: ', ', ',' | downcase | split: ',' -%}
{%- assign color_white_label = 'general.label.white' | t | downcase -%}
{%- assign size_label_list = 'general.label.size' | t | replace: ', ', ',' | downcase | split: ',' -%}
{%- assign product_form_id = 'product-form-' | append: section.id | append: '-' | append: product.id -%}
{%- assign selected_variant_price_on_btn = product.selected_or_first_available_variant.price | divided_by: 100 -%}


{% assign product_varient = product.selected_or_first_available_variant %}
{%- if template.suffix == 'quick-buy-popover' or template.suffix == 'quick-buy-drawer' -%}
  {% if product.selected_or_first_available_variant.inventory_quantity < settings.sold_out_threshold %}
    {%- for variant in product.variants -%}
      {% if variant.inventory_quantity >= settings.sold_out_threshold %}
        {% assign product_varient = variant %}
        {% break %}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{%- endif -%}

{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- comment -%}
    ----------------------------------------------------------------------------------------------------------------
    APP BLOCK TYPE
    ----------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}
    {%- when '@app' -%}
    {%- render block -%}

    {%- comment -%}
    ----------------------------------------------------------------------------------------------------------------
    VARIANT PICKER BLOCK TYPE
    ----------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}
    {%- when 'variant_picker' -%}
    {%- unless product.has_only_default_variant or block.settings.hide_sold_out_variants and product.available == false 
 -%}
      {%- assign size_chart_page = block.settings.size_chart_page -%}
      {%- assign found_size_option = false -%}
      <div
        {% if update_url %}update-url{% endif %}
        {% if block.settings.hide_sold_out_variants %}hide-sold-out-variants{% endif %}
        class="product-form__variants"
        {{ block.shopify_attributes }}>
        {%- for option in product.options_with_values -%}
          {%- assign option_downcase = option.name | downcase -%}
          {%- capture option_id -%}option-{{ section.id }}-{{ template.suffix }}-{{ product.id }}-{{ forloop.index }}{%- 
 endcapture -%}

          {%- assign selector_type = block.settings.selector_mode -%}

          {% if color_label_list contains option_downcase %}
            {%- assign selector_type = block.settings.color_mode -%}

              {%- if selector_type == 'variant_image' -%}
              {%- comment -%}To use this mode every variant must have an attached media{%- endcomment -%}
              {%- for variant in product.variants -%}
                {%- unless variant.featured_media -%}
                  {%- assign selector_type = 'color' -%}
                  {%- break -%}
                {%- endunless -%}
              {%- endfor -%}
            {%- endif -%}
          {%- endif -%}

          <div
            class="product-form__option-selector"
            data-selector-type="{{ selector_type | replace: '_', '-' | escape }}"
            data-option-name="{{ option.name | downcase | replace: ' ', '-'}}">
            {%- case selector_type -%}
              {%- when 'variant_image' -%}
              <div class="variant-swatch-list">

                {%- for value in option.values -%}
                  {%- comment -%}We search for the first variant that has an image for this color{%- endcomment -%}
                  {%- for variant in product.variants -%}
                    {%- if variant.options[0] == value -%}
                      <div class="variant-swatch {% if variant.inventory_quantity < settings.sold_out_threshold %}is-disabled{% endif %}" {% if variant.metafields.custom.variant_url != blank %}data-var-url="{{variant.metafields.custom.variant_url}}"{% endif %}data-varient_disabled="{% if variant.inventory_quantity < settings.sold_out_threshold %}true {% else %} false {% endif %}">
                        <input
                          class="variant-swatch__radio visually-hidden"
                          type="radio"
                          name="option{{ option.position }}"
                          form="{{ product_form_id }}"
                          id="{{ option_id }}-{{ forloop.index }}"
                          value="{{ value | escape }}"
                          data-bind-value="{{ option_id }}-value"
                          {% if value == option.selected_value %}checked="checked"{% endif %}aria-label="{{ value | escape }}"data-price="{{ variant.price }}"data-compare-price="{{ variant.compare_at_price }}">
                        <div class="variant-swatch__item-div text-center">
                          <label class="variant-swatch__item" for="{{ option_id }}-{{ forloop.index }}">
                            <span class="visually-hidden">{{ value }}</span>
                            <img
                              class="variant-swatch__image"
                              loading="lazy"
                              sizes="(max-width: 740px) 64px, 72px"
                              {% render 'image-attributes', image: variant.featured_media, sizes: '64,72,128,144,192,216' %}>
                          </label>
                          {%- unless product.tags contains 'prebooking' -%}
                            {% if variant.available %}
                              <span class="stock-label hidden-lap-and-up">In Stock</span>
                            {% else %}
                              <span class="stock-label hidden-lap-and-up">Out of Stock</span>
                            {% endif %}
                          {% endunless %}
                        </div>
                      </div>
                      {%- break -%}
                    {%- endif -%}
                  {%- endfor -%}
                {%- endfor -%}
              </div>

              {%- when 'color' -%}
              {%- if template.suffix != 'quick-buy-popover' and template.suffix != 'quick-buy-drawer' -%}
                <span style="font-size: 12px;color: #666565;margin-top:3px;">
                  Color:
                </span>
              {% endif %}
              <div class="color-swatch-list">
                {%- assign color_swatch_config = settings.color_swatch_config | newline_to_br | split: '<br />' -%}
                {%- assign option_position0 = option.position | minus: 1 -%}
                {%- for value in option.values -%}
                  {%- assign color_value_downcase = value | downcase -%}
                    {% for variant in product.variants %}
                    {% comment %} {{ value }}
                    {{ variant.options[option_position0] }} {% endcomment %}
                    {%- if variant.options[0] == value and variant.inventory_quantity < settings.sold_out_threshold -%}
                      <div class="color-swatch {% if color_white_label == color_value_downcase %}color-swatch--white{% endif %}" data-varient_disabled="{% if variant.inventory_quantity < settings.sold_out_threshold %}true {% else %} false {% endif %}">
                        <input
                          class="color-swatch__radio variants_color_select visually-hidden"
                          data-image="{{ variant.featured_media | img_url: 'medium' }}"
                          data-id = "{{ variant.id }}"
                          data-title = "{{ variant.title }}"
                          type="radio"
                          name="option{{ option.position }}"
                          form="{{ product_form_id }}"
                          id="{{ option_id }}-{{ forloop.index }}"
                          value="{{ value | escape }}"
                          {% if value == option.selected_value %}checked="checked"{% endif %}data-bind-value="{{ option_id }}-value">
                        <label
                          class="color-swatch__item"
                          for="{{ option_id }}-{{ forloop.index }}"
                          title="{{ value | remove: ' ' | escape }}"
                          style="{% if variant.metafields.my_fields.variantcolorcode %} background-color:{{ variant.metafields.my_fields.variantcolorcode }} {% else %} background:url({{ variant.featured_media | img_url: '20x'}}) {% endif %}">
                          <span class="visually-hidden">{{ value }}</span>
                        </label>
                        <span class="variant-name">{{ value | escape }}</span>
                      </div>
                      {%- break -%}
                    {% endif %}
                  {%- endfor -%}
                {%- endfor -%}
              </div>

              {%- when 'block' -%}
              <div class="block-swatch-list">
                {%- for value in option.values -%}
                  <div class="block-swatch">
                    <input
                      class="block-swatch__radio visually-hidden"
                      type="radio"
                      name="option{{ option.position }}"
                      form="{{ product_form_id }}"
                      id="{{ option_id }}-{{ forloop.index }}"
                      value="{{ value | escape }}"
                      {% if value == option.selected_value %}checked="checked"{% endif %}data-bind-value="{{ option_id }}-value">
                    <label class="block-swatch__item" for="{{ option_id }}-{{ forloop.index }}">{{ value }}</label>
                  </div>
                {%- endfor -%}
              </div>

              {%- when 'dropdown' -%}
              <div class="select-wrapper">
                <combo-box
                  initial-focus-selector="[aria-selected='true']"
                  id="{{ option_id }}-combo-box"
                  class="combo-box">
                  <span class="combo-box__overlay"></span>

                  <header class="combo-box__header">
                    <p class="combo-box__title heading h6">{{ option.name }}</p>

                    <button
                      type="button"
                      class="combo-box__close-button tap-area"
                      data-action="close"
                      title="{{ 'general.accessibility.close' | t | escape }}">
                      {%- render 'icon' with 'close' -%}
                    </button>
                  </header>

                  <div class="combo-box__option-list" role="listbox">
                    {%- for value in option.values -%}
                      <button
                        type="button"
                        role="option"
                        class="combo-box__option-item"
                        value="{{ value | escape }}"
                        aria-selected="{% if value == option.selected_value %}true{% else %}false{% endif %}">{{ value }}</button>
                    {%- endfor -%}
                  </div>

                  <select
                    class="visually-hidden"
                    name="option{{ option.position }}"
                    form="{{ product_form_id }}"
                    data-bind-value="{{ option_id }}-value"
                    aria-label="{{ option.name | escape }}">
                    {%- for value in option.values -%}
                      <option value="{{ value | escape }}" {% if value == option.selected_value %}selected{% endif %}>{{ value }}
                      </option>
                    {%- endfor -%}
                  </select>
                </combo-box>

                <button
                  type="button"
                  is="toggle-button"
                  class="select"
                  aria-expanded="false"
                  aria-haspopup="listbox"
                  aria-controls="{{ option_id }}-combo-box">
                  <span id="{{ option_id }}-value" class="select__selected-value">{{ option.selected_value }}</span>
                  {%- render 'icon' with 'chevron' -%}
                </button>
              </div>
            {%- endcase -%}
          </div>

        {%- endfor -%}
      </div>
    {% endunless %}
  {% endcase %}
{% endfor %}