<!-- <h2 class="collection-heading text-white">{{link.object.title}}</h2> -->
    	  <div class="featured-collections" data-collection={{link.object.title}}>
    		{% for product in link.object.products%}
    			<div class="collection-thumb">
                  <a href="{{product.url}}">
                  <div class="thumb-image">
                   <img class="collection-thumb-img" src="{{product.featured_image | img_url: 'medium' }}">
                  </div>
                  <div class="thumb-info">
                    <p class="collection-thumb-title">
                      {{product.title | escape }}
                    </p>
                    <p class="thumb-price">
                      <span class="current-price">Rs {{product.price | divided_by: 100 }}.00</span>
                      <span class="was-price">{{ product.compare_at_price | money }}</span>
                    </p>
                    {%- if product.metafields['benefits']['usp1'] -%}
                      <div class="product-feature" style="line-height: normal;margin-top:10px;">
                        <span style="display:block;">{{ product.metafields['benefits']['usp1'] }}</span>
                        {%- if product.metafields['benefits']['usp2'] -%}
                        <span style="display:block;">{{ product.metafields['benefits']['usp2'] }}</span>
                        {%- endif -%}
                        {%- if product.metafields['benefits']['usp3'] -%}
                        <span style="display:block;">{{ product.metafields['benefits']['usp3'] }}</span>
                        {%- endif -%}
                      </div>
                      {%- endif -%}
                    <div class="_shop">
                      <span>Shop Now</span>
                    </div>
                    </div></a>
    </div>
    {% endfor %}
    </div>

