{% capture variant_personalization %}
  {
  {% for variant in product.variants %}
    "{{ variant.id }}": "{%- if variant.metafields.custom.personalised_image != blank -%}
      {{- variant.metafields.custom.personalised_image | strip_newlines -}}
    {%- else -%}
      {{- variant.featured_image | image_url -}}{%- endif -%}"
    {% unless forloop.last %}
      ,
    {% endunless %}
  {% endfor %}
  }
{% endcapture %}
{% capture variant_personalization_id %}
  {
  {% for variant in product.variants %}
    "{{ variant.option1 | escape }}" : "{{ variant.id }}"
    {% unless forloop.last %}
      ,
    {% endunless %}
  {% endfor %}
  }
{% endcapture %}

{% assign engrav_varient_id = '' %}
{% for variant in product.variants %}
  {% if variant.option1 contains 'engrav_' and variant.option1 contains product.selected_or_first_available_variant.option1 %}
    {% assign engrav_varient_id = variant.id %}
  {% endif %}
{% endfor %}

<div class="button custom-prebook mt-lg-3">
  <div class="custom-prebook-heading">Make it Personal.</div>
  <div class="custom-prebook-subheading">
    Get A Customized Engraving And Make It Unmistakibly Yours.
  </div>
</div>
<!-- Personalised Modal -->
<div class="personilaztion-message-modal-overlay hide"></div>
<div
  class="personilaztion-message-modal hide"
  data-variant_personalization='{{ variant_personalization | strip_newlines }}'
  data-variant_personalization_id='{{ variant_personalization_id | strip_newlines }}'>
  <div class="personilaztion-message-container">
    <div class="message-form-container">
      <div class="personalization-heading-wrapper">
        <span class="personalized-modal-close" id="close-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24">
            <path d="M23 20.168l-8.185-8.187 8.185-8.174-2.832-2.807-8.182 8.179-8.176-8.179-2.81 2.81 8.186 8.196-8.186 8.184 2.81 2.81 8.203-8.192 8.18 8.192z" />
          </svg>
        </span>
        <span class="personalization-heading">PERSONALIZE YOUR AIRDOPES</span>
        <div class="personalization-sub-heading">It's On Us :)</div>
      </div>
      <div class="personalization-image-wrapper">
        {% if product.selected_or_first_available_variant.metafields.custom.personalised_image != blank %}
          <img src="{{ product.selected_or_first_available_variant.metafields.custom.personalised_image }}">
        {% else %}
          <img src="{{ product.selected_or_first_available_variant.featured_image | image_url }}">
        {% endif %}
        <div class="personalization-image-txt visually-hidden"></div>
      </div>
      <input
        type="search"
        id="personalized-text"
        placeholder="YOUR ENGRAVING"
        maxlength="7"
        autocomplete="off"
        onkeyup="">
      <p class="max-limit-reached visually-hidden">Max Limit reached</p>
      <p class="personalization-error-mes visually-hidden"></p>
      <div class="personalization-info">
        <p>Limit it to alphabets and numbers.</p>
        <p>Stay away from special Symbols. Max 7 characters.</p>
      </div>
      <button
        type="button"
        class="submit-personalization visually-hidden"
        data-varientId="{{ engrav_varient_id }}">CONFIRM</button>
      {% comment %} <button type="button" class="cancel-personalization personalized-modal-close">SKIP</button> {% endcomment %}
      <button type="button" class="skip-personalization">SKIP PERSONALIZATION</button>
    </div>
  </div>
</div>

<script>
  console.log('hii personalization data');
  let variant_personalization = {{ variant_personalization }};
  variant_personalization = JSON.stringify(variant_personalization);
  let variant_personalization_id = {{ variant_personalization_id }};
  variant_personalization_id = JSON.stringify(variant_personalization_id);
  console.log(variant_personalization);
  sessionStorage.setItem('variant_personalization', variant_personalization);
  sessionStorage.setItem('varientID', '{{ product.selected_or_first_available_variant.id }}');
  sessionStorage.setItem('variant_personalization_id', variant_personalization_id);
  console.log({{ product.selected_or_first_available_variant.id }});
</script>