
{% capture variant_personalization_id %}
  {
  {% for variant in product.variants %}
    "{{ variant.option1 | escape }}" : {
      "id": "{{ variant.id }}",
      "available": "{{ variant.available }}",
      "image" : "{%- if variant.metafields.custom.personalised_image != blank -%}
                  {{- variant.metafields.custom.personalised_image | strip_newlines -}}
                 {%- else -%}
                  {{- variant.featured_image | image_url -}}
                {%- endif -%}"
    }
    {% unless forloop.last %}
      ,
    {% endunless %}
  {% endfor %}
  }
{% endcapture %}


{% assign engrav_varient_id = '' %}
{% for variant in product.variants %}
  {% if variant.option1 contains 'engrav_' and variant.option1 contains product.selected_or_first_available_variant.option1 %}
    {% assign engrav_varient_id = variant.id %}
  {% endif %}
{% endfor %}

<div class="button custom-prebook mt-lg-3">
  <div class="custom-prebook-heading">Make Your Airdopes Personal</div>
  <div class="custom-prebook-subheading">
    Get A Customized Engraving And Make It Unmistakibly Yours.
  </div>
</div>
<!-- Personalised Modal -->
<div class="personilaztion-message-modal-overlay hide"></div>
<div
  class="personilaztion-message-modal hide"
  data-variant_personalization_id='{{ variant_personalization_id | strip_newlines }}'>
  <div class="personilaztion-message-container">
    <div class="message-form-container">
      <div class="personalization-heading-wrapper">
        <span class="personalized-modal-close" id="close-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24">
            <path d="M23 20.168l-8.185-8.187 8.185-8.174-2.832-2.807-8.182 8.179-8.176-8.179-2.81 2.81 8.186 8.196-8.186 8.184 2.81 2.81 8.203-8.192 8.18 8.192z" />
          </svg>
        </span>
      </div>
      <div class="personalization-image-wrapper">
        {% if product.selected_or_first_available_variant.metafields.custom.personalised_image != blank %}
          <img src="{{ product.selected_or_first_available_variant.metafields.custom.personalised_image }}">
        {% else %}
          <img src="{{ product.selected_or_first_available_variant.featured_image | image_url }}">
        {% endif %}
        <div class="personalization-image-txt visually-hidden"></div>
      </div>
      <span class="personalization-heading">Personalize Your {{ product.title | split: '|' | first | split: 'boAt' | last }}</span>
      <div class="personalization-sub-heading">At just ₹50 </div>
      <input
        type="search"
        id="personalized-text"
        placeholder="YOUR ENGRAVING"
        maxlength="12"
        autocomplete="off"
        onkeyup="">
      <p class="max-limit-reached visually-hidden">Max Limit reached</p>
      <p class="personalization-error-mes visually-hidden"></p>
      <div class="personalization-info">
        <p>Limit your engraving to alphabets and numbers.</p>
        <p>Don’t use special symbols or emojis. Max. 12 characters allowed</p>
      </div>
      <div class="ac-tab-new w-100 mb-3">
        <div class="tnc-personalise d-flex justify-content-between pt-2 px-2" onclick="document.querySelector('.tnc').classList.toggle('d-block'); document.querySelector('.tnc-collapsed img').classList.toggle('rotate');"><p class="m-0">*T&C Apply</p>
        <span class="tnc-collapsed">
          <img  loading="lazy" style="width: 6px;transform: rotate(90deg);" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/next.svg?v=1686829773">
        </span>
        </div>
        <div class="tnc pb-3" style="display: none;">
        <p class="text-center pt-3 pb-2 m-0">TnC for Personalization</p>
        <ul>
        <li> Charge for personalization is ₹50 (inclusive of all taxes). </li>
        <li> Estimated delivery time is 7-10 days. </li>
        <li> In case of non-acceptance of delivery, only replacement is allowed. No refund(s) applicable. </li>
        <li> Warranty is applicable. Replacement under warranty claim will be done only once. </li>
        <li> Only prepaid payments are accepted. </li>
        </ul>
       </div>
      </div>
      <button
        type="button"
        class="submit-personalization visually-hidden"
        data-varientId="{{ engrav_varient_id }}">Confirm</button>
      <button type="button" class="skip-personalization">Skip Personalization</button>
    </div>
  </div>
</div>

<script>
  console.log('hii personalization data');
  let variant_personalization_id = {{ variant_personalization_id }};
  variant_personalization_id = JSON.stringify(variant_personalization_id);
  // console.log(variant_personalization_id);
  sessionStorage.setItem('varientID', '{{ product.selected_or_first_available_variant.id }}');
  sessionStorage.setItem('variant_personalization_id', variant_personalization_id);
 // console.log({{ product.selected_or_first_available_variant.id }});
</script>