<script type="text/javascript">
  $(document).ready(function() {
    $('.productSpecificationbox').attr('id', 'specifications');
    if($('.productSpecificationbox').length == 0){document.getElementById("specs").style.display = "none"};
    $(".usp_section, .productDescriptions1").attr("data-aos", "");
    function usp_height(height, source) {
            if (source == "web") {
                $(".only-desktop.usp_section").css({
                    "display": "block",
                    "height": height,
                });
                $(".mobile-only.usp_section").css("display", "none");
            }
            else if (source == "mobile") {
                $(".mobile-only.usp_section").css({
                    "display": "block",
                    "height": height,
                });
                $(".only-desktop.usp_section").css("display", "none");
            }
        };

        function update_usp_height(source) {
            if (source == "web") {
                if ($(window).width() >= 1250) {
                    usp_height("150px", source);
                }
                else if ($(window).width() > 766 && $(window).width() < 1250) {
                    usp_height("100px", source);
                }
            }
            else if (source == "mobile") {
                if ($(window).width() > 620 && $(window).width() <= 766) {
                    usp_height("830px", source);
                }
                else if ($(window).width() > 450 && $(window).width() <= 620) {
                    usp_height("650px", source);
                }
                else if ($(window).width() <= 450) {
                    usp_height("510px", source);
                }
            }
        };
        if($(".only-desktop.usp_section").length && $(".mobile-only.usp_section").length) {
          update_usp_height("web");
          update_usp_height("mobile");

          $(window).resize(function () {
              update_usp_height("web");
              update_usp_height("mobile");
          });
        }
    {%- assign product__price = product.price | plus: 0 | divided_by: 100 -%}
  	$('#zestmoney-widget-control').click(function() {
     clevertap.event.push("ZestMoney Widget Clicked", {
        "Product Name": '{{product.title}}',
        "Product Id": {{product.id}},
        "Product Category": '{{product.type}}',
        "Product Price": {{product__price}},
        "userSource": userSource
     });
    });
    $("#AddToCart").click(function(){
        var isPreOrder;
        {% if product.tags contains "preorder" %}
        	isPreOrder = true;
        {% else %}
        	isPreOrder = false;
        {% endif %}
      	var variant_title = $(".color-swatch__radio:checked").val();
          clevertap.event.push("Added to Cart", {
            "Product Name": '{{product.title}}' + ' - ' + variant_title,
            "Product Id": {{product.id}},
            "Product Category": '{{product.type}}',
            "Amount": {{product__price}},
            "Quantity": 1,
            "Image url": 'https:{{product.featured_image | img_url: '1024x1024'}}',
            "source": 'Product Page',
            "isPreOrdered": isPreOrder,
            "userSource": userSource
          });
          clevertap.profile.push({
            "Site": {
                "A2C Product Name": '{{product.title}}' + ' - ' + variant_title,
                "A2C Amount": {{product__price}},
                "A2C Quantity": 1,
                "A2C Image url": 'https:{{product.featured_image | img_url: '1024x1024'}}'
            }
          });
          dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
          dataLayer.push({
            'event': 'add_to_cart',
            'ecommerce': {
              'items': [{
                'item_name': '{{product.title}}',
               'item_id': {{product.id}},
               'price': {{bold_price | plus: 0 | divided_by: 100}},
               'item_category': '{{product.type}}',
               'item_variant': 'variant_title',
                'quantity': '1'
              }]
            }
          });
      });
      $("#StickyAddToCart").click(function(){
        var isPreOrder;
        {% if product.tags contains "preorder" %}
        	isPreOrder = true;
        {% else %}
        	isPreOrder = false;
        {% endif %}
      	var variant_title = $(".color-swatch__radio:checked").val();
          clevertap.event.push("Added to Cart", {
            "Product Name": '{{product.title}}' + ' - ' + variant_title,
            "Product Id": {{product.id}},
            "Product Category": '{{product.type}}',
            "Amount": {{product__price}},
            "Quantity": 1,
            "Image url": 'https:{{product.featured_image | img_url: '1024x1024'}}',
            "source": 'Sticky Add to Cart',
            "isPreOrdered": isPreOrder,
            "userSource": userSource
          });
          clevertap.profile.push({
            "Site": {
                "A2C Product Name": '{{product.title}}' + ' - ' + variant_title,
                "A2C Amount": {{product__price}},
                "A2C Quantity": 1,
                "A2C Image url": 'https:{{product.featured_image | img_url: '1024x1024'}}'
            }
          });
          dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
          dataLayer.push({
            'event': 'add_to_cart',
            'ecommerce': {
              'items': [{
                'item_name': '{{product.title}}',
               'item_id': {{product.id}},
               'price': {{bold_price | plus: 0 | divided_by: 100}},
               'item_category': '{{product.type}}',
               'item_variant': 'variant_title',
                'quantity': '1'
              }]
            }
          });
      });
      $(".shopify-payment-button").click(function(){
        var variant_title = $(".color-swatch__radio:checked").val();
        clevertap.event.push("Buy Now", {
            "Product Name": '{{product.title}}' + ' - ' + variant_title,
            "Product Id": {{product.id}},
            "Product Category": '{{product.type}}',
            "Amount": {{product__price}},
            "Quantity": 1,
            "Image url": 'https:{{product.featured_image | img_url: '1024x1024'}}',
            "userSource": userSource
          });
        clevertap.profile.push({
          "Site": {
            "BN Product Name": '{{product.title}}' + ' - ' + variant_title,
            "BN Amount": {{product__price}},
            "BN Quantity": 1,
            "BN Image url": 'https:{{product.featured_image | img_url: '1024x1024'}}'
          }
        });
      })
      var productTitle = '{{product.title}}';
      productTitle = productTitle + ' - boAt Lifestyle';
      $(".product-tabs__content").find("img").attr("alt", productTitle);
    
      
    
// FAQs block JS
    if($('.new-productpart-footer-content').length) {
        document.querySelector('.new-productpart-footer-content h3').textContent = 'FAQs';
    }
    $("p.product-ques").append(`<span class="expand icon-faq"><img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/down-arrow.png?v=1611821970"></span>`)
        $("p.product-ques").click(function(){
          $(this).next(".product-ans").slideToggle("fast");
          $(this).find(".icon-faq").toggleClass("collapsed").removeClass("expand");
          $(this).closest(".ac-tab-new").siblings(".ac-tab-new").find(".product-ans").slideUp("fast");
          $(this).closest(".ac-tab-new").siblings(".ac-tab-new").find(".icon-faq").removeClass("collapsed").addClass("expand");
        })
        if($(".new-productpart-footer-content .ac-tab-new").length > 7) {
            $(".new-productpart-footer-content .ac-col").append('<div class="view-more-faqs"><span class="outer-text"><span class="more-text">View More</span><img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/down-arrow.png?v=1611821970" /></span></div>')
        }
        $('.new-productpart-footer-content .ac-tab-new:gt(6)').hide();
        $('.view-more-faqs span.outer-text').click(function() {
            $('.view-more-faqs span.more-text').text(function(i, text){
                return text === "View More" ? "View Less" : "View More";
            })
            $('.new-productpart-footer-content .ac-tab-new:gt(6)').slideToggle(200);
            if($('.view-more-faqs span.more-text').text() == "View Less") {
              $('.view-more-faqs img').addClass("rotated");
            }
            else {
              $('.view-more-faqs img').removeClass("rotated");
            }
        });
        $(".video-new img, .manual-new img").attr("alt", "");
//         $('[data-toggle="tooltip"]').tooltip();
        $(".productPart-two-new .productpart-two-content, .productPart-third-new .productpart-third-content, .productPart-fourthA-new .productpart-fourth-contentA").attr("data-aos", "");
        $(".manual-new").click(function(e) {
          if($(".manual-new").attr("href") == "") {
            e.preventDefault();
             $(this).attr("data-target", "#manualModal");
             $(this).attr("data-toggle", "modal");
          }
        })
        
        
  });

</script>