{%- assign color_label_list = 'general.label.color' | t | replace: ', ', ',' | downcase | split: ',' -%}
{%- assign color_white_label = 'general.label.white' | t | downcase -%}
{%- assign size_label_list = 'general.label.size' | t | replace: ', ', ',' | downcase | split: ',' -%}
{%- assign product_form_id = 'product-form-' | append: section.id | append: '-' | append: product.id -%}
{%- assign selected_variant_price_on_btn = product.selected_or_first_available_variant.price | divided_by:100 -%}


{% assign product_varient = product.selected_or_first_available_variant %}
{%- if template.suffix == 'quick-buy-popover' or template.suffix == 'quick-buy-drawer'  -%}
  {% if product.selected_or_first_available_variant.inventory_quantity < settings.sold_out_threshold %}
    {%- for variant in product.variants -%}
      {% if variant.inventory_quantity >= settings.sold_out_threshold %}
        {% assign product_varient = variant %}
      {%  break  %}
      {%- endif -%}
    {%- endfor -%} 
  {%- endif -%}
{%- endif -%}

  {%- for block in section.blocks -%}
  {%- case block.type -%}
  {%- comment -%}
  ----------------------------------------------------------------------------------------------------------------
  APP BLOCK TYPE
  ----------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}
  {%- when '@app' -%}
  {%- render block -%}

  {%- comment -%}
  ----------------------------------------------------------------------------------------------------------------
  VARIANT PICKER BLOCK TYPE
  ----------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}
  {%- when 'variant_picker' -%}

    {%- if template.suffix != 'quick-buy-popover' -%}
      {% unless product.tags contains 'NO-PRICE' %}
        {% capture fixed_pod_discount %}{% render 'fixed-discount-by-tag', product: product %}{% endcapture %}
        {% if product.available %}
          {% capture random_cart %} {% render 'random-carts' %}{% endcapture %}
        {%- endif -%}

        <div class="product-meta__price-list-container custom-product-price-mobile " role="region" aria-live="polite">
          <div class="d-flex align-items-center justify-content-between price_offer_wrapper">
            <div class="price-list custom-product-price {% if product.tags contains settings.tag_selector and settings.enable_fixed_discount %} custom-product_flash-sale {% elsif settings.enable_namagoo %}{% if product.tags contains 'namogoo' %} custom-product_namogoo {% endif %} {% endif %} {%- if product.tags contains 'flash-sale' and settings.enable_flash_sale -%} pdp_flash_sale {%- endif -%}" data-product-price-list>
              {% capture fixed_discount %}{% render 'fixed-discount-by-tag', product: product %} {% endcapture %}
              {%- if product.tags contains settings.tag_selector -%}
                {% assign discount_price = fixed_discount | times: 100 %}
                {% assign discount_price = product_varient.price | minus: discount_price %}
                {% assign discounted_price = product_varient.price | minus: discount_price | divided_by: 100 | round | times: 100 %}
              {%- else -%}
                {% assign discounted_price = product_varient.price %}
              {%- endif -%}
              {%- if product_varient.compare_at_price > product_varient.price -%}
                <div class="pdp_price_wrapper">
                  <div class="pdp_price_box">
                    <span class="price price--highlight price--large">
                      <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                      {%- if settings.currency_code_enabled -%}
                        {{- discounted_price | money_with_currency | remove: ' ' | replace: 'Rs.', '₹' | remove: '.00' -}}
                      {%- else -%}
                        {{- discounted_price | money | remove: ' ' | replace: 'Rs.', '₹' | remove: '.00' -}}
                      {%- endif -%}
                    </span>
                    <span class="price price--compare line-through">
                      <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>
                      {%- if settings.currency_code_enabled -%}
                        {{- product_varient.compare_at_price | money_with_currency | replace: 'Rs.', '₹' -}}
                      {%- else -%}
                        {{- product_varient.compare_at_price | money | replace: 'Rs.', '₹' -}}
                      {%- endif -%}
                    </span>
                  </div>

                  <div class="strike-price">
                    {% if product.compare_at_price > discounted_price %}
                      <p class="custom-saved-price">
                        {{ product.compare_at_price | minus: discounted_price | times: 100.0 | divided_by: product.compare_at_price | round | append: '% Off' }} 
                      </p>
                    {% endif %}
                    {% comment %} <span class="inclusive-text">Inclusive of all Taxes</span> {% endcomment %}
                  </div>
                </div>

                {% unless product.tags contains "Gift Cards" or product.tags contains "mask" %}
                  {%- if product.tags contains 'flash-sale' and settings.enable_flash_sale and template.suffix != 'quick-buy-popover' and template.suffix != 'quick-buy-drawer' -%}
                    <div class="flash-sale-lable d-flex position-relative">
                      <div class="flash_sale">
                        <p class="m-0 text-uppercase flash_text">
                          <span class="thunder">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-lightning-fill" viewBox="0 0 16 16">
                              <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5z" />
                            </svg>
                          </span>&nbsp;
                        </p>
                        {% render 'flashsale-timer', title: settings.flash_timer_text, end_date: settings.flash_end_date %}
                      </div>
                    </div>
                  {%- endif -%}
                {% endunless %}

              {%- else -%}
                <span class="price price--large">
                  <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                  {%- if settings.currency_code_enabled -%}
                    {{- discounted_price | money_with_currency | remove: ' ' | replace: 'Rs.', '₹' -}}
                  {%- else -%}
                    {{- discounted_price | money | remove: ' ' | replace: 'Rs.', '₹' -}}
                  {%- endif -%}
                </span>
              {%- endif -%}
                
              {%- if product_varient.unit_price_measurement -%}
                <div class="price text--subdued">
                  <div class="unit-price-measurement">
                    <span class="unit-price-measurement__price">{{ product_varient.unit_price | money }}</span>
                    <span class="unit-price-measurement__separator">/</span>
                    
                    {%- if product_varient.unit_price_measurement.reference_value != 1 -%}
                      <span class="unit-price-measurement__reference-value">{{ product_varient.unit_price_measurement.reference_value }}</span>
                    {%- endif -%}
                    <span class="unit-price-measurement__reference-unit">{{ product_varient.unit_price_measurement.reference_unit }}</span>
                  </div>
                </div>
              {%- endif -%}

              {% comment %} info: added in 2.0 {% endcomment %}
            </div>
          </div>
        </div>
      {% endunless %}
    {% endif %}
  
    {%- unless product.has_only_default_variant or block.settings.hide_sold_out_variants and product.available == false -%}
      {%- assign size_chart_page = block.settings.size_chart_page -%}
      {%- assign found_size_option = false -%}
      <product-variants handle="{{ product.handle }}" form-id="{{ product_form_id }}" {% if update_url %}update-url{% endif %}
        {% if block.settings.hide_sold_out_variants %}hide-sold-out-variants{% endif %} class="product-form__variants" {{ block.shopify_attributes }}>
        {%- for option in product.options_with_values -%}
          {%- assign option_downcase = option.name | downcase -%}
          {%- capture option_id -%}option-{{ section.id }}-{{ template.suffix }}-{{ product.id }}-{{ forloop.index }}{%- endcapture -%}

          {%- assign selector_type = block.settings.selector_mode -%}

          {% if color_label_list contains option_downcase %}
            {%- assign selector_type = block.settings.color_mode -%}

            {%- if selector_type == 'variant_image' -%}
              {%- comment -%}To use this mode every variant must have an attached media{%- endcomment -%}
              {%- for variant in product.variants -%}
                {%- unless variant.featured_media -%}
                  {%- assign selector_type = 'color' -%}
                  {%- break -%}
                {%- endunless -%}
              {%- endfor -%}
            {%- endif -%}
          {%- endif -%}

          <div class="product-form__option-selector" data-selector-type="{{ selector_type | replace: '_', '-' | escape }}" data-option-name="{{ option.name | downcase | replace: ' ', '-'}}">
            <div class="d-flex justify-content-between align-items-baseline product-form__option-info">
              <div>
                {% comment %} <span class="text-capitalize product-form__option-name">Choose your colour : <span id="{{ option_id }}-value" class="product-form__option-value" style="font-weight:normal">{{ option.selected_value }}</span></span> {% endcomment %}

                {% comment %} {%- if selector_type != 'dropdown' -%}
                <span id="{{ option_id }}-value" class="product-form__option-value">{{ option.selected_value }}</span>
                {%- endif -%} {% endcomment %}

                {%- if size_chart_page != blank and size_label_list contains option_downcase -%}
                {%- assign found_size_option = true -%}
                <button type="button" is="toggle-button" class="product-form__option-link link text--subdued hidden-phone"
                  aria-controls="product-{{ section.id }}-{{ product.id }}-size-chart-drawer" aria-expanded="false">{{
                  'product.general.size_chart' | t }}</button>
                <button type="button" is="toggle-button" class="product-form__option-link link text--subdued hidden-tablet-and-up"
                  aria-controls="product-{{ section.id }}-{{ product.id }}-size-chart-popover" aria-expanded="false">{{
                  'product.general.size_chart' | t }}</button>
                {%- endif -%}
              </div>
                {%- if template.suffix != 'quick-buy-popover' and template.suffix != 'quick-buy-drawer' -%}
              <img class="varnt-drop h-100"
                src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/left-arrow_1_968e75a2-9de8-4f80-9b47-1136ad3beb50.png?v=1654760428">
              {% endif %}
            </div>
            {%- case selector_type -%}
              {%- when 'variant_image' -%}
                <div class="variant-swatch-list">
                  {%- for value in option.values -%}
                    {%- comment -%}We search for the first variant that has an image for this color{%- endcomment -%}
                    {%- for variant in product.variants -%}
                      {%- if variant.options[0] == value -%}
                        <div class="variant-swatch {% if variant.inventory_quantity < settings.sold_out_threshold %}is-disabled{% endif %}" 
                          {% if variant.metafields.custom.variant_url != blank %}data-var-url="{{variant.metafields.custom.variant_url}}"{% endif %} 
                          data-varient_disabled="{% if variant.inventory_quantity < settings.sold_out_threshold %}true {% else %} false {% endif %}">
                          <input class="variant-swatch__radio visually-hidden" type="radio" name="option{{ option.position }}" 
                            form="{{ product_form_id }}" 
                            id="{{ option_id }}-{{ forloop.index }}" 
                            value="{{ value | escape }}" 
                            data-bind-value="{{ option_id }}-value" {% if value==option.selected_value %}checked="checked" {% endif %}
                            aria-label="{{ value | escape }}" data-price="{{ variant.price }}"
                            data-compare-price="{{ variant.compare_at_price }}" />
                          <div class="variant-swatch__item-div text-center">
                            <label class="variant-swatch__item" for="{{ option_id }}-{{ forloop.index }}">
                              <span class="visually-hidden">{{ value }}</span>
                              <img class="variant-swatch__image" loading="lazy" sizes="(max-width: 740px) 64px, 72px" {% render 'image-attributes' ,
                                image: variant.featured_media, sizes: '64,72,128,144,192,216' %}>
                            </label>
                            {%- unless product.tags contains 'prebooking' -%}
                              {% if variant.available %}
                                <span class="stock-label hidden-lap-and-up">In Stock</span>
                              {% else %}
                                <span class="stock-label hidden-lap-and-up">Out of Stock</span>
                              {% endif %}
                            {% endunless %}
                          </div>
                        </div>
                        {%- break -%}
                      {%- endif -%}
                    {%- endfor -%}
                  {%- endfor -%}
                </div>

              {%- when 'color' -%}
                <span style="font-size:14px;color:#1a2024;font-weight:bold;letter-spacing: -0.56px;">Choose your colour : <span id="{{ option_id }}-value" class="product-form__option-value" style="font-weight:normal">{{ option.selected_value }}</span></span> 
                <div class="color-swatch-list">
                  {%- assign color_swatch_config = settings.color_swatch_config | newline_to_br | split: '<br />' -%}
                  {%- assign option_position0 = option.position | minus: 1 -%}
                  {%- for value in option.values -%}
                    {%- assign color_value_downcase = value | downcase -%}
                    {% for variant in product.variants %}
                      {% comment %} {{ value }}
                      {{ variant.options[option_position0] }} {% endcomment %}
                      {%- if variant.options[0] == value -%}
                        <div class="color-swatch {% if product.tags contains 'customized-test' and value contains 'engrav_' %} customized_hide {% endif %} {% if color_white_label == color_value_downcase %}color-swatch--white{% endif %}" data-varient_disabled="{% if variant.inventory_quantity < settings.sold_out_threshold %}true {% else %} false {% endif %}">
                          <input class="color-swatch__radio visually-hidden" type="radio" name="option{{ option.position }}"
                            form="{{ product_form_id }}" id="{{ option_id }}-{{ forloop.index }}" value="{{ value | escape }}" 
                            {% if value==option.selected_value %}checked="checked" {% endif %} 
                            data-bind-value="{{ option_id }}-value" />
                          <label class="color-swatch__item" for="{{ option_id }}-{{ forloop.index }}" 
                            title="{{ value | remove: ' ' | escape }}"
                            style="{% if variant.metafields.my_fields.variantcolorcode %} background-color:{{ variant.metafields.my_fields.variantcolorcode }} {% else %} background:url({{ variant.featured_media | img_url: '20x'}}) {% endif %}">
                            <span class="visually-hidden">{{ value }}</span>
                          </label>
                          {% comment %} <span class="variant-name">
                              {{ value | escape }}
                          </span> {% endcomment %}
                        </div>
                        {%- break -%}
                      {% endif %}
                    {%- endfor -%}
                  {%- endfor -%}
                </div>

              {%- when 'block' -%}
                <div class="block-swatch-list">
                  {%- for value in option.values -%}
                    <div class="block-swatch">
                      <input class="block-swatch__radio visually-hidden" type="radio" name="option{{ option.position }}"
                        form="{{ product_form_id }}" id="{{ option_id }}-{{ forloop.index }}" value="{{ value | escape }}" {% if
                        value==option.selected_value %}checked="checked" {% endif %} data-bind-value="{{ option_id }}-value">
                      <label class="block-swatch__item" for="{{ option_id }}-{{ forloop.index }}">{{ value }}</label>
                    </div>
                  {%- endfor -%}
                </div>

              {%- when 'dropdown' -%}
                <div class="select-wrapper">
                  <combo-box initial-focus-selector="[aria-selected='true']" id="{{ option_id }}-combo-box" class="combo-box">
                    <span class="combo-box__overlay"></span>

                    <header class="combo-box__header">
                      <p class="combo-box__title heading h6">{{ option.name }}</p>

                      <button type="button" class="combo-box__close-button tap-area" data-action="close"
                        title="{{ 'general.accessibility.close' | t | escape }}">
                        {%- render 'icon' with 'close' -%}
                      </button>
                    </header>

                    <div class="combo-box__option-list" role="listbox">
                      {%- for value in option.values -%}
                        <button type="button" role="option" class="combo-box__option-item" value="{{ value | escape }}"
                        aria-selected="{% if value == option.selected_value %}true{% else %}false{% endif %}">{{ value }}</button>
                      {%- endfor -%}
                    </div>

                    <select class="visually-hidden" name="option{{ option.position }}" form="{{ product_form_id }}"
                      data-bind-value="{{ option_id }}-value" aria-label="{{ option.name | escape }}">
                      {%- for value in option.values -%}
                        <option value="{{ value | escape }}" {% if value==option.selected_value %}selected{% endif %}>{{ value }} </option>
                      {%- endfor -%}
                    </select>
                  </combo-box>

                  <button type="button" is="toggle-button" class="select" aria-expanded="false" aria-haspopup="listbox"
                    aria-controls="{{ option_id }}-combo-box">
                    <span id="{{ option_id }}-value" class="select__selected-value">{{ option.selected_value }}</span>
                    {%- render 'icon' with 'chevron' -%}
                  </button>
                </div>

            {%- endcase -%}
          </div>
        {%- endfor -%}

        <noscript>
          <label class="input__block-label" for="product-select-{{ section.id }}-{{ product.id }}">{{ 'product.form.variant' | t }}</label>

          <div class="select-wrapper">
            <select class="select" autocomplete="off" id="product-select-{{ section.id }}-{{ product.id }}" name="id"
              form="{{ product_form_id }}">
              {%- for variant in product.variants -%}
                <option {% if variant == product_varient %}selected="selected" {% endif %} {% unless
                  variant.available %}disabled="disabled" {% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{
                  variant.title }} - {{ variant.price | money }}</option>
              {%- endfor -%}
            </select>
            {%- render 'icon' with 'chevron' -%}
          </div>

        </noscript>
      </product-variants>
    {%- endunless -%}
          

        
  {%- if template.suffix != 'quick-buy-popover' and template.suffix != 'quick-buy-drawer' -%}
    {% if product.available %}
      <div class="payment_offers">
        <div class="offer_text">
          <span>₹15 off on All UPI Payments</span>
        </div>
        <div class="payment_icons">
          <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/paytm_icon_fa75a315-11a2-4c8e-a241-18af809eb683.svg?v=1682575951" class="single_payment_icon paytm_icon">
          <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/gpay_icon_503ebbda-a3e1-4659-af32-0686aecec227.svg?v=1682575951" class="single_payment_icon gpay_icon">
          <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/phone_pe_icon_f9872d32-f8cf-43ca-8fa2-78db125fcdad.svg?v=1682575951" class="single_payment_icon phonepe_icon">
        </div>
      </div>  
    {% endif %}
    {%- render 'marketplace-details' -%}
  <!--  for desktop layout -->
  <div class="pdp-inner custom-product-price">
    <div class="new-pdp">
      <div class="custom-product-price">
              {% if product.tags contains 'customized-test' %}
                <div class="desktop current-in-cart free-personalised" {% unless product_varient.inventory_quantity >= settings.sold_out_threshold %}
                  style="display: none;" {% endunless %}>
                  <p class="currently-in-cart" style="font-weight: 600; font-size: 12px; line-height: 17px; color: #ed1c24;text-align:center;"> Personalisation offer for only first 120 customers</p>
                </div>
              {% else %}
                {% comment %} <div class="desktop current-in-cart" {% unless product_varient.inventory_quantity >= settings.sold_out_threshold %}
                  style="display: none;" {% endunless %}>
                  {{ random_cart }}
                </div> {% endcomment %}
              {% endif %}
        {% endif %}
        
        {%- comment -%}
        ----------------------------------------------------------------------------------------------------------------
        LINE ITEM PROPERTY
        ----------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}
        {%- when 'line_item_property' -%}
        {%- if block.settings.label != blank -%}
        {%- case block.settings.type -%}
        {%- when 'text' -%}
        {%- if block.settings.allow_long_text -%}
        <div class="product-form__line-item-property" {{ block.shopify_attributes }}>
          <label class="input__block-label" for="line-item-{{ section.id }}-{{ block.id }}">{{ block.settings.label |
            escape }}:</label>
          <textarea {% if block.settings.required %}required{% endif %} id="line-item-{{ section.id }}-{{ block.id }}"
            form="{{ product_form_id }}" class="input__field input__field--textarea"
            name="properties[{{ block.settings.label | escape }}]"></textarea>
          </div>
          {% else %}
          <div class="product-form__line-item-property" {{ block.shopify_attributes }}>
          <label class="input__block-label" for="line-item-{{ section.id }}-{{ block.id }}">{{ block.settings.label |
            escape }}:</label>
          <input {% if block.settings.required %}required{% endif %} id="line-item-{{ section.id }}-{{ block.id }}"
            form="{{ product_form_id }}" type="text" class="input__field" name="properties[{{ block.settings.label | escape }}]">
          </div>
          {%- endif -%}

        {%- when 'checkbox' -%}
        <div class="product-form__line-item-property" {{ block.shopify_attributes }}>
          <div class="checkbox-container">
            <input type="hidden" form="{{ product_form_id }}" class="checkbox"
              name="properties[{{ block.settings.label | escape }}]" value="{{ block.settings.unchecked_value | escape }}">
            <input type="checkbox" form="{{ product_form_id }}" class="checkbox"
              name="properties[{{ block.settings.label | escape }}]" id="line-item-{{ section.id }}-{{ block.id }}"
              value="{{ block.settings.checked_value | escape }}">
            <label for="line-item-{{ section.id }}-{{ block.id }}">{{ block.settings.label | escape }}</label>
            </div>
            </div>
            {%- endcase -%}
        {%- endif -%}

        {%- comment -%}
        ----------------------------------------------------------------------------------------------------------------
        TEXT
        ----------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}
        {%- when 'text' -%}
        {% if block.settings.text != blank %}
        <div class="product-form__text" {{ block.shopify_attributes }}>
          {{- block.settings.text -}}
        </div>
        {%- endif -%}

        {%- comment -%}
        ----------------------------------------------------------------------------------------------------------------
        IMAGE
        ----------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}
        {%- when 'image' -%}
        {% if block.settings.image != blank %}
        <div class="product-form__image product-form__image--{{ block.settings.image_alignment }}" {{ block.shopify_attributes
          }}>
          {%- capture image_sizes -%}{{ block.settings.image_width }}, {{ block.settings.image_width | times: 2 }}, {{
          block.settings.image_width | times: 3 }}{%- endcapture -%}
          <img loading="lazy" style="max-width: {{ block.settings.image_width }}px" {% render 'image-attributes' , image:
            block.settings.image, sizes: image_sizes %}>
        </div>
        {%- endif -%}

        {%- comment -%}
        ----------------------------------------------------------------------------------------------------------------
        BUTTON
        ----------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}
        {%- when 'button' -%}
        {% if block.settings.link != blank and block.settings.text != blank %}
        <div class="product-form__button" {{ block.shopify_attributes }}>
          {%- if block.settings.background == 'rgba(0,0,0,0)' -%}
          {%- assign button_background = settings.primary_button_background -%}
          {%- else -%}
          {%- assign button_background = block.settings.background -%}
          {%- endif -%}

          {%- if block.settings.text_color == 'rgba(0,0,0,0)' -%}
          {%- assign button_text_color = settings.primary_button_text_color -%}
          {%- else -%}
          {%- assign button_text_color = block.settings.text_color -%}
          {%- endif -%}

          {%- capture button_background_rgb -%}{{ button_background.red }}, {{ button_background.green }}, {{
          button_background.blue }}{%- endcapture -%}
          {%- capture button_text_color_rgb -%}{{ button_text_color.red }}, {{ button_text_color.green }}, {{
          button_text_color.blue }}{%- endcapture -%}

          <a href="{{ block.settings.link }}"
            class="button button--primary {% if block.settings.stretch %}button--full{% endif %}"
            style="--primary-button-background: {{ button_background_rgb }}; --primary-button-text-color: {{ button_text_color_rgb }}">{{
            block.settings.text | escape }}</a>
          </div>
        {%- endif -%}

        {%- comment -%}
        ----------------------------------------------------------------------------------------------------------------
        CUSTOM LIQUID
        ----------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}
        {%- when 'liquid' -%}
        {% if block.settings.liquid != blank %}
        <div class="product-form__custom-liquid" {{ block.shopify_attributes }}>
          {{- block.settings.liquid -}}
        </div>
        {%- endif -%}

        {%- comment -%}
        ----------------------------------------------------------------------------------------------------------------
        PRODUCT DESCRIPTION
        ----------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}
        {%- when 'description' -%}
        {%- if product.description != blank -%}
        <div class="product-form__description rte" {{ block.shopify_attributes }}>
          {{- product.description -}}
        </div>
        {%- endif -%}

        {%- comment -%}
        ----------------------------------------------------------------------------------------------------------------
        INVENTORY
        ----------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}
        {%- when 'inventory' -%}
        {%- if product.template_suffix != 'pre-order' and product.available or
        pproduct_varient.incoming -%}
        <product-inventory form-id="{{ product_form_id }}" {% unless product_varient.available or
          product_varient.incoming %}hidden{% endunless %} class="product-form__inventory-wrapper"
          {{ block.shopify_attributes }}>
          {%- if product_varient.available -%}
          {%- if product_varient.inventory_management and
          product_varient.inventory_policy == 'deny' and
          product_varient.inventory_quantity <= block.settings.low_inventory_threshold and
            block.settings.low_inventory_threshold> 0 -%}
            <span class="inventory inventory--low">{{ 'product.form.low_stock_with_quantity_count' | t: count:
              product_varient.inventory_quantity }}</span>
            {%- else -%}
            {%- if product_varient.inventory_policy == 'continue' and
            product_varient.inventory_quantity <= 0 and
              product_varient.requires_shipping -%} {%- if
              product_varient.incoming -%} {%- capture next_incoming_date -%}{{
              product_varient.next_incoming_date | date: format: 'date' }}{%- endcapture -%} <span
              class="inventory inventory--low">{{ 'product.form.incoming_stock' | t: next_incoming_date:
              next_incoming_date }}</span>
              {%- else -%}
              <span class="inventory inventory--low">{{ 'product.form.oversell_stock' | t }}</span>
              {%- endif -%}
              {%- else -%}
              <span class="inventory inventory--high">{{ 'product.form.in_stock' | t }}</span>
              {%- endif -%}
              {%- endif -%}
              {%- elsif product_varient.incoming -%}
              {%- capture next_incoming_date -%}{{ product_varient.next_incoming_date |
              date: format: 'date' }}{%- endcapture -%}
              <span class="inventory inventory--low">{{ 'product.form.incoming_stock' | t: next_incoming_date:
                next_incoming_date }}</span>
              {%- endif -%}

              <script type="application/json">
              {
                {%- for variant in product.variants -%}
                  {%- capture inventory_message -%}
                    {%- if variant.available -%}
                      {%- if variant.inventory_management and variant.inventory_policy == 'deny' and variant.inventory_quantity <= block.settings.low_inventory_threshold and block.settings.low_inventory_threshold > 0 -%}
                        <span class="inventory inventory--low">{{ 'product.form.low_stock_with_quantity_count' | t: count: variant.inventory_quantity }}</span>
                      {%- else -%}
                        {%- if variant.inventory_policy == 'continue' and variant.inventory_quantity <= 0 and variant.requires_shipping -%}
                          {%- if product_varient.incoming -%}
                            {%- capture next_incoming_date -%}{{ product_varient.next_incoming_date | date: format: 'date' }}{%- endcapture -%}
                            <span class="inventory inventory--low">{{ 'product.form.incoming_stock' | t: next_incoming_date: next_incoming_date }}</span>
                          {%- else -%}
                            <span class="inventory inventory--low">{{ 'product.form.oversell_stock' | t }}</span>
                          {%- endif -%}
                        {%- else -%}
                          <span class="inventory inventory--high">{{ 'product.form.in_stock' | t }}</span>
                        {%- endif -%}
                      {%- endif -%}
                    {%- elsif variant.incoming -%}
                      {%- capture next_incoming_date -%}{{ variant.next_incoming_date | date: format: 'date' }}{%- endcapture -%}
                      <span class="inventory inventory--low">{{ 'product.form.incoming_stock' | t: next_incoming_date: next_incoming_date }}</span>
                    {%- endif -%}
                  {%- endcapture -%}

                  "{{ variant.id }}": {{ inventory_message | json }}{% unless forloop.last %},{% endunless %}
                {%- endfor -%}
              }
            </script>
        </product-inventory>
        {%- endif -%}
      </div>

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      BUY BUTTONS
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'buy_buttons' -%}
      {%- if request.page_type != 'password' -%}
        {% for variant in product.variants %}
          {% if variant.id == product.selected_or_first_available_variant.id %}
            {% if variant.metafields.custom.delivery != blank %}
              {% assign delivery_date = variant.metafields.custom.delivery %}
            {% else %}
              {% assign delivery_date = '2 days' %}
            {% endif %}
          {% endif %}
        {% endfor %}
      <div class="product-form__buy-buttons" {{ block.shopify_attributes }}>
        {%- form 'product', product, is: 'product-form', id: product_form_id -%}
        <input type="hidden" disabled name="id" value="{{ product_varient.id }}">
        {%- if product.tags contains settings.products_offering_freebie -%}
        <input class="flash_sale_enable" type="hidden" name="properties[Free]" value="true">
        {%- endif -%}
        <product-payment-container form-id="{{ product_form_id }}" {% if update_url %}id="MainPaymentContainer" {% endif %}
          class="product-form__payment-container" {{ block.shopify_attributes }}>
          {%- if product.tags contains 'prebooking' -%}
            {%- if template.suffix != 'quick-buy-popover' and template.suffix != 'quick-buy-drawer' -%}
              <button id="AddToCart" type="submit" is="loader-button" {% unless
                block.settings.show_payment_button and template.suffix !='quick-buy-popover' %}data-use-primary{% endunless %}
                data-product-add-to-cart-button data-button-content="{{ 'product.form.pre_order' | t | escape }}"
                class="prebook product-form__add-button button {% unless product_varient.inventory_quantity >= settings.sold_out_threshold %}button--ternary{% else %}{% if block.settings.show_payment_button and template.suffix != 'quick-buy-popover' %}button--secondary{% else %}button--primary{% endif %}{% endunless %} button--full"
                {% if product_varient.inventory_quantity < settings.sold_out_threshold %}disabled{% endif %}
                >
                  <span class="atc_btn">
                    <span class="add_to_cart_btn">{{- 'product.form.pre_order' | t -}}</span>
                  </span>
                  {%- if template.suffix != 'quick-buy-popover' and template.suffix != 'quick-buy-drawer' -%}
                    <span class="pdp-btn-price d-lg-none ">
                      <span class="custom_price_wrapper">
                        <span class="inclusive_text_content">Inclusive of all Taxes</span>
                        <span class="mobile_atc_btn">
                          <span class="mobile_atc_price">₹{{ selected_variant_price_on_btn }}</span>
                          {% if product.compare_at_price > discounted_price %}
                          <span class="saved_price">
                            {{ product.compare_at_price | minus: discounted_price | times: 100.0 | divided_by: product.compare_at_price | round | append: '% Off' }} 
                          </span>
                          {% endif %}
                        </span>
                      </span>
                    </span>
                  {% endif %}
                
              </button>
            {%- else -%}
            <button id="AddToCart" onclick="quickATC()" type="submit" is="loader-button" {% unless
              block.settings.show_payment_button and template.suffix !='quick-buy-popover' %}data-use-primary{% endunless %}
              data-product-add-to-cart-button data-button-content="{{ 'product.form.pre_order' | t | escape }}"
              class="prebook product-form__add-button button {% unless product_varient.inventory_quantity >= settings.sold_out_threshold %}button--ternary{% else %}{% if block.settings.show_payment_button and template.suffix != 'quick-buy-popover' %}button--secondary{% else %}button--primary{% endif %}{% endunless %} button--full"
              {% if product_varient.inventory_quantity < settings.sold_out_threshold %}disabled{% endif %}
              >
                <span class="atc_btn">
                  <span class="add_to_cart_btn">{{- 'product.form.pre_order' | t -}}</span>
                </span>
                {%- if template.suffix != 'quick-buy-popover' and template.suffix != 'quick-buy-drawer' -%}
                  <span class="pdp-btn-price d-lg-none ">
                    <span class="custom_price_wrapper">
                      <span class="inclusive_text_content">Inclusive of all Taxes</span>
                      <span class="mobile_atc_btn">
                        <span class="mobile_atc_price">₹{{ selected_variant_price_on_btn }}</span>
                        {% if product.compare_at_price > discounted_price %}
                        <span class="saved_price">
                          {{ product.compare_at_price | minus: discounted_price | times: 100.0 | divided_by: product.compare_at_price | round | append: '% Off' }} 
                        </span>
                        {% endif %}
                      </span>
                    </span>
                  </span>
                {% endif %}
              
            </button>
            {%- endif -%}
          {% else %}
            {% if product.handle == 'gift-card' %}
              <button id="AddToCart" onclick="quickATC()" type="submit" is="loader-button" {% unless
                block.settings.show_payment_button and template.suffix !='quick-buy-popover' %}data-use-primary{% endunless %}
                data-product-add-to-cart-button data-button-content="{{ 'product.form.add_to_cart' | t | escape }} "
                class="product-form__add-button button {% if block.settings.show_payment_button and template.suffix != 'quick-buy-popover' %}button--secondary{% else %}button--primary{% endif %} button--full">
                {{- 'product.form.add_to_cart' | t -}}
                {%- if template.suffix != 'quick-buy-popover' and template.suffix != 'quick-buy-drawer' -%}
                  <span class="pdp-btn-price d-lg-none">₹{{ selected_variant_price_on_btn }}</span>
                {% endif %}
              </button>
            {% else %}
              {%- if product.tags contains 'customized-test' -%}
              <!-- {% capture itemTags %}
                {% for item in cart.items %}
                  {{ item.product.tags }},
                {% endfor %}
              {% endcapture %} -->
                <a class="cutomized-btn mt-lg-2 {% if product_varient.inventory_quantity < settings.sold_out_threshold %} hide_cTA{% endif %}" is="loader-button">
                  {%- if product_varient.inventory_quantity >= settings.sold_out_threshold -%}
                 <span class="loader-button__text">
                    <span class="atc_btn">
                      <svg id="Group_211011" data-name="Group 211011" xmlns="http://www.w3.org/2000/svg" width="19.725" height="20" viewBox="0 0 19.725 23">
                        <path id="Rectangle_760" data-name="Rectangle 760" d="M8.558,5.081a.8.8,0,1,0,1.6,0ZM0,5.081a.8.8,0,1,0,1.6,0ZM5.081,1.6A3.477,3.477,0,0,1,8.558,5.081h1.6A5.081,5.081,0,0,0,5.081,0Zm0-1.6A5.081,5.081,0,0,0,0,5.081H1.6A3.477,3.477,0,0,1,5.081,1.6Z" transform="translate(4.78)" fill="#fff"/>
                        <path id="Rectangle_788" data-name="Rectangle 788" d="M.836,13.108l.8.1Zm18.053,0-.8.1h0ZM17.819,4.55l.8-.1h0Zm-15.913,0-.8-.1ZM6.152,1.6h7.421V0H6.152ZM17.023,4.65l1.07,8.558,1.592-.2-1.07-8.558Zm-2.38,12.466H5.082v1.6h9.561ZM1.632,13.208,2.7,4.65l-1.592-.2L.04,13.009Zm3.45,3.908a3.477,3.477,0,0,1-3.45-3.908l-1.592-.2A5.081,5.081,0,0,0,5.082,18.72Zm13.011-3.908a3.477,3.477,0,0,1-3.45,3.908v1.6a5.081,5.081,0,0,0,5.042-5.712ZM13.573,1.6a3.477,3.477,0,0,1,3.45,3.045l1.592-.2A5.081,5.081,0,0,0,13.573,0ZM6.152,0A5.081,5.081,0,0,0,1.11,4.451l1.592.2A3.477,3.477,0,0,1,6.152,1.6Z" transform="translate(0 4.28)" fill="#fff"/>
                      </svg>                    
                      <span class="add_to_cart_btn">{{- 'product.form.add_to_cart' | t -}}</span>
                    </span>
                      <span class="pdp-btn-price d-lg-none ">
                        <span class="custom_price_wrapper">
                          <span class="inclusive_text_content">Inclusive of all Taxes</span>
                          <span class="mobile_atc_btn">
                            <span class="mobile_atc_price">₹{{ selected_variant_price_on_btn }}</span>
                            {% if product.compare_at_price > discounted_price %}
                            <span class="saved_price">
                              {{ product.compare_at_price | minus: discounted_price | times: 100.0 | divided_by: product.compare_at_price | round | append: '% Off' }} 
                            </span>
                          {% endif %}
                          </span>
                        </span>
                      </span>
                  </span> 
                  {%- else -%}
                    {{- 'product.form.sold_out' | t -}}
                  {%- endif -%}
                </a>
                <button id="AddToCart" onclick="quickATC()" type="submit" is="loader-button" {% unless
                  block.settings.show_payment_button and template.suffix !='quick-buy-popover' %}data-use-primary{% endunless %}
                  data-product-add-to-cart-button
                  data-button-content="{% if product.template_suffix == 'pre-order' or product.tags contains 'prebooking' %}{{ 'product.form.pre_order' | t | escape }}{% else %}{{ 'product.form.add_to_cart' | t | escape }}{% endif %}"
                  class="product-form__add-button button customized-hidden {% unless product_varient.inventory_quantity >= settings.sold_out_threshold %}button--ternary{% else %}{% if block.settings.show_payment_button and template.suffix != 'quick-buy-popover' %}button--secondary{% else %}button--primary{% endif %}{% endunless %} button--full"
                  {% if product_varient.inventory_quantity < settings.sold_out_threshold %} disabled{% endif %}
                  data-price="{{ product.price }}">
                  {%- if product_varient.inventory_quantity >= settings.sold_out_threshold -%}
                    {{- 'product.form.add_to_cart' | t -}}
                    {%- if template.suffix != 'quick-buy-popover' and template.suffix != 'quick-buy-drawer' -%}
                      <span class="pdp-btn-price d-lg-none">₹{{ selected_variant_price_on_btn }}</span>
                    {% endif %}
                  {%- else -%}
                    {{- 'product.form.sold_out' | t -}}
                  {%- endif -%}
                </button>
               {% else %}
               {%- if template.suffix != 'quick-buy-popover' and template.suffix != 'quick-buy-drawer' -%}
                <button id="AddToCart" type="submit" is="loader-button" {% unless
                  block.settings.show_payment_button and template.suffix !='quick-buy-popover' %}data-use-primary{% endunless %}
                  data-product-add-to-cart-button
                  data-button-content="{% if product.template_suffix == 'pre-order' or product.tags contains 'prebooking' %}{{ 'product.form.pre_order' | t | escape }}{% else %}{{ 'product.form.add_to_cart' | t | escape }}{% endif %}"
                  class="a2c product-form__add-button button {% unless product_varient.inventory_quantity >= settings.sold_out_threshold %}button--ternary{% else %}{% if block.settings.show_payment_button and template.suffix != 'quick-buy-popover' %}button--secondary{% else %}button--primary{% endif %}{% endunless %} button--full"
                  {% if product_varient.inventory_quantity < settings.sold_out_threshold %} disabled{% endif %}
                  data-price="{{ product.price }}">
                  {%- if product_varient.inventory_quantity >= settings.sold_out_threshold -%}
                    <span class="atc_btn">
                      <svg id="Group_211011" data-name="Group 211011" xmlns="http://www.w3.org/2000/svg" width="19.725" height="20" viewBox="0 0 19.725 23">
                        <path id="Rectangle_760" data-name="Rectangle 760" d="M8.558,5.081a.8.8,0,1,0,1.6,0ZM0,5.081a.8.8,0,1,0,1.6,0ZM5.081,1.6A3.477,3.477,0,0,1,8.558,5.081h1.6A5.081,5.081,0,0,0,5.081,0Zm0-1.6A5.081,5.081,0,0,0,0,5.081H1.6A3.477,3.477,0,0,1,5.081,1.6Z" transform="translate(4.78)" fill="#fff"/>
                        <path id="Rectangle_788" data-name="Rectangle 788" d="M.836,13.108l.8.1Zm18.053,0-.8.1h0ZM17.819,4.55l.8-.1h0Zm-15.913,0-.8-.1ZM6.152,1.6h7.421V0H6.152ZM17.023,4.65l1.07,8.558,1.592-.2-1.07-8.558Zm-2.38,12.466H5.082v1.6h9.561ZM1.632,13.208,2.7,4.65l-1.592-.2L.04,13.009Zm3.45,3.908a3.477,3.477,0,0,1-3.45-3.908l-1.592-.2A5.081,5.081,0,0,0,5.082,18.72Zm13.011-3.908a3.477,3.477,0,0,1-3.45,3.908v1.6a5.081,5.081,0,0,0,5.042-5.712ZM13.573,1.6a3.477,3.477,0,0,1,3.45,3.045l1.592-.2A5.081,5.081,0,0,0,13.573,0ZM6.152,0A5.081,5.081,0,0,0,1.11,4.451l1.592.2A3.477,3.477,0,0,1,6.152,1.6Z" transform="translate(0 4.28)" fill="#fff"/>
                      </svg>                    
                      <span class="add_to_cart_btn">{{- 'product.form.add_to_cart' | t -}}</span>
                    </span>
                    {%- if template.suffix != 'quick-buy-popover' and template.suffix != 'quick-buy-drawer' -%}
                      <span class="pdp-btn-price d-lg-none ">
                        <span class="custom_price_wrapper">
                          <span class="inclusive_text_content">Inclusive of all Taxes</span>
                          <span class="mobile_atc_btn">
                            <span class="mobile_atc_price">₹{{ selected_variant_price_on_btn }}</span>
                            {% if product.compare_at_price > discounted_price %}
                            <span class="saved_price">
                              {{ product.compare_at_price | minus: discounted_price | times: 100.0 | divided_by: product.compare_at_price | round | append: '% Off' }} 
                            </span>
                          {% endif %}
                          </span>
                        </span>
                      </span>
                    {% endif %}
                  {%- else -%}
                    {{- 'product.form.sold_out' | t -}}
                  {%- endif -%}
                </button>
               {%- else -%}
               <button id="AddToCart" onclick="quickATC()" type="submit" is="loader-button" {% unless
                block.settings.show_payment_button and template.suffix !='quick-buy-popover' %}data-use-primary{% endunless %}
                data-product-add-to-cart-button
                data-button-content="{% if product.template_suffix == 'pre-order' or product.tags contains 'prebooking' %}{{ 'product.form.pre_order' | t | escape }}{% else %}{{ 'product.form.add_to_cart' | t | escape }}{% endif %}"
                class="product-form__add-button button {% unless product_varient.inventory_quantity >= settings.sold_out_threshold %}button--ternary{% else %}{% if block.settings.show_payment_button and template.suffix != 'quick-buy-popover' %}button--secondary{% else %}button--primary{% endif %}{% endunless %} button--full"
                {% if product_varient.inventory_quantity < settings.sold_out_threshold %} disabled{% endif %}
                data-price="{{ product.price }}">
                {%- if product_varient.inventory_quantity >= settings.sold_out_threshold -%}
                  {{- 'product.form.add_to_cart' | t -}}
                  {%- if template.suffix != 'quick-buy-popover' and template.suffix != 'quick-buy-drawer' -%}
                    <span class="pdp-btn-price d-lg-none">₹{{ selected_variant_price_on_btn }}</span>
                  {% endif %}
                {%- else -%}
                  {{- 'product.form.sold_out' | t -}}
                {%- endif -%}
              </button>
               {% endif %}
                
              {%- endif -%}
            {%- endif -%}

          {%- endif -%}

        {%- if template.suffix != 'quick-buy-popover' and template.suffix != 'quick-buy-drawer' -%}
          
          {% unless product.tags contains settings.products_offering_freebie %}
              {% unless product.tags contains "Coming-Soon" %}
                <h3 class="out_of_stock_msg only-desktop" {% if product_varient.inventory_quantity >= settings.sold_out_threshold %} style="display: none;" {% endif %}>
                  <span>Restocking soon</span>
                </h3>
              {% endunless %}
              <div class="amazon-c d-flex align-items-baseline justify-content-between">
                <button id="BIS_trigger" type="button" class="custom-notify-btn"
                data-variant-id="{{ product_varient.id }}" {% if product_varient.inventory_quantity >= settings.sold_out_threshold %} style="display: none;" {% endif %}>
                {% unless product.tags contains "Coming-Soon" %}
                  <h3 class="out_of_stock_msg mobile-only" {% if product_varient.inventory_quantity >= settings.sold_out_threshold %} style="display: none;" {% endif %}>
                    <span>Restocking soon</span>
                  </h3>
                {% endunless %}
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" viewBox="0 0 302.28 336.36" style="fill: white;height: 18px;width: 18px;margin-right: 6px;" class="mobile-only"><g id="Layer_1-2"><path d="m210.02,288.27c-7.01,30.4-32.19,47.18-56.95,48.05-24.37.86-52.78-14.34-61.03-48.05-1.26,0-2.62,0-3.97,0-20.76,0-41.51-.06-62.27.03-10.45.04-18.6-3.99-23.22-13.47-4.6-9.43-2.85-18.21,3.45-26.62,7.34-9.8,14.11-20.01,21.03-30.12,2.9-4.24,4.01-9.05,4-14.2-.04-27.88-.62-55.77.11-83.63,1.35-50.97,25.21-88.28,71.51-109.62,67.97-31.32,149.05,9.56,165.26,82.7,2.04,9.19,2.92,18.8,3.05,28.23.4,27.25.19,54.5.1,81.76-.02,6.11,1.61,11.51,5.15,16.48,7.17,10.08,14.25,20.22,21.31,30.38,5.46,7.86,6.22,16.3,1.98,24.82-4.26,8.55-11.55,13.12-21.09,13.2-21.38.19-42.76.06-64.15.07-1.36,0-2.72,0-4.29,0Zm67.85-24.13c-7.27-10.48-14.09-20.48-21.09-30.35-6.59-9.28-9.73-19.5-9.67-30.9.13-26.87.07-53.75.01-80.62,0-4.12-.21-8.25-.62-12.34-5.9-58.53-64.11-98.11-120.93-82.24-41.59,11.61-70.2,48.8-70.47,91.93-.17,27.87-.1,55.75,0,83.62.04,11.12-3.04,21.14-9.43,30.22-6.4,9.09-12.71,18.25-19.04,27.39-.68.97-1.28,2-2.1,3.29h253.35Zm-160.16,24.29c3.51,13.98,19.62,24.69,35.59,23.8,14.22-.8,29.5-12.53,30.99-23.8h-66.58Z"></path></g></svg>
                  Notify me
                </span>
                </button>
                <div class="d-lg-none current-in-cart visually-hidden" {% unless product_varient.inventory_quantity >= settings.sold_out_threshold %}
                style="display: none;" {% endunless %}>
                {{ random_cart }}
                </div>
              </div>
          {% endunless %}

        </div>
    </div>

    {%- endif -%}
    {%- unless template.suffix != 'quick-buy-popover' and template.suffix != 'quick-buy-drawer' -%}
    <div class="product-item__quick-form quick-buy-notify-me" {% if product_varient.inventory_quantity >= settings.sold_out_threshold %} style="display: none;" {% endif %}>
      <a
        href="#"
        class="BIS_trigger item_BIS"
        data-product-data="{{ product | json | escape }}">
        Notify Me
      </a>
    </div>
    <a href="{{ product.url }}" class="text-center" style="font-size: 16px;font-weight: 600;line-height: normal;color: #2f5b96; margin: 20px 0 0;">
      View Product  {%- render 'icon' with 'right-arrow-blue' -%}
    </a>
    {% endunless %}
    {%- if block.settings.show_payment_button and template.suffix != 'quick-buy-popover' and template.suffix !=
    'quick-buy-drawer' -%}
    {%- comment -%} {{ form | payment_button }} {%- endcomment -%}
    {%- endif -%}

    </product-payment-container>
    {%- endform -%}
    
    {% if product.tags contains 'customized-test' %}
    <div class="personalised-modal">
      {%- render 'personalised-modal' -%}
      </div>
    {% endif %}

    {% if template.suffix != 'quick-buy-popover' and template.suffix != 'quick-buy-drawer' %}
      <div class="pincode_checker_box" data-role="additonal-info">
        {% if product.available %}
          {% if product.metafields.custom.product_highlights %}
            <div class="price-container product-highlight my-3 desktop">
              <h6 style="padding-bottom:8px;margin-bottom:16px;border-bottom: 1px solid #dadada; font-weight: 700;">Product
                Highlights
              </h6>
              {{ product.metafields.custom.product_highlights }}
            </div>
          {%- endif -%}
          {% comment %} <div class="price-container p-lg-0 mb-2">
            {% render 'product-payment-partner' %}
          </div> {% endcomment %}
        {% endif %}

        {%- if section.settings.enable_rush_plus and product.available -%}
          
          {% if product_varient.inventory_quantity >= settings.sold_out_threshold %}
            <h2 class="pincode_checker_heading">Check Delivery</h2>
          {% endif %}
          <div class="pincode_checker_container">
            <div class="pincode_checker">
              <input class="pincode_checker_input" type="text" pattern="[0-9]*" maxlength="6" oninput="this.value=this.value.replace(/[^0-9]/g,'');" placeholder="Enter PIN code for exact delivery date">
              <button type="button" class="pincode_checker_btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="18.135" height="14.805" viewBox="0 0 18.135 14.805">
                  <path id="_MFYDIAMONDS" data-name="#MFYDIAMONDS" d="M20.625-7.051a.885.885,0,0,0-.293-.654L13.857-14.16a1.02,1.02,0,0,0-.317-.225.854.854,0,0,0-.337-.068.831.831,0,0,0-.605.239.806.806,0,0,0-.244.6.978.978,0,0,0,.059.337.751.751,0,0,0,.176.278l2.188,2.227,3.877,3.535.2-.488L15.7-7.92H3.35a.83.83,0,0,0-.62.244.856.856,0,0,0-.239.625.856.856,0,0,0,.239.625.83.83,0,0,0,.62.244H15.7l3.145-.2-.2-.479L14.775-3.33,12.588-1.1a.751.751,0,0,0-.176.278.978.978,0,0,0-.059.337.806.806,0,0,0,.244.6A.831.831,0,0,0,13.2.352a.893.893,0,0,0,.635-.273L20.332-6.4A.885.885,0,0,0,20.625-7.051Z" transform="translate(-2.49 14.453)" fill="#fff"/>
                </svg>
              </button>
            </div>
            <div class="pincode_details">
              {% comment %} <h3 class="pincode_info">Enter PIN code for exact delivery date</h3> {% endcomment %}
              <h6></h6>
              <p></p>
            </div>
            <div class="pincode_error"></div>
          </div>
        {%- endif -%}
      </div>
    </div>
    {% endif %}
  </div>
  {%- endif -%}



{%- if template.suffix != 'quick-buy-popover' -%}
<store-pickup form-id="{{ product_form_id }}" class="product-form__store-availability-container">
  {%- render 'store-availability', product_variant: product_varient -%}
</store-pickup>
{%- endif -%}
{%- endcase -%}
{%- endfor -%}

{%- comment -%}
IMPLEMENTATION NOTE: under rare circumstances, merchant may want to show selectors but hide the add to cart button. This
is however problematic as elements changed based on this. So if we detect there is no buy buttons block, we add an empty
one
{%- endcomment -%}

{%- assign buy_buttons_block = section.blocks | where: 'type', 'buy_buttons' | first -%}

{%- if buy_buttons_block == blank -%}
{%- form 'product', product, is: 'product-form', id: product_form_id -%}
<input type="hidden" disabled name="id" value="{{ product_varient.id }}">
{%- endform -%}
{%- endif -%}


{%- comment -%}
IMPLEMENTATION NOTE: if during the iteration of the options we have found an option matching a size chart, we add it
here
{%- endcomment -%}

{%- if found_size_option and size_chart_page != blank -%}
{%- comment -%}Drawer is for tablet and desktop{%- endcomment -%}
<drawer-content id="product-{{ section.id }}-{{ product.id }}-size-chart-drawer"
  class="drawer drawer--large hidden-phone">
  <span class="drawer__overlay"></span>

  <header class="drawer__header">
    <p class="drawer__title heading h6">{{ size_chart_page.title }}</p>

    <button type="button" class="drawer__close-button tap-area" data-action="close"
      title="{{ 'general.accessibility.close' | t | escape }}">
      {%- render 'icon' with 'close' -%}
    </button>
    </header>

  <div class="drawer__content drawer__content--padded-start">
    <div class="rte">
      {{- size_chart_page.content -}}
    </div>
  </div>
  </drawer-content>

{%- comment -%}Popover is for mobile{%- endcomment -%}
<popover-content id="product-{{ section.id }}-{{ product.id }}-size-chart-popover" class="popover hidden-lap-and-up">
  <span class="popover__overlay"></span>

  <header class="popover__header">
    <p class="popover__title heading h6">{{ size_chart_page.title }}</p>

    <button type="button" class="popover__close-button tap-area tap-area--large" data-action="close"
      title="{{ 'general.accessibility.close' | t | escape }}">
      {%- render 'icon' with 'close' -%}
    </button>
    </header>

  <div class="popover__content">
    <div class="rte">
      {{- size_chart_page.content -}}
    </div>
  </div>
  </popover-content>
{%- endif -%}
{% capture variantDelivery %}
  {% for variant in product.variants %}
    "{{ variant.id }}":"{{ variant.metafields.custom.delivery }}"
    {% unless forloop.last %},{% endunless %}
  {% endfor %}
{%- endcapture -%}
{%- if section.settings.enable_rush_plus -%}
<script>
  let variantDelivery = {{ variantDelivery }};
  Shopify.variantDelivery = function(varientID){
  let variantDeliveryTime = variantDelivery[varientID];
  if((!sessionStorage.pincode_delivery_text || sessionStorage.pincode_delivery_text == '') && (!sessionStorage.pincode_error || sessionStorage.pincode_error == '')){
  if(variantDeliveryTime !== ''){
  $('.pincode_details h6').html('Fastest delivery in ' + variantDeliveryTime );
  }else{$('.pincode_details h6').html('Fastest delivery in 2 days');}
  }
  }
</script>
{%- endif -%}