<style>
  @media screen and (max-width: 767px) {
    .offer-callout {margin: 10px auto 20px !important;}
  }
  .offer-callout-simple {
  	color: black;
    margin-bottom: 20px !important;
  }
</style>
{%- if product.tags contains 'BOAT250' -%}
	<p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code: <strong>BOAT250</strong> at checkout & get <strong>Rs 250 off</strong> on your favourite boAt {{ product.title | split: 'BOAT ' | last  | split: '-' | first }}.</p>
{%- endif -%}
{%- if product.tags contains 'BOAT150' -%}
	<p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code: <strong>BOAT150</strong> at checkout & get <strong>Rs 150 off</strong> on your favourite boAt {{ product.title | split: 'BOAT ' | last  | split: '-' | first }}.</p>
{%- endif -%}
{%- if product.tags contains 'BOAT400' -%}
	<p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code: <strong>BOAT400</strong> at checkout & get <strong>Rs 400 off</strong> on your favourite boAt {{ product.title | split: 'BOAT ' | last  | split: '-' | first }}.</p>
{%- endif -%}
{%- if product.tags contains 'BOAT600' -%}
	<p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code: <strong>BOAT600</strong> at checkout & get <strong>Rs 600 off</strong> on your favourite boAt {{ product.title | split: 'BOAT ' | last  | split: '-' | first }}.</p>
{%- endif -%}
{%- if product.tags contains 'BOAT20' -%}
	<p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code: <strong>BOAT20</strong> at checkout & get <strong>20% off</strong> on your favourite boAt {{ product.title | split: 'BOAT ' | last  | split: '-' | first }}.</p>
{%- endif -%}
{% if product.tags contains 'GRAB10' %}
    <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Use Code 'GRAB10' & get <strong>FLAT 10% off.</strong>.</p>
{% endif %}
{% if product.tags contains 'FLAT20' %}
	<p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code: <strong>FLAT20</strong> and get <strong>20% off</strong> on {{ product.title | split: 'BOAT ' | last  | split: '-' | first }}.</p>
{% endif %}
{% if product.tags contains 'PRO150' %}
    <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply Code PRO150 & get <strong>FLAT ₹150 off</strong> on {{ product.title | split: 'BOAT ' | last  | split: '-' | first }}.</p>
{% endif %}
{% if product.tags contains 'FLAT10' %}
    <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply Code FLAT10 & get <strong>10% off</strong> on your favourite {{ product.title | split: 'BOAT ' | last  | split: '-' | first }}.</p>
{% endif %}
{% if product.type contains 'Bassheads-test' %}
<p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Get <strong>15% off</strong> on all Bassheads apply code: <strong>BASSHEADS15</strong>.</p>
{% endif %}
{% if product.tags contains 'preorder' %}
<p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Pre Order now at <strong>{{ bold_variant_price | money }}</strong>.</p>
{% endif %}
{% if product.tags contains 'blaze-zest' %}
<p class="offer-callout" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #333;padding: 10px;border-radius: 4px;color: #fff;border: 1px dashed;width: max-content;"><strong>Flat 25% Cashback using Zest</strong></p>
{% endif %}
{% if product.tags contains 'Sail2.0' %}
<p class="offer-callout" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #333;padding: 10px;border-radius: 4px;color: #fff;border: 1px dashed;width: max-content;"><strong>Sail with boAt to avail up to 30% OFF</strong></p>
{% endif %}
{%- if product.tags contains 'fool' -%}
	<p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code: <strong>NOTASCAM</strong> at checkout & get <strong>15% OFF</strong> on your favourite boAt {{ product.title | split: 'BOAT ' | last  | split: '-' | first }}.</p>
{%- endif -%}
{%- if product.tags contains 'payu-wave-lite' -%}
<p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">*Get Watch Wave Lite at <strong>₹1760*</strong> on using <strong>Pay with Rewards</strong>.</p>
{%- endif -%}
{%- if product.tags contains 'BOATSAIL' -%}
<p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Get <strong>FLAT 15% off</strong> on {{ product.title | split: 'BOAT ' | last  | split: '-' | first }} by using code <strong>BOATSAIL</strong></p>
{%- endif -%}

