{%- if product.tags contains 'BOAT250' -%}
	<p style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code: <strong>BOAT250</strong> at checkout & get <strong>Rs 250 off</strong> on your favourite boAt {{ product.title | split: 'BOAT ' | last  | split: '-' | first }}.</p>
{%- endif -%}
{%- if product.tags contains 'BOAT150' -%}
	<p style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code: <strong>BOAT150</strong> at checkout & get <strong>Rs 150 off</strong> on your favourite boAt {{ product.title | split: 'BOAT ' | last  | split: '-' | first }}.</p>
{%- endif -%}
{%- if product.tags contains 'BOAT400' -%}
	<p style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code: <strong>BOAT400</strong> at checkout & get <strong>Rs 400 off</strong> on your favourite boAt {{ product.title | split: 'BOAT ' | last  | split: '-' | first }}.</p>
{%- endif -%}
{%- if product.tags contains 'BOAT600' -%}
	<p style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code: <strong>BOAT600</strong> at checkout & get <strong>Rs 600 off</strong> on your favourite boAt {{ product.title | split: 'BOAT ' | last  | split: '-' | first }}.</p>
{%- endif -%}
{%- if product.tags contains 'BOAT20' -%}
	<p style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code: <strong>BOAT20</strong> at checkout & get <strong>20% off</strong> on your favourite boAt {{ product.title | split: 'BOAT ' | last  | split: '-' | first }}.</p>
{%- endif -%}
{% if product.tags contains 'GRAB10' %}
    <p style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Use Code 'GRAB10' & get <strong>FLAT 10% off.</strong>.</p>
{% endif %}
{% if product.tags contains 'FLAT20' %}
	<p style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code: <strong>FLAT20</strong> and get <strong>20% off</strong> on {{ product.title | split: 'BOAT ' | last  | split: '-' | first }}.</p>
{% endif %}
{% if product.tags contains 'PRO150' %}
    <p style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply Code PRO150 & get <strong>FLAT ₹150 off</strong> on {{ product.title | split: 'BOAT ' | last  | split: '-' | first }}.</p>
{% endif %}
{% if product.tags contains 'FLAT10' %}
    <p style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply Code FLAT10 & get <strong>10% off</strong> on your favourite {{ product.title | split: 'BOAT ' | last  | split: '-' | first }}.</p>
{% endif %}