<style>
  @media screen and (max-width: 767px) {
    .offer-callout {
      margin: 10px auto 20px !important;
    }
  }
  @media screen and (min-width: 1025px) {
    .offer-callout-simple {
      width: max-content;
    }
  }
  .offer-callout-simple {
    color: black;
    margin-bottom: 20px !important;
  }
</style>
{%- if product.tags contains 'BOAT250' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code:
    <strong>BOAT250</strong>
    at checkout & get
    <strong>Rs 250 off</strong>
    on your favourite boAt {{ product.title | split: 'BOAT ' | last | split: '-' | first }}.</p>
{%- elsif product.tags contains 'BOAT150' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code:
    <strong>BOAT150</strong>
    at checkout & get
    <strong>Rs 150 off</strong>
    on your favourite boAt {{ product.title | split: 'BOAT ' | last | split: '-' | first }}.</p>
{%- elsif product.tags contains 'BOAT400' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code:
    <strong>BOAT400</strong>
    at checkout & get
    <strong>Rs 400 off</strong>
    on your favourite boAt {{ product.title | split: 'BOAT ' | last | split: '-' | first }}.</p>
{%- elsif product.tags contains 'BOAT600' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code:
    <strong>BOAT600</strong>
    at checkout & get
    <strong>Rs 600 off</strong>
    on your favourite boAt {{ product.title | split: 'BOAT ' | last | split: '-' | first }}.</p>
{%- elsif product.tags contains 'BOAT20' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code:
    <strong>BOAT20</strong>
    at checkout & get
    <strong>20% off</strong>
    on your favourite boAt {{ product.title | split: 'BOAT ' | last | split: '-' | first }}.</p>
{%- elsif product.tags contains 'GRAB10' %}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Use Code 'GRAB10' & get
    <strong>FLAT 10% off.</strong>.</p>
{% elsif product.tags contains 'FLAT20' %}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code:
    <strong>FLAT20</strong>
    and get
    <strong>20% off</strong>
    on {{ product.title | split: 'BOAT ' | last | split: '-' | first }}.</p>
{% elsif product.tags contains 'PRO150' %}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply Code PRO150 & get
    <strong>FLAT ₹150 off</strong>
    on {{ product.title | split: 'BOAT ' | last | split: '-' | first }}.</p>
{% elsif product.tags contains 'FLAT10' %}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply Code FLAT10 & get
    <strong>10% off</strong>
    on your favourite {{ product.title | split: 'BOAT ' | last | split: '-' | first }}.</p>
{% elsif product.type contains 'Bassheads-test' %}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Get
    <strong>15% off</strong>
    on all Bassheads apply code:
    <strong>BASSHEADS15</strong>.</p>
{% elsif product.tags contains 'preorder' %}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Pre Order now at
    <strong>{{ bold_variant_price | money }}</strong>.</p>
{% elsif product.tags contains 'blaze-zest' %}
  <p class="offer-callout" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #333;padding: 10px;border-radius: 4px;color: #fff;border: 1px dashed;width: max-content;">
    <strong>Flat 25% Cashback using Zest</strong>
  </p>
{% elsif product.tags contains 'Sail2.0' %}
  <p class="offer-callout" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #333;padding: 10px;border-radius: 4px;color: #fff;border: 1px dashed;width: max-content;">
    <strong>Sail with boAt to avail up to 30% OFF</strong>
  </p>
{% elsif product.tags contains 'fool' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Apply code:
    <strong>NOTASCAM</strong>
    at checkout & get
    <strong>15% OFF</strong>
    on your favourite boAt {{ product.title | split: 'BOAT ' | last | split: '-' | first }}.</p>
{%- elsif product.tags contains 'payu-wave-lite' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">*Get Watch Wave Lite at
    <strong>₹1760*</strong>
    on using
    <strong>Pay with Rewards</strong>.</p>
{%- elsif product.tags contains 'BOATSAILL' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Get
    <strong>FLAT 15% off</strong>
    on {{ product.title | split: 'BOAT ' | last | split: '-' | first }} by using code
    <strong>BOATSAIL</strong>
  </p>
{%- elsif product.tags contains 'boatcult' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: darkgray;padding: 10px;border-radius: 4px;">Get FREE Cult.fit Membership & Workouts Plans</p>
{%- elsif product.tags contains 'ProductOFF' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Get a flat
    <strong>₹150 off</strong>
    by using code
    <strong>FLAT150</strong>
  </p>
{%- elsif product.tags contains 'Coupon-200|FLAT200' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Get a flat
    <strong>₹200 off</strong>
    by using code
    <strong>FLAT200</strong>
  </p>
{%- elsif product.tags contains 'BOAT500' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Get FLAT
    <strong>₹500 OFF</strong>
    on using code:
    <strong>BOAT500</strong>
  </p>
{%- elsif product.tags contains 'FLAT100' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Avail additional
    <strong>₹100 OFF</strong>
    by using code
    <strong>FLAT100</strong>
  </p>
{%- elsif product.tags contains 'BIG150' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Use code:
    <strong>BIG150</strong>
    & get EXTRA
    <strong>₹150</strong>
    off</p>
{%- elsif product.tags contains 'BIG250' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Use code:
    <strong>BIG250</strong>
    & get EXTRA
    <strong>₹250</strong>
    off</p>
{%- elsif product.tags contains 'BIG200' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Use code:
    <strong>BIG200</strong>
    & get EXTRA
    <strong>₹200</strong>
    off</p>
{%- elsif product.tags contains 'BIG100' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Use code:
    <strong>BIG100</strong>
    & get EXTRA
    <strong>₹100</strong>
    off</p>
{%- elsif product.tags contains 'BOAT100' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Use code:
    <strong>BOAT100</strong>
    & get EXTRA
    <strong>₹100</strong>
    off</p>
{%- elsif product.tags contains 'BOAT200' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Use code:
    <strong>BOAT200</strong>
    & get EXTRA
    <strong>₹200</strong>
    off</p>
{%- elsif product.tags contains 'BOAT300' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Use code:
    <strong>BOAT300</strong>
    & get EXTRA
    <strong>₹300</strong>
    off</p>
{%- elsif product.tags contains 'BIG300' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Use code:
    <strong>BIG300</strong>
    & get EXTRA
    <strong>₹300</strong>
    off</p>
{%- elsif product.tags contains 'AB1000' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Use code:
    <strong>AB1000</strong>
    & get EXTRA
    <strong>₹1000</strong>
    off</p>
{%- elsif product.tags contains 'XMAS200' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Use code:
    <strong>XMAS200</strong>
    & get EXTRA
    <strong>₹200</strong>
    off</p>
{%- elsif product.tags contains 'XMAS300' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Use code:
    <strong>XMAS300</strong>
    & get EXTRA
    <strong>₹300</strong>
    off</p>
{%- elsif product.tags contains 'XMAS250' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Use code:
    <strong>XMAS250</strong>
    & get EXTRA
    <strong>₹250</strong>
    off</p>
{%- elsif product.tags contains 'XMAS400' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Use code:
    <strong>XMAS400</strong>
    & get EXTRA
    <strong>₹400</strong>
    off</p>
{%- elsif product.tags contains 'XMAS500' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Use code:
    <strong>XMAS500</strong>
    & get EXTRA
    <strong>₹500</strong>
    off</p>
{%- elsif product.tags contains 'XMAS600' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Use code:
    <strong>XMAS600</strong>
    & get EXTRA
    <strong>₹600</strong>
    off</p>
  {%- elsif product.tags contains 'FLAT300' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Use code:
    <strong>FLAT300</strong>
    & get EXTRA
    <strong>₹300</strong>
    off</p>
{%- elsif product.tags contains 'XMAS700' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Use code:
    <strong>XMAS700</strong>
    & get EXTRA
    <strong>₹700</strong>
    off</p>
{%- elsif product.tags contains 'IND200' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Use code:
    <strong>IND200</strong>
    & get EXTRA
    <strong>₹200</strong>
    off</p>
{%- elsif product.tags contains 'prebooking' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Pre-order and get
    <strong>FLAT ₹200 OFF</strong>
    on STREAM edition products using code
    <strong>PRE200</strong>
  </p>
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">
    All pre-orders will be dispatched after 20th December
  </p>
  {%- elsif product.tags contains 'BIG400' -%}
  <p class="offer-callout-simple" style="font-size: 13px;margin: 10px 0 0;line-height: normal;background: #e1e1e1;padding: 10px;border-radius: 4px;">Use code:
    <strong>/</strong>
    & get EXTRA
    <strong>₹400</strong>
    off</p>
  {%- else -%}
{% endif %}