<style>

    .seo-new .price-container{ padding: 0px;}
    .popup_wrapper > span:not(:first-child) {border-top: 1px dashed white; }
    .popup_wrapper { background: #f3f3f3;border-radius: 10px; margin-top: 20px;}
    .popup_wrapper .offer-button-wrapper{
        margin: 0px auto;
        cursor: pointer;
    }

    span.axia_popup {
/*         border-bottom: 1px dashed grey; */
        padding: 8px 0px;
    }

    span.zest_popup {
        padding: 8px 0px;
    }

    .axio-popup, .zest-popup{
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      z-index: 10;
      cursor: pointer;
    }

    .axio-popup .modal-body-background {
        padding: 0px;
    }

    .axio-popup .modal-body-background .row {
        background: #1e1e1e;
    }

    .axio-popup .modal-content {
        background: transparent;
        border: 0;
    }

    .axio-popup .know_more_section {
        position: relative;
    }

    .axio-popup .know_more_section a {
        position: absolute;
        bottom: 42px;
        left: 40%;
        color: #b4e103;
        text-decoration: none;
    }

    .axio-popup .modal-dialog {
        max-width: 60%;
        margin: 0px auto !important;
        height: inherit;
    }

    body.modal-open .modal-backdrop.show.fade {
        display: none !important;
    }

    .popup_wrapper span {
        font-size: 10px;
        display: flex;
    }

    .popup_wrapper span img {
        height: 18px;
        margin-left: 10px;
    }

    .zest-popup .desktop_image{
        display: block;
    }
    .zest-popup .desktop_image .desktop_link{
        width: 50%;
        height: -webkit-fill-available;
        position: absolute;
        top: 0;
        left: 50%;
        display: block;
        z-index: 2;
    }
    .zest-popup .mobile_image{
        display: none;
    }
    .zest-popup .modal-dialog {
        max-width: 58%;
        margin: 0px auto;
    }
    .zest-popup .modal-dialog .modal-body {
        padding: 0px;
        position: relative;
    }

    .zest-popup .modal-body .custom_close_btn {
        position: absolute;
        top: 10px;
        left: 0px;
        z-index: 999;
        border: 1px solid #000;
        border-radius: 50% !important;
        height: 18px;
        width: 18px;
        padding: 0px 3px;
    }
    .zest-popup .modal-body .custom_close_btn span{
        font-size: 18px;
    }

    .axio-popup .heading_wrapper{text-align: center;}
    .axio-popup .popup-wrapper-box{padding: 36px 30px;}
    .axio-popup .popup-wrapper-box .heading_wrapper h1{font-size: 24px;font-weight: 600;color: #a0dd01;}
    .axio-popup .popup-wrapper-box .heading_wrapper h2{color: #fff;font-size: 22px;font-weight: 600;}
    .axio-popup .popup-wrapper-box .part_btn{text-align: center;color: #1e1e1e;margin: 20px 0px;}
    .axio-popup .popup-wrapper-box .part_btn span{background: #ebebeb;padding: 5px 8px;border-radius: 16px;font-size: 14px;font-weight: bold;}
    .axio-popup .part_box {
        display: flow-root;
        background-color: #242424!important;
        border-radius: 16px;
        padding: 20px 0px;
        background: radial-gradient(21.11% 47.29% at 70.14% 50.24%,rgba(191,167,191,.2) 0,rgba(191,167,191,0) 100%);
        border: 1px solid green;
        border-right: none;
        border-image: linear-gradient(to top left,green,rgba(10,2,34,0)) 1 60%;
    }
    .axio-popup .part_box .box {width: 33.33%;margin: 0px auto;float: left;display: grid;}
    .axio-popup .part_box .box img {margin: 0px auto 10px;}
    .axio-popup .part_box .box span {text-align: center;color: #fff;letter-spacing: .5px;font-size: 10px;}
    .axio-popup .part_box .box span.now_btn{background: #ebebeb; width: 50px; margin: 10px auto; color: #893ed9; font-weight: 700; font-size: 12px; border-radius: 20px; padding: 4px 10px;}
    .axio-popup .checkout{margin: 10px 0px;text-align: center;}
    .axio-popup .checkout p{color: #fff;font-size: 14px;font-weight: 600;}
    .axio-popup .close_popup{text-align: center;color: #bcbcbc;font-size: 12px;font-weight: bold;float: inherit;text-shadow: none;opacity: 1;}
    .olamoney_offer .offer-button-wrapper, .simpl_offer .offer-button-wrapper {display: block;padding: 4px 10px;}
  
    @media (min-width: 768px) {
        .axio_wrapper .modal-dialog {
            width: 60vw;
            margin: 30px auto;
        }
    }

    @media (max-width: 768px) {

        
        .zest-popup .desktop_image{
            display: none;
        }
        .zest-popup .mobile_image{
            display: block;
        }

        .axio-popup.show,
        .zest-popup.show {
            transform: translateY(10px);
        }

        .axio-popup .modal-dialog,
        .zest-popup .modal-dialog {
            max-width: 90%;
            margin: 0px auto;
        }
    }
</style>

<div class="popup_wrapper">
    <span data-toggle="modal" data-target="#axio_popup" class="axia_popup">
        <span class="offer-button-wrapper">
            3 interest-free EMIs of {{ product.price | divided_by: 3 | money }} with<span class="icon">
            <img src="https://pl-widget.capitalfloat.com/assets/images/w369Light/w369Logo.svg">
            <img src="https://pl-widget.capitalfloat.com/assets/images/w369Light/info.svg"></span>
        </span>
    </span>
    <span class="olamoney_offer">
        <span class="offer-button-wrapper">
            Additional 10% cashback up to ₹750 on first payment via 
            <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Ola_Money_PP_Logo-01.png?v=1663069358">
        </span>
    </span>
    <span class="simpl_offer">
        <span class="offer-button-wrapper">
            Additional 10% cashback up to ₹250 on paying via  
            <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/simpl_logo.png?v=1663069629">
        </span>
    </span>
    <span data-toggle="modal" data-target="#zestopopup" class="zest_popup d-none">
        <span class="offer-button-wrapper">
            PayLater and get upto ₹500 off 
            <span>
                <img src="https://assets.zestmoney.in/assets/widget/zest-logo-name-info.svg">
            </span>
        </span>
    </span>
</div>

<div class="modal fade axio-popup" id="axio_popup" tabindex="-1" role="dialog" aria-labelledby="axio_popupTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body modal-body-background">
                <div class="row">
                    <div class="col-md-7 popup-wrapper-box">
                        <div class="heading_wrapper">
                            <h1>Shop at boAt</h1>
                            <h2>Pay at your own pace, Interest free!</h2>
                        </div>
                        <div class="parts_wrapper">
                            <div class="part_btn">
                                <span>3 parts</span>
                            </div>
                            <div class="part_box">
                                <div class="box_1 box">
                                    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/1st_month.png?v=1661145817">
                                    <span class="price_btn">{{- product.price | divided_by: 3 | money_with_currency | remove: '.00' | replace: 'Rs.', '₹' -}}</span>
                                    <span class="now_btn">now</span>
                                </div>
                                <div class="box_2 box">
                                    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/2nd_month.png?v=1661145817">
                                    <span class="price_btn">{{- product.price | divided_by: 3 | money_with_currency | remove: '.00' | replace: 'Rs.', '₹' -}}</span>
                                </div>
                                <div class="box_3 box">
                                    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/3rd_month.png?v=1661145817">
                                    <span class="price_btn">{{- product.price | divided_by: 3 | money_with_currency | remove: '.00' | replace: 'Rs.', '₹' -}}</span>
                                </div>
                            </div>
                            <div class="checkout">
                                <p>Get instant approval. Checkout using</p>
                                <div class="payment_options">
                                    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/payment_methods.png?v=1661146415">
                                </div>
                            </div>
                            <div class="close_popup close" data-dismiss="modal" aria-label="Close">
                                <a href="">Go back</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 p-0 know_more_section">
                        <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/right_img.png?v=1661145817"
                            width="100%" />
                        <a href="{{ section.settings.axio_link }}" target="_blank">Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade zest-popup" id="zestopopup" tabindex="-1" role="dialog" aria-labelledby="zestopopupTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body ">
                <button type="button" class="close custom_close_btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-12 p-0 desktop_image">
                        <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/zest_desktop_revised.png?v=1660907452" alt="" width="100%"/>
                        <a href="{{ section.settings.zest_link }}" target="_blank" class="desktop_link"></a>
                    </div>
                    <div class="col-md-12 p-0 mobile_image">
                        <a href="{{ section.settings.zest_link }}" target="_blank">
                            <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/zest_mobile_revised.png?v=1660907452" alt="" width="100%" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>