{% assign quinn_playlists = shop.metafields.quinn_playlists %}
{% assign settings = shop.metafields.quinn_settings.global %}

{% assign page_type = template.name %}
{% assign page_handle = '' %}
{% assign card_id = 'quinn-cards-layer-' | append: layer %}

{% if page_type == 'collection' %}
  {% assign page_handle = collection.handle %}
{% elsif page_type == 'product' %}
  {% assign page_handle = product.handle %}
{% elsif page_type == 'page' %}
  {% assign page_handle = page.handle %}
{% elsif page_type == 'index' %}
  {% assign page_handle = 'index' %}
{% elsif page_type == 'blog' %}
  {% assign page_handle = blog.handle %}
{% endif %}

{% assign playlist = nil %}
{% for current_playlist in quinn_playlists %}
  {% assign found_data_map = false %}
  {% assign exclude_page = false %}

  {% for page in current_playlist[1].exclude_pages %}
    {% if page.type == page_type and page.handle == page_handle %}
       {% assign exclude_page = true %}
       {% break %}
    {% endif %}
    {% if page.type == page_type and page.handle == 'quinn_all' %}
       {% assign exclude_page = true %}
       {% break %}
    {% endif %}
  {% endfor %}

  {% if exclude_page %}
    {% continue %}
  {% endif %}

  {% for page in current_playlist[1].pages %}
    {% if page.type == 'all' %}
       {% assign found_data_map = true %}
       {% break %}
    {% endif %}
    {% if page.type == page_type and page.handle == page_handle %}
       {% assign found_data_map = true %}
       {% break %}
    {% endif %}
    {% if page.type == page_type and page.handle == 'quinn_all' %}
       {% assign found_data_map = true %}
       {% break %}
    {% endif %}
  {% endfor %}

  {% if found_data_map %}
    {% if current_playlist[1].type == 'cards' %}
      <div id='{{ card_id }}'>
        <span></span>
      </div>
      {% assign playlist = current_playlist[1] %}
	  {% break %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign visibility_desktop = 0 %}
{% assign visibility_mobile = 0 %}

{% assign visibility = playlist.settings.visibility | default: settings.cards.visibility %}
{% if visibility == 'desktop' %}
    {% assign visibility_desktop = 1 %}
    {% assign visibility_mobile = 0 %}
  {% elsif visibility == 'mobile' %}
    {% assign visibility_desktop = 0 %}
    {% assign visibility_mobile = 1 %}
  {% else %}
    {% assign visibility_desktop = 1 %}
    {% assign visibility_mobile = 1 %}
  {% endif %}

{% assign height_desktop = 0 %}
{% assign height_mobile = 0 %}

{% assign desktop_card_size = playlist.settings.desktop_card_size | default: settings.cards.desktop_card_size %}
{% assign mobile_card_size = playlist.settings.mobile_card_size | default: settings.cards.mobile_card_size %}
{% assign hide_product_details = playlist.settings.hide_product_details | default: settings.cards.hide_product_details %}
{% assign card_details_position = playlist.settings.card_details_position | default: settings.cards.card_details_position %}

{% if desktop_card_size == 'small' %}
  {% if hide_product_details %}
    {% assign height_desktop = 291 %}
  {% else %}
    {% if card_details_position == 'inside' %}
      {% assign height_desktop = 356 %}
    {% else %}
      {% assign height_desktop = 415 %}
    {% endif %}
  {% endif %}

{% else %}
  {% if hide_product_details %}
    {% assign height_desktop = 418 %}
  {% else %}
    {% if card_details_position == 'inside' %}
      {% assign height_desktop = 480 %}
    {% else %}
      {% assign height_desktop = 550 %}
    {% endif %}
  {% endif %}
{% endif %}


{% if mobile_card_size == 'small' %}
  {% if hide_product_details %}
    {% assign height_mobile = 269 %}
  {% else %}
    {% if card_details_position == 'inside' %}
      {% assign height_mobile = 308 %}
    {% else %}
      {% assign height_mobile = 370 %}
    {% endif %}
  {% endif %}

{% else %}
  {% if hide_product_details %}
    {% assign height_mobile = 365 %}
  {% else %}
    {% if card_details_position == 'inside' %}
      {% assign height_mobile = 420 %}
    {% else %}
      {% assign height_mobile = 470 %}
    {% endif %}
  {% endif %}
{% endif %}

{% assign margin_top = playlist.settings.margin_top | default: settings.cards.margin_top %}
{% assign margin_bottom = playlist.settings.margin_bottom | default: settings.cards.margin_bottom %}

<style>
  #{{ card_id }} {
    min-height: {{ height_desktop | plus: margin_top | plus: margin_bottom | times: visibility_desktop }}px;
  }

  @media (max-width: 500px) {
    #{{ card_id }} {
        min-height: {{ height_mobile | plus: margin_top | plus: margin_bottom | times: visibility_mobile }}px;
      }
  }
</style>


