<div id='quinn-cards-2' class="quinn_cards"></div>
<style>
@media (min-width: 501px) {
  #quinn-cards-{{ section.settings.layer_number }}.quinn_cards {
    margin: {{ section.settings.card_margins_desktop }};
    padding: {{ section.setting.card_padding_desktop }};
    scroll-padding: {{ section.setting.card_padding_desktop }};
  }
  .quinn_card:not(:last-of-type){
    margin-right: {{ section.setting.card_spacing_desktop }}px;
  }
  .quinn-branding{
    padding: {{ section.setting.card_padding_desktop }};
    padding-top: 0;
    padding-bottom: 0
  }
}
@media (max-width: 500px) {
  #quinn-cards-{{ section.settings.layer_number }}.quinn_cards {
    margin: {{ section.setting.card_margins_mobile }};
    padding: {{ section.setting.card_padding_mobile }};
    scroll-padding: {{ section.setting.card_padding_mobile }};
  }
  .quinn_card:not(:last-of-type){
    margin-right: {{ section.setting.card_spacing_mobile }}px;
  }
  .quinn-branding{
    padding: {{ section.setting.card_padding_mobile }};
    padding-top: 0;
    padding-bottom: 0
  }
}
</style>
