
<!-- Find your match section starts here -->
<div class="container our_story_section">
  <div class="row content_row">
    <div class="col-md-7" >
      <div class="content_wrapper">
          <h2>{{- section.settings.section-Heading -}}</h2>
          <p class="story_desc">{{- section.settings.description -}}</p>
          <div class="story_signature">  
              {{- section.settings.designation_info -}}
              <img class="sign_img" src="{{ section.settings.sign_img | img_url: '' }}">
          </div>
      </div>
    </div>
    <div class="col-md-5 cmo_img_section">
      <div class="cmo_img_wrapper">
        {% comment %}<img class="bg_overlay_img" src="{{section.settings.bg_overlay | img_url: ''}}">{% endcomment %}
        <img class="bg_front_img" src="{{section.settings.main_img | img_url: ''}}">
      </div>
    </div>
  </div>
</div>

<!-- Find your match section starts here -->

<script>
  jQuery(document).ready(function(){
    setOverlayHeight();
  });

  jQuery( window ).resize(function() {
    setOverlayHeight();
  });

  function setOverlayHeight(){
    var front_img = jQuery('.our_story_section .cmo_img_wrapper .bg_front_img').height();
    jQuery('.our_story_section .content_row .cmo_img_wrapper .bg_overlay_img').css('height', front_img);
  }
</script>

{% schema %}
  {
    "name": "Our Story",
    "settings": [
      {
        "type": "text",
        "id": "section-Heading",
        "label": "Section Heading"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "image_picker",
        "id": "bg_overlay",
        "label": "Background Overlay Image"
      },
      {
        "type": "image_picker",
        "id": "main_img",
        "label": "Main Image"
      },
      {
        "type": "image_picker",
        "id": "sign_img",
        "label": "Signature Image"
      },
      {
        "type": "html",
        "id": "designation_info",
        "label": "Designation Info"
      }
    ],
	"presets": [
      {
        "name": "Our Story",
        "category": "Image",
        "settings": {
        }
      }
    ]
  }
{% endschema %}