<!DOCTYPE html>
<html>
  <head>
    {% comment %}
    {{ content_for_header }}
    {% endcomment %}
  <link rel="stylesheet" href="{{ 'theme-min.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'homepage.css' | asset_url }}">
  </head>
  <body>
    <div id="main" role="main" class="anchor">
      {{ content_for_layout }}
    </div>
    <script src="{{ 'theme.min.js' | asset_url }}" defer></script>        
    <script src="{{ 'custom.js' | asset_url }}" defer></script>
  </body>
</html>
