{%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
  NOTE TO DEVELOPERS: welcome to Focal theme! We hope that you will enjoy editing
  this theme as much as we did for developing it. We have put a lot of work to
  make this theme as developer friendly as possible by offering you hooks to
  integrate into critical parts of the theme. You will find the complete technical
  documentation (including all events, dependencies...) in the "custom.js" file,
  located in the Assets folder.
  ------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<!DOCTYPE html>

{%- assign direction = 'ltr' -%}
{%- case request.locale.iso_code -%}
  {%-
      when 'ar' or 'arc' or 'dv' or 'fa' or 'ha' or 'he' or 'kwh' or 'ks' or 'ku' or 'ps'
    or 'ur' or 'yi' -%}
  {%- assign direction = 'rtl' -%}
{%- endcase -%}

<html
  class="no-js"
  lang="{{ request.locale.iso_code }}"
  dir="{{ direction }}"
  draggable="false">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.header_background }}">
    {%- comment -%}
      Few prefech to increase performance on commonly
      used third-parties
    {%- endcomment -%}
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>

    {%- unless settings.heading_font.system? and settings.text_font.system? -%}
      <link
        rel="preconnect"
        href="https://fonts.shopifycdn.com"
        crossorigin>
    {% endunless %}
    <link
      rel="dns-prefetch"
      href="https://www.google.com"
      crossorigin>
    <link
      rel="dns-prefetch"
      href="https://www.googletagmanager.com"
      crossorigin>
    <link
      rel="dns-prefetch"
      href="https://d2r1yp2w7bby2u.cloudfront.net"
      crossorigin>
    <link
      rel="dns-prefetch"
      href="https://config1.veinteractive.com"
      crossorigin>
    <link
      rel="dns-prefetch"
      href="https://wzrkt.com"
      crossorigin>
    <link
      rel="dns-prefetch"
      href="https://www.googleadservices.com"
      crossorigin>
    <link
      rel="dns-prefetch"
      href="https://connect.facebook.net"
      crossorigin>
    <link
      rel="dns-prefetch"
      href="https://www.google.co.in"
      crossorigin>
    <link
      rel="dns-prefetch"
      href="https://pdp.gokwik.co"
      crossorigin>
    <link rel="dns-prefetch"
      href="https://analytics.gokwik.co"
      crossorigin>

    {%- comment -%}Preload important resources{%- endcomment -%}
    <link
      rel="preload"
      as="style"
      href="{{ 'quick-theme.css' | asset_url }}">
    <link
      rel="preload"
      as="script"
      href="{{ 'quick-theme.js' | asset_url }}">
    <link
      rel="preload"
      as="script"
      href="{{ 'quick-jquery.js' | asset_url }}">
    <title>
      {% if page_title == blank -%}
        {{- shop.name -}}
      {%- else -%}
        {{- page_title -}}
        {%- if current_page != 1 %}
          &ndash; {{ 'general.meta.page' | t: page: current_page -}}
        {%- endif -%}
      {%- endif %}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link
        rel="shortcut icon"
        href="{{ settings.favicon | img_url: '96x96' }}"
        type="image/png">
    {%- endif -%}
    {% render 'css-variables', direction: direction %}
    {% render 'js-variables', direction: direction %}
    {% render 'starter-css' %}
    <link rel="stylesheet" href="{{ 'quick-theme.css' | asset_url }}">
    <script src="{{ 'quick-jquery.js' | asset_url }}"></script>
    <!-- Google Tag Manager -->
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({"gtm.start": new Date().getTime(), event: "gtm.js"});
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer"
            ? "&l=" + l
            : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-BZTQ6ZT");
    </script>
    <!-- Google Tag Manager Ends -->
    <!-- Global Site Tag (gtag.js) - Google AdWords: 816285276 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-816285276"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "AW-816285276", {send_page_view: false});
    </script>
    <!-- Global Site Tag (gtag.js) - Google AdWords: 816285276 Ends -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6LGXJKGVE2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-6LGXJKGVE2');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics Ends -->
    {{ content_for_header }}
    {% render 'clevertap' %}
  </head>
  <body class="no-focus-outline {{ feature_classes }}" data-instant-allow-query-string>
    {%- section 'header' -%}
    <div
      id="main"
      role="main"
      class="anchor">
      {{ content_for_layout }}
    </div>
    <style>
      .quick-checkout .page-content {
        margin: 0;
        max-width: 100%;
        padding: 0;
      }
      .quick-checkout img {
        width: 100%;
      }
      .quick-checkout .container {
        background-color: #fff;
        color: #000;
        padding: 2%;
        min-width: 100%;
      }
      .algolia-header-search-input {
        display: none;
      }
    </style>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-BZTQ6ZT"
        height="0"
        width="0"
        style="display: none; visibility: hidden"></iframe>
    </noscript>

    <!-- End Google Tag Manager (noscript) -->
    <script src="{{ 'quick-theme.js' | asset_url }}" defer></script>
    {%- section 'footer' -%}
    {% render 'gokwik' %}
  </body>
</html>