<style>
  :root {
    --enable-sticky-announcement-bar: {% if section.settings.announcement_bar_position == 'non_sticky' or section.settings.announcement_bar_position == 'sticky_desktop' %}0{% else %}1{% endif %};
  }
  #shopify-section-announcement-bar {z-index: 10 !important;margin-bottom:0!important;}
  #shopify-section-{{ section.id }} {
    --heading-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
    --text-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
    --primary-button-background: {{ section.settings.button_background.red }}, {{ section.settings.button_background.green }}, {{ section.settings.button_background.blue }};
    --primary-button-text-color: {{ section.settings.button_text_color.red }}, {{ section.settings.button_text_color.green }}, {{ section.settings.button_text_color.blue }};
    {% comment %} --section-background: {{ section.settings.background.red }}, {{ section.settings.background.green }}, {{ section.settings.background.blue }}; {% endcomment %}
    z-index: 5; /* Make sure it goes over header */

    {%- if section.settings.announcement_bar_position == 'sticky' or section.settings.announcement_bar_position == 'sticky_mobile' -%}
      position: -webkit-sticky;
      position: sticky;
    {%- else -%}
      position: relative;
    {%- endif -%}

    top: 0;
    background: #eff4f7;
  }

  @media screen and (min-width: 741px) {
    :root {
      --enable-sticky-announcement-bar: {% if section.settings.announcement_bar_position == 'non_sticky' or section.settings.announcement_bar_position == 'sticky_mobile' %}0{% else %}1{% endif %};
    }

    #shopify-section-{{ section.id }} {
      {%- if section.settings.announcement_bar_position == 'sticky' or section.settings.announcement_bar_position == 'sticky_desktop' -%}
        position: -webkit-sticky;
        position: sticky;
      {%- else -%}
        position: relative;
      {%- endif -%}
    }
  }
</style>
  <section id="shopify-section-{{ section.id }}">
    <announcement-bar class="announcement-bar">

      <div class="announcement-bar__list">

          <announcement-bar-item class="announcement-bar__item" {{ section.shopify_attributes }}>
            {%- case section.settings.announcement_text_size -%}
              {%- when 'small' -%}
                {%- assign text_size_class = 'text--xsmall' -%}
              {%- when 'normal' -%}
                {%- assign text_size_class = 'text--small' -%}
              {%- when 'large' -%}
                {%- assign text_size_class = '' -%}
            {%- endcase -%}

            {% assign product = all_products[section.settings.featured_product] %}
          {% if section.settings.featured_product != blank and product.available %}
          <a class="announce" href="{{- section.settings.text1 | split: ',' | last -}}" >
            <div class="announcement-bar__message {{ text_size_class }}">
                <p class="{%- if section.settings.show_timer -%}m-0{%- endif -%}">{{- section.settings.text1 | split: ',' | first -}}</p>
                {% if section.settings.show_timer %}
                  {% render 'countdown-timer', banner_title: section.settings.timer_title , banner_end_date: section.settings.end_date , time_background: section.settings.timer_background , time_inline: section.settings.timer_inline %}
                {% endif %}
            </div>
          </a>
          {% else %}
          <a class="announce" href="{{- section.settings.text2 | split: ',' | last -}}" >
            <div class="announcement-bar__message {{ text_size_class }}">
                <p class="{%- if section.settings.show_timer -%}m-0{%- endif -%}">{{- section.settings.text2 | split: ',' | first -}}</p>
                {% if section.settings.show_timer %}
                  {% render 'countdown-timer', banner_title: section.settings.timer_title , banner_end_date: section.settings.end_date , time_background: section.settings.timer_background , time_inline: section.settings.timer_inline %}
                {% endif %}
            </div>
          </a>
          {% endif %}
          </announcement-bar-item>
      </div>

    
    </announcement-bar>
  </section>

 {% comment %} 
  <script>
    document.documentElement.style.setProperty('--announcement-bar-height', document.getElementById('shopify-section-{{ section.id }}').clientHeight + 'px');
  </script>
 {% endcomment %}

{% schema %}
{
  "name": "Announcement bar",
  "class": "shopify-section--announcement-bar announcement-non-sticky",
  "settings": [
    {
      "type": "product",
      "id": "featured_product",
      "label": "Featured Product"
    },
    {
      "type": "html",
      "id": "text1",
      "label": "Text , url",
      "default": "Announce something here, Button link"
    },
    {
      "type": "html",
      "id": "text2",
      "label": "fallback text , fallback url",
      "info": "Announce something here, Button link(fallback if featured Featured Product is left blank or out of stock)"
    },
    {
      "type": "select",
      "id": "announcement_bar_position",
      "label": "Position",
      "options": [
        {
          "value": "non_sticky",
          "label": "Non sticky"
        },
        {
          "value": "sticky_desktop",
          "label": "Sticky on desktop only"
        },
        {
          "value": "sticky_mobile",
          "label": "Sticky on mobile only"
        },
        {
          "value": "sticky",
          "label": "Sticky everywhere"
        }
      ],
      "default": "non_sticky"
    },
    {
      "type": "select",
      "id": "announcement_text_size",
      "label": "Text size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "normal"
    },
    {
      "type": "checkbox",
      "id": "show_timer",
      "label": "Show Timer",
      "default": false
    },
    {
      "type": "text",
      "id": "timer_title",
      "label": "timer_title"
    },
    {
      "type": "color",
      "id": "timer_background",
      "label": "timer_background"
    },
    {
      "type": "checkbox",
      "id": "timer_inline",
      "label": "get_timer_inline"
    },
    {
      "type": "text",
      "id": "end_date",
      "label": "timer End Date (Ex: Apr 30, 2022)"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto rotate between messages"
    },
    {
      "type": "range",
      "id": "cycle_speed",
      "min": 3,
      "max": 20,
      "step": 1,
      "unit": "sec",
      "label": "Change message every",
      "default": 5
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#1e2d7d"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background",
      "default": "#1e2d7d"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "Announcement bar"
    }
  ]
}
{% endschema %}