{% if article.image and section.settings.show_featured_image %}
<div class="article-image align-center {% unless settings.use_fullwidth_layout %}container{% endunless %}">{% include 'responsive-image', image: article.image %}</div>
{% endif %}
<div class="container">
    <div class="page-header cf">
      <h1 class="majortitle">{{ article.title }}</h1>
    </div>
</div><!-- /.pagetitle -->
<div class="article">
  <div class="container">
    <div class="user-content spaced-row">
      {{ article.content }}
    </div>
    <div class="meta">
      <span class="iconmeta time">
        {% if section.settings.show_date %}
          {{ article.published_at | date: format: 'month_date_year' }}
        {% endif %}
        {% if section.settings.show_author %}
          {% if section.settings.show_date %}&mdash;{% endif %}
          <span class="author">{{ article.author }}</span>
        {% endif %}
      </span>
      {% if section.settings.show_article_tags %}
      {% capture tag_markup %}
      <div class="iconmeta tags">
        <span class="label">{{ 'blogs.article.tags' | t }}:</span>
        {% for tag in article.tags %}
        {% unless tag contains 'meta-' %}
        {{ tag | link_to_tag: tag }}
        {% endunless %}
        {% endfor %}
      </div>
      {% endcapture %}
      {% if tag_markup contains '</a>' %}{{ tag_markup }}{% endif %}
      {% endif %}
    </div>
    <div class="article-newsletter" style="background: #1c1c1c;padding: 20px 10px;margin:20px auto;max-width:750px;-webkit-box-shadow: 0px 2px 8px 1px #000;-moz-box-shadow: 0px 2px 8px 1px #000;box-shadow: 0px 2px 8px 1px #000;">
      <div class="row">
        <div class="col-md-6 text-on-left">
          <p style="font-size: 13px;margin: 0;color:#999!important;font-style: italic;">Liked this article? Subscribe for more quirky reads.</p>
        </div>
        <div class="col-md-6 form-on-right">
          <div class="article-news-form">
            <div class="form-group" style="margin: 0;">
              <div class="myform" style="display: flex;margin: 0;">
              	<input autocomplete="new-email" style="max-width: 200px;font-size: 12px;" type="email" name="email" id="article_email" placeholder="Email Address">
              <button style="border-radius: 5px;background: transparent;border-color: #ff0000;color: #fff;" class="button news-btn" type="submit">SUBSCRIBE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lightly-spaced-row">
      {% include 'social-sharing' with article %}
    </div>
    <div class="RelatedPosts">
      <p class="section_title">What's Trending</p>
      {% assign currentHandle = article.handle %}
      {% assign articlesFound = 0 %}
      <div class="related-article-list">
        {% for addin in blogs[blog.handle].articles %}
          {% unless addin.handle == currentHandle %}
           <div class="related-article">
             <a href="{{ addin.url }}">
              <img class="lazyload" data-src="{{ addin.image | img_url: '300x' }}" alt="article" />
             </a>
             {% if section.settings.show_date %}
             	<p class="excerpt">{{ addin.published_at | date: format: 'month_date_year' }}</p>
             {% endif %}
             <p class="addin_title"><a href="{{ addin.url }}">{{ addin.title }}</a></p>
           </div>
           {% assign articlesFound = articlesFound |plus: 1 %}
           {% if articlesFound == 3 %}{% break %}{% endif %}
          {% endunless %}
        {% endfor %}
      </div>
    </div>
    <div class="pagination-row pagination-row-tabular">
      <div class="inner">
        <span class="prev">
          {% if blog.previous_article %}
          <a href="{{ blog.previous_article }}"><span class="icon-small icon-natcol">{% include 'svg-chevron-left' %}</span> <span>{{ 'blogs.article.older_post' | t }}</span></a>
          {% endif %}
        </span>
        <span class="back">{{ 'blogs.article.back_to_blog' | t: blog: blog.title | link_to: blog.url }}</span>
        <span class="next">
          {% if blog.next_article %}
          <a href="{{ blog.next_article }}"><span>{{ 'blogs.article.newer_post' | t }}</span> <span class="icon-small icon-natcol">{% include 'svg-chevron-right' %}</span></a>
          {% endif %}
        </span>
      </div>
    </div>
  </div><!-- /.container -->
</div><!-- /.article -->

<style>
  input#article_email:focus::-webkit-input-placeholder {color:transparent!important;}
  .RelatedPosts {margin: 20px 0;clear: both;overflow: hidden;}
  .related-article {
      width: 33%;
      display: inline-block;
      float: left;
      padding: 0 10px;
      margin: 10px 0;
  }
  .related-article a {display:block;}
  .related-article img {display:block;width: 100%;}
  .section_title {
  	text-align: center;
    font-weight: bold;
    font-size: 25px;
  }
  .addin_title {
  	font-size: 13px;
    line-height: normal;
    font-weight: bold;
  }
  .addin_title a {margin-top:10px;}
  .addin_title a:hover {text-decoration:none;color:#ff0000;}
  .excerpt {
  	font-size: 12px;
    line-height: normal;
    margin-top:12px;
  }
  .thankyou-msg-news,
  .error-msg-news, 
  .aluser-msg-news {color:#ff0000;font-size:12px;}
  @media screen and (max-width:767px) {
    .related-article-list {display:flex;overflow-x:auto;}
    .related-article-list .related-article {min-width:280px;}
    .text-on-left {margin-bottom:15px;}
    .form-on-right {padding: 0 0 0 5px!important;}
  }
  
  {% if article.tags contains 'meta-lightbg' %}
  .article >.container {max-width: 2000px;}
  .article >.container .user-content  {background: #ededed;padding: 20px;}
  .template-article .user-content.spaced-row,
  .template-article #content .user-content.spaced-row p,
  .template-article #content .user-content.spaced-row span{color: #000!important}
  {% endif %}
  
</style>

<script>
$(document).ready(function(){
  $(".news-btn").click(function(){var e=document.getElementById("article_email").value;""!==e&&/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/.test(e)?localStorage.getItem("userEmailIdNews")===e?$(".form-group").append('<p class="aluser-msg-news">You are already subscribed!!</p>'):(localStorage.setItem("userEmailIdNews",e),clevertap.onUserLogin.push({Site:{Email:e,"MSG-email":!0}}),clevertap.event.push("Newsletter Subscribed",{Email:e,Source:"Articles Page"}),$(".form-group").append('<p class="thankyou-msg-news">Thank You for subscribing. Please check your inbox!</p>')):$(".form-group").append('<p class="error-msg-news">Please enter a valid email Id!</p>');setTimeout(function(){$(".error-msg-news, .thankyou-msg-news, .aluser-msg-news").remove()},5e3)});
});
   
</script>

{% schema %}
  {
    "name": "Article pages",
    "settings": [
	  {
        "type": "checkbox",
        "id": "show_featured_image",
        "label": "Show featured image",
        "default": true
      },
	  {
        "type": "checkbox",
        "id": "show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "label": "Show author",
        "default": true
      },
	  {
        "type": "checkbox",
        "id": "show_article_tags",
        "label": "Show article tags",
        "default": true
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
