<div class="container-fluid cf mt-4 section-id-{{ section.id }} boat-multiboard" data-section-type="custom-row">
  <div class="multiboard-inner">
    <div class="row multiboard-row">
      
    </div>
  </div>
</div>
<style>
  #shopify-section-16063028247336b92c {
    margin:20px 0 50px;
    clear: both;
    overflow: hidden;
  }
  .inner-multiboard-grid {
    position: relative;
    transition: all .5s ease-in-out;
    padding: 0;
  }
  .inner-multiboard-grid img {display: block;}
  .inner-multiboard-grid::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #0000001a;
    transition: all .9s ease-in-out;
    z-index: 9;
  }
  .inner-multiboard-grid:hover::before {
    background: rgba(35,31,32,.89);
  }
  .grid-out-content {
  	position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 12px;
    text-align: center;
    z-index: 99;
  }
  .inner-content-box {
  	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 12px;
    text-align: center;
    z-index: 99;
  }
  .inner-content-box a {
  	display: block;
    text-decoration: none;
  }
  .desc-box p {margin: 0;}
  .explore-more {
  	position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 99;
  }
  .explore-more a:hover {text-decoration: none;}
  span.plus-icon {
  	font-size: 30px;
    font-weight: 100;
    display: none;
  }
  @media screen and (max-width: 767px) {
    .desc-box p {font-size: 13px;line-height: 1.4;}
    .inner-content-box {padding: 0;}
    .explore-more {bottom: 10px;right:10px;}
  }
</style>
<script>
$(document).ready(function() {
  	$('.multiboard-row').html(`<div class="col-12 multiboard-headings launch-head trendsetter hide">
        <h2 class="text-white">ilyinoatd</h2>
      </div>
      <div class="col-md-6 multiboard-grid">
        <div class="row inner-row">
          <div class="col-12 inner-multiboard-grid">
            <div class="explore-more">
              <a href="{{section.settings.block_1_url}}">
                <span class="plus-icon text-white">+</span>
              </a>
            </div>
            {% include 'responsive-image', image: section.settings.block_1_img %}
            <div class="grid-out-content">
              <h2 class="title-h2 text-white">Sports</h2>
            </div>
            <div class="inner-content-box hide text-center">
              <a href="{{section.settings.block_1_url}}">
            	<h2 class="title-h2 text-white">Sports</h2>
                <div class="desc-box text-white">
                  <p> Water and sweat resistant, light and secure fit makes them ideal for outdoor sports or workouts.</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-12 inner-multiboard-grid">
            <div class="explore-more">
              <a href="{{section.settings.block_2_url}}">
                <span class="plus-icon text-white">+</span>
              </a>
            </div>
          	{% include 'responsive-image', image: section.settings.block_2_img %}
            <div class="grid-out-content">
              <h2 class="title-h2 text-white">Travel</h2>
            </div>
            <div class="inner-content-box hide text-center">
              <a href="{{section.settings.block_2_url}}">
            	<h2 class="title-h2 text-white">Travel</h2>
                <div class="desc-box text-white">
                  <p>Comfortable for long flights and drives with ergonomic, snug fit and long lasting battery life</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 multiboard-grid">
        <div class="row inner-row">
          <div class="col-12 inner-multiboard-grid">
            <div class="explore-more">
              <a href="{{section.settings.block_3_url}}">
                <span class="plus-icon text-white">+</span>
              </a>
            </div>
          	{% include 'responsive-image', image: section.settings.block_3_img %}
            <div class="grid-out-content">
              <h2 class="title-h2 text-white">Fashion</h2>
            </div>
            <div class="inner-content-box hide text-center">
              <a href="{{section.settings.block_3_url}}">
            	<h2 class="title-h2 text-white">Fashion</h2>
                <div class="desc-box text-white">
                  <p>Designs that keep up with the latest trends with vibrant & unique colours.</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-6 inner-multiboard-grid">
            <div class="explore-more">
              <a href="{{section.settings.block_4_url}}">
                <span class="plus-icon text-white">+</span>
              </a>
            </div>
          	{% include 'responsive-image', image: section.settings.block_4_img %}
            <div class="grid-out-content">
              <h2 class="title-h2 text-white">All Time Favourites</h2>
            </div>
            <div class="inner-content-box hide text-center">
              <a href="{{section.settings.block_4_url}}">
            	<h2 class="title-h2 text-white">All Time Favourites</h2>
                <div class="desc-box text-white">
                  <p>Your most favourites at the most incredible prices.</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-6 inner-multiboard-grid">
            <div class="explore-more">
              <a href="{{section.settings.block_5_url}}">
                <span class="plus-icon text-white">+</span>
              </a>
            </div>
          	{% include 'responsive-image', image: section.settings.block_5_img %}
            <div class="grid-out-content">
              <h2 class="title-h2 text-white">WFH</h2>
            </div>
            <div class="inner-content-box hide text-center">
              <a href="{{section.settings.block_5_url}}">
            	<h2 class="title-h2 text-white">WFH</h2>
                <div class="desc-box text-white">
                  <p>Comfortable ear wear suitable for working from home, with battery life that easily lasts an entire day full of calls.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>`);
      $(".inner-multiboard-grid").hover(function(){
          $(this).find(".grid-out-content").hide();
          $(this).find(".inner-content-box").fadeIn();
          $(this).find("span.plus-icon").fadeIn();
      }, function(){
          $(this).find(".grid-out-content").fadeIn();
          $(this).find(".inner-content-box").hide();
          $(this).find("span.plus-icon").fadeOut();
      })
      var userSource = '';
          if(navigator.userAgent.includes('Mobile')) userSource = 'Mobile';
          else if(navigator.userAgent.includes('iPad')) userSource = 'Tablet';
          else userSource = 'Desktop';
      $('.boat-multiboard').on('click', function(){
        clevertap.event.push("Moodboard section clicked", {"userSource": userSource});
      });
  })
</script>
{% schema %}
  {
    "name": "boat Multiboard",
    "settings": [
		{
            "type": "image_picker",
            "id": "block_1_img",
            "label": "Block 1 Image"
        },
		{
			"type": "url",
            "id": "block_1_url",
            "label": "Block 1 URL"
		},
		{
            "type": "image_picker",
            "id": "block_2_img",
            "label": "Block 2 Image"
        },
		{
			"type": "url",
            "id": "block_2_url",
            "label": "Block 2 URL"
		},
		{
            "type": "image_picker",
            "id": "block_3_img",
            "label": "Block 3 Image"
        },
		{
			"type": "url",
            "id": "block_3_url",
            "label": "Block 3 URL"
		},
		{
            "type": "image_picker",
            "id": "block_4_img",
            "label": "Block 4 Image"
        },
		{
			"type": "url",
            "id": "block_4_url",
            "label": "Block 4 URL"
		},
		{
            "type": "image_picker",
            "id": "block_5_img",
            "label": "Block 5 Image"
        },
		{
			"type": "url",
            "id": "block_5_url",
            "label": "Block 5 URL"
		}
	],
	"presets": [
      {
        "name": "boat Multiboard",
        "category": "Image",
        "settings": {
        },
        "blocks": []
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
	

{% endjavascript %}
