{%- if section.settings.enable_infinite_scroll -%}
<div class="page-load-status">
  <p class="infinite-scroll-request">{{section.settings.status_info}}</p>
  <p class="infinite-scroll-last">{{section.settings.status_end}}</p>
  <p class="infinite-scroll-error">No more pages to load</p>
</div>
{%  assign container_selector = section.settings.container_selector %}
{%  assign path = section.settings.path | default: ".pagination a" %}
{%  assign append = section.settings.append | default: false %}
{%  assign hide_nav = section.settings.hide_nav | default: ".pagination"  %}
{%  assign status = section.settings.status | default: ".page-load-status" %}
<script>
  var isSettings = '{ "container" : "{{container_selector}}", "path" : "{{path}}", "append" : "{{append}}", "hideNav" : "{{hide_nav}}", "status" : "{{status}}" }';
</script>
<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js" defer></script>
<script src="{{ 'infinite-scroll.js' | asset_url }}" defer="defer"></script>
<style>
  .page-load-status{display:none;text-align:center;margin:30px auto 10px;padding:5px;max-width:300px;background:#eee;}
  .page-load-status p{margin:0;padding:5px;}
</style>
{%- endif %}
{% schema %}
  {
    "name": "Infinite Scroll",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_infinite_scroll",
        "label": "Enable Infinite Scroll",
        "default": false
      },
      {
        "type": "text",
        "id": "container_selector",
        "label": "Container Selector"
      },
      {
        "type": "text",
        "id": "path",
        "label": "Path",
        "info": "Determines the URL for the next page"
      },
      {
        "type": "text",
        "id": "append",
        "label": "Append",
        "info": "Appends selected elements from loaded page to the container."
      },
      {
        "type": "text",
        "id": "hide_nav",
        "label": "Page nav selector",
        "info": "Hides navigation element"
      },
      {
        "type": "text",
        "id": "status",
        "label": "Status selector",
        "info": "Displays status elements indicating state of page loading"
      },
      {
        "type": "text",
        "id": "status_info",
        "label": "Loading Text",
        "default": "Loading..."
      },
      {
        "type": "text",
        "id": "status_end",
        "label": "End result text",
        "default": "No more product to load!"
      }
    ]
  }
{% endschema %}