<style>
  #custom-saleModal{z-index:9999;background:#0009;padding:0!important;transform:translateY(0%)}
  #custom-saleModal .modal-dialog,#custom-saleModals-1 .modal-dialog,#custom-saleModals-2 .modal-dialog{top:20%}
  #custom-saleModal .close{position:absolute;top:0;right:0;width:30px;height:30px;background:#EB1C24;color:#fff;line-height:30px;font-weight:400;opacity:1;text-align:center;font-size:30px!important}
  #custom-saleModal .close:focus{border:0;outline:none}
  #custom-saleModal input#sale_email::placeholder{color:grey!important}
  #custom-saleModal .error-msg-sale,#custom-saleModal .thankyou-msg-sale,#custom-saleModal .aluser-msg-sale{text-align:left;margin:0;font-size:12px;opacity:.8;color:black;}
  #custom-saleModal .sale-btn:focus{outline:none}
  #custom-saleModal img{display:block}
  #custom-saleModal .modal-content{border:0}
  #custom-saleModal .modal-form{background:{{ section.settings.popup_backgroung }}};
  #custom-saleModal input{background:transparent;color:#ccc;margin-right:4px;padding:0 12px;border:0}
  #custom-saleModal input::-webkit-input-placeholder{color:#ccc}
  #custom-saleModal .sale-btn:hover{background:#EB1C24!important}
  @media screen and (max-width: 600px) {
  #custom-saleModal .modal-dialog,#custom-saleModals-1 .modal-dialog,#custom-saleModals-2 .modal-dialog{top:25%}
  }
</style>
<div id="custom-saleModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body p-0">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-body-content">
          <div class="modal-form p-3">
            {% if section.settings.popup_image  %}
              <div class="modal-image">
                <img loading="lazy" class="image-overlay__image_" {% render 'image-attributes', image: section.settings.popup_image, sizes: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600' %} alt="Popup Image"/>
              </div>
            {% endif %}
            {% if section.settings.popup_text  %}
              <p class="pt-3">
                {{ section.settings.popup_text }}
              </p>
            {% endif %}
            <div class="sale-pop-form">
              <div class="form-group" style="margin: 0;">
                <div class="myform" id="myform" style="display: flex;margin: 0;justify-content: space-between;">
                  <input style="border-radius: 5px;max-width: 65%;font-size: 12px;width: 100%;color:black" type="email" name="email" id="sale_email" placeholder="Email Address">
                  <button style="border-radius: 5px;background: red;margin: 2px;color: white;padding:0 1rem;height:45px;line-height:normal;" class="button sale-btn" type="submit">
                    {% if section.settings.button_id %}
                      {{ section.settings.button_id }}
                    {% else %}
                      YES
                    {% endif %}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if page.handle == 'meetandgreet' %}
  <script>
    $(document).ready(function() {
    let camp = "{{ request.path | split: '/' | last }}"
      {% if section.settings.landing_based  %}
        if (window.location.href.indexOf(camp) > -1 && sessionStorage.getItem("{{ section.id }}popUpPoped") === null) {
          $("#shopify-section-{{ section.id }} #custom-saleModal").modal("show");
          sessionStorage.setItem("{{ section.id }}popUpPoped", "poped");
        }
      {% else %}
        $("{{ section.settings.popup_id }}").click(function() {
          console.log("clicked");
          $("#shopify-section-{{ section.id }} #custom-saleModal").modal("show");
        });
      {% endif %}
  
        $("#shopify-section-{{ section.id }} .sale-btn").click(function() {
        let e = document.getElementById("sale_email").value;
        "" !== e && /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/.test(e)
          ? localStorage.getItem("userEmailIdSale  {{ section.settings.clevertap_id }}") === e
            ? $(".form-group").append('<p class="aluser-msg-sale">You are already subscribed!!</p>')
            : (localStorage.setItem("userEmailIdSale  {{ section.settings.clevertap_id }}", e), clevertap.onUserLogin.push({
              Site: {
                Email: e,
                "MSG-email": !0
              }
            }), clevertap.event.push("Notify Me   {{ section.settings.clevertap_id }}", {
              Email: e,
              Source: camp
            }), $("#shopify-section-{{ section.id }} #custom-saleModal .form-group").append('<p class="thankyou-msg-sale">Thank You for confirming for Virtual Meet and Greet! Stay Tuned for more information on your registered mail id.</p>'))
          : $("#shopify-section-{{ section.id }} .form-group").append('<p class="error-msg-sale">Please enter a valid email Id!</p>');
        setTimeout(function() {
          $("#shopify-section-{{ section.id }} .error-msg-sale, #shopify-section-{{ section.id }} .thankyou-msg-sale, #shopify-section-{{ section.id }} .aluser-msg-sale").remove();
        }, 5e3);
      });
    });
  </script>
{% else %}
<script>
  $(document).ready(function() {
  let camp = "{{ request.path | split: '/' | last }}"
    {% if section.settings.landing_based  %}
      if (window.location.href.indexOf(camp) > -1 && sessionStorage.getItem("{{ section.id }}popUpPoped") === null) {
        $("#shopify-section-{{ section.id }} #custom-saleModal").modal("show");
        sessionStorage.setItem("{{ section.id }}popUpPoped", "poped");
      }
    {% else %}
      $("{{ section.settings.popup_id }}").click(function() {
        console.log("clicked");
        $("#shopify-section-{{ section.id }} #custom-saleModal").modal("show");
      });
    {% endif %}

      $("#shopify-section-{{ section.id }} .sale-btn").click(function() {
      let e = document.getElementById("sale_email").value;
      "" !== e && /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/.test(e)
        ? localStorage.getItem("userEmailIdSale  {{ section.settings.clevertap_id }}") === e
          ? $(".form-group").append('<p class="aluser-msg-sale">You are already subscribed!!</p>')
          : (localStorage.setItem("userEmailIdSale  {{ section.settings.clevertap_id }}", e), clevertap.onUserLogin.push({
            Site: {
              Email: e,
              "MSG-email": !0
            }
          }), clevertap.event.push("Notify Me   {{ section.settings.clevertap_id }}", {
            Email: e,
            Source: camp
          }), $("#shopify-section-{{ section.id }} #custom-saleModal .form-group").append('<p class="thankyou-msg-sale">Thank You for subscribing!</p>'))
        : $("#shopify-section-{{ section.id }} .form-group").append('<p class="error-msg-sale">Please enter a valid email Id!</p>');
      setTimeout(function() {
        $("#shopify-section-{{ section.id }} .error-msg-sale, #shopify-section-{{ section.id }} .thankyou-msg-sale, #shopify-section-{{ section.id }} .aluser-msg-sale").remove();
      }, 5e3);
    });
  });
</script>
{% endif %}
{% schema %}
  {
    "name": "section custom Popup",
    "class": "custom_Popup",
    "settings": [
      {
        "type": "checkbox",
        "id": "landing_based",
        "label": "popup on landing"
      },
      {
        "type": "text",
        "id": "popup_id",
        "label": "class/id of <a> to target if not to be popedup on landing"
      },
      {
        "type": "text",
        "id": "button_id",
        "label": "button text"
      },
      {
        "type": "image_picker",
        "id": "popup_image",
        "label": "Popup Image"
      }, {
        "type": "color",
        "id": "popup_backgroung",
        "label": "Popup Background",
        "default": "#fff"
      }, {
        "type": "html",
        "id": "popup_text",
        "label": "popup text"
      }, {
        "type": "text",
        "id": "clevertap_id",
        "label": "clever tap event"
      }
    ],
    "presets": [
      {
        "name": "section custom Popup"
      }
    ]
  }
{% endschema %}