{%- if section.settings.background_type == 'boxed' -%}
  {%- assign is_boxed = true -%}
{%- else -%}
  {%- assign is_boxed = false -%}
{%- endif -%}

<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign heading_color = settings.heading_color -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign heading_color = section.settings.text_color -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}

    {%- if section.settings.button_background == 'rgba(0,0,0,0)' -%}
      {%- assign button_background = settings.primary_button_background -%}
    {%- else -%}
      {%- assign button_background = section.settings.button_background -%}
    {%- endif -%}

    {%- if section.settings.button_text_color == 'rgba(0,0,0,0)' -%}
      {%- assign button_text_color = settings.primary_button_text_color -%}
    {%- else -%}
      {%- assign button_text_color = section.settings.button_text_color -%}
    {%- endif -%}

    --heading-color: {{ heading_color.red }}, {{ heading_color.green }}, {{ heading_color.blue }};
    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --primary-button-background: {{ button_background.red }}, {{ button_background.green }}, {{ button_background.blue }};
    --primary-button-text-color: {{ button_text_color.red }}, {{ button_text_color.green }}, {{ button_text_color.blue }};

    --section-accent-background: {{ section.settings.accent_background.red }} {{ section.settings.accent_background.green }} {{ section.settings.accent_background.blue }} / {{ section.settings.accent_background.alpha }};
    --section-autoplay-duration: {{ section.settings.cycle_speed }}s;
    --section-animation-play-state: paused;
  }

  {%- if section.settings.background_overlap != 'both' -%}
    /* We have to remove some extra spacing adding in non-overlap mode */
    @media screen and (max-width: 999px) {
      {%- if section.settings.background_overlap == 'image' -%}
        {%- unless is_boxed -%}
          #shopify-section-{{ section.id }} .section {
            margin-top: 0;
          }

          #shopify-section-{{ section.id }} .image-with-text {
            margin-bottom: calc(-1 * var(--vertical-breather)) !important;
          }
        {%- else -%}
          #shopify-section-{{ section.id }} .image-with-text {
            margin-bottom: calc(-1 * var(--container-gutter)) !important;
          }
        {%- endunless -%}
      {%- elsif section.settings.background_overlap == 'text' -%}
        {%- unless is_boxed -%}
          #shopify-section-{{ section.id }} .section {
            margin-bottom: 0;
          }

          #shopify-section-{{ section.id }} .image-with-text {
            margin-top: calc(-1 * var(--vertical-breather)) !important;
          }
        {%- else -%}
          #shopify-section-{{ section.id }} .image-with-text {
            margin-top: calc(-1 * var(--container-gutter)) !important;
          }
        {%- endunless -%}
      {%- endif -%}
    }
  {%- endif -%}
  @media(max-width:990px){
     .customised-cards .image-with-text__text-wrapper{height: 4.2rem;}
  }
  @media(min-width:991px){
      .card-image{height: 100%;}
  }
</style>

<section class="section {% if section.settings.background_overlap == 'both' and is_boxed == false %}section--flush{% endif %}">
  <div
    {% if is_boxed %}
      class="container"
    {% endif %}
  >
    <image-with-text class="">
      <div class="container" style="display: flex;flex-wrap: wrap;justify-content: space-evenly;">
        {%- for block in section.blocks -%}
          <div
            class="image-with-text__wrapper m-2 mb-4 p-lg-0"
            style="box-shadow: 0 0 8px 0 #e5e5e5;background: #fafafa;border-radius: 10px;width: 45% !important;"
          >
            <div class="card-image w-lg-50 m-0" style="border-radius: 10px;">
              {%- if block.settings.image != blank -%}
                <img
                  id="block-{{ block.id }}-{{ block.settings.image.id }}"
                  alt="{{block.settings.alt_text.id }}"
                  class="image-with-text__image"
                  style="height: 100%;border-radius: 10px;box-shadow: 0 0 8px 0 #e5e5e5;"
                  sizes="(max-width: 740px) calc(100vw - 96px), (max-width: 999px) calc(100vw - 160px), 600px"
                  loading="lazy"
                  {% render 'image-attributes', image: block.settings.image, sizes: '600,700,800,1000,1200,1400' %}
                >
              {%- endif -%}
            </div>
            <div class="w-lg-50" style="padding: 1rem 1rem 1.5rem;background: #fafafa;">
              {%- if block.settings.subheading != blank -%}
                <h2 class="heading heading--small">
                  <split-lines
                    style="
                                           padding: 2px 8px 1px;font-size: 6px;line-height: 6px;width: max-content;background: red;
                      color: white;text-transform: uppercase;border-radius: 30px;
                    "
                  >
                    {{ block.settings.subheading | escape }}
                  </split-lines>
                </h2>
              {%- endif -%}

              {%- if block.settings.title != blank -%}
                <h3 class="heading h3" style="font-size:1.5rem;">
                  <split-lines>{{ block.settings.title | escape }}</split-lines>
                </h3>
              {%- endif -%}

              <div
                class="image-with-text__text-wrapper"
                style="line-height: 1;font-size: 10px;opacity: 0.8;overflow: hidden;"
              >
                {%- if block.settings.content != blank -%}
                  {{- block.settings.content -}}
                {%- endif -%}
              </div>
              {%- if block.settings.working_hours != blank -%}
                <div class="heading h6 my-3" style="font-size:1rem;">
                  Working Hours
                  <split-lines style="font-weight:500"> {{ block.settings.working_hours }} </split-lines>
                </div>
              {%- endif -%}

              <div class="d-flex" style="gap:1rem">
                {%- if block.settings.button_link_support != blank -%}
                  <a
                    href="{{ block.settings.button_link_support }}"
                    style="display: flex;align-items: center;gap: 4px;"
                  >
                    <img
                      width="16"
                      src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/circle-phone_64x.png?v=1686215682"
                    >
                    <span style="font-size: 10px;"> Support</span>
                  </a>
                {%- endif -%}
                {%- if block.settings.button_link_map != blank -%}
                  <a href="{{ block.settings.button_link_map }}" style="display: flex;align-items: center;gap: 4px;">
                    <img
                      width="16"
                      src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/marker_64x.png?v=1686215682"
                    >
                    <span style="font-size: 10px;"> Navigate </span>
                  </a>
                {%- endif -%}
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </image-with-text>
  </div>
</section>

{% schema %}
{
  "name": "customised cards",
  "class": "shopify-section--image-with-text customised-cards",
  "settings": [
    {
      "type": "select",
      "id": "background_type",
      "label": "Background",
      "options": [
        {
          "value": "full_width",
          "label": "Full width"
        },
        {
          "value": "boxed",
          "label": "Boxed"
        }
      ],
      "default": "full_width"
    },
    {
      "type": "select",
      "id": "background_overlap",
      "label": "Background overlap",
      "info": "Add an accent background color below.",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "text",
          "label": "Text"
        },
        {
          "value": "both",
          "label": "Both"
        }
      ],
      "default": "image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Desktop image position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "cycle_speed",
      "min": 3,
      "max": 20,
      "step": 1,
      "unit": "s",
      "label": "Change text every",
      "default": 8
    },
    {
      "type": "color",
      "id": "accent_background",
      "label": "Accent background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1400 x 1400px .jpg recommended"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "alt_text"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Subheading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Image with text"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use image with text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
        },
        {
          "type": "text",
          "id": "working_hours",
          "label": "working hours"
        },
        {
          "type": "url",
          "id": "button_link_support",
          "label": "support link"
        },
        {
          "type": "url",
          "id": "button_link_map",
          "label": "map link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "customised-cards",
      "settings": {},
      "blocks": [
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
