<style>
 #saleModal {z-index: 9999;background: #0009;padding: 0 !important;}
  #saleModal .modal-dialog,  #saleModals-1 .modal-dialog, #saleModals-2 .modal-dialog{top: 20%;}
  #saleModal .close {
  	position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: #EB1C24;
    color: #fff;
    line-height: 30px;
    font-weight: normal;
    opacity: 1;
    text-align: center;
    font-size: 30px !important;
  }
  #saleModal .close:focus {
  	border: 0;
    outline: none;
  }
  .error-msg-sale, .thankyou-msg-sale, .aluser-msg-sale {
  	text-align: center;
    margin: 0;
    font-size: 12px;
    color: #fff;
    opacity: .8;
  }
  .sale-btn:focus {outline: none;}
  #saleModal img {display:block;}
  #saleModal .modal-content {border:0;}
  .modal-form {background: #000;}
  #saleModal input {
  	border: 1px solid #ccc;
    background: transparent;
    color: #ccc;
    margin-right: 4px;
    padding: 0 12px;
/*     height: 45px; */
  }
  #saleModal input::-webkit-input-placeholder {color: #ccc;}
  #saleModal .sale-btn:hover {background: #EB1C24!important;}
  .modal {
    transform: translateY(0%);
  }
  @media screen and (max-width: 600px) {
  	#saleModal .modal-dialog,  #saleModals-1 .modal-dialog, #saleModals-2 .modal-dialog{top: 25%;}
  }
</style>
  <div id="saleModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body p-0">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-body-content">
  {% if section.settings.popup_image  %}
          <div class="modal-image">
            <img loading="lazy" class="image-overlay__image_" {% render 'image-attributes', image: section.settings.popup_image, sizes: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600' %} alt="Popup Image" />
          </div>
    {% endif %}
          <div class="modal-form p-3">
          	<div class="sale-pop-form">
            <div class="form-group" style="margin: 0;">
              <div class="myform" id="myform" style="display: flex;margin: 0;justify-content: center;">
              	<input style="border-radius: 5px;max-width: 65%;font-size: 12px;width: 100%;" type="email" name="email" id="sale_email" placeholder="Email Address">
              <button style="border-radius: 5px;background: transparent;border:1px solid #ff0000;color: #fff;height:45px;line-height:normal;" class="button sale-btn" type="submit">{% if section.settings.button_id %}{{ section.settings.button_id }}{% else %}YES{% endif %}</button>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
      $("{{ section.settings.popup_id }}").click(function(e){
        $(".custom_Popup #saleModal").modal("show");
      });
     $(".custom_Popup .sale-btn").click(function () {
      var e = document.getElementById("sale_email").value;
      "" !== e && /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/.test(e)
          ? localStorage.getItem("userEmailIdSale{{ section.settings.clevertap_id }}") === e
              ? $(".form-group").append('<p class="aluser-msg-sale">You are already subscribed!!</p>')
              : (localStorage.setItem("userEmailIdSale{{ section.settings.clevertap_id }}", e),
                clevertap.onUserLogin.push({ Site: { Email: e, "MSG-email": !0 } }),
                clevertap.event.push("Notify Me {{ section.settings.clevertap_id }}", { Email: e, Source: "section custom Popup" }),
                $(".custom_Popup #saleModal .form-group").append('<p class="thankyou-msg-sale">Thank You for subscribing!</p>'))
          : $(".custom_Popup .form-group").append('<p class="error-msg-sale">Please enter a valid email Id!</p>');
      setTimeout(function () {
          $(".custom_Popup .error-msg-sale, .custom_Popup .thankyou-msg-sale, .custom_Popup .aluser-msg-sale").remove();
      }, 5e3);
  });
</script>
{% schema %}
  {
    "name": "section custom Popup",
    "class": "custom_Popup",
    "settings": [
              {
          "type": "text",
          "id": "popup_id",
          "label": "class/id of <a> to target"
        },
       {
          "type": "text",
          "id": "button_id",
          "label": "button text"
        },
		{
		  "type": "image_picker",
		  "id": "popup_image",
		  "label": "Popup Image"
		},
        {
          "type": "text",
          "id": "clevertap_id",
          "label": "clever tap event"
        }
    ],
  "presets": [
    {
      "name": "section custom Popup"
    }
  ]
  }
{% endschema %}

