 <script src="{{ 'custom-slider.js' | asset_url }}" defer="defer"></script>
{{ 'custom-slider.css' | asset_url | stylesheet_tag }}
<div class="custom_slides">
  {% assign interval = section.settings.interval_time %}
  <span class="interval_time hidden">{{interval}}</span>
      <div class="slider_track">
        {% for bl in section.blocks %}
  	<div class="slide-u slide_op {% if forloop.index == 1 %}active_slide{% endif %} slide_{{forloop.index}}" {% if forloop.index == 1 %}style="display: block;"{% else %} style="display:none"{% endif %}> 
      {% if bl.type == 'image' %}
      {% if bl.settings.slide_link != empty %}
      <a href="{{ bl.settings.slide_link}}">
  		<img
              srcset="{%- if bl.settings.mob_slider_img.width >= 375 -%}{{ bl.settings.mob_slider_img | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 550 -%}{{ bl.settings.mob_slider_img | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 750 -%}{{ bl.settings.mob_slider_img | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 1100 -%}{{ bl.settings.mob_slider_img | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 1500 -%}{{ bl.settings.mob_slider_img| image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 1780 -%}{{ bl.settings.mob_slider_img | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 2000 -%}{{ bl.settings.mob_slider_img | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 3000 -%}{{ bl.settings.mob_slider_img | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 3840 -%}{{ bl.settings.mob_slider_img | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ bl.settings.mob_slider_img | image_url }} {{ bl.settings.mob_slider_img.width }}w"
              alt=""
              class="mob {% if forloop.index == 1 %} preload {% else %}lazyload{% endif %}"
            />
            <img
           srcset="{%- if bl.settings.desk_slider_img.width >= 375 -%}{{ bl.settings.mob_slider_img | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 550 -%}{{ bl.settings.desk_slider_img | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 750 -%}{{ bl.settings.desk_slider_img | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 1100 -%}{{ bl.settings.desk_slider_img | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 1500 -%}{{ bl.settings.desk_slider_img| image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 1780 -%}{{ bl.settings.desk_slider_img | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 2000 -%}{{ bl.settings.desk_slider_img | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 3000 -%}{{ bl.settings.desk_slider_img | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 3840 -%}{{ bl.settings.desk_slider_img | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ bl.settings.desk_slider_img | image_url }} {{ bl.settings.desk_slider_img.width }}w"
              alt=""
              class="desk {% if forloop.index == 1 %} preload {% else %}lazyload{% endif %}"
            />
          </a>
      {%else%}
      	   <img
              srcset="{%- if bl.settings.mob_slider_img.width >= 375 -%}{{ bl.settings.mob_slider_img | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 550 -%}{{ bl.settings.mob_slider_img | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 750 -%}{{ bl.settings.mob_slider_img | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 1100 -%}{{ bl.settings.mob_slider_img | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 1500 -%}{{ bl.settings.mob_slider_img| image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 1780 -%}{{ bl.settings.mob_slider_img | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 2000 -%}{{ bl.settings.mob_slider_img | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 3000 -%}{{ bl.settings.mob_slider_img | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 3840 -%}{{ bl.settings.mob_slider_img | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ bl.settings.mob_slider_img | image_url }} {{ bl.settings.mob_slider_img.width }}w"
              alt=""
              class="mob {% if forloop.index == 1 %} preload {% else %}lazyload{% endif %}"
            />
            <img
           srcset="{%- if bl.settings.desk_slider_img.width >= 375 -%}{{ bl.settings.mob_slider_img | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 550 -%}{{ bl.settings.desk_slider_img | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 750 -%}{{ bl.settings.desk_slider_img | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 1100 -%}{{ bl.settings.desk_slider_img | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 1500 -%}{{ bl.settings.desk_slider_img| image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 1780 -%}{{ bl.settings.desk_slider_img | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 2000 -%}{{ bl.settings.desk_slider_img | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 3000 -%}{{ bl.settings.desk_slider_img | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 3840 -%}{{ bl.settings.desk_slider_img | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ bl.settings.desk_slider_img | image_url }} {{ bl.settings.desk_slider_img.width }}w"
              alt=""
              class="desk {% if forloop.index == 1 %} preload {% else %}lazyload{% endif %}"
            />
      {% endif %}
      {% else %}
      	{% if bl.settings.video_link == empty %}
      		<video autoplay muted width="100%" loop class="desk" >
      			<source src="{{bl.settings.video_url_desk}}"/>
      		</video>
     		 <video autoplay muted width="100%" loop class="mob" >
      			<source src="{{bl.settings.video_url_mob}}"/>
      		</video>
      	{% else %}
      		<a href="{{bl.settings.video_link}}">
      			<video autoplay muted width="100%" loop class="desk">
      			<source src="{{bl.settings.video_url_desk}}"/>
      		</video>
               <video autoplay muted width="100%" loop class="mob" >
      			<source src="{{bl.settings.video_url_mob}}"/>
      		</video>
      		</a>
      	{% endif %}
      {% endif %}
        </div>
  {% endfor %}
              <div class="dots_indc">
                {% for bl in section.blocks %}
        			<div class="dt  {% if forloop.index == 1 %}active_dt {% endif %}" data-sec="slide_{{forloop.index}}"></div>
                {% endfor %}
      </div>
      </div>
  {% if section.settings.enable_arr %}
      <div class="arr">
        <div class="prev_ar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-chevron-left"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
            />
          </svg>
        </div>
        <div class="next_ar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-chevron-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </div>
      </div>
  {% endif %}
    </div>

{% schema %}
  {
    "name": "custom slider",
    "settings": [
				{
					"type":"number",
					"label":"Slider interval in seconds",
					"id":"interval_time"
				},
				{
					"type":"checkbox",
					"label":"Display Arrows",
					"id":"enable_arr"
				}
			],
	"blocks":[
				{
					"type":"image",
					"name":"image_block",
					"settings":[
									{
										"type":"image_picker",
										"id":"desk_slider_img",
										"label":"Pick image for desktop"
									},
									{
										"type":"image_picker",
										"id":"mob_slider_img",
										"label":"Pick image for mobile"
									},
									{
										"type":"url",
										"id":"slide_link",
										"label":"Slide link url"
									}
								]
				},
				{
					"type":"video",
					"name":"video_block",
					"settings":[
					  {
						"type":"text",
						"id":"video_url_desk",
						"label":"Video url desktop"
					  },
					  {
						"type":"text",
						"id":"video_url_mob",
						"label":"Video url mobile"
					  },
					  {
						"type":"url",
						"id":"video_link",
						"label":"Enter slide link"
					  }
					]
				}
			],
	"presets":[
			{
				"category": "slider",
				"name":"sl"
			}
		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
