<div class="container MultiCarousel_container">
	<div class="row">
		<div class="MultiCarousel {{ section.id }}" id="MultiCarousel_{{ section.id }}" {% render 'carousel-js' %}>
            <div class="MultiCarousel-inner {{ section.id }} draggable" draggable="true">
              {% for block in section.blocks %}
                <div class="item">
                  <a
                href="{% if block.settings.slide_url != blank %}{{block.settings.slide_url}}{% else %}javascript:void(0){% endif %}"
                class="slide-url"
              > 
                <picture>
                  <source
                    media="(min-width: 769px)"
                    {% render 'image-attributes', image: block.settings.desktop_image, sizes: '700,800,900,1000,1200,1400,1600', ignore_src: true %}
                  >
                  <img width="91%" style="border-radius:6px;border:1px solid #e3e3e3"
                    class="image-overlay__image_"
                    {% render 'image-attributes', image: block.settings.mobile_image, sizes: '200,300,400,500,600' %}
                    alt="{{block.settings.desktop_image.alt}}" {% if forloop.first %}loading="eager" fetchpriority="high"{% endif %}
                  >
                </picture>
              </a>
                </div>
              {% endfor %}
            </div>
            <button class="btn btn-primary leftLst {{ section.id }}"><</button>
            <button class="btn btn-primary rightLst {{ section.id }}">></button>
            <ul class="MultiCarousel_dots_container">
              {% for block in section.blocks %}
               <li class="multiCarousel_dots" data-index="{{ forloop.index0 }}">{{ forloop.index }}/{{ forloop.length }}</li> 
              {% endfor %} 
              </ul>
        </div>
	</div>
  </div>

  {% render 'carousel-css' %}


{% schema %}
  {
    "name": "Custom hero Slideshow",
    "class": "bootstrap-carousel",
    "max_blocks": 5,
    "settings": [
      {
        "type": "checkbox",
        "id": "show_popup",
        "label": "Enable popup on banner",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "popup_image",
        "label": "Popup Image"
      },
      {
        "type": "text",
        "id": "banner_number",
        "label": "Enter banner number on which you want to show popup"
      },
      {
        "type": "text",
        "id": "clevertap_id",
        "label": "clever tap event"
      }, {
        "type": "checkbox",
        "id": "show_splitpopup",
        "label": "only for split products",
        "default": false
      }, {
        "type": "text",
        "id": "split_button",
        "label": "botton1 textsplit products",
        "default": "primary"
      }, {
        "type": "text",
        "id": "split_buttontwo",
        "label": "botton2 textsplit products",
        "default": "primary2"
      }, {
        "type": "text",
        "id": "clevertap_split",
        "label": "clevertap event only for split products"
      }, {
        "type": "text",
        "id": "autoplay_timeout",
        "label": "autoplay_timeout in 5000 = 5sec"
      }, {
        "type": "checkbox",
        "id": "enable_progressbar",
        "label": "Enable progressbar on slider",
        "default": true
      }, {
        "type": "number",
        "id": "slides_no",
        "label": "mobile slides",
        "default": 1
      }, {
        "type": "number",
        "id": "deskslides_no",
        "label": "desk slides",
        "default": 1
      }, {
        "type": "checkbox",
        "id": "loop",
        "label": "infinite loop",
        "default": true
      }, {
        "type": "checkbox",
        "id": "autoplay",
        "label": "autoplay",
        "default": true
      }, {
        "type": "number",
        "id": "slideBy",
        "label": "number of slides drag in one screen",
        "default": 1
      },  {
        "type": "text",
        "id": "item_space_desk",
        "label": "Space between items in desktop",
        "default": "1rem"
      },
      {
        "type": "text",
        "id": "item_space_mobile",
        "label": "Space between items in mobile",
        "default": "1rem"
      },{
        "type": "text",
        "id": "next_item_visibility_desk",
        "label": "Next item visibility in desktop",
        "default": "0"
      },
      {
        "type": "text",
        "id": "next_item_visibility_mobile",
        "label": "Next item visibility in mobile",
        "default": "1rem"
      }, {
        "type": "checkbox",
        "id": "show_dots_on_mobile",
        "label": "Show Dots on Mobile",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show_dots_on_desktop",
        "label": "Show Dots on Desktop",
        "default": true
      }
    ],
    "blocks": [
      {
        "name": "slideshow",
        "type": "slideshow",
        "settings": [
          {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "Desktop Image"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image"
          },
          {
            "type": "url",
            "id": "video_url",
            "label": "video_url"
          },
          {
            "type": "url",
            "id": "slide_url",
            "label": "Slide URL"
          }, {
            "type": "checkbox",
            "id": "show_timer",
            "label": "Show Timer",
            "default": false
          }, {
            "type": "text",
            "id": "timer_title",
            "label": "timer_title"
          }, {
            "type": "color",
            "id": "timer_background",
            "label": "timer_background"
          }, {
            "type": "checkbox",
            "id": "timer_inline",
            "label": "get_timer_inline"
          }, {
            "type": "text",
            "id": "end_date",
            "label": "timer End Date (Ex: Apr 30, 2022)"
          }, {
            "type": "checkbox",
            "id": "splitbanner_buttons",
            "label": "Enable splitbanner"
          }, {
            "type": "url",
            "id": "splitbanner_url",
            "label": "Enter splitbanner_url"
          }, {
            "type": "url",
            "id": "splitbanner_url2",
            "label": "Enter splitbanner_url 2"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom hero Slideshow",
        "category": "image",
        "settings": {}
      }
    ]
  }
{% endschema %}