<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

    .line-item-discount {
        display: inline-flex;
        width: max-content;
        position: relative;
        font-size: 12px;
        background: #c8c7c7;
        padding: 5px;
        margin-bottom: 10px;
        color: black;
    }

    .auto-coupon {
        margin-bottom: 0;
        font-weight: 600;
    }

    .auto-coupon-account {
        font-weight: 400;
        margin-bottom: 0;
    }

    .valid-code {
        max-width: max-content !important;
    }

    .deduction {
        margin-bottom: 0px;
        padding: 5px 5px 0px 0;
        text-decoration: line-through;
    }

    .finprice {
        display: flex;
        align-items: baseline;
        height: 19px;
    }

    * {
        font-family: 'Montserrat', sans-serif !important;
    }

    .select-coupon input {
        -webkit-appearance: radio;
    }

    .name {
        position: relative;
    }

    .gg1 {
        display: flex;
        align-items: center;
        position: relative;
/*         justify-content: center; */
        min-height: 136px;
        background-color: white;
        border-bottom: 2px solid #e8e7e7;
    }

    .remove_product {
position: absolute;
   top: 52px;
    right: 24px;
    width: 15px;
    }

    .content-flex {
        display: flex;
        flex-direction: column;
        padding-right: 10px !important;

    }

    .cart-coupon {
        padding: 24px;
        border-top: 5px solid #e8e7e7;
    }

    .coupon-heading {
        font-size: 16px !important;
        font-weight: 800;
    }

    .coupon-text {
        display: flex;
        justify-content: space-between;
    }

    #coupon-code-text {
        border: none;
        border-bottom: 1px solid grey;
        width: 70%;
        font-size: 14px;
        padding-bottom: 5px;
        padding-left: 0px;
        color: #272626;
    }

    #coupon-apply {
        background: white;
        color: black;
        border-radius: 100px;
        font-weight: 700;
        border: 2px solid black;
        padding: 4px 16px;
        font-size: 13px;
    }

    .avai-coupons {
        font-size: 14px !important;
        font-weight: 500;
        margin-top: 15px;
        color: #5f5d5d;
    }

    .text-slider-cart {
        width: max-content;
    }

    .applied-coupon-text {
        margin: 0 10px;
    }

    .available_offers {
        margin-top: 20px;
    }

    .select-coupon {
        display: flex;
        align-items: flex-start;
    }

    .select-coupon input {
        margin-top: 6px;
    }

    .code-details {
        display: flex;
        align-items: center;
    }

    .code_cou {
        margin: 0px 20px 0 10px;
        padding: 1px 10px;
        border: 1px dashed black;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 12px;
    }

    .code_usp {
        color: red;
        font-weight: 500;
        font-size: 12px;
    }

    .code-desc {
        margin: 10px 0 10px 10px;
        color: grey;
        font-size: 12px;
        line-height: 1;
    }

    .invalid-code {
        font-size: 12px;
        color: red;
        margin-top: 6px;
    }

    .available-offers {
        margin-top: 20px;
        height: 140px;
        overflow-y: scroll;
    }

    .imp {
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    }

    .prod-title {
margin-bottom: 1rem;
    font-size: 16px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    color: black;
    height: 1.2rem;
    overflow: hidden;
    }

    .cash {
        color: black;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 700;
        font-size: 12px;
        line-height: 13.26px;
        margin-bottom: 3px;
        display: inline-block;
    }

    .compare_price {
        color: #2B364B;
        font-weight: 400;
        font-size: 10px;
        line-height: 13.26px;
        margin-bottom: 3px;
        margin-left: 8px;
        text-decoration: line-through;
        display: inline-block;
    }

    .percent_discount {
        color: white;
        font-weight: 400;
        font-size: 10px;
        line-height: 13.26px;
        margin-bottom: 3px;
        margin-left: 8px;
        background-color: red;
        padding: 2px 4px;
        border-radius: 3px;
        font-weight: 500;
        display: inline-block;
    }

    .multiplier {
      display:none;
        color: black;
        font-family: 'Montserrat', sans-serif !important;
        font-size: 12px;
        margin-bottom: 3px;
        line-height: 1.5;
    }

    @media (max-width: 1280px) {
      .remove_product {
    right: 16px;
      }
        .prod-title {
            max-width: 160px !important;
        }
        .anchor {
            width: 105px !important;
            height: 105px !important;
        }

        .one-off>p:nth-child(1) {
            font-size: 10px !important;
        }

        .two-off>p:nth-child(1) {
            font-size: 10px !important;
        }

        /*     .content-flex{
      transform: translateX(-1px);
    } */

    }

.head-cont {
    background-color: #000000;
    display: flex;
    padding: 8px;height: 40px;
    padding-left: 20px;
}

    .cart-item-length {
        padding-left: 10px;
    }

    .cart-item-length::before {
        content: " (";
        font-size: 14px !important;
    }

    .cart-item-length::after {
        content: ")";
        font-size: 14px !important;
    }

    .head-inner {
        font-weight: 600;
       }

    .drawer__header {
        height: 61px !important;
        padding: 0 10px;
    }

    .shop-bag {
        font-size: 16px;
    }

    .drawer__close {
        color: white !important;
    }

    .cross {
    width: 34px;
    cursor: pointer;
    }

    .total-cover {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        background: white;
        height: 52px;
        align-items: center;
        width: 92%;
        margin: 0 auto;
        margin-bottom: -20px;
    }

    .total-shipping {
        display: flex;
        justify-content: space-between;
        background: white;
        align-items: center;
        width: 92%;
        margin-top: 10px;
        margin: 10px auto 10px;
    }

    .total-am {
        display: none;
        justify-content: space-between;
        background: white;
        align-items: center;
        width: 90%;
        margin-top: 10px;
        margin: 10px auto 10px;
        font-weight: 700;
    }

    .tam,
    .tam_p {
        font-size: 16px !important;
        color: black;
        margin: 0;
        font-weight: 700;
    }

    .shipping-title,
    .shipping-price {
        font-size: 16px !important;
        color: black;
        margin: 0;
        font-weight: 600;
    }

    .totamou {
        font-size: 16px !important;
        color: black;
        margin: 0;
        font-weight: 600;
    }

    #cart__total_price {
        font-size: 18px;
        color: black !important;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif !important;
    }

    .check-div {
        /*   background: black; */
        height: 82px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 2px solid #DFDFDF;
        border-style: dashed;
    }

    .but-a {
        width: 100%;
        /*   padding: 0 20px; */
    }

    .but {
        border-radius: 8px !important;
        width: 82%;
        background-color: #ED1C24;
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .drawer__content {
        padding-bottom: 0 !important;
        background-color: white;
    }

    .shopp {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: auto;
        padding-top: 25px;
        background: #F1F1F1 !important;
    }

    .empty-img {
        width: 120px;
        margin: 0 auto;
    }

    .empty-text {
        text-transform: capitalize !important;
        color: black;
        margin-top: 60px;
        font-size: 16px;
        font-weight: 700;
    }

    .coll {
        text-transform: capitalize !important;
        color: #ED1C24 !important;
        margin-top: 60px;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none !important;
        height: 40%;
        display: flex;
        justify-content: center;
    }

    .coll>button {
        text-transform: capitalize !important;
        color: white !important;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ED1C24 !important;
        height: 40px !important;
        border-radius: 40px !important;
        font-weight: 700;
        width: 50%;
        line-height: 20px;
    }

    #apply_coupon_overlay {
        background: #ffffff;
        height: 50%;
        width: 30%;
        z-index: 115000;
        top: 0;
        left: 0;
        text-align: center;
    }

    .apply_coupon_spinner {
        margin: 0 auto;
        height: 30px;
        width: 30px;
        animation: rotate 0.8s infinite linear;
        border: 3px solid red;
        border-right-color: transparent;
        border-radius: 50%;
        margin-bottom: 5px;
    }

    .ribbon {
background: #ED1C24;
    font-size: 12px;
    color: white;
    letter-spacing: 0.2px;
    height: auto;
    padding: 5px 4px;
    line-height: 16px;
    padding-left: 16px;
    }

    .price-cover {
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .outer-fl {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    .anchor {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bin {
justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 !important;
    color: red!important;
    font-size: 20px;
    font-weight: 600;
    }

    .plus {
    padding-top: 2px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 !important;
    color: red !important;
    font-weight: 600;
    }

    .plus-unusable {
        background-color: grey !important;
    }

    .quantity {
color: black !important;
    font-size: 12px !important;
    font-weight: 700;
    }

    .ab {
        display: none !important;
    }

    .cart-offer {
        background: #F6F6F6;
        height: 105px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        border-radius: 8px;
        line-height: 1.8;
        position: relative;
        padding-left: 45px !important;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid #C4C4C4;
        border-style: dashed !important;
    }

    .offer-img {
        position: absolute;
        width: 20px;
        top: 20px;
        left: 10px;
    }

    .one-off p {
        color: black;
    }

    .two-off p {
        color: black;
    }

    .one-off>p {
        margin-bottom: 0 !important;
        font-size: 12px;
    }

    .two-off>p {
        margin-bottom: 0 !important;
        font-size: 12px;
    }

    .one-off>p:nth-child(2) {
        margin-bottom: 0 !important;
        font-size: 10px;
    }

    .two-off>p:nth-child(2) {
        margin-bottom: 0 !important;
        font-size: 10px;
    }

    .one-off>p:nth-child(1) {
        font-weight: 700;
        line-height: normal;
    }

    .two-off>p:nth-child(1) {
        font-weight: 700;
        line-height: normal;
    }

    .discount-div {
        width: 90%;
        border-radius: 6px !important;
        position: relative;
        margin: 0 auto;
    }

    .discount-input {
        width: 100%;
        border-radius: 6px !important;
        height: 48px !important;
    }

    .discount-but {
        position: absolute;
        right: 2px;
        top: 2px;
        bottom: 2px;
        font-size: 14px;
        font-weight: 700;
        border-radius: 6px !important;
        background-color: #ED1C24 !important;
        width: 50px !important;
    }

    .discount-price {
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        margin: 11px auto;
    }

    .coupon-p {
        color: #181818 !important;
        font-size: 16px !important;
        font-weight: 400 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 !important;
    }

    .coupon-d {
        color: #181818 !important;
        font-size: 16px !important;
        font-weight: 400 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 !important;
    }

    .go-fe {
        width: 90% !important;
        margin: auto;
        background-color: #EB3223 !important;
    }

    .but-fe {
        padding: 16px 10px !important;
        box-sizing: border-box !important;
       
        background-color: #EB3223 !important;
        margin: auto;
        border-radius: 30px !important;
        height: 50px !important;
        font-weight: 700 !important;
        font-size: 12px !important;
    }

    .gokwik-container button>span .btn-text>span:first-child {
        font-weight: 700;
    }

    .gokwik-container button>span .btn-text>span:last-child {
        /*               font-size: 10px !important; */
        color: #000;
        font-weight: 700;
    }

    .gokwik-container button:hover>span .btn-text>span:last-child {
        color: #fff;
    }

    img.pay-opt-icon~img {
        filter: invert(1);
    }

    .gokwik-container button:hover img.pay-opt-icon~img {
        filter: invert(0);
    }

    #cartform .checkout-col .gokwik-container button>span .btn-text>span:last-child {
        color: #fff;
    }

    #cartform .checkout-col img.pay-opt-icon~img {
        filter: invert(0);
    }

    .new-check {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90% !important;
        margin: auto;
        height: 50px !important;
        margin-bottom: 10px;
    }

    .drawer__content::-webkit-scrollbar {
        width: 5px;
    }

    .drawer__content::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .drawer__content::-webkit-scrollbar-thumb {
        background: #888;
    }

    .drawer__content::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    @media (max-width: 900px) {
        .available-offers {
            margin-top: 10px !important;
        }

        input[type="radio"] {
            width: 25px !important;
            height: 15px !important;
            margin-top: 6px !important;
        }

        .new-check {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90% !important;
            margin: auto;
            height: 50px !important;
            margin-bottom: 10px;
        }

        .cash-btn {
            font-size: 11px !important;
        }
    }

    .gokwik-container button {
        max-width: none !important
    }

    .side_cart_btn_home {
        font-size: 16px;
        font-weight: bold;
        color: #ff0000 !important;
    }

    .side_cart_btn_home:hover {
        color: #000;
    }

    @media (max-width: 768px) {
        .template-cart #cartform .gokwik-container button {
            max-width: 100% !important;
        }

        .gokwik-container button>span .btn-text>span:first-child {
            font-size: 12px !important;
        }

        .layout-column-half-right {
            float: right;
            width: 100%;
        }

        #cartform .checkout-col .button {
            max-width: 100%;
            width: 100%;
        }
    }

    @media (max-width: 575px) {
        .gokwik-container button>span .btn-text>span:first-child {
            font-size: 12px !important;
        }

        .gg1 {
            min-width: 150px;
        }

    }

    @media (max-width: 480px) {
        .one-off>p:nth-child(1) {
            font-size: 10px !important;
        }

        .one-off>p:nth-child(1) {
            font-size: 10px !important;
        }

        .two-off>p:nth-child(1) {
            font-size: 10px !important;
        }

        .cart-offer {
            height: 120px !important;
        }

        .new-check {
            width: 90% !important;
            margin-bottom: 10px;
        }

    }
    @media (max-width: 320px) {
        .gokwik-container button>span .btn-text>span:first-child {
            font-size: 9px !important;
        }


        .gokwik-container button>span .btn-text>span:last-child {
            font-size: 8px !important;
        }
    }
   @media (min-width: 990px) {
     #update-cart, #my button{
       width:160px;!important
     }
   }
    .color {
    border: 1px solid #8c8c8c59;
    border-radius: 4px;
    padding: 0 6px 0 2px;
    margin-left: 12px;
    color: #2B364B;
    font-weight: 400;
    font-size: 11px;
      line-height: 2;
    text-transform: capitalize;
    width: 100px;
    overflow: hidden;
    text-align: center;
    }

    .discount-price {
        display: none;
    }

    .discount-input {
        display: none !important;
    }

    .discount-but {
        display: none !important;
    }

    .price-cover {
      
        background: white;
        border-top: 3px solid #F9F9F9;
    }

    .featured_product_add_to_cart:hover {
        cursor: pointer;
    }

    .cart-quantity-message {
    display: none;
    font-size: 10px;
    line-height: 14px;
    color: #ee1c24;
    }

    .available-offers {
        display: none
    }

    .remove-coupon {
        cursor: pointer;
    }

    #coupon-apply:hover, #coupon-apply:active, #coupon-apply:focus {
        background-color: red;
        color: white;border: 0;
    }

    #drawer-overlay {
        background: #ffffff;
        color: #666666;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 115000;
        top: 0;
        left: 0;
        text-align: center;
        padding-top: 50%;
        opacity: .80;
    }

    input[type='radio'] {
        -webkit-appearance: none;
        width: 23px;
        height: 20px;
        border: 1px solid darkgray;
        border-radius: 50%;
        outline: none;
    }

    /*           input[type='radio']:hover {
      box-shadow:0 0 5px 0px orange inset;
    } */

    input[type='radio']:before {
        content: '';
        display: block;
        height: 100%;
        border-radius: 50%;
        border: 3px solid white;
    }

    input[type='radio']:checked:before {
        background: #fb0709;
    }

    .drawer-spinner {
        margin: 0 auto;
        height: 50px;
        width: 50px;
        /*     animation: rotate 0.8s infinite linear; */
        border: 5px solid red;
        border-right-color: transparent;
        border-radius: 50%;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .cart-val-error {
        color: #fff;
        background: #ff0000;
        font-size: 12px;
        max-width: 90%;
        margin: 0 auto 12px;
        border-radius: 10px;
        text-align: center;
        line-height: normal;
        padding: 10px;
        display: none;
    }

    #update-cart {
    width: 140px;
    border-width: 2px;
    transition: all .2s ease-in-out;
    background: #fff !important;
    border-color: red;
    color: red;    font-size: 14px!important;
    }

    #update-cart:focus , #update-cart:hover {
    color: #fff;
    background: red !important;
    }

    .gokwikpay {
        background: #Fff !important;
        border: 2px solid #ff0000 !important;
        color: #000 !important;
        height: 50px;
        line-height: 50px;
        transition: all .2s ease-in-out;
    }

    .text-black {
        color: #000;
        transition: all .2s ease-in-out;
    }

    .gokwik-container .gokwikpay:hover {
        background: red !important;
        color: #fff !important;
    }

    .gokwik-container .gokwikpay:hover .text-black {
        color: #fff !important;
    }

    .gokwikpay.active {
        background: #Ff0000 !important;
    }

    .gokwik-container .gokwikpay.active .text-black {
        color: #fff !important;
    }
  input#coupon-code-text::placeholder{color:#8c8c8c59;}
  #coupon-code-text{
border: none;
    border-bottom: 1px solid #00000070;
    width: 70%;
    font-size: 12px;
    padding-bottom: 5px;
    padding-left: 0px;
    color: #000;
  }
  #zestmoney-widget-control-cart {padding: 0 0 0 4px;background: #7abaff45;
    margin-bottom: 12px;text-align: -webkit-center;}
  .color span {
    margin-left: 4px;
    font-weight: 600;
}
  
</style>
<section class="drawer" id="drawer-name" data-drawer-target>
    <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>

                   
    <div class="drawer__wrapper">
  
     
        <div class="ribbon">{{section.settings.cart_announcement}}</div>

        <div class="drawer__header ab">
            <div class="drawer__title shop-bag" style="color:white">
                Shopping Bag
            </div>

            <button id="main-cross-but" class="drawer__close" data-drawer-close aria-label="Close Drawer"
                style="color: white !important;"></button>
        </div>

        <div class="head-cont">
             <p class="cross"><img class="lazyload" style="width: 9px; transform: translateY(3px);"
                    data-src='https://cdn.shopify.com/s/files/1/0057/8938/4802/files/down.png?v=1646890029' /></p>
            <div class="head-inner" style="color:white;">
                 Your Cart
            </div>
            <div class="cart-item-length" style="color:white;margin-right:2.5rem">

            </div>
        </div>
        <div class="drawer__content" id="cart__drawer">
            <div id="drawer-overlay" style="display:none;">
                <div class="drawer-spinner"></div>
            </div>
            <div>
                <div id="cart__drawer_items">
                </div>
                <div id="cart__drawer_items_2">
                    {% comment %}
                    {% for product in collections.cart-draw-product.products limit:1%}
                    <div class="cart__item gg1 featured_product"
                        style="width: 100% !important;background-color:#F7F9FA;">
                        <img class="lazyload"
                            data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Group_938.png?v=1634121579"
                            style="position: absolute;top: 0px;left: 0px;">
                        <a class="anchor" href="{{product.url}}">
                            <img class="lazyload" data-src="{{ product.featured_image | img_url: '200x200' }}"
                                alt="{{product.featured_image.alt}}" />
                        </a>
                        <div class="outer-fl">
                            <div class="content-flex">
                                <h5 class="prod-title" style='font-family: "Poppins"'>{{ product.title }}</h5>
                              

                                <p class="cash"><span class="t-price">Rs {{product.price | divided_by: 100}}</span><span
                                        class="compare_price">Rs
                                        {{product.compare_at_price | divided_by: 100}}</span><span
                                        class="percent_discount">{{
                                        product.compare_at_price |minus: product.price | times: 100.0 | divided_by:
                                        product.compare_at_price|
                                        floor | money_without_currency | times: 100 | remove: ".0"}}% OFF</span></p>

                            </div>
                            <div class="featured_product_id" style="display: none;">{{product.id}}</div>
                            <div class="featured_variant_id" style="display: none;">
                                {{product.first_available_variant.id}}
                            </div>
                            <div class="imp2">
                                <div style="color:red; font-weight: 700; font-size: 14px;"
                                    class="featured_product_add_to_cart">+ Add to
                                    Cart</div>
                            </div>
                            <p class="color">color:{{product.first_available_variant.option1}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endcomment %}
                </div>


            </div>

            <div class="shopp">
                <img class="empty-img lazyload"
                    data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/bag_925d9ab5-b7d8-4b86-bfc5-2cb9b4df471e.png?v=1633452372" />
                <p class="empty-text">Your Shopping Bag Is Empty.</p>

            </div>
            {% if section.settings.show_cart_offer %}
            {% for block in section.blocks %}
            {% case block.type %}
            {% when 'cart-offers' %}
            <div class="cart-offer" style="padding: 10px;font-size:12px">
                <img class="offer-img lazyload"
                    data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/black-shop-tag_1.png?v=1634062115" />


                <div class="one-off">
                    <p>{{block.settings.offer1title}}</p>
                    <p>{{block.settings.offer1description}}</p>
                </div>


                <div class="line"
                    style="height: 0.5px;border-top: 0.5px solid #C4C4C4; border-style: dotted; margin: 2px 0;">
                </div>
            </div>
            {% endcase %}
            {%endfor%}
            {% endif %}

            <a href="/collections" class="coll"><button style="padding:5px;font-size:14px;">GO TO OUR
                    COLLECTION</button></a>
            <div class="price-cover" >
                <div class="cart-coupon">
                    <h3 class="coupon-heading">PROMO CODE</h3>
                    <div class="coupon-text">
                        <input type="text" id="coupon-code-text" placeholder="Enter Coupon Code">
                        <input type="submit" value="Apply" id="coupon-apply">
                    </div>
                    {%comment%}
                    {% for block in section.blocks %}
                    {% case block.type %}
                    {% when 'available-offers' %}
                    <h4 class="avai-coupons">AVAILABLE COUPONS</h4>

                    {%break%}
                    {% endcase %}
                    {%endfor%}
                    {%endcomment%}
                    <div class="available-offers">
                        <form name="offer-coupons" id="offer-coupons">
                            {% for block in section.blocks %}
                            {% case block.type %}
                            {% when 'available-offers' %}
                            <style>
                                .available-offers {
                                    display: block
                                }
                            </style>
                            <div class="select-coupon">
                                <input type="radio" name="available-offers" id="{{block.settings.offer}}"
                                    value="{{block.settings.offer}}">
                                <label for="{{block.settings.offer}}">
                                    <div class="offer-body" {{ block.shopify_attributes }}>
                                        <div class="code-details">
                                            <div class="code_cou">{{block.settings.offer}}</div>
                                            <div class="code_usp">{{block.settings.offer-usp}}</div>
                                        </div>
                                        <p class="code-desc">{{block.settings.offer-details}}</p>
                                    </div>
                                </label><br>
                            </div>
                            {% endcase %}
                            {%endfor%}
                        </form>
                    </div>
                </div>
                <div class="discount-div">
                    <input class="discount-input" placeholder="I have a discount code" />
                    <button class="discount-but">APPLY</button>
                </div>

                <div class="total-cover">
                    <h4 class="totamou">Subtotal: </h4>
                    <h4 id="cart__total_price" style="margin: 0;font-size: 16px;"></h4>
                    <input type="hidden" value="" class="cart-total-val" />
                </div>
                <div class="discount-price">
                    <p class="coupon-d">Coupon Discount</p>
                    <p class="coupon-p">Rs 0</p>
                </div>
                <div class="total-shipping">
                    <h4 class="shipping-title">Shipping: </h4>
                    <h4 class="shipping-price" style="margin: 0;font-size: 16px;">FREE</h4>
                </div>
                <div class="total-am">
                    <h4 class="tam">Total Amount: </h4>
                    <h4 class="tam_p" style="margin: 0;font-size: 16px;"></h4>
                </div>
              	<div id="zestmoney-widget-control-cart"></div> 
                <div class="checkout-col">
                    <p class="cart-val-error"></p>
{% comment %}                    <div class="continue-shopping text-center" style="margin-top: 0px;margin-bottom: 10px;">
                        <a class="side_cart_btn_home" href="/">Continue Shopping<span class="arrow-down"
                                style="text-align: left;display: inline-block;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="#ff0000" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather-chevron-down"
                                    style="transform: rotate(-90deg);fill: transparent;width: 20px;height: 20px;">
                                    <polyline points="6 9 12 15 18 9"></polyline>
                                </svg>
                            </span>
                        </a>

                    </div>
                  {% endcomment %} 
                  <div class="d-flex flex-row-reverse mb-lg-2">
                    <div class="checkout-buttons new-check btn---cont">
                        <a href="/checkout" class="button button--large but-fe cta--btn active" id="update-cart">
                            Pay Via Card</a>

                        {% if additional_checkout_buttons and section.settings.cart_terms_page == blank %}
                        <div class="additional-checkout-buttons">
                            {{ content_for_additional_checkout_buttons }}
                        </div>
                        {% endif %}
                    </div>
                  {% render 'gokwik-checkout' %}
                  {% comment%}
                    <div class="gokwik-container btn-right btn---cont">
                        <button class="gokwikpay go-fe cta--btn" data-type="cod"
                            style="margin-top: 0; background-color: #ff0000;" data-theme='{"primaryClr":"#000 "}'>
                            <span>
                                <span class="btn-text">
                                    <span class="cash-btn text-black">Pay Via UPI/COD</span>
                                    <!--                                           <span class="cod-new-text">Get extra Rs.50 Off on UPI</span> -->
                                </span>
                            </span>
                            <span>
                                <img class="pay-opt-icon lazyload"
                                    data-src="https://cdn.gokwik.co/v4/images/upi-icons.svg">
                                <img class="lazyload" data-src="https://cdn.gokwik.co/v4/images/right-arrow.svg">
                            </span>
                        </button>
                    </div>
 </div>
                 {%endcomment%}
                </div>
            </div>
        </div>
      
    </div>
</section>




<script>
    var mimic_automatic_discount = 0;

    document.querySelector('.cross').addEventListener('click', () => {
        document.getElementById('main-cross-but').click();
    })
    // setInterval(function () {
    //     if (!$('#cart__drawer_items div').length) {
    //         //$('.cart-offer').hide()
    //         $('.price-cover').hide()
    //         $('.shopp').show()
    // //         $('.cart-offer').hide()
    //         $('.cart__item.featured_product').hide()
    //         $('.coll').show()
    //         $('.head-cont').hide()
    //     }
    //     else {
    //         $('.shopp').hide()
    //         $('.cart-offer').show()
    //         $('.cart__item.featured_product').show()
    //         $('.coll').hide()
    //         $('.price-cover').show()
    //         $('.head-cont').show()
    //     }
    // }, 300)


    window.isSubmitting = true
    window.isaddingtocart = false
    function fetchCart(open_slider_cart) {
        $("#drawer-overlay").fadeIn();
        window.isSubmitting = true
        fetch('/cart.js')
            .then((resp) => resp.json())
            .then((data) => {
                sessionStorage.setItem('cartID', `${data.token}`)
                $(".cart-item-length").text(data.items.length + "  items")
                $("#cart__total_price").text("Rs " + data.total_price / 100)
                $('.cart-total-val').val(data.total_price / 100);

                if (open_slider_cart) {
                    if ($('.add-cart-modal').length > 0) {
                        $('.add-cart-modal').remove()
                    }
                    $('body').append(`
  <div class="add-cart-modal" style="
  position: fixed;
  background: white;
  bottom: 62px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  z-index: 100000;">
  <div class="atc-modal-info" style="
  color: white;">
  <div class="added-info" style="
  color: red;
  font-weight: 600;
  font-size: 15px;
  ">Added to Cart <img style="width:14px; height:14px; vertical-align:middle" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/check.png?v=1637908202"></div>
  <div class="atc-modal-btn" style="
font-size: 10px; color:black;
  ">Total Cart Amount ` + (data.total_price / 100).toString() + ` </div>
    </div>
  <div class="atc-modal-btn" style="
  padding: 4px 14px;
  background: red;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  color: white;
  cursor:pointer;
  ">View Cart</div>
  <script>
  $('.atc-modal-btn').on('click',function(){$(".drawer").addClass("is-visible is-active");
  $('.add-cart-modal').remove()
  })
  if($(".new_icon").css("display")=='none' && $(".product-form .quantity-submit-row__submit :input").length == 0){
  $(".add-cart-modal").css("bottom","0px")
  }
  if($(".product-form .quantity-submit-row__submit :input").length>0){
  $(".add-cart-modal").css("bottom","0px")

  }
  <\/script>
    </div>
  `)
                }
                if (data.items.length > 0) {

                    $('.shopp').hide()
                    $('.cart__item.featured_product').show()
                    $('.coll').hide()
                    $('.price-cover').show()
                    $('.head-cont').show()


                    $('#cart__drawer_items').empty()
                    $(".cart-count .beside-svg").eq(0).text(data.items.length)

                    $(".icon_bot.bottom_icon_cart .beside-svg").text(data.items.length)
                    $(".cart-count__text").text(data.items.length)
                    $(".cart-item-length").text((data.items.length).toString() + " items")

                    var _products_product_id = []
                    var _recommended_products_handles = []
                    var recommended_products_ids = [6604500140130, 6603960123490, 6604455772258, 6603971461218]
                    var _recommended_priority_list = ['smart-watch-charging-cable-n', 'micro-usb-rugged-v3-1-5-meter', 'aux-500-c', 'type-c-a350-cable-1-5-meter']
                    var gift_cards = [6629027479650, 6629028921442, 6629029773410, 6629030035554]
                    var recommended_already_added = true
                    var count = 0
                    data.items.forEach(function (product, index) {
                        _products_product_id.push(product.product_id)
                        
                        var product_class = "product_index_" + index.toString()

                        jQuery.getJSON(product.url + '.js', function (productdata) {
                            count = count + 1
                            var product_id = productdata.product.id
                            if (recommended_products_ids.indexOf(product_id)) {
                                product_url = product.url;
                            productImg = product.featured_image.url+'&width=120';
                            }
                            var product_compare_at_price = parseInt(productdata.product.variants[0].compare_at_price)
                            var product_price = product.final_price / 100
                            var percent_discount = Math.floor(((product_compare_at_price - product_price) / product_compare_at_price) * 100)

                            var product_tags = productdata.product.tags.split(", ")
                            var has_handle = false
                            var product_tag_handle = 'none'
                            for (var i = 0; i < product_tags.length; i++) {
                                if (product_tags[i].includes("recommend")) {
                                    has_handle = true
                                    product_tag_handle = product_tags[i].replace("recommend-", "").toLowerCase()
                                    _recommended_products_handles.push(product_tag_handle)
                                }
                            }
                            if (has_handle === false) {
                                if (recommended_products_ids.includes(product_id)) { _recommended_products_handles.push('none') }
                                else if (product_id == 6591986958434) {
                                    _recommended_products_handles.push('none');
                                }
                                else {
                                    product_tag_handle = 'type-c-a350-cable-1-5-meter'
                                    _recommended_products_handles.push(product_tag_handle)
                                }
                            }
                            if (gift_cards.includes(product_id) || product_id == 6629119656034) {
                                product_url = '#';
                                $('.gokwik-container').hide();
								
                                $("." + product_class + " .compare_price").hide()
                                $("." + product_class + " .percent_discount").hide()
                            }
                            $('#cart__drawer_items').prepend(`<div class="cart__item gg1 ` + product_class + `" style="width: 100% !important">
  <img class="remove_product lazyload" style="cursor: pointer;"
  data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Group_1_93145e45-8530-46aa-9fb8-6768cc3d80d2.png?v=1633783107">
  <a class="anchor" href="`+ product_url + `">
  <img src="`+ productImg + `"
  alt="` + product.featured_image.alt + `">
    </a>
  <div class="outer-fl">
  <div class="content-flex">
  <h5 class="prod-title" style='font-family: "Poppins"'>`+ product.product_title + `</h5>
 

  <p class="cash">Rs ` + product_price + `<span class="compare_price">Rs ` + product_compare_at_price + `</span><span class="percent_discount">` + percent_discount + `% OFF</span></p>
  <p class="multiplier">X</p>
    </div>
  <div class="product_id" style="display: none;">` + product_id + `</div>
  <div class="variant_id" style="display: none;">` + product.variant_id + `</div>
  <div class="product_tag_handle" style="display: none;">` + product_tag_handle + `</div>
  <div class="product_type" style="display: none;">` + productdata.product.product_type + `</div>
 <div class="d-flex mt-1">
<div class="imp">
  <div style="color:white; cursor: pointer;" class="bin">-</div>
  <div style="color:white;" class="quantity">`+ product.quantity + `</div>
  <div style="color:white; cursor: pointer;" class="plus">+</div>
    </div>
<p class="color"><span>`+ product.variant_options[0] + `</span></p></div>
  <div class="cart-quantity-message">You have added max allowed units for this item.</div>
    </div>
    </div>
  <script>
    if(`+ product_id + ` == 6628949229666){
    if(parseInt($(".`+ product_class + ` .quantity").text())>=2){
    $(".`+ product_class + ` .plus").addClass('plus-unusable')
    $(".`+ product_class + ` .cart-quantity-message").show()
    }
  }
  if(parseInt($(".`+ product_class + ` .quantity").text())>=7){
  $(".`+ product_class + ` .plus").addClass('plus-unusable')
  $(".`+ product_class + ` .cart-quantity-message").show()
  }
  $(".`+ product_class + ` .remove_product").on("click", function(){
  var variant_id = parseInt($(".`+ product_class + ` .variant_id").text())
  var cart_item_div = $(".`+ product_class + `.cart__item")
  var quantity = $(".`+ product_class + ` .quantity").text()
  var product_type = $(".`+ product_class + ` .product_type").text()

  var product_tag_handle = "`+ product_tag_handle + `"
  var recommended_products_ids = [6604500140130, 6603971461218, 6603960123490, 6604455772258]
  var _recommended_priority_list = ['smart-watch-charging-cable-n', 'type-c-a350-cable-1-5-meter', 'micro-usb-rugged-v3-1-5-meter', 'aux-500-c']
  if(product_tag_handle!='none'){
  var product_tag_handle_product_id = recommended_products_ids[_recommended_priority_list.indexOf(product_tag_handle)].toString()
  }
  var product_ids_incart = []
  var variant_ids_incart = []
  $(".product_id").each(function(i,j){
  product_ids_incart.push(j.innerText)
  })
  $(".variant_id").each(function(i,j){
  variant_ids_incart.push(j.innerText)
  })

  clevertap.event.push('Removed from Cart', {
  'Product Name': '`+ product.product_title + ` - ` + product.variant_options[0] + `',
  'Product Id': '`+ product.variant_id + `',
  'Price': '`+ product_price + `',
  'Category': 'product_type',
  'Quantity': quantity,
  })
  dataLayer.push({ ecommerce: null });
  dataLayer.push({
  'event': 'remove_from_cart',
  'ecommerce': {
  'items': [{
  'item_name': '`+ product.product_title + `',
  'item_id': '`+ product.variant_id + `}',
  'price': '`+ product_price + `',
  'item_category': 'product_type',
  'item_variant': '`+ product.variant_options[0] + `',
  'quantity': 'quantity'
  }]
  }
  });
  $("#drawer-overlay").fadeIn();
  $.ajax({
  type: "POST",
  url: '/cart/change.js',
  data: {            
  quantity: 0,
  id:variant_id               
  },
  success: function(response){  
  var json_response = JSON.parse(response)
  if(product_ids_incart.indexOf(product_tag_handle_product_id)!= -1){
    var token_p = json_response.token;
  $.ajax({
  type: "POST",
  url: '/cart/change.js',
  data: {            
  quantity: 0,
  id: variant_ids_incart[product_ids_incart.indexOf(product_tag_handle_product_id)]               
  },
  success: function(response){ 
  fetchCart()
  }
  });
  }
  else{
  if(json_response.items.length == 0){
    var token_p = json_response.token;
  $('.price-cover').hide()
  $('.shopp').show()
  $('.cart__item.featured_product').hide()
  $('.coll').show()
  $('.head-cont').hide()
  }
  cart_item_div.remove()
  fetchCart()
  }
  }
  });
  })

  $(".`+ product_class + ` .plus").on("click", function(){

  var quantity = parseInt($(".`+ product_class + ` .quantity").text())
  var new_quantity = quantity+1
  var variant_id = parseInt($(".`+ product_class + ` .variant_id").text())
  if(`+ product_id + ` != 6628949229666){
  if(new_quantity<8 && !window.isaddingtocart && `+ product_id + ` != 6591986958434){
  window.isaddingtocart = true
  $.ajax({
  type: "POST",
  url: '/cart/change.js',
  data: {            
  quantity: new_quantity,
  id:variant_id               
  },
  success: function(response){  
  var json_response = JSON.parse(response)
  var token_p = json_response.token;
  console.log('json_response',json_response)
  window.isaddingtocart = false
  $(".`+ product_class + ` .quantity").text(new_quantity)
  $("#cart__total_price").text('Rs '+ (json_response.total_price/100).toString() )
  $('.cart-total-val').val(json_response.total_price / 100)
  if(new_quantity==7){$(".`+ product_class + ` .cart-quantity-message").show()
  $(".`+ product_class + ` .plus").addClass('plus-unusable')}
  else{$(".`+ product_class + ` .cart-quantity-message").hide()
  $(".`+ product_class + ` .plus").removeClass('plus-unusable')}
    reapply_coupon();
  }
});
  }
  }
  else{
  if(new_quantity<3 && !window.isaddingtocart && `+ product_id + ` != 6591986958434){
  window.isaddingtocart = true
  $.ajax({
  type: "POST",
  url: '/cart/change.js',
  data: {            
  quantity: new_quantity,
  id:variant_id               
  },
  success: function(response){  
  var json_response = JSON.parse(response)
  var token_p = json_response.token;
  console.log('json_response',json_response)
  window.isaddingtocart = false
  $(".`+ product_class + ` .quantity").text(new_quantity)
  $("#cart__total_price").text('Rs '+ (json_response.total_price/100).toString() )
  $('.cart-total-val').val(json_response.total_price / 100)
  if(new_quantity==2){$(".`+ product_class + ` .cart-quantity-message").show()
  $(".`+ product_class + ` .plus").addClass('plus-unusable')}
  else{$(".`+ product_class + ` .cart-quantity-message").hide()
  $(".`+ product_class + ` .plus").removeClass('plus-unusable')}
    reapply_coupon();
  }
  });
  }
  }
if(`+ product_id + ` == 6591986958434){
                $(".`+ product_class + ` .plus").addClass('plus-unusable')
                $(".`+ product_class + ` .cart-quantity-message").show()

}        
  })

  $(".`+ product_class + ` .bin").on("click", function(){
  var quantity = parseInt($(".`+ product_class + ` .quantity").text())
  var new_quantity = quantity-1
  var variant_id = parseInt($(".`+ product_class + ` .variant_id").text())

  var product_tag_handle = "`+ product_tag_handle + `"
  var recommended_products_ids = [6604500140130, 6603971461218, 6603960123490, 6604455772258]
  var _recommended_priority_list = ['smart-watch-charging-cable-n', 'type-c-a350-cable-1-5-meter', 'micro-usb-rugged-v3-1-5-meter', 'aux-500-c']
  if(product_tag_handle!='none'){
  var product_tag_handle_product_id = recommended_products_ids[_recommended_priority_list.indexOf(product_tag_handle)].toString()
  }
  var product_ids_incart = []
  var variant_ids_incart = []
  $(".product_id").each(function(i,j){
  product_ids_incart.push(j.innerText)
  })
  $(".variant_id").each(function(i,j){
  variant_ids_incart.push(j.innerText)
  })
  if(!window.isaddingtocart){
  $.ajax({
  type: "POST",
  url: '/cart/change.js',
  data: {
  quantity: new_quantity,
  id:variant_id
  },
  success: function(response){ 
  var json_response = JSON.parse(response)
  json_response.items.forEach(function(product_bin, j){
    console.log( 'count_disc' ,product_bin.discounts.length)
        if(mimic_automatic_discount != 0 || product_bin.discounts.length> 0){
            if($('.line-item-discount').length){
                $('.line-item-discount').remove();
            }
            $('.multiplier').eq(j).after('<div class="line-item-discount"><p class="auto-coupon">buyXgetY<p class="auto-coupon-account">-Rs 244</p></div>')
  }
  })
  var token_p = json_response.token;
  $(".`+ product_class + ` .cart-quantity-message").hide()
  $(".`+ product_class + ` .quantity").text(new_quantity)
  if(new_quantity==0){

  $(".`+ product_class + `.cart__item").remove()
  if(product_ids_incart.indexOf(product_tag_handle_product_id)!= -1){

  $.ajax({
  type: "POST",
  url: '/cart/change.js',
  data: {            
  quantity: 0,
  id: variant_ids_incart[product_ids_incart.indexOf(product_tag_handle_product_id)]               
  },
  success: function(response){ 
  fetchCart()
  }
  });
  }
  else{  
  fetchCart()
  }
  }
  else if(new_quantity<7){
  $(".`+ product_class + ` .quantity").text(new_quantity)
  $("#cart__total_price").text('Rs '+ (json_response.total_price/100).toString() )
  $('.cart-total-val').val(json_response.total_price / 100)
  $(".`+ product_class + ` .plus").removeClass('plus-unusable')
  var token_p = json_response.token;
  }
  else {
  if(json_response.items.length == 0){
    var token_p = json_response.token;
  $('.price-cover').hide()
  $('.shopp').show()
  $('.cart__item.featured_product').hide()
  $('.coll').show()
  $('.head-cont').hide()
  }
  fetchCart()
  }
  window.isaddingtocart = false
  reapply_coupon();
  }
  });
  }
})   

  <\/script>
  `);
                            if (product_id == 6629119656034) {
                              $("." + product_class + " .color").hide();
                                $("." + product_class + " .imp").hide();
                                $("." + product_class + " .multiplier").hide();
                                $("." + product_class + " .compare_price").hide();
                                $("." + product_class + " .percent_discount").hide();
                            }
                            console.log('count_dis', product.discounts.length)
                            if (mimic_automatic_discount != 0 && product.discounts.length > 0) {
                                $('.multiplier').after(`<div class="line-item-discount"><p class="auto-coupon">` + product.discounts.title + `<p class="auto-coupon-account">` + product.discounts.amount + `</p></div>`)
                            }

                            if (recommended_products_ids.includes(product_id)) {
                                $("." + product_class + " .imp").hide()
                                $("." + product_class + " .multiplier").hide()
                                recommended_already_added = true
                            }
                            if ((count == (data.items.length)) && !recommended_already_added) {


                                var startRecommenedInterval = setInterval(function () {
                                    if (_recommended_products_handles.length == data.items.length && _recommended_products_handles.length == 1 && _recommended_products_handles[0] == 'none') {
                                        clearInterval(startRecommenedInterval)
                                        $('#cart__drawer_items_2').empty();
                                        window.isSubmitting = false;
                                    }
                                    else if (_recommended_products_handles.length == data.items.length) {

                                        clearInterval(startRecommenedInterval)
                                        // var _recommended_priority_list = ['smart-watch-charging-cable-n', 'type-c-a350-cable-1-5-meter', 'micro-usb-rugged-v3-1-5-meter', 'aux-500-c']
                                        var _recommended_priority_handle_index = 10
                                        for (var i = 0; i < _recommended_products_handles.length; i++) {
                                            var search_index = _recommended_priority_list.indexOf(_recommended_products_handles[i])
                                            if (search_index < _recommended_priority_handle_index && search_index != -1) {
                                                _recommended_priority_handle_index = search_index
                                            }

                                        }
                                        if (_recommended_priority_handle_index < 4) {
                                            jQuery.getJSON('/products/' + _recommended_priority_list[_recommended_priority_handle_index] + '.js', function (productdata) {
                                                var recommend_product_id = parseInt(productdata.id)
                                                if (_products_product_id.includes(recommend_product_id)) {
                                                    //                                     $(".featured_product").remove()
                                                    $("#cart__drawer_items_2").hide()
                                                    window.isSubmitting = false
                                                }
                                                else {
                                                    $("#cart__drawer_items_2").show()
                                                    var _recommend_variant
                                                    for (var i = 0; i < productdata.variants.length; i++) {
                                                        if (productdata.variants[i].available == true) {
                                                            _recommend_variant = productdata.variants[i]
                                                            break;
                                                        }
                                                    }
                                                    $("#cart__drawer_items_2").empty()
                                                    if (_recommend_variant) {
                                                        $("#cart__drawer_items_2").prepend(
                                                            `<div class="cart__item gg1 featured_product" style="width: 100% !important;background-color:#F7F9FA;">
  <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/sou.png?v=1635762467" style="position: absolute;top: 0px;left: 0px;max-width:175px">
  <a class="anchor" href="#">
  <img class="lazyload" data-src="`+ _recommend_variant.featured_image.src + `" alt="` + _recommend_variant.featured_image.alt + `" />
    </a>
  <div class="outer-fl">
  <div class="content-flex">
  <h5 class="prod-title" style='font-family: "Poppins"'>`+ productdata.title + `</h5>
<p class="color">`+ _recommend_variant.option1 + `</p>

  <p class="cash"><span class="t-price">Rs `+ (_recommend_variant.price / 100).toString() + `</span><span class="compare_price">Rs ` + (_recommend_variant.compare_at_price / 100).toString() + `</span><span class="percent_discount">` + (Math.floor(((_recommend_variant.compare_at_price - _recommend_variant.price) * 100) / (_recommend_variant.compare_at_price))).toString() + `% OFF</span></p>

    </div>
  <div class="featured_product_id" style="display: none;">`+ productdata.id + `</div>
  <div class="featured_variant_id" style="display: none;">`+ _recommend_variant.id + `</div>
  <div class="imp2">
  <div style="color:red; font-weight: 700; font-size: 14px;" class="featured_product_add_to_cart">+ Add to Cart</div>
    </div>
    </div>
    </div>`)
                                                        $(".featured_product_add_to_cart").on("click", function () {
                                                            let pName = $(this).closest('.imp2').closest('.outer-fl').find('.prod-title').text();
                                                            let vTitile = $(this).closest('.imp2').closest('.outer-fl').find('.color').text();
                                                            let tPrice = $(this).closest('.imp2').closest('.outer-fl').find('.t-price').text();
                                                            clevertap.event.push('Recommended Product Added to Cart', {
                                                                "Product Name": pName,
                                                                "Variant Title": vTitile,
                                                                "Price": tPrice,
                                                                "Source": "Cart Drawer"
                                                            })
                                                            $("#drawer-overlay").fadeIn();
                                                            $.ajax({
                                                                type: "POST",
                                                                url: '/cart/add.js',
                                                                data: {
                                                                    quantity: 1,
                                                                    id: parseInt($(".featured_variant_id").text())
                                                                },
                                                                success: function (response) {

                                                                    var json_response = JSON.parse(response)
                                                                    $("#cart__drawer_items_2").hide()
                                                                    var token_p = json_response.token;
                                                                    fetchCart()

                                                                }
                                                            });
                                                        })
                                                        window.isSubmitting = false
                                                    }
                                                    else {
                                                        window.isSubmitting = false
                                                    }

                                                }
                                            })
                                        }
                                    }

                                    else {
                                        window.isSubmitting = false
                                        $("#cart__drawer_items_2").hide()
                                    }
                                }, 300)
                                $("#drawer-overlay").fadeOut();
                                reapply_coupon();
                            }
                            else if ((count == (data.items.length)) && recommended_already_added) {
                                window.isSubmitting = false;
                                $("#drawer-overlay").fadeOut();
                                reapply_coupon();
                            }
                        }).fail(function (e) {
                            if (e.status == '404') {
                                $.ajax({
                                    type: "POST",
                                    url: '/cart/change.js',
                                    data: {
                                        quantity: 0,
                                        id: product.variant_id
                                    },
                                    success: function (response) { }
                                })
                                console.log('removed-prod');
                                fetchCart();
                            }
                        });
                        //                   jsonproduct
                    });
                    //               dataitems.foreach

                }
                else {
                    window.isSubmitting = false
                    $('#cart__drawer_items').empty()
                    $("#drawer-overlay").fadeOut();
                    $('.price-cover').hide()
                    $('.shopp').show()
                    $('.cart__item.featured_product').hide()
                    $('.coll').show()
                    $('.head-cont').hide()

                    $(".cart-count .beside-svg").eq(0).text(data.items.length)
                    $(".icon_bot.bottom_icon_cart .beside-svg").text(data.items.length)
                    $(".cart-count__text").text(data.items.length)
                    $(".cart-item-length").text((data.items.length).toString() + " items")
                    reapply_coupon();
                }
            });


    }

    var disable_coupons = 0;

    fetchCart(false)

    $('.select-coupon input').on('click', function (e) {
        $('#coupon-code-text')[0].value = $('input[name="available-offers"]:checked')[0].getAttribute('value')
    })

    function remove_function() {
        sessionStorage.setItem('coupon-remove', true);
        sessionStorage.setItem('coupon-code', '');
        sessionStorage.setItem('discount_code', '');
        console.log('clicked remove')
        $('.tag-slider-cart').remove();
        $('.total-am').hide();
        $('.discount-price').hide();
    }

    function applyCoupon(){
        if (disable_coupons != 1) {
            var basecode = $('#coupon-code-text')[0].value;
            $.ajax({
                type: "POST",
                url: "https://boat-api.farziengineer.co/discount",
                headers: {
                    "Content-Type": "application/json"
                },
                data: `{"code":"${basecode}", "cartId":"${sessionStorage.getItem('cartID')}"}`,
            }).then((response) => {
                if (response == "true" || response == "True") {
                    sessionStorage.setItem('coupon-remove', false);

                    $.ajax({
                        type: "POST",
                        url: "https://www.boat-lifestyle.com/cart",
                        headers: { "Content-Type": "application/json" },
                        data: `{"checkout":"Check out}", "discount":"${$('#coupon-code-text')[0].value}"}`,
                    }).then((response) => {
                        console.log(response)
                        var n = document.createElement("div");
                        n.innerHTML = response;
                        var r = "data-checkout-subtotal-price-target"
                            , o = n.querySelector("[".concat(r, "]"))
                            , i = n.querySelector(".reduction-code__text")
                            , a = n.querySelector("[".concat("data-checkout-discount-amount-target", "]"))
                            , pr = n.querySelector(".payment-due__price")
                            , tlr = n.querySelector('.total-line--reduction');
                        console.log(o);
                        console.log(i);
                        if (o && i) {
                            var l = !!o && Number(o.getAttribute(r))
                                , tpr = Number(pr.getAttribute('data-checkout-payment-due-target'))
                                , s = !!a && Number(a.getAttribute("data-checkout-discount-amount-target"))
                                , u = s && s > 0 ? s : l;
                            console.log("code", {
                                name: i.textContent.trim().split(" ")[0],
                                amount: u
                            })
                        }
                        console.log("not", i ? {
                            name: i.textContent,
                            amount: !1,
                            deduction: s,
                            final_pr: tpr
                        } : {
                            name: !1,
                            amount: !1
                        })


                        if ($('.tag-slider-cart').length) {
                            if (i != undefined) {
                                if (i.innerText.trim().split(' ')[0].toLowerCase() != $('#coupon-code-text')[0].value.toLowerCase() || i.innerText.trim().includes('')) {
                                    sessionStorage.setItem('coupon-remove', true);
                                    sessionStorage.setItem('coupon-code', '');
                                    sessionStorage.setItem('discount_code', ''); 
                                    $('.tag-slider-cart').remove();
                                  	if(!i.innerText.trim().includes('')){
                                          $('.coupon-text').after(`<p class="tag-slider-cart invalid-code">This coupon code is not valid for items in your cart.</p>`)
									}
                                    $('.total-am').hide();
                                    $('.discount-price').hide();
                                    if ($('#coupon-code-text')[0].value != '') {
                                        $('#coupon-code-text')[0].value = '';
                                    }
                                    return;
                                }
                            }
                            $('.tag-slider-cart').remove();
                            if (i != undefined) {
                                $('.coupon-text').after(`<div class="tag-slider-cart valid-code" style="
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: max-content;
                max-width: 500px;
                background: #d9d9d9;
                border-radius: 5px;
                margin: 10px 10px 10px 0;
                padding: 3px;
                ">
                <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/image_6.png?v=1636981123" style="
                height: 20px;
                ">
                <div class="applied-coupon-text" style="
                font-weight: 600;
                text-transform: uppercase;
                font-size: 14px;
                margin: 0 10px;
                ">${i.innerText.trim().split(' ')[0]}</div>
                <img class="remove-coupon" onclick="remove_function()" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/image_8.png?v=1636981510" style="
                height: 16px;
                ">
                    </div>`)
                                if (u != 0 && tlr) {
                                    $('.coupon-p')[0].innerText = '- Rs ' + (u / 100);
                                    $('.discount-price')[0].style.display = 'flex';
                                }
                                else { $('.discount-price').hide(); }

                                $('.tam_p')[0].innerText = 'Rs ' + tpr / 100;
                                $('.total-am')[0].style.display = "flex";
                                sessionStorage.setItem('coupon-code', `${i.innerText.trim().split(' ')[0]}`)
                                sessionStorage.setItem('discount_code', `${i.innerText.trim().split(' ')[0]}`);
                                if ($('#coupon-code-text')[0].value != '') {
                                    $('#coupon-code-text')[0].value = '';
                                }
                            }
                            else {
                                $('.coupon-text').after(`<p class="tag-slider-cart invalid-code">This coupon code is not valid for items in your cart.</p>`)
                                $('.discount-price').hide();
                                $('.total-am').hide();
                                if ($('#coupon-code-text')[0].value != '') {
                                    $('#coupon-code-text')[0].value = '';
                                }
                            }
                        }
                        else {
                            if (i != undefined) {
                                if (i.innerText.trim().split(' ')[0].toLowerCase() != $('#coupon-code-text')[0].value.toLowerCase()) {
                                    sessionStorage.setItem('coupon-remove', true);
                                    sessionStorage.setItem('coupon-code', '');
                                    sessionStorage.setItem('discount_code', '');
                                    $('.tag-slider-cart').remove();
                                    $('.coupon-text').after(`<p class="tag-slider-cart invalid-code">This coupon code is not valid for items in your cart.</p>`)
                                    $('.total-am').hide();
                                    $('.discount-price').hide();
                                    if ($('#coupon-code-text')[0].value != '') {
                                        $('#coupon-code-text')[0].value = '';
                                    }
                                    return;
                                }
                            }
                            if (i != undefined) {
                                $('.coupon-text').after(`<div class="tag-slider-cart valid-code" style="
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: max-content;
                max-width: 500px;
                background: #d9d9d9;
                border-radius: 5px;
                margin: 10px 10px 10px 0;
                padding: 3px;
                ">
                <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/image_6.png?v=1636981123" style="
                height: 20px;
                ">
                <div class="applied-coupon-text" style="
                font-weight: 600;
                text-transform: uppercase;
                font-size: 14px;
                ">${i.innerText.trim().split(' ')[0].toLowerCase()}</div>
                <img class="remove-coupon" onclick="remove_function()" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/image_8.png?v=1636981510" style="
                height: 16px;
                ">
                    </div>`)
                                if (u != 0 && tlr) {

                                    $('.coupon-p')[0].innerText = '- Rs ' + (u / 100);
                                    $('.discount-price')[0].style.display = 'flex';
                                }
                                else { $('.discount-price').hide(); }
                                $('.tam_p')[0].innerText = 'Rs ' + tpr / 100;
                                $('.total-am')[0].style.display = "flex";
                                sessionStorage.setItem('coupon-code', `${i.innerText.trim().split(' ')[0].toLowerCase()}`)
                                sessionStorage.setItem('discount_code', `${i.innerText.trim().split(' ')[0]}`);
                                if ($('#coupon-code-text')[0].value != '') {
                                    $('#coupon-code-text')[0].value = '';
                                }

                            }
                            else {
                                $('.coupon-text').after(`<p class="tag-slider-cart invalid-code">This coupon code is not valid for items in your cart.</p>`)
                                $('.discount-price').hide();
                                $('.total-am').hide();
                                if ($('#coupon-code-text')[0].value != '') {
                                    $('#coupon-code-text')[0].value = '';
                                }
                            }
                        }
                        // sessionStorage.setItem('coupon-code', `${i.innerText.trim().split(' ')[0].toLowerCase()}`);
                    })
                        .catch((r) => {
                            console.log(r)

                        });
                    setTimeout(function () {
                        var couponlog_postrequest = {
                            url: "https://boat-api.farziengineer.co/couponlog",
                            method: "POST",
                            timeout: 0,
                            headers: {
                                "Content-Type": "application/json",
                            },
                        };
                        var v = setInterval(function () {
                            if ($(".edit_checkout .fieldset:last p").length != 0 && $(".edit_checkout .fieldset:last p").css("display") != "none") {
                                couponlog_postrequest.data = JSON.stringify({
                                    coupon: basecode,
                                    log: $(".edit_checkout .fieldset:last p").text(),
                                });
                                $.ajax(couponlog_postrequest).done(function (response) {

                                });
                                clearInterval(v);
                            } else if ($(".notice.notice--warning .notice__content .notice__text").text().length > 0) {
                                couponlog_postrequest.data = JSON.stringify({
                                    coupon: basecode,
                                    log: $(".notice.notice--warning .notice__content .notice__text").text(),
                                });
                                $.ajax(couponlog_postrequest).done(function (response) {

                                });
                                clearInterval(v);
                            } else if ($(".tags-list .tag .tag__wrapper .reduction-code .reduction-code__text").length != 0) {
                                couponlog_postrequest.data = JSON.stringify({
                                    coupon: basecode,
                                    log: $(".tags-list .tag .tag__wrapper .reduction-code .reduction-code__text").text(),
                                });
                                $.ajax(couponlog_postrequest).done(function (response) {

                                });
                                clearInterval(v);
                            }
                        }, 1000);
                    }, 3000);
                }
            }
            ).fail(() => {
                sessionStorage.setItem('coupon-remove', false);

                $.ajax({
                    type: "POST",
                    url: "https://www.boat-lifestyle.com/cart",
                    headers: { "Content-Type": "application/json" },
                    data: `{"checkout":"Check out}", "discount":"${$('#coupon-code-text')[0].value}"}`,
                }).then((response) => {
                    console.log(response)

                    var n = document.createElement("div");
                    n.innerHTML = response;
                    var r = "data-checkout-subtotal-price-target"
                        , o = n.querySelector("[".concat(r, "]"))
                        , i = n.querySelector(".reduction-code__text")
                        , a = n.querySelector("[".concat("data-checkout-discount-amount-target", "]"))
                        , pr = n.querySelector(".payment-due__price")
                        , tlr = n.querySelector('.total-line--reduction');
                    console.log(o);
                    console.log(i);
                    if (o && i) {
                        var l = !!o && Number(o.getAttribute(r))
                            , tpr = Number(pr.getAttribute('data-checkout-payment-due-target'))
                            , s = !!a && Number(a.getAttribute("data-checkout-discount-amount-target"))
                            , u = s && s > 0 ? s : l;

                        console.log("code", {
                            name: i.textContent.trim().split(" ")[0],
                            amount: u
                        })
                    }
                    console.log("not", i ? {
                        name: i.textContent,
                        amount: !1,
                        deduction: s,
                        final_pr: tpr
                    } : {
                        name: !1,
                        amount: !1
                    })


                    if ($('.tag-slider-cart').length) {
                        if (i != undefined) {
                            if (i.innerText.trim().split(' ')[0].toLowerCase() != $('#coupon-code-text')[0].value.toLowerCase()) {
                                sessionStorage.setItem('coupon-remove', true);
                                sessionStorage.setItem('coupon-code', '');
                                sessionStorage.setItem('discount_code', '');
                                $('.tag-slider-cart').remove();
                                $('.coupon-text').after(`<p class="tag-slider-cart invalid-code">This coupon code is not valid for items in your cart.</p>`)
                                $('.total-am').hide();
                                $('.discount-price').hide();
                                if ($('#coupon-code-text')[0].value != '') {
                                    $('#coupon-code-text')[0].value = '';
                                }
                                return;
                            }
                        }
                        $('.tag-slider-cart').remove();
                        if (i != undefined) {
                            $('.coupon-text').after(`<div class="tag-slider-cart valid-code" style="
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: max-content;
                max-width: 500px;
                background: #d9d9d9;
                border-radius: 5px;
                margin: 10px 10px 10px 0;
                padding: 3px;
                ">
                <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/image_6.png?v=1636981123" style="
                height: 20px;
                ">
                <div class="applied-coupon-text" style="
                font-weight: 600;
                text-transform: uppercase;
                font-size: 14px;
                margin: 0 10px;
                ">${i.innerText.trim().split(' ')[0]}</div>
                <img class="remove-coupon" onclick="remove_function()" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/image_8.png?v=1636981510" style="
                height: 16px;
                ">
                    </div>`)
                            if (u != 0 && tlr) {
                                $('.coupon-p')[0].innerText = '- Rs ' + (u / 100);
                                $('.discount-price')[0].style.display = 'flex';
                            }
                            else { $('.discount-price').hide(); }

                            $('.tam_p')[0].innerText = 'Rs ' + tpr / 100;
                            $('.total-am')[0].style.display = "flex";
                            sessionStorage.setItem('coupon-code', `${i.innerText.trim().split(' ')[0]}`)
                            sessionStorage.setItem('discount_code', `${i.innerText.trim().split(' ')[0]}`);
                            if ($('#coupon-code-text')[0].value != '') {
                                $('#coupon-code-text')[0].value = '';
                            }
                        }
                        else {
                            $('.coupon-text').after(`<p class="tag-slider-cart invalid-code">This coupon code is not valid for items in your cart.</p>`)
                            $('.discount-price').hide();
                            $('.total-am').hide();
                            if ($('#coupon-code-text')[0].value != '') {
                                $('#coupon-code-text')[0].value = '';
                            }
                        }
                    }
                    else {
                        if (i != undefined) {
                            if (i.innerText.trim().split(' ')[0].toLowerCase() != $('#coupon-code-text')[0].value.toLowerCase()) {
                                sessionStorage.setItem('coupon-remove', true);
                                sessionStorage.setItem('coupon-code', '');
                                sessionStorage.setItem('discount_code', '');
                                $('.tag-slider-cart').remove();
                                $('.coupon-text').after(`<p class="tag-slider-cart invalid-code">This coupon code is not valid for items in your cart.</p>`)
                                $('.total-am').hide();
                                $('.discount-price').hide();
                                if ($('#coupon-code-text')[0].value != '') {
                                    $('#coupon-code-text')[0].value = '';
                                }
                                return;
                            }
                        }
                        if (i != undefined) {
                            $('.coupon-text').after(`<div class="tag-slider-cart valid-code" style="
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: max-content;
                max-width: 500px;
                background: #d9d9d9;
                border-radius: 5px;
                margin: 10px 10px 10px 0;
                padding: 3px;
                ">
                <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/image_6.png?v=1636981123" style="
                height: 20px;
                ">
                <div class="applied-coupon-text" style="
                font-weight: 600;
                text-transform: uppercase;
                font-size: 14px;
                ">${i.innerText.trim().split(' ')[0].toLowerCase()}</div>
                <img class="remove-coupon lazyload" onclick="remove_function()" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/image_8.png?v=1636981510" style="
                height: 16px;
                ">
                    </div>`)
                            if (u != 0 && tlr) {

                                $('.coupon-p')[0].innerText = '- Rs ' + (u / 100);
                                $('.discount-price')[0].style.display = 'flex';
                            }
                            else { $('.discount-price').hide(); }
                            $('.tam_p')[0].innerText = 'Rs ' + tpr / 100;
                            $('.total-am')[0].style.display = "flex";
                            sessionStorage.setItem('coupon-code', `${i.innerText.trim().split(' ')[0].toLowerCase()}`)
                            sessionStorage.setItem('discount_code', `${i.innerText.trim().split(' ')[0]}`);
                            if ($('#coupon-code-text')[0].value != '') {
                                $('#coupon-code-text')[0].value = '';
                            }

                        }
                        else {
                            $('.coupon-text').after(`<p class="tag-slider-cart invalid-code">This coupon code is not valid for items in your cart.</p>`)
                            $('.discount-price').hide();
                            $('.total-am').hide();
                            if ($('#coupon-code-text')[0].value != '') {
                                $('#coupon-code-text')[0].value = '';
                            }
                        }
                    }
                    // sessionStorage.setItem('coupon-code', `${i.innerText.trim().split(' ')[0].toLowerCase()}`);
                })
                    .catch((r) => {
                        console.log(r)

                    });
                setTimeout(function () {
                    var couponlog_postrequest = {
                        url: "https://boat-api.farziengineer.co/couponlog",
                        method: "POST",
                        timeout: 0,
                        headers: {
                            "Content-Type": "application/json",
                        },
                    };
                    var v = setInterval(function () {
                        if ($(".edit_checkout .fieldset:last p").length != 0 && $(".edit_checkout .fieldset:last p").css("display") != "none") {
                            couponlog_postrequest.data = JSON.stringify({
                                coupon: basecode,
                                log: $(".edit_checkout .fieldset:last p").text(),
                            });
                            $.ajax(couponlog_postrequest).done(function (response) {

                            });
                            clearInterval(v);
                        } else if ($(".notice.notice--warning .notice__content .notice__text").text().length > 0) {
                            couponlog_postrequest.data = JSON.stringify({
                                coupon: basecode,
                                log: $(".notice.notice--warning .notice__content .notice__text").text(),
                            });
                            $.ajax(couponlog_postrequest).done(function (response) {

                            });
                            clearInterval(v);
                        } else if ($(".tags-list .tag .tag__wrapper .reduction-code .reduction-code__text").length != 0) {
                            couponlog_postrequest.data = JSON.stringify({
                                coupon: basecode,
                                log: $(".tags-list .tag .tag__wrapper .reduction-code .reduction-code__text").text(),
                            });
                            $.ajax(couponlog_postrequest).done(function (response) {

                            });
                            clearInterval(v);
                        }
                    }, 1000);
                }, 3000);
            }
            );


        }
    }
    
    function reapply_coupon() {

        if (sessionStorage.getItem('coupon-code') && sessionStorage.getItem('coupon-code') != '' && sessionStorage.getItem('coupon-remove') != 'true' && disable_coupons != 1) {
            sessionStorage.setItem('coupon-remove', true);
            sessionStorage.setItem('discount_code', '');
            window.isaddingtocart = true
            $.ajax({
                type: "POST",
                url: "https://www.boat-lifestyle.com/cart",
                headers: { "Content-Type": "application/json" },
                data: `{"checkout":"Check out}", "discount":"${sessionStorage.getItem('coupon-code')}"}`,
            }).then((response) => {
                window.isaddingtocart = false;
                console.log(response)
                console.log('abcd-1')
                var n = document.createElement("div");
                n.innerHTML = response;
                var r = "data-checkout-subtotal-price-target"
                    , o = n.querySelector("[".concat(r, "]"))
                    , i = n.querySelector(".reduction-code__text")
                    , a = n.querySelector("[".concat("data-checkout-discount-amount-target", "]"))
                    , pr = n.querySelector(".payment-due__price")
                    , tlr = n.querySelector('.total-line--reduction');

                console.log(o);
                console.log(i);
                if (o && i) {
                    var l = !!o && Number(o.getAttribute(r))
                        , tpr = Number(pr.getAttribute('data-checkout-payment-due-target'))
                        , s = !!a && Number(a.getAttribute("data-checkout-discount-amount-target"))
                        , u = s && s > 0 ? s : l;
                    console.log("code", {
                        name: i.textContent.trim().split(" ")[0],
                        amount: u
                    })
                }
                console.log("not", i ? {
                    name: i.textContent,
                    amount: !1,
                    deduction: s,
                    final_pr: tpr
                } : {
                    name: !1,
                    amount: !1
                })
                if (i.innerText.trim().includes('')){
					return;
                }
                if (i != undefined) {
                    $('.tag-slider-cart').remove();
                    sessionStorage.setItem('coupon-remove', false);
                    $('.coupon-text').after(`<div class="tag-slider-cart valid-code" style="
                          display: flex;
                          align-items: center;
                          justify-content: space-around;
                          width: max-content;
                          max-width: 500px;
                          background: #d9d9d9;
                          border-radius: 5px;
                          margin: 10px 10px 10px 0;
                          padding: 3px;
                          ">
                                    <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/image_6.png?v=1636981123" style="
                              height: 20px;
                          ">
                          <div class="applied-coupon-text" style="
                              font-weight: 600;
                              text-transform: uppercase;
                              font-size: 14px;
                          ">${sessionStorage.getItem('coupon-code').toUpperCase()}</div>
                          <img class="remove-coupon" onclick="remove_function()" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/image_8.png?v=1636981510" style="
                              height: 16px;
                          ">
                          </div>`)
                    if (u != 0 && tlr) {

                        $('.coupon-p')[0].innerText = '- Rs ' + (u / 100);
                        $('.discount-price')[0].style.display = 'flex';
                    }
                    else { $('.discount-price').hide(); }
                    $('.tam_p')[0].innerText = 'Rs ' + tpr / 100;
                    $('.total-am')[0].style.display = "flex";
                    if ($('#coupon-code-text').length > 0) {
                        if ($('#coupon-code-text')[0].value != '') {
                            $('#coupon-code-text')[0].value = '';
                        }
                    }
                }
                else {
                    $('.tag-slider-cart').remove();
                    $('.coupon-text').after(`<p class="tag-slider-cart invalid-code">This coupon code is not valid for items in your cart.</p>`)
                    $('.discount-price').hide();
                    $('.total-am').hide();
                    sessionStorage.setItem('coupon-remove', true);
                    sessionStorage.setItem('coupon-code', '');
                    sessionStorage.setItem('discount_code', ''); 
                    if ($('#coupon-code-text').length > 0) {
                        if ($('#coupon-code-text')[0].value != '') {
                            $('#coupon-code-text')[0].value = '';
                        }
                    }
                }
            })
                .catch((r) => {
                    console.log(r)

                });
        }

    }

    // var coupon_quant = setInterval(function () {
    //     if ($('.imp').length) {
    //         $('.imp').on('click', function () {
    //             reapply_coupon();
    //             console.log('imp')
    //         })
    //         clearInterval(coupon_quant)
    //     }
    // }, 500)

    // var coupon_remove_prod = setInterval(function () {
    //     if ($('.cart__item').length) {
    //         $('.cart__item').on('click', function () {
    //             reapply_coupon();
    //             console.log('cart_item')
    //         })
    //         clearInterval(coupon_remove_prod)
    //     }
    // }, 500)



    $('#coupon-apply').on('click', function () {
        applyCoupon();
        $('#coupon-apply').after(`<div id="apply_coupon_overlay" style="display:none;">
          <div class="apply_coupon_spinner"></div>
        </div>`)

        $("#apply_coupon_overlay").fadeIn();
        $('#coupon-apply').hide();
        setTimeout(function () { $("#apply_coupon_overlay").remove(); $('#coupon-apply').fadeIn(); }, 3000);
        let couponCode = $('#coupon-code-text').val();
        let discountAmount = $(this).closest('.coupon-text').closest('.cart-coupon').siblings('.discount-price').find('.coupon-p').text();
        setTimeout(function () {if (couponCode) {
            clevertap.event.push("Discount Code Applied", {
                "Discounted Amount": discountAmount,
                "Discount Code": couponCode,
                "source": 'Cart Drawer'
            });
            console.log('Sheena' + discountAmount)
        }
                                }, 5000)

    })

</script>
<script>
    let cart_cl = setInterval(function () {
        if ($('.cart-count').length) {
            $('.cart-count').on('click', function () {
                console.log('34');
                if ($('.add-cart-modal').length) {
                    console.log('12');
                    $('.add-cart-modal').hide();
                }
            })
            clearInterval(cart_cl)
        }
    }, 300)

    setInterval(function () { if ($('.new_icon').length) { if ($('.new_icon')[0].style.height == '50px') { $('.new_icon')[0].style.height = '65px'; } } }, 100)

    $("#update-cart").click(function () {
        var cart_total_price = $("#cart__total_price").text().replace("Rs ", "")
        var product_title_concat = ""
        var datalayer_items = []

        $("#cart__drawer_items .cart__item").each(function (i, obj) {
            var product_title = $("." + $(this).attr("class").replaceAll(" ", ".") + " .prod-title").text()
            var product_id = $("." + $(this).attr("class").replaceAll(" ", ".") + " .product_id").text()
            var product_price = $("." + $(this).attr("class").replaceAll(" ", ".") + " .cash").clone().find('span').remove().end().text().replace("Rs ", "");
            var product_category = $("." + $(this).attr("class").replaceAll(" ", ".") + " .product_type").text()
            var quantity = $("." + $(this).attr("class").replaceAll(" ", ".") + " .quantity").text()
            if (i == 0) { product_title_concat = product_title }
            else { product_title_concat = product_title_concat + ',' + product_title }
            var item = {
                'item_name': product_title,
                'item_id': product_id,
                'price': product_price,
                'item_category': product_category,
                'quantity': quantity

            }
            datalayer_items.push(item)
        })

        clevertap.event.push("Checkout Button Clicked", {
            "Amount": cart_total_price,
            "Product Name": product_title_concat
        });
        dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
        dataLayer.push({
            'event': 'begin_checkout',
            'ecommerce': {
                'items': datalayer_items
            }
        });

    });
    $('.gokwikpay').click(function () {
        clevertap.event.push('GoKwik Button Clicked');
    })

    reapply_coupon();

    $('.gokwik-container').hover(function () {
        $('#update-cart').css('color', 'black');
        $('#update-cart.active')[0].style.setProperty("background-color", "white", "important");
    })

    $('.gokwik-container').on('mouseleave', function () {
        $('#update-cart').css('color', 'white');
        $('#update-cart.active')[0].style.setProperty("background-color", "red", "important");
    })

    $('.line:last').hide();
    // setInterval(function () {
    //     window.isSubmitting = false;
    // }, 2000)

//     document.addEventListener('couponRemoved', function (e) {
//         $('.remove-coupon')[0].click();
//     })
    setInterval(function () {
        if ($('.cart-total-val').val() > 49000) {
            $('.drawer__content .checkout-buttons, .drawer__content .gokwik-container').hide()
            $('.drawer__content .cart-val-error').html(`Cart value cannot be greater than <strong>49000!</strong> Reduce cart value to proceed.`).show();
        } else {
            $('.drawer__content .checkout-buttons, .drawer__content .gokwik-container').show()
            $('.drawer__content .cart-val-error').hide()
        }
    }, 100)

</script>


{% schema %}
{
"name": "Cart Offer Text",
"settings": [
{
"type": "html",
"id": "cart_announcement",
"label": "Cart Announcement Bar",
"default": "Free Shipping, COD Available In Delhi/NCR"
},
{
"type": "checkbox",
"id": "show_cart_offer",
"label": "Show Cart Offer",
"default": true
},
{
"type": "text",
"id": "offer1title",
"label": "Offer 1 : Title"
},
{
"type": "text",
"id": "offer1description",
"label": "Offer 1 : Description"
},
{
"type": "text",
"id": "offer2title",
"label": "Offer 2 : Title"
},
{
"type": "text",
"id": "offer2description",
"label": "Offer 2 : Description"
}
],
"blocks": [
{
"name": "available-offers",
"type": "available-offers",
"settings": [
{
"type": "text",
"id": "offer",
"label": "coupon code"
},
{
"type": "text",
"id": "offer-usp",
"label": "offer usp"
},
{
"type": "text",
"id": "offer-details",
"label": "Offer Details"
}
]
},
{
"name": "cart-offers",
"type": "cart-offers",
"settings": [
{
"type": "text",
"id": "offer1title",
"label": "Offer 1 : Title"
},
{
"type": "text",
"id": "offer1description",
"label": "Offer 1 : Description"
}
]
}
]
}
{% endschema %}