<style>
  .expert_reviews{background: #1a2024;padding: 10px;}
  .expert_reviews .MultiCarousel .MultiCarousel-inner{margin-left: 0px;}
  .expert_reviews .MultiCarousel .MultiCarousel-inner .item{padding-left: 0px !important;}
  .expert_reviews .item p.expert_review{color: #fff;text-align: center;font-size: 14px;padding: 2rem 1rem;background: #000;border-bottom-left-radius: 16px;border-bottom-right-radius: 16px;font-weight: normal;}
  .expert_reviews .item .expert_image_wrapper .rating_section p{color: #fff;text-align: center;font-size: 14px;}
  .expert_text_container{text-align: center;display: block;margin: 22px auto 0px auto;color: #fff;}
  .expert_reviews .MultiCarousel{padding-bottom: 2rem;}
  .expert_reviews .bot_experts_slider_dots{bottom: 0px;}
  .expert_reviews .bot_experts_slider_dots li.active:after{background: #fff;}

  @media (max-width: 767px){
    .shop_by_category_section_2_0 .single_collection .collection_title{margin-top: 8px;}
    .shop_by_category_section_2_0 .img_container:after{bottom: 12px !important;}
    .expert_reviews .expert_image_wrapper {position: relative;background: transparent !important;padding: 0px !important;}
    .expert_reviews .expert_image_wrapper img{border-radius: 0px;}
    .expert_image_wrapper .rating_section {position: absolute;bottom: 10px; left: 50%; transform: translateX(-50%);}
    .expert_reviews .item .expert_image_wrapper .rating_section p.review_heading {font-size: 14px;margin: 0px;}
    .expert_reviews .item .expert_image_wrapper .rating_section .expert_rating{text-align: center;}
    .expert_reviews .item .expert_image_wrapper .video_play_icon{position: absolute;top: 50%;left: 50%;transform: translate(-50%);}
    .expert_text_container h2{font-size: 44px;font-weight: normal;margin-bottom: 6px;line-height: 1.05;}
    .expert_text_container p{font-size: 16px;}
  }
</style>

<div class="container MultiCarousel_container slider-2.0">
  <div class="row">
    <div class="text_container expert_text_container">
      <h2>The experts <br><strong>are on boAt</strong></h2>
      <p>The experts listen, compare, and weigh in</p>
  </div>
</div>
	<div class="row">
		<div class="MultiCarousel {{ section.id }}" id="MultiCarousel_{{ section.id }}" {% render 'carousel-js' %}>
      <div class="MultiCarousel-inner {{ section.id }} draggable" draggable="true">
        {% for block in section.blocks %}
          <div class="item slide_{{forloop.index}}">
            {% if block.settings.mobile_image != blank %}
              <div class="expert_image_wrapper">
                <picture>
                  <source
                    media="(min-width: 769px)"
                    {% render 'image-attributes', image: block.settings.desktop_image, sizes: '700,800,900,1000,1200,1400,1600', ignore_src: true %}
                  >
                  <img width="91%" 
                    class="image-overlay__image_"
                    {% render 'image-attributes', image: block.settings.mobile_image, sizes: '200,300,400,500,600' %}
                    alt="{{block.settings.desktop_image.alt}}" {% if forloop.first %}loading="eager" fetchpriority="high"{% endif %}
                  >
                </picture>
                <div class="rating_section">
                  <p class="review_heading">Best of the year</p>
                  <div class="expert_rating">
                    {% for i in (1..5) %}
                      {% if i <= 3 %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16.121" height="15.542" viewBox="0 0 16.121 15.542">
                          <g id="Star_Filled_icon" data-name="Star Filled icon" transform="translate(-107 -626.5)">
                            <g id="Group_205714" data-name="Group 205714" transform="translate(103 626.5)">
                              <path id="Path_305344" data-name="Path 305344" d="M1151.345,361.188a1.213,1.213,0,0,1,2.176,0l1.839,3.73,4.1.611a1.214,1.214,0,0,1,.674,2.063l-2.964,2.928.69,4.117a1.213,1.213,0,0,1-1.762,1.274l-3.662-1.927-3.662,1.927a1.213,1.213,0,0,1-1.762-1.274l.69-4.117-2.965-2.928a1.213,1.213,0,0,1,.674-2.063l4.1-.611Z" transform="translate(-1140.374 -360.511)" fill="#f4c730" fill-rule="evenodd"/>
                            </g>
                          </g>
                        </svg>
                      {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.148" height="16.561" viewBox="0 0 17.148 16.561">
                          <g id="Star_Unfilled_icon" data-name="Star Unfilled icon" transform="translate(-106.486 -626)">
                            <g id="Group_205714" data-name="Group 205714" transform="translate(103 626.5)">
                              <path id="Path_305344" data-name="Path 305344" d="M1151.345,361.188a1.213,1.213,0,0,1,2.176,0l1.839,3.73,4.1.611a1.214,1.214,0,0,1,.674,2.063l-2.964,2.928.69,4.117a1.213,1.213,0,0,1-1.762,1.274l-3.662-1.927-3.662,1.927a1.213,1.213,0,0,1-1.762-1.274l.69-4.117-2.965-2.928a1.213,1.213,0,0,1,.674-2.063l4.1-.611Z" transform="translate(-1140.374 -360.511)" fill="none" stroke="#fff" stroke-width="1" fill-rule="evenodd"/>
                            </g>
                          </g>
                        </svg>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <p class="review_short_desc">5mins • Airdopes 413 ANC Unboxing & Review</p>
                </div>
                <div class="video_play_icon">
                  <span class="play_video_icon" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="44.59" height="44.588" viewBox="0 0 44.59 44.588">
                      <g id="Play_icon" data-name="Play icon" transform="translate(8176.295 -4629.229)">
                        <path id="Subtraction_11" data-name="Subtraction 11" d="M22.295,44.588A22.3,22.3,0,0,1,13.617,1.752,22.3,22.3,0,0,1,30.973,42.836,22.155,22.155,0,0,1,22.295,44.588ZM19.839,16.157a2.035,2.035,0,0,0-1.393.564,1.972,1.972,0,0,0-.609,1.439v8.268a1.995,1.995,0,0,0,3,1.73l7.128-4.134a2,2,0,0,0,0-3.46L20.84,16.43A1.972,1.972,0,0,0,19.839,16.157Z" transform="translate(-8176.295 4629.229)" fill="#fff"/>
                      </g>
                    </svg>
                  </span>
                </div>
              </div>

              <p class="expert_review">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <button class="btn btn-primary leftLst {{ section.id }}"><</button>
      <button class="btn btn-primary rightLst {{ section.id }}">></button>
      <ul class="MultiCarousel_dots_container bot_experts_slider_dots">
        {% for block in section.blocks %}
          <li class="multiCarousel_dots" data-index="{{ forloop.index0 }}">
          {% comment %} info: Commenting current slide no / total slides in 2.0 {% endcomment %}
          {% comment %} {{ forloop.index }}/{{ forloop.length }} {% endcomment %}
        </li> 
        {% endfor %} 
      </ul>
    </div>
	</div>
</div>

  {% render 'carousel-css' %}

  {% if section.settings.show_popup %}
    <div id="saleModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body p-0">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-body-content">
              {% if section.settings.popup_image %}
                <div class="modal-image">
                  <img
                    class="image-overlay__image_"
                    {% render 'image-attributes', image: section.settings.popup_image, sizes: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600' %}
                    alt="Popup Image"
                  >
                </div>
              {% endif %}
              <div class="modal-form p-3">
                <div class="sale-pop-form">
                  <div class="form-group" style="margin: 0;">
                    {% if section.settings.show_splitpopup %}
                      <div class="d-flex justify-content-center">
                        <span>
                          <button type="button" id="btn1st" class="btn btn-primary">
                            {{ section.settings.split_button }}
                          </button>
                        </span>
                        <span>
                          <button type="button" id="btn2nd" class="btn btn-info">
                            {{ section.settings.split_buttontwo }}
                          </button>
                        </span>
                      </div>
                      <style>
                        .myform{color:black;}
                        #myform, .modal-backdrop.show{display:none!important;}
                      </style>
                    {% endif %}
                    <div class="myform" id="myform" style="display: flex;margin: 0;justify-content: center;">
                      <input
                        style="border-radius: 5px;max-width: 65%;font-size: 12px;width: 100%;"
                        type="email"
                        name="email"
                        id="sale_email"
                        placeholder="Email Address"
                      >
                      <button
                        style="border-radius: 5px;background: transparent;border:1px solid #ff0000;color: #fff;height:45px;line-height:normal;"
                        class="button sale-btn"
                        type="submit"
                      >
                        YES
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if section.settings.show_splitpopup %}
      <div id="saleModals-1" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body p-0">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <div class="modal-body-content">
                <div class="modal-form p-3">
                  <div class="sale-pop-form">
                    <div class="form-groups-1" style="margin: 0;">
                      <div class="myform" style="display: flex;margin: 0;justify-content: center;">
                        <input
                          style="border-radius: 5px;max-width: 65%;font-size: 12px;width: 100%;"
                          type="email"
                          name="email"
                          id="sale_emails-1"
                          placeholder="Email Address"
                        >
                        <button
                          style="border-radius: 5px;background: transparent;border:1px solid #ff0000;color: #fff;height:45px;line-height:normal;"
                          class="button sale-btns-1"
                          type="submit"
                        >
                          YES
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div id="saleModals-2" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body p-0">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <div class="modal-body-content">
                <div class="modal-form p-3">
                  <div class="sale-pop-form">
                    <div class="form-groups-2" style="margin: 0;">
                      <div class="myform" style="display: flex;margin: 0;justify-content: center;">
                        <input
                          style="border-radius: 5px;max-width: 65%;font-size: 12px;width: 100%;"
                          type="email"
                          name="email"
                          id="sale_emails-2"
                          placeholder="Email Address"
                        >
                        <button
                          style="border-radius: 5px;background: transparent;border:1px solid #ff0000;color: #fff;height:45px;line-height:normal;"
                          class="button sale-btns-2"
                          type="submit"
                        >
                          YES
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
  
  <div class="modal fade videoModals_ banner_video_modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body p-0">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="modal-body-content">
            <div class="modal-form p-3">
              <div class="sale-pop-form">
                <div class="form-groups-1 video_container" style="margin: 0;">
                  <iframe
                    width="100%"
                    height="400px"
                    src=""
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <script>

    document.querySelector('.play_video_icon').addEventListener ("click", function(){
      document.querySelector('.banner_video_modal').style.display = "block";
      document.querySelector('.banner_video_modal iframe').src = "https://www.youtube.com/watch?v=BIDQy8FBCaY";
    });
    
  </script>

  <script type="deferjs">
    {% if section.settings.show_popup %}
        var slide_num = '{{ section.settings.banner_number }}';
        $(`.slide_${slide_num} a`).click(function(e){
            e.preventDefault();
            $("#saleModal").modal("show");
          });
            {% if customer %}
              document.getElementById("sale_email").value = '{{customer.email}}'
          {% endif %}
          {% if section.settings.show_splitpopup %}
        $("#btn1st").click(function(e){
                    $("#saleModal").modal("hide");
            // $(".modal-backdrop.show").css("display", "none");
            $("#saleModals-1").modal("show");
          });
  
          $(".sale-btns-1").click(function () {
          var e = document.getElementById("sale_emails-1").value;
          "" !== e && /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/.test(e)
              ? localStorage.getItem("userEmailIdSale1") === e
                  ? $(".form-groups-1").append('<p class="aluser-msg-sale">You are already subscribed!!</p>')
                  : (localStorage.setItem("userEmailIdSale1", e),
                    clevertap.onUserLogin.push({ Site: { Email: e, "MSG-email": !0 } }),
                    clevertap.event.push("Notify Me {{ section.settings.clevertap_id }}", { Email: e, Source: "HomePage Banner Popup" }),
                    $("#saleModals-1 .form-groups-1").append('<p class="thankyou-msg-sale">Thank You for subscribing!</p>'))
              : $(".form-groups-1").append('<p class="error-msg-sale">Please enter a valid email Id!</p>');
          setTimeout(function () {
              $(".error-msg-sale, .thankyou-msg-sale, .aluser-msg-sale").remove();
          }, 5e3);
      });
          $("#btn2nd").click(function(e){
                 $("#saleModal").modal("hide");
                    // $(".modal-backdrop.show").css("display", "none");
            $("#saleModals-2").modal("show");
          });
          $(".sale-btns-2").click(function () {
          var e = document.getElementById("sale_emails-2").value;
          "" !== e && /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/.test(e)
              ? localStorage.getItem("userEmailIdSale2") === e
                  ? $(".form-groups-2").append('<p class="aluser-msg-sale">You are already subscribed!!</p>')
                  : (localStorage.setItem("userEmailIdSale2", e),
                    clevertap.onUserLogin.push({ Site: { Email: e, "MSG-email": !0 } }),
                    clevertap.event.push("Notify Me {{ section.settings.clevertap_split }}", { Email: e, Source: "HomePage Banner Popup" }),
                    $("#saleModals-2 .form-groups-2").append('<p class="thankyou-msg-sale">Thank You for subscribing!</p>'))
              : $(".form-groups-2").append('<p class="error-msg-sale">Please enter a valid email Id!</p>');
          setTimeout(function () {
              $(".error-msg-sale, .thankyou-msg-sale, .aluser-msg-sale").remove();
          }, 5e3);
      });
    {% else %}
            $(".sale-btn").click(function () {
          var e = document.getElementById("sale_email").value;
          "" !== e && /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/.test(e)
              ? localStorage.getItem("userEmailIdSale") === e
                  ? $(".form-group").append('<p class="aluser-msg-sale">You are already subscribed!!</p>')
                  : (localStorage.setItem("userEmailIdSale", e),
                    clevertap.onUserLogin.push({ Site: { Email: e, "MSG-email": !0 } }),
                    clevertap.event.push("Notify Me {{ section.settings.clevertap_id }}", { Email: e, Source: "HomePage Banner Popup" }),
                    $("#saleModal .form-group").append('<p class="thankyou-msg-sale">Thank You for subscribing!</p>'))
              : $(".form-group").append('<p class="error-msg-sale">Please enter a valid email Id!</p>');
          setTimeout(function () {
              $(".error-msg-sale, .thankyou-msg-sale, .aluser-msg-sale").remove();
          }, 5e3);
       });
     {% endif %}
     {% endif %}
  </script>
{% schema %}
  {
    "name": "Experts on boAt",
    "class": "bootstrap-carousel expert_reviews",
    "max_blocks": 5,
    "settings": [
      {
        "type": "checkbox",
        "id": "show_popup",
        "label": "Enable popup on banner",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "popup_image",
        "label": "Popup Image"
      },
      {
        "type": "text",
        "id": "banner_number",
        "label": "Enter banner number on which you want to show popup"
      },
      {
        "type": "text",
        "id": "clevertap_id",
        "label": "clever tap event"
      }, {
        "type": "checkbox",
        "id": "show_splitpopup",
        "label": "only for split products",
        "default": false
      }, {
        "type": "text",
        "id": "split_button",
        "label": "botton1 textsplit products",
        "default": "primary"
      }, {
        "type": "text",
        "id": "split_buttontwo",
        "label": "botton2 textsplit products",
        "default": "primary2"
      }, {
        "type": "text",
        "id": "clevertap_split",
        "label": "clevertap event only for split products"
      }, {
        "type": "text",
        "id": "autoplay_timeout",
        "label": "autoplay_timeout in 5000 = 5sec"
      }, {
        "type": "checkbox",
        "id": "enable_progressbar",
        "label": "Enable progressbar on slider",
        "default": true
      }, {
        "type": "number",
        "id": "slides_no",
        "label": "mobile slides",
        "default": 1
      },{
        "type": "number",
        "id": "midslides_no",
        "label": "medium slides",
        "default": 1
      }, {
        "type": "number",
        "id": "deskslides_no",
        "label": "desk slides",
        "default": 1
      }, {
        "type": "checkbox",
        "id": "loop",
        "label": "infinite loop",
        "default": true
      }, {
        "type": "checkbox",
        "id": "autoplay",
        "label": "autoplay",
        "default": true
      }, {
        "type": "checkbox",
        "id": "scale_center_slide",
        "label": "scale cente slide",
        "default": false
      },{
        "type": "checkbox",
        "id": "show_active_dots",
        "label": "show active dots with index",
        "default": true
      },{
        "type": "number",
        "id": "slideBy",
        "label": "number of slides drag in one screen",
        "default": 1
      }, {
        "type": "text",
        "id": "item_space_desk",
        "label": "Space between items in desktop",
        "default": "0"
      },
      {
        "type": "text",
        "id": "item_space_mobile",
        "label": "Space between items in mobile",
        "default": "1rem"
      },{
        "type": "text",
        "id": "next_item_visibility_desk",
        "label": "Next item visibility in desktop",
        "default": "0"
      },
      {
        "type": "text",
        "id": "next_item_visibility_mobile",
        "label": "Next item visibility in mobile",
        "default": "1rem"
      }, {
        "type": "checkbox",
        "id": "show_dots_on_mobile",
        "label": "Show Dots on Mobile",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show_dots_on_desktop",
        "label": "Show Dots on Desktop",
        "default": true
      },{
        "type": "number",
        "id": "last_item_padding",
        "label": "Last item padding",
        "default": 24
      }
    ],
    "blocks": [
      {
        "name": "slideshow",
        "type": "slideshow",
        "settings": [
          {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "Desktop Image"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image"
          },
          {
            "type": "url",
            "id": "video_url",
            "label": "video_url"
          },
          {
            "type": "url",
            "id": "slide_url",
            "label": "Slide URL"
          }, {
            "type": "checkbox",
            "id": "show_timer",
            "label": "Show Timer",
            "default": false
          }, {
            "type": "text",
            "id": "timer_title",
            "label": "timer_title"
          }, {
            "type": "color",
            "id": "timer_background",
            "label": "timer_background"
          }, {
            "type": "checkbox",
            "id": "timer_inline",
            "label": "get_timer_inline"
          }, {
            "type": "text",
            "id": "end_date",
            "label": "timer End Date (Ex: Apr 30, 2022)"
          }, {
            "type": "checkbox",
            "id": "splitbanner_buttons",
            "label": "Enable splitbanner"
          }, {
            "type": "url",
            "id": "splitbanner_url",
            "label": "Enter splitbanner_url"
          }, {
            "type": "url",
            "id": "splitbanner_url2",
            "label": "Enter splitbanner_url 2"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Experts on boAt",
        "category": "image",
        "settings": {}
      }
    ]
  }
{% endschema %}