
<!-- Shop by section starts here -->
<div class="explore_now_section container">
  <div class="container">
    {%- if section.settings.sectionHeading != blank -%}
        <div class="row">
          <div class="col-md-12 section__header text-container d-flex justify-content-between">
            <h3 class="heading h3">{{- section.settings.sectionHeading -}}</h3>
          </div>
        </div>
    {%- endif -%}
    <div class="row">
    <div class="col-md-12 owl-carousel owl-theme explore_now_slider">
      {%- for block in section.blocks -%}
      <div class="item">
        <div class="explore_item">
            <div class="box_content">
              {%- if block.settings.tag_name != blank -%}
                <span class="tag_name">{{- block.settings.tag_name -}}</span>
              {%- endif -%}
              {%- if block.settings.title != blank -%}
                {{- block.settings.title -}}
              {%- endif -%} 
            </div>
            <a href="{{- block.settings.image_url -}}" class="explore_now_btn_link">
              <img src="{{- block.settings.image | img_url: '' -}}" alt="{{ block.settings.image.alt }}" loading="lazy" fetchpriority="low">
            
              <span class="explore_now_link">{{- block.settings.label -}}</span>
            </a>
        </div>
      </div>
      {%- endfor -%}
    </div>
  </div>
  </div>
</div>
<!-- Shop by section ends here -->

{% schema %}
  {
    "name": "Explore Now",
	"max_blocks": 28,
    "settings": [],
	"blocks": [
		{
			"type": "image",
        	"name": "Slide",
			"settings" : [
				{
                  "type": "image_picker",
                  "id": "image",
                  "label": "Primary image"
              },
              {
                  "type": "url",
                  "id": "image_url",
                  "label": "Image URL"
              },
              {
                "type": "text",
                "id": "tag_name",
                "label": "Tag Name"
              },
              {
                "type": "html",
                "id": "title",
                "label": "Title"
              },
              {
                "type": "text",
                "id": "label",
                "label": "Button Label",
                "default": "EXPLORE NOW"
              }
			]
		}
	],
	"presets": [
      {
        "name": "Explore now",
        "category": "Image",
        "settings": {
        },
        "blocks": [
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}