{% assign blog = blogs[section.settings.blog] %}
{% capture chevron_right %}<span class="icon-small icon-natcol">{% include 'svg-chevron-right' %}</span>{% endcapture %}

<div class="container padded-row blog-row vertical-breather" data-section-type="featured-blog">
  {% unless blog.empty? %}

    <header class="section__header text-container"><h3 class="heading h2 text-black">boAt Blogs</h3></header>

    {% if blog.articles.size == 0 %}
      <p class="align-center">{{ 'onboarding.blog.empty' | t }}</p>
    {% else %}
      {% if section.settings.crop_image %}
        {% assign aspect_ratio_split = section.settings.crop_style | split: '-' %}
        {% assign aspect_ratio = 1.0 | times: aspect_ratio_split[0] | divided_by: aspect_ratio_split[1] %}
      {% else %}
        {% assign aspect_ratio = false %}
      {% endif %}
      <div class="article-list article-layout--columns article-layout--one-row">
        <div class="article">
          <div class="article__inner">
              <div class="article-image">
                <a href="{{ section.settings.pillar_url }}">
                  <img class="article-item__image" sizes="(max-width: 740px) 81vw, (max-width: 999px) 37vw, 425px" loading="lazy" {% render 'image-attributes', image: section.settings.pillar_image, sizes: '600,700,800,1000,1200,1400,1600,1800,2000' %}>
                </a>
              </div>
            <h3><a href="{{ section.settings.pillar_url }}">{{ section.settings.pillar_title }}</a></h3>
            <div class="meta visually-hidden">
              <span class="read-more">
              	<a href="{{ section.settings.pillar_url }}">Read more</a>
              </span>
            </div>
          </div>
        </div>
        <div class="article">
          <div class="article__inner">
              <div class="article-image">
                <a href="{{ section.settings.pillar_url_2 }}">
                  <img class="article-item__image" sizes="(max-width: 740px) 81vw, (max-width: 999px) 37vw, 425px" loading="lazy" {% render 'image-attributes', image: section.settings.pillar_image_2, sizes: '600,700,800,1000,1200,1400,1600,1800,2000' %}>
                </a>
              </div>
            <h3><a href="{{ section.settings.pillar_url_2 }}">{{ section.settings.pillar_title_2 }}</a></h3>
            <div class="meta visually-hidden">
              <span class="read-more">
              	<a href="{{ section.settings.pillar_url_2 }}">Read more</a>
              </span>
            </div>
          </div>
        </div>
        {% for article in blog.articles limit: 1 %}
        <div class="article">
          <div class="article__inner">
            {% if article.image and section.settings.show_featured_image %}
              <div class="article-image">
                <a href="{{ article.url }}">
                  <img class="article-item__image" sizes="(max-width: 740px) 81vw, (max-width: 999px) 37vw, 425px" loading="lazy" {% render 'image-attributes', image: article.image, sizes: '600,700,800,1000,1200,1400,1600,1800,2000' %}>
                </a>
              </div>
            {% endif %}
            <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
            <div class="user-content visually-hidden">
              {{ article.excerpt_or_content }}
            </div>
            <div class="meta">
              <span class="iconmeta time">
                {% if section.settings.show_date %}
                  {{ article.published_at | date: format: 'month_date_year' }}
                {% endif %}
                {% if section.settings.show_author %}
                  {% if section.settings.show_date %}&mdash;{% endif %}
                  <span class="author">{{ article.author }}</span>
                {% endif %}
              </span>
              <span class="read-more visually-hidden">
              	<a href="{{ article.url }}">Read more</a>
              </span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}
  {% else %}
    <h2 class="hometitle h4-style align-center">{{ section.settings.title | escape }}</h2>
    <div class="article-list article-layout--columns article-layout--one-row">
      {% for i in (1..3) %}
      <div class="article">
        <div class="article__inner">
          {% if section.settings.show_featured_image %}
          <div class="article-image">
            <div class="placeholder-image">{{ 'image' | placeholder_svg_tag }}</div>
          </div>
          {% endif %}
          <h3>{{ 'onboarding.article.title' | t }}</h3>
          <div class="user-content hide">
            {{ 'onboarding.article.excerpt' | t }}
          </div>
          <div class="meta">
            <span class="iconmeta time">
              {% if section.settings.show_date %}
                {{ 'now' | date: format: 'month_date_year' }}
              {% endif %}
              {% if section.settings.show_author %}
                {% if section.settings.show_date %}&mdash;{% endif %}
                <span class="author">{{ 'onboarding.article.author' | t }}</span>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endunless %}
</div>
<style>
  .boat-featured-blogs {
  	background: #DCDCDC;
    color: black;
  }
  .boat-featured-blogs .article-list {flex-wrap: nowrap;}
  .boat-featured-blogs .article__inner {margin: 0;}
  .boat-featured-blogs .article-list .article {border:0!important;padding: 0 20px!important;margin: 0!important;}
  .boat-featured-blogs .article-list .article h3 {color: #000;font-size: 20px;line-height: normal;min-height:74px;width: 100%;font-weight: 500;margin-top: 1.5rem;}
  .boat-featured-blogs .article-list .article h3 a:hover {color: #ff0000;text-decoration: none;}
  .boat-featured-blogs .article-list .slick-list {margin: 0px -5px 0px -5px;}
  .boat-featured-blogs .article-list .slick-track {display: flex;}
  .boat-featured-blogs .article .user-content {
    font-size: 13px;
    line-height: normal;
    min-height: 35px;
    margin-bottom: 0!important;
  }
  .boat-featured-blogs .hometitle {color: #fff;font-size:50px!important;}
  .boat-featured-blogs .hometitle a:hover, .read-more a:hover {color: #fff;text-decoration: none;}
  .boat-featured-blogs .read-more a{
  	color: #fff;
    font-style: normal;
    border: 1px solid #ff0000;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
    font-size: 13px;
    margin: 10px 0;
  }
  .boat-featured-blogs .article img {filter: grayscale(100%);transition: all .4s ease-in-out;}
  .boat-featured-blogs .article img:hover {filter: grayscale(0);}
  @media screen and (max-width: 600px) {
    .boat-featured-blogs .article.slick-slide {width: 300px!important;}
    .boat-featured-blogs .article-list .slick-list {padding-left: 0!important;}
    .boat-featured-blogs .article-list .article h3 {font-size: 15px;}
    .boat-featured-blogs .article .user-content, .boat-featured-blogs .article-list .article h3{min-height: 1px}
    .hometitle {font-size:45px!important;}
    .boat-featured-blogs .article-list {display: flex;overflow-x: auto;}
    .boat-featured-blogs .article-list .article {flex: 1;min-width: 300px;padding: 0 10px!important;}
  }
</style>
<script type="text/javascript">
$(document).ready(function($) {
  	var userSource = '';
    if(navigator.userAgent.includes('Mobile')) userSource = 'Mobile';
    else if(navigator.userAgent.includes('iPad')) userSource = 'Tablet';
    else userSource = 'Desktop';
    $('.article-list').on('click', function(){
      clevertap.event.push("Homepage Blog section clicked", {"userSource": userSource});
    });
});
</script>
{% comment %}
<script type="text/javascript">
	$(document).ready(function($) {
      $('.article-list').slick({
        dots: false,
        infinite: false,
        speed: 500,
        slidesToShow: 3,
        slidesToScroll: 3,
        autoplay: false,
        autoplaySpeed: 2000,
        arrows: true,
        responsive: [
          {
          breakpoint: 3000,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1
          }
        },
          
          {
          breakpoint: 1920,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1
          }
        },
        {
           breakpoint: 767,
           settings: {
              arrows: false,
              slidesToShow: 1,
              slidesToScroll: 1,
              centerMode: true,
			  centerPadding: '20%'
           }
        }]
    });
    $('.article-list').on('click', function(){
      	clevertap.event.push("Homepage Blog section clicked");
    });
});
</script>
{% endcomment %}
{% schema %}
  {
    "name": "Blog posts",
	"class": "boat-featured-blogs",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog posts"
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      },
	  {
        "type": "image_picker",
        "id": "pillar_image",
        "label": "Pillar Blog Image"
      },
	  {
        "type": "text",
        "id": "pillar_title",
        "label": "Pillar Blog Title",
        "default": "Pillar Blog Title"
      },
	  {
        "type": "url",
        "id": "pillar_url",
        "label": "Pillar Blog URL"
      },
	  {
        "type": "image_picker",
        "id": "pillar_image_2",
        "label": "Pillar Blog Image 2"
      },
	  {
        "type": "text",
        "id": "pillar_title_2",
        "label": "Pillar Blog Title 2",
        "default": "Pillar Blog Title 2"
      },
	  {
        "type": "url",
        "id": "pillar_url_2",
        "label": "Pillar Blog URL 2"
      },
	    {
        "type": "checkbox",
        "id": "show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "header",
        "content": "Featured image"
      },
      {
        "type": "checkbox",
        "id": "show_featured_image",
        "label": "Show",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "crop_image",
        "label": "Crop",
        "default": true
      },
      {
        "type": "select",
        "id": "crop_style",
        "label": "Crop style",
        "options": [
          {
            "value": "1-1",
            "label": "Square"
          },
          {
            "value": "3-4",
            "label": "Portrait"
          },
          {
            "value": "16-9",
            "label": "Landscape"
          }
        ],
        "default": "16-9"
      }
    ],
    "presets": [
      {
        "name": "Blog posts",
        "category": "Blog",
        "settings": {
        }
      }
    ]
  }
{% endschema %}
