{% comment %} info: UI2.0 | Changes made in this file {% endcomment %}
<style>
.boat-featured-blogs h3.ui2-heading span::after{width:14px;}
.boat-featured-blogs .all-blogs{display:block;text-align:right}
.boat-featured-blogs .article-list{flex-wrap:nowrap;grid-gap:10px}
.boat-featured-blogs .article__inner{margin:0;overflow:hidden}
.boat-featured-blogs .article-list .article{padding:0!important;margin:0!important;width:33%;border:1px solid #ecf0f4;border-radius:10px;background-color:#fafafa}
.boat-featured-blogs .article-list .article h3{font-size:18px;margin-top:1.5rem;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}
{% comment %} .boat-featured-blogs .article-list .article h3 a:hover{color:red;text-decoration:none} {% endcomment %}
.boat-featured-blogs .article .user-content{font-size:12px;line-height:14px;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;margin-bottom:1rem!important;color:#4e5358}
.article__inner{flex-direction:column}
.article--details{padding:12px;width:100%}
.article--details h3{min-height:40px}
.article-list.article-layout--columns.article-layout--one-row::-webkit-scrollbar{height:0}
.all-blogs.text-red:hover{color:#fff}
.boat-featured-blogs .article-image img{border-top-left-radius:10px;border-top-right-radius:10px}
.boat-featured-blogs .article-list .article h3{font-size:14px;margin:0;color:#191e23;line-height:20px;font-weight:700;margin-bottom:.5rem!important}
.article-published-at{color:#868c91;font-size:12px;line-height:14px;margin-bottom:.5rem;font-weight:500;}
span.read-more{display:block;text-align:center;border:1px solid #d0d9de;border-radius:20px;padding:0 6px;color:#1a2024;font-weight:700;font-size:12px;background: white;height: 38px;line-height: 38px;}
span.read-more a{display:block;text-transform:capitalize;}
@media screen and (max-width:1024px){
.boat-featured-blogs .article-list .article h3{font-size:18px;margin:0;line-height:22px;}
.boat-featured-blogs .article .user-content,.boat-featured-blogs .article-list .article h3{min-height:1px}
.boat-featured-blogs .article-list{display:flex;overflow-x:auto}
.boat-featured-blogs .article-list .article{min-width:300px;padding:0 0 10px 0!important}
.boat-featured-blogs .article-image{width:100%;margin-right:1rem}
.article-list{gap:0}
.boat-featured-blogs .article-list .article{width:100%}
}
@media screen and (max-width:767px){
.boat-featured-blogs,.shopify-section--press{padding:0}
.boat-featured-blogs .article-image{margin-bottom:10px}
.article--details h3{min-height:52px}
.view-all{margin-bottom:15px;}
}
@media screen and (min-width:1025px){
.article-published-at,.boat-featured-blogs .article .user-content{font-size:14px;margin-top:5px;line-height: 18px;}
.boat-featured-blogs .article-list .article h3{font-size:18px}
span.read-more{height:46px;line-height:46px;}
}
</style>

{% assign blog = blogs[section.settings.blog] %}
{% capture chevron_right -%}
  <span class="icon-small icon-natcol">{% include 'svg-chevron-right' %}
  </span>
{%- endcapture %}

<div class="container padded-row blog-row py-0 pr-0 px-lg-0 vertical-breather article_list-main-container-{{section.id}}" data-section-type="featured-blog">
  {% unless blog.empty? %}
    <header class="section__header">
      <a href="https://www.boat-lifestyle.com/blogs/blog" class="d-flex justify-content-between align-items-center">
        <h3 class="ui2-heading"><span><b>Blogs</b></span></h3>
        <b class="view-all" style="color: #2F5B96;padding-right:16px;">View All {%- render 'icon' with 'right-arrow-blue' -%}</b>
      </a>
    </header>
    {% if blog.articles.size == 0 %}
      <p class="align-center">{{ 'onboarding.blog.empty' | t }}
      </p>
    {% else %}
      {% if section.settings.crop_image %}
        {% assign aspect_ratio_split = section.settings.crop_style | split: '-' %}
        {% assign aspect_ratio = 1.0 | times: aspect_ratio_split[0] | divided_by: aspect_ratio_split[1] %}
      {% else %}
        {% assign aspect_ratio = false %}
      {% endif %}
        <div class="article-list article-layout--columns article-layout--one-row">
          <div class="article">
            {% assign article_1 = section.settings.pillar_blog_1 %}
            <div class="article__inner">
              <div class="article-image image-zoom">
                <a href="{{article_1.url}}">
                  <img class="article-item__image" sizes="(max-width: 740px) 81vw, (max-width: 999px) 37vw, 425px" loading="lazy" {% render 'image-attributes', image: article_1.image, sizes: '600,700,800,1000,1200,1400,1600,1800,2000' -%}>
                </a>
              </div>
              <div class="article--details">
                <div class="article-published-at">
                  {% if section.settings.show_date %}
                    {{ article_1.published_at | date: "%d %b, %Y" }}
                  {% endif %}
                </div>
                <h3>
                  <a href="{{ article_1.url }}">{{ article_1.title }}</a>
                </h3>
                <div class="user-content">
                  {{ article_1.excerpt }}
                </div>
                <div class="meta">
                  <span class="read-more">
                    <a href="{{ article_1.url }}">Read more<span class="right-arrow">{%- render 'icon' with 'right-arrow-black' -%}</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="article">
            {% assign article_2 = section.settings.pillar_blog_2 %}
            <div class="article__inner">
              <div class="article-image image-zoom">
                <a href="{{article_2.url}}">
                  <img class="article-item__image" sizes="(max-width: 740px) 81vw, (max-width: 999px) 37vw, 425px" loading="lazy" {% render 'image-attributes', image: article_2.image, sizes: '600,700,800,1000,1200,1400,1600,1800,2000' -%}>
                </a>
              </div>
              <div class="article--details">
                <div class="article-published-at">
                  {% if section.settings.show_date %}
                    {{ article_2.published_at | date: "%d %b, %Y" }}
                  {% endif %}
                </div>
                <h3>
                  <a href="{{ article_2.url }}">{{ article_2.title }}</a>
                </h3>
                <div class="user-content">
                  {{ article_2.excerpt }}
                </div>
                <div class="meta">
                  <span class="read-more">
                    <a href="{{ article_2.url }}">Read more<span class="right-arrow">{%- render 'icon' with 'right-arrow-black' -%}</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="article">
            {% assign article_3 = section.settings.pillar_blog_3 %}
            <div class="article__inner">
              <div class="article-image image-zoom">
                <a href="{{article_3.url}}">
                  <img class="article-item__image" sizes="(max-width: 740px) 81vw, (max-width: 999px) 37vw, 425px" loading="lazy" {% render 'image-attributes', image: article_3.image, sizes: '600,700,800,1000,1200,1400,1600,1800,2000' -%}>
                </a>
              </div>
              <div class="article--details">
                <div class="article-published-at">
                  {% if section.settings.show_date %}
                    {{ article_3.published_at | date: "%d %b, %Y" }}
                  {% endif %}
                </div>
                <h3>
                  <a href="{{ article_3.url }}">{{ article_3.title }}</a>
                </h3>
                <div class="user-content">
                  {{ article_3.excerpt }}
                </div>
                <div class="meta">
                  <span class="read-more">
                    <a href="{{ article_3.url }}">Read more<span class="right-arrow">{%- render 'icon' with 'right-arrow-black' -%}</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          
          {% for article in blog.articles limit: 1 %}
            <div class="article">
              <div class="article__inner">
                {% if article.image and section.settings.show_featured_image %}
                  <div class="article-image image-zoom">
                    <a href="{{ article.url }}">
                      <img class="article-item__image" sizes="(max-width: 740px) 81vw, (max-width: 999px) 37vw, 425px" loading="lazy" {% render 'image-attributes', image: article.image, sizes: '600,700,800,1000,1200,1400,1600,1800,2000' -%}>
                    </a>
                  </div>
                {% endif %}
                <div class="meta visually-hidden">
                  <span class="iconmeta time article-published-at">
                    {% if section.settings.show_date %}
                      {{ article.published_at | date: "%d %b, %Y" }}
                    {% endif %}
                    {% if section.settings.show_author %}
                      {% if section.settings.show_date %}&mdash;{% endif %}
                      <span class="author">{{ article.author }}
                      </span>
                    {% endif %}
                  </span>
                </div>
                <div class="article--details">
                  <div class="article-published-at">
                    {% if section.settings.show_date %}
                      {{ article.published_at | date: "%d %b, %Y" }}
                    {% endif %}
                  </div>
                  <h3>
                    <a href="{{ article.url }}">{{ article.title }}</a>
                  </h3>
                  <div class="user-content">
                    {{ article.excerpt_or_content }}
                  </div>
                  <div class="redirection-link">
                    <span class="read-more">
                      <a href="{{ article.url }}">Read more<span class="right-arrow">{%- render 'icon' with 'right-arrow-black' -%}</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
    {% endif %}
  {% else %}
    <h2 class="hometitle h4-style align-center">{{ section.settings.title | escape }}
    </h2>
    <div class="article-list article-layout--columns article-layout--one-row">
      {% for i in (1..3) %}
        <div class="article">
          <div class="article__inner">
            {% if section.settings.show_featured_image %}
              <div class="article-image">
                <div class="placeholder-image">{{ 'image' | placeholder_svg_tag }}
                </div>
              </div>
            {% endif %}
            <h3>{{ 'onboarding.article.title' | t }}
            </h3>
            <div class="user-content hide">
              {{ 'onboarding.article.excerpt' | t }}
            </div>
            <div class="meta">
              <span class="iconmeta time">
                {% if section.settings.show_date %}
                  {{ 'now' | date: format: 'month_date_year' }}
                {% endif %}
                {% if section.settings.show_author %}
                  {% if section.settings.show_date %}&mdash;{% endif %}
                  <span class="author">{{ 'onboarding.article.author' | t }}
                  </span>
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endunless %}
</div>
{% schema %}
  {
    "name": "featured Blog posts",
    "class": "boat-featured-blogs container",
    "settings": [
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      },
      {
        "type": "article",
        "id": "pillar_blog_1",
        "label": "Pillar Blog 1"
      },
      {
        "type": "article",
        "id": "pillar_blog_2",
        "label": "Pillar Blog 2"
      },
      {
        "type": "article",
        "id": "pillar_blog_3",
        "label": "Pillar Blog 3"
      },
      {
        "type": "checkbox",
        "id": "show_date",
        "label": "Show date",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show_author",
        "label": "Show author",
        "default": true
      }, {
        "type": "header",
        "content": "Featured image"
      }, {
        "type": "checkbox",
        "id": "show_featured_image",
        "label": "Show",
        "default": true
      }, {
        "type": "checkbox",
        "id": "crop_image",
        "label": "Crop",
        "default": true
      }, {
        "type": "select",
        "id": "crop_style",
        "label": "Crop style",
        "options": [
          {
            "value": "1-1",
            "label": "Square"
          }, {
            "value": "3-4",
            "label": "Portrait"
          }, {
            "value": "16-9",
            "label": "Landscape"
          }
        ],
        "default": "16-9"
      }
    ],
    "presets": [
      {
        "name": "featured Blog posts",
        "category": "Blog",
        "settings": {}
      }
    ]
  }
{% endschema %}
