
<!-- Find your match section starts here -->
<style>
  .find_your_match_section .content_row{background:#dcfef5;color:#0e0e0e;padding:20px 0}
  .find_your_match_section .find_your_match_slider{background-image:url(https://cdn.shopify.com/s/files/1/0057/8938/4802/files/dots_bg.png?v=1662016277);background-size:contain}
  .find_your_match_section .find_your_match_slider a{background:#54fcb4;color:#000;padding:6px 10px;border-radius:0 0 15px 15px;font-size:13px;width:100%;font-weight:700;display:block;margin:0 auto}
  .find_your_match_section .find_your_match_slider .item{width:100%;text-align:center;background:rgba(253,253,253,.6);padding:0 15px 15px;height:150px}
  .find_your_match_section .find_your_match_slider .item img{height:100%;width:auto;margin:0 auto;padding:16px}
  .find_your_match_section .content_wrapper{max-width:70%;padding:40px 20px}
  .find_your_match_section .content_wrapper h2{font-weight:700;font-size:16px}
  .find_your_match_section .content_wrapper p{font-weight:500;font-size:11px}
  @media screen and (max-width:767px) {
    .find_your_match_section .content_wrapper{max-width:100%;padding:20px}
  }
</style>
<div class="container find_your_match_section">
  <div class="row content_row">
    <div class="col-md-5" >
      <div class="content_wrapper">
          <h2>{{- section.settings.sectionHeading -}}</h2>
          <p>{{- section.settings.description -}}</p>
      </div>
    </div>
    <div class="col-md-7 owl-carousel owl-theme find_your_match_slider">
      {% for block in section.blocks %}
      <div class="item">
          <a href="{{- block.settings.image -}}">{{- block.settings.label -}}</a>
          <img src="{{block.settings.image | img_url: ''}}">
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Find your match section starts here -->

<script>
    jQuery(document).ready(function() {
      jQuery('.find_your_match_slider').owlCarousel({
        loop: true,
        responsiveClass: true,
        autoplay:true,
        items: 3,
        nav: false,
        dots: false,
        responsive: {
          300: {
            items: 2,
            margin: 10
          },
          600: {
            items: 2,
            margin: 10
          },
          1000: {
            items: 3,
            loop: true,
            margin: 20
          }
        }
      })
    })
  </script>

{% schema %}
  {
    "name": "Find you match",
	"max_blocks": 28,
    "settings": [
      {
        "type": "text",
        "id": "sectionHeading",
        "label": "Section Heading"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description"
      }
    ],
	"blocks": [
		{
			"type": "image",
        	"name": "Slide",
			"settings" : [
				{
                  "type": "image_picker",
                  "id": "image",
                  "label": "Image"
              },
              {
                  "type": "text",
                  "id": "label",
                  "label": "Button Label"
              },
              {
                  "type": "url",
                  "id": "target_url",
                  "label": "Target URL"
              }
			]
		}
	],
	"presets": [
      {
        "name": "Find your match",
        "category": "Image",
        "settings": {
        },
        "blocks": [
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}