<!-- @prettify-ignore -->
<style>
  #shopify-section-{{ section.id }}.footer {
    {%- assign border_color = settings.footer_background | color_mix: settings.footer_text_color, 85 -%}
    background: #fff;
    color: #000;
  }
  .footer-logo {max-width: 85px;}
  .signup-form .input-block {display: block;height: 52px;padding: 5px 5px 0px;border: 1px solid #FE0500;border-radius: 5px;}
  .signup-form .input-block #subscriber-email {height: 40px;background: transparent;border: 0;width: 60%;display: inline-block;float: left;font-size: 13px;padding: 0 12px;color: #ccc;}
  .signup-form .input-block #subscribe-btn {background: #EE1D24;border-radius: 0;color:white;line-height: normal;height: 40px;width: 40%;letter-spacing: 0;font-weight: bold;display: inline-block;float: left;padding: 0;}
  .error-msg, .thankyou-msg, .aluser-msg {color: #ff0000 !important;font-size: 11px;margin-top: 52px !important;}
/*   footer .signup-form .error-msg{margin-top: 52px !important;} */
  .brand-text{padding:20px 20px;background: #000;}
  .brand-text p.brand_content{line-height: normal;font-size: 14px;max-width: 931px;margin: 0 auto;color: #ffffff;text-align: center;}
  .brand-text a {text-decoration: none !important;}
  .social--media .social-media__item {box-shadow: none;}
  .download-box {display: flex;width: 100%;justify-content: center;align-items: center;}
  .download-box p {margin: 0 2em;font-weight: bold;}
  .download-box a {display: inline-block;margin: 0 10px;}
  .desktop_menu_link{display: block;}
  .mobile_footer_item_title{display: none;}
  .footer__item-list {gap: 3vw;}
  p.desktop_menu_link.footer__item-title.heading.heading--small, footer .signup-form .input-block #subscriber-email{color: #000;}
  button#btn-back-to-top {display: none;padding: 0.5rem 0.75rem;width: 40px;font-weight: 400!important;border-radius: 0!important;position: fixed;color:white;background-color:black;{% if template contains 'product' or template contains 'collection' %}bottom: 18%!important;{% else %}bottom: 9%;{% endif %}right: 0.1%;align-items: center;z-index:9;}
  .social-media__item--facebook:before {background: #4267B2; }
  .social-media__item--twitter:before{background: #1DA1F2; }
  .social-media__item--instagram:before{background: #E95950; }
  .social-media__item--youtube:before{background: #FF0000; }
  .social-media__item--linkedin:before{background: #0A66C2; }
  br.only_mobile{display: none;}

  @media screen and (max-width: 767px) {
    ul.social-media.list--unstyled {justify-content: center;}
    .footer-logo {margin-left: 2px;}
    .payment-box.payment_gateway_icons, .app-icons, p.copy.text-black {text-align: center;}
    footer .footer_section{padding-bottom: 30px;}
    footer .brand-text p.brand_content{color: #fff;text-align: left;}
    footer .signup-form span:first-child{font-weight: 600 !important;line-height: 15.85px !important;}
    footer .signup-form span.input-block{border: 1px solid #FE0500 !important;}
    footer .signup-form .input-block #subscriber-email{font-size: 13px;}
    footer .payment_gateway_icons{border-top: 1px solid rgba(105, 105, 105, 0.3);padding-top: 20px;}
    footer .copyright_footer{margin-top: 0px !important;padding-bottom: 0px !important;}
    footer .signup-form .input-block #subscribe-btn{background: #EE1D24 !important;}
    footer .social-media::before, footer .social-media::after{content: '';width: 100%;height: 1px;background: #fff;}
    .mobile_footer_item_title button.active{color: #000;}
    .mobile_footer_item_title button.active::after { content: '';height: 5px;width: 56px;background: #ED1C24;display: block;position: absolute; top: 25px; left: -5px;}
    .desktop_menu_link{ display: none;}
    footer ul.linklist.list--unstyled li:nth-child(odd) {border-right: 1px solid #bcbcbc;}
    footer ul.linklist.list--unstyled li:nth-child(even) {padding-left: 20px;}
    .mobile_footer_item_title button{ margin: 10px 0px !important;color: #686868;}
    .mobile_footer_item_title button:active, .mobile_footer_item_title button:focus{outline: none;}
    .mobile_footer_item_title button span{display: none;}
    footer .footer__item-list{padding-top: 0px;}
    footer .footer__item-list .footer__item--newsletter{display: block !important;}
    .mobile_footer_item_title{padding: 0px 18px;justify-content: space-between; display: flex;border-bottom: 1px solid #696969;border-top: 1px solid #696969;}
    footer .footer__item--links .footer__item-content{ display: block;}
    footer .footer__item-list .footer__item-content{ padding: 0px 16px;}
    footer .footer__item--links {border-bottom: 0;}
    footer ul.linklist.list--unstyled li{width: 47%;float: left;padding: 10px 0px 5px;}
    footer ul.linklist.list--unstyled li a{/*color: #A8A8A8;*/font-weight: 600;}
    footer .footer__aside .social--media{width: 100%;border-top: 1px solid rgba(105, 105, 105, 0.3);margin-top: 22px;}
    .footer .container {padding: 0;}
    .footer .container .footer__inner{padding: 0;}
    .footer-bottom-row {padding: 0 12px; justify-content: center;border-bottom: 1px solid rgba(105, 105, 105, 0.3);padding-bottom: 20px;}
    .footer-bottom-row.social_app_links {width: 100%;margin: 0px;padding: 0px;}
    .download-box {display: block;text-align: left;padding: 30px 0px 20px 20px;margin-bottom: 20px;border-bottom: 1px solid #fff;}
    .download-box p {margin: 2em 2em 1em;}
    .download-box a {margin: 0px 5px;width: auto;}
    .download-box a img {width: 100%;}
    footer .footer__aside .footer__copyright {padding-bottom: 36px;margin-top: 32px;}
    button#btn-back-to-top {left: 33%;right: unset;border-radius: 24px!important;padding-right: 16px;width:unset;}
    br.only_mobile{display: block;}
  }

  @media screen and (max-width: 372px){
    footer ul.linklist.list--unstyled li a{font-size: 10px;}
  }


  @media screen and (min-width: 767px){
    footer .footer__item{display: block !important;    padding-right: 2rem;}
  }

  @media screen and (min-width: 992px){
    .footer-logo{margin-top:-8px;}
    ul.linklist.list--unstyled li a {font-size: 12px;word-break: initial;}
    .footer__aside .copyright_footer{border-top: 1px solid rgba(105, 105, 105, 0.3);padding-top: 20px;}
    .footer-bottom-row {width: 100vw;padding: 0 40px;}
    .footer__aside .footer-bottom-row.social_app_links{width: 100vw;padding: 0 40px;border-top: 1px solid rgba(105, 105, 105, 0.3);border-bottom: 1px solid rgba(105, 105, 105, 0.3);}
    #footer_item_1 ul.linklist.list--unstyled li:nth-child(even), #footer_item_2 ul.linklist.list--unstyled li:nth-child(even) {padding-left: 12px;}
    #footer_item_1 ul.linklist.list--unstyled li:nth-child(odd), #footer_item_2 ul.linklist.list--unstyled li:nth-child(odd) {border-right: 1px solid rgba(105, 105, 105, 0.3);}
    div#footer_item_1, div#footer_item_2 {border-right: 1px solid rgba(105, 105, 105, 0.3);    padding-right: 2rem;}
    #footer_item_1 ul.linklist.list--unstyled li, #footer_item_2 ul.linklist.list--unstyled li {width: 50%;float: left;padding-top: 10px;}
  }
  @media screen and (pointer: fine){
   .social-media__item:hover .social-media__link {color: white;}
  }
  @media screen and (min-width: 1024px){
   .footer__aside {row-gap: 0px!important;}
  }

</style>

{% unless template contains 'search' %}
<button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16" color:"white">
<path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
</svg>
  
  <span class="mobile-only" style="padding-left:4px">Back to top</span>
</button>
{% endunless %}

<footer class="footer">
  <div class="brand-text text-left mb-4">
    <p class="brand_content">
      India's fastest growing audio & wearables brand. The most incredible range of
      <a href="https://www.boat-lifestyle.com/collections/bluetooth-wireless-headphones">wireless earphones</a>,
      <a href="https://www.boat-lifestyle.com/collections/true-wireless-earbuds">earbuds</a>,
      <a href="https://www.boat-lifestyle.com/collections/wired-headphones">headphones</a>,
      <a href="https://www.boat-lifestyle.com/collections/smart-watches">smart watches</a>, and
      <a href="https://www.boat-lifestyle.com/collections/home-audio">home audio</a>. From workouts to adventures, boAt
      will get you sailing!
    </p>
  </div>
  <div class="container">
    <div class="footer__inner">
      <div class="footer__item-list">
        {%- assign total_menus = 0 -%}
        {%- capture mobile_menu_title -%}
          <div class="mobile_footer_item_title">
            {%- for block in section.blocks -%}
              {%- if block.type == 'links' -%}
                {%- assign total_menus = total_menus | plus: 1 -%}
                {%- assign menu = block.settings.menu -%}
                <button
                  id="link_btn_{{ total_menus }}"
                  class="footer__item-title heading heading--small"
                  onclick="openLink(event, 'footer_item_{{ total_menus }}')">
                  {{ menu.title | split: '2' | first }}
                </button>
              {%- endif -%}
            {%- endfor -%}
          </div>
        {%- endcapture -%}

        {%- assign menu_iteration = 0 -%}
        {%- for block in section.blocks -%}
          {%- capture block_content -%}
            {%- case block.type -%}
              {%- when 'image' -%}
              {%- if block.settings.image != blank -%}
                <img
                  style="width: {{ block.settings.image_width }}px"
                  loading="lazy"
                  sizes="{{ block.settings.image_width }}px"
                  class="footer__image"
                  {% render 'image-attributes', image: block.settings.image, sizes: '100, 200, 300, 400, 500, 600' %}>
              {%- endif -%}
              {%- when 'text' -%}
              {%- if block.settings.title != blank -%}
                <p class="footer__item-title heading heading--small">
                  {{ block.settings.title | split: '2' | first | escape }}
                </p>
              {%- endif -%}

              {%- if block.settings.content != blank -%}
                <div class="footer__item-content">
                  {{- block.settings.content -}}
                </div>
              {%- endif -%}
              {%- when 'links' -%}
              {%- assign menu_iteration = menu_iteration | plus: 1 -%}

              {%- assign menu = block.settings.menu -%}

              {%- if menu != blank -%}
                <p class="desktop_menu_link footer__item-title heading heading--small">
                  {{ menu.title | split: '2' | first }}
                </p>

                <div class="footer__item-content">
                  <ul class="linklist list--unstyled" role="list">
                    {%- for link in menu.links -%}
                      <li class="linklist__item">
                        <a href="{{ link.url }}" class="link--faded">{{ link.title }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              {%- endif -%}
              {%- comment -%}
                {%- when 'social_media' -%}
                {%- if block.settings.title != blank -%}
                <p class="footer__item-title heading heading--small">{{ block.settings.title | escape }}</p>
                {%- endif -%}

                <div class="footer__item-content">
                {%- if block.settings.content != blank -%}
                {{- block.settings.content -}}
                {%- endif -%}

                {%- render 'social-media' -%}
                </div>
              {%- endcomment -%}
              {%- when 'newsletter' -%}
              {%- if block.settings.title != blank -%}
                <p class="footer__item-title heading heading--small">{{ block.settings.title | escape }}</p>
              {%- endif -%}

              <div class="footer__item-content">
                <div class="footer-logo">
                  <a href="{{shop.url}}" class="p-0">
                    <img
                      class="footer-logo"
                      loading="lazy"
                      sizes="100px"
                      src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Asset_2_288x-8_5.png?v=1661838672"
                      alt="logo">
                  </a>
                </div>
                {%- if block.settings.content != blank -%}
                  {{- block.settings.content -}}
                {%- endif -%}
                {% render 'footer--newsletter' %}

                {%- comment -%}
                  {%- form 'customer', id: 'footer-newsletter', class: 'footer__newsletter-form form' -%}
                  {%- if form.posted_successfully? -%}
                  <div class="form__banner banner banner--success">
                  <span class="banner__ribbon">{% render 'icon' with 'form-success' %}</span>
                  <p class="banner__content">{{ 'footer.newsletter.success' | t }}</p>
                  </div>
                  {%- else -%}
                  {%- if form.errors -%}
                  <div class="form__banner banner banner--error">
                  <span class="banner__ribbon">{% render 'icon' with 'form-error' %}</span>
                  <p class="banner__content">{{ form.errors.translated_fields['email'] }} {{ form.errors.messages['email'] }}</p>
                  </div>
                  {%- endif -%}

                  <input type="hidden" name="contact[tags]" value="newsletter">

                  <div class="input">
                  <input type="email" id="footer[contact][email]" name="contact[email]" class="input__field input__field--text">
                  <label for="footer[contact][email]" class="input__label">{{ 'footer.newsletter.email' | t }}</label>
                  <button type="submit" class="input__submit-icon tap-area" title="{{ 'footer.newsletter.submit' | t }}">{% render 'icon' with 'nav-arrow-right', direction_aware: true %}</button>
                  </div>
                  {%- endif -%}
                  {%- endform -%}
                {%- endcomment -%}
              </div>
            {%- endcase -%}
          {%- endcapture -%}

          {%- if block_content != blank -%}
            {%- if menu_iteration == 1 and total_menus > 0 -%}
              {{- mobile_menu_title -}}
            {%- endif -%}

            <div
              id="footer_item_{{ menu_iteration }}"
              class="footer__item footer__item--{{ block.type | replace: '_', '-' }} {% if forloop.first %}is-first{% endif %}"
              {{ block.shopify_attributes }}>
              {{- block_content -}}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>

      <div class="footer__aside footer_section">
        {%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}
          {%- assign country_selector = true -%}
        {%- endif -%}

        {%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
          {%- assign locale_selector = true -%}
        {%- endif -%}

        {%- if country_selector or locale_selector -%}
          {%- form 'localization', id: 'localization_form_footer', class: 'footer__cross-border' -%}
            {%- if country_selector -%}
              <div class="popover-container">
                <input
                  type="hidden"
                  name="country_code"
                  value="{{ localization.country.iso_code }}">
                <span class="visually-hidden">{{ 'footer.general.country' | t }}</span>

                <button
                  type="button"
                  is="toggle-button"
                  class="select select--small {% if locale_selector and settings.button_border_radius > 0 %}select--collapse-end{% endif %} text--xsmall"
                  aria-expanded="false"
                  aria-controls="footer-currency-selector">
                  {{- localization.country.name }} ({{ localization.country.currency.iso_code }}
                  {% if localization.country.currency.symbol %}
                    {{ localization.country.currency.symbol }}{%- endif -%}
                  )
                  {%- render 'icon' with 'chevron', width: 9, height: 6, inline: true -%}
                </button>

                <popover-content id="footer-currency-selector" class="popover popover--top popover--left popover--small">
                  <span class="popover__overlay"></span>

                  <header class="popover__header">
                    <span class="popover__title heading h6">{{- 'footer.general.country' | t -}}</span>

                    <button
                      type="button"
                      class="popover__close-button tap-area tap-area--large"
                      data-action="close"
                      title="{{ 'general.accessibility.close' | t | escape }}">
                      {%- render 'icon' with 'close' -%}
                    </button>
                  </header>

                  <div class="popover__content popover__content--restrict">
                    <div class="popover__choice-list">
                      {%- for country in localization.available_countries -%}
                        <button
                          type="submit"
                          name="country_code"
                          value="{{ country.iso_code }}"
                          class="popover__choice-item">
                          <span class="popover__choice-label" {% if country.iso_code == localization.country.iso_code %}aria-current="true"{% endif %}>
                            {{- country.name }} ({{ country.currency.iso_code }}
                            {% if country.currency.symbol %}
                              {{ country.currency.symbol }}{%- endif -%}
                            )
                          </span>
                        </button>
                      {%- endfor -%}
                    </div>
                  </div>
                </popover-content>
              </div>
            {%- endif -%}

            {%- if locale_selector -%}
              <div class="popover-container">
                <input
                  type="hidden"
                  name="locale_code"
                  value="{{ localization.language.iso_code }}">
                <span class="visually-hidden">{{ 'footer.general.language' | t }}</span>

                <button
                  type="button"
                  is="toggle-button"
                  class="select select--small {% if country_selector and settings.button_border_radius > 0 %}select--collapse-start{% endif %} text--xsmall"
                  aria-expanded="false"
                  aria-controls="footer-locale-selector">
                  {{- localization.language.endonym_name | capitalize -}}
                  {%- render 'icon' with 'chevron', width: 9, height: 6, inline: true -%}
                </button>

                <popover-content id="footer-locale-selector" class="popover popover--top popover--small">
                  <span class="popover__overlay"></span>

                  <header class="popover__header">
                    <span class="popover__title heading h6">{{- 'footer.general.language' | t -}}</span>

                    <button
                      type="button"
                      class="popover__close-button tap-area tap-area--large"
                      data-action="close"
                      title="{{ 'general.accessibility.close' | t | escape }}">
                      {%- render 'icon' with 'close' -%}
                    </button>
                  </header>

                  <div class="popover__content">
                    <div class="popover__choice-list">
                      {%- for language in localization.available_languages -%}
                        <button
                          type="submit"
                          name="locale_code"
                          value="{{ language.iso_code }}"
                          class="popover__choice-item">
                          <span class="popover__choice-label" {% if language.iso_code == localization.language.iso_code %}aria-current="true"{% endif %}>
                            {{- language.endonym_name | capitalize -}}
                          </span>
                        </button>
                      {%- endfor -%}
                    </div>
                  </div>
                </popover-content>
              </div>
            {%- endif -%}
          {%- endform -%}
        {%- endif -%}
        {%- comment -%}
          {%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
          <div class="footer__payment-methods">
          <span class="footer__payment-methods-label text--xsmall text--subdued">{{ 'footer.general.we_accept' | t }}</span>

          <div class="payment-methods-list payment-methods-list--auto">
          {% for type in shop.enabled_payment_types %}
          {{ type | payment_type_svg_tag }}
          {% endfor %}
          </div>
          </div>
          {%- endif -%}
        {%- endcomment -%}
        <div class="row mt-4 footer-bottom-row social_app_links">
          <div class="col-lg-4 text-left payment-box">
            <div class="row social--media hidden-phone">
              <div class="col-12 p-0">
                {%- render 'social-media' -%}
              </div>
            </div>
            {% comment %}<img loading="lazy" {% render 'image-attributes', image: section.settings.payment_strip %} alt="Payment">{% endcomment %}
            {% comment %}
              {%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
              <div class="payment-methods-list payment-methods-list--auto">
              {% for type in shop.enabled_payment_types %}
              {{ type | payment_type_svg_tag }}
              {% endfor %}
              </div>
              {%- endif -%}
            {% endcomment %}
          </div>
          <div class="row social--media hidden-tablet-and-up">
            <div class="col-12 p-0">
              {%- render 'social-media' -%}
            </div>
          </div>
        </div>
        <div class="row mt-4 footer-bottom-row justify-content-between">
          <div class=" col-lg-4 mb-3">
            <p class="mb-1">
              <b>Download the App</b>
            </p>
            <a href="https://play.google.com/store/apps/details?id=boatlifestylein.android.app" target="_blank">
              <img
                width="150px"
                loading="lazy"
                alt="Google play"
                src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/google-play-store_new.png?v=1666071594"></a>
            <a href="https://apps.apple.com/us/app/id1521646593" target="_blank">
              <img
                width="150px"
                loading="lazy"
                alt="Apple Store"
                src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/app-store_new_96c42e79-8764-4292-885a-dc793dde4655.png?v=1666071566"></a>
          </div>
          <div class="col-lg-4 text-left payment-box payment_gateway_icons ">
            <p class="mb-1">
              <b>We Accept</b>
            </p>
            <img
              loading="lazy"
              {% render 'image-attributes', image: section.settings.payment_strip %}
              alt="Payment">
          </div>
        </div>
        <div class="row footer-bottom-row copyright_footer">
          <div class="col-lg-4 text-left footer__copyright text--xsmall text--subdued">
            <span class="copy text-black">&copy; {{ 'now' | date: '%Y' }} Imagine Marketing Limited. All Rights Reserved.</span>
          </div>
        </div>
      </div>
      <div class="row mt-4 footer-bottom-row justify-content-between">
        <div class=" col-lg-4 mb-3 app-icons">
          <p class="mb-1"><b>Download the App</b></p>
          <a href="https://play.google.com/store/apps/details?id=boatlifestylein.android.app" target="_blank">
            <img
              width="150px"
              loading="lazy"
              alt="Google play"
              src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/google-play-store_new.png?v=1666071594"
             
          ></a>
          <a href="https://apps.apple.com/us/app/id1521646593" target="_blank">
            <img
              width="150px"
              loading="lazy"
              alt="Apple Store"
              src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/app-store_new_96c42e79-8764-4292-885a-dc793dde4655.png?v=1666071566"
          ></a>
        </div>
        <div class="col-lg-4 payment-box payment_gateway_icons ">
          <p class="mb-1"><b>We Accept</b></p>
          <img loading="lazy" {% render 'image-attributes', image: section.settings.payment_strip %} alt="Payment">
        </div>
      </div>
      <div class="row footer-bottom-row copyright_footer">
        <div class="col-lg-12 text-left footer__copyright text--xsmall text--subdued">
          <p class="copy text-black">
            &copy; {{ 'now' | date: '%Y' }} Imagine Marketing Limited. All Rights Reserved.<br><br>
            <strong>For queries contact us:</strong> Manager, Imagine Marketing Limited <br class="only_mobile" />Unit no. 204 & 205, 2nd floor, D-wing & E-wing,<br>Corporate Avenue, Andheri Ghatkopar Link Road, <br class="only_mobile" />Mumbai, Maharashtra-400093, India
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

{%- if section.settings.show_cookie_bar -%}
  <cookie-bar
    section="{{ section.id }}"
    hidden
    class="cookie-bar text--xsmall">
    {%- if section.settings.cookie_bar_title != blank -%}
      <p class="heading heading--xsmall">{{ section.settings.cookie_bar_title }}</p>
    {%- endif -%}

    {%- if section.settings.cookie_bar_content != blank -%}
      {{- section.settings.cookie_bar_content -}}
    {%- endif -%}

    <div class="cookie-bar__actions">
      <button class="button button--text button--primary button--small text--xsmall" data-action="accept-policy">
        {{ 'footer.cookie_bar.accept' | t }}
      </button>
      <button class="button button--text button--ternary button--small text--xsmall" data-action="decline-policy">
        {{ 'footer.cookie_bar.decline' | t }}
      </button>
    </div>
  </cookie-bar>
{%- endif -%}
{% comment %}
  <div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-custom">
  <!-- Modal content-->
  <div class="modal-content">
  <button
  hidden
  type="button"
  class="close"
  id="ct-close"
  data-dismiss="modal"
  >
  &times;
  </button>
  <iframe
  id="ctIframe"
  src="/apps/sw/testfile.html"
  title="Order Form_Shopify"
  width="400"
  height="250"
  frameborder="0"
  style="margin: auto"
  ></iframe>
  </div>
  </div>
  </div>
{% endcomment %}
<script>
  $(window).scroll(function(e){
  if (this.scrollY >= 1000){
  (this.oldScroll > this.scrollY)?$("#btn-back-to-top").css({"display":"flex"}):$("#btn-back-to-top").css("display","none")
  }else{
    $("#btn-back-to-top").css("display","none");
  }
  this.oldScroll = this.scrollY;
  })
$('#btn-back-to-top').click(function () {
  $(window).scrollTop(0);
  clevertap.event.push('Back to Top clicked');
});
</script>

<script>
document.getElementById('link_btn_1').click();

function openLink(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName('footer__item');
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = 'none';
  }
  tablinks = document.getElementsByClassName('footer__item-title');
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(' active', '');
  }
  document.getElementById(tabName).style.display = 'block';
  evt.currentTarget.className += ' active';
}
</script>

{% schema %}
  {
    "name": "Footer",
    "class": "shopify-section--footer",
    "max_blocks": 5,
    "settings": [
      {
        "type": "image_picker",
        "id": "payment_strip",
        "label": "Payment Image"
      },
      {
        "type": "image_picker",
        "id": "popup_image",
        "label": "Popup Image"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": true
      },
      {
        "type": "header",
        "content": "Country/region selector",
        "info": "To add a country/region, go to your [currency settings.](/admin/settings/payments)"
      }, {
        "type": "checkbox",
        "id": "show_country_selector",
        "label": "Show country/region selector",
        "default": true
      }, {
        "type": "header",
        "content": "Language selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      }, {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      }, {
        "type": "header",
        "content": "Customer privacy bar"
      }, {
        "type": "checkbox",
        "id": "show_cookie_bar",
        "label": "Show privacy bar",
        "info": "Privacy bar will only be visible if it fulfills the conditions of the [Shopify Customer Privacy API](https://shopify.dev/docs/themes/consent-tracking-api)",
        "default": false
      }, {
        "type": "text",
        "id": "cookie_bar_title",
        "label": "Title",
        "default": "Cookie policy"
      }, {
        "type": "richtext",
        "id": "cookie_bar_content",
        "label": "Content",
        "default": "<p>I agree to the processing of my data in accordance with the conditions set out in the policy of Privacy.</p>"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "300 x 300px .png recommended"
          }, {
            "type": "range",
            "id": "image_width",
            "min": 50,
            "max": 300,
            "step": 10,
            "unit": "px",
            "label": "Image width",
            "default": 150
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "About our store"
          }, {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.</p>"
          }
        ]
      },
      {
        "type": "links",
        "name": "Links",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "info": "This menu won't show dropdown items.",
            "default": "footer"
          }
        ]
      },
      {
        "type": "social_media",
        "name": "Social media",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "To configure social media, go to your social media settings."
          },
          {
            "type": "color",
            "id": "social-media__item--facebook",
            "label": "facebook-color",
            "default": "#5379FE"
          },
          {
            "type": "color",
            "id": "social-media__item--twitter",
            "label": "twitter-color",
            "default": "#5379FE"
          },
          {
            "type": "color",
            "id": "social-media__item--instagram",
            "label": "instagram-color",
            "default": "#5379FE"
          }, {
            "type": "color",
            "id": "social-media__item--youtube",
            "label": "youtube-color",
            "default": "#5379FE"
          }, {
            "type": "color",
            "id": "social-media__item--linkedin",
            "label": "linkedin-color",
            "default": "#5379FE"
          }, {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Follow us"
          }, {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>To configure social media, go to your social media settings. Change this text in the theme editor.</p>"
          }
        ]
      }, {
        "type": "newsletter",
        "name": "Newsletter",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
          }, {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Newsletter"
          }, {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "text",
          "settings": {}
        }, {
          "type": "links",
          "settings": {}
        }, {
          "type": "newsletter",
          "settings": {}
        }, {
          "type": "social_media",
          "settings": {}
        }
      ]
    }
  }
{% endschema %}