<style>
  #shopify-section-{{ section.id }} .footer {
    {%- assign border_color = settings.footer_background | color_mix: settings.footer_text_color, 85 -%}
    background: #fff;
    color: #000;
  }
  .footer-logo {max-width: 213.5px;}
  .signup-form .input-block {display: block;height: 50px;padding:0px;border-radius: 10px;background-color:white;border: solid 1px #e1e6eb;}
  .signup-form .input-block #subscriber-email {height: 50px;background: transparent;border: 0;width: 88%;display: inline-block;float: left;font-size: 13px;padding: 0 12px;color: #ccc;}
  .signup-form .input-block #subscribe-btn {border-radius: 0;color:white;line-height: normal;height: 50px;width: max-content;letter-spacing: 0;font-weight: bold;display: inline-block;float: left;padding: 0 20px 0 0;text-align:right;background:transparent;}
  .signup-form .input-block #subscribe-btn span {display: inline-block;width: 20px;height: 20px;border-radius: 50%;border: 1px solid #929ba2;text-align: center;line-height: 20px;margin-bottom:0!important;position:relative;}
  .signup-form .input-block #subscribe-btn span svg{height:10px;position: absolute;top: 50%;left: 56%;transform: translate(-50%, -50%);}
  .error-msg, .thankyou-msg, .aluser-msg {color: #ff0000 !important;font-size: 11px;margin-top: 52px !important;}
/*   footer .signup-form .error-msg{margin-top: 52px !important;} */
  .brand-text{padding:20px 20px;background: #000;}
  .brand-text p.brand_content{line-height: normal;font-size: 14px;max-width: 931px;margin: 0 auto;color: #ffffff;text-align: center;}
  .brand-text a {text-decoration: none !important;}
  .social--media .social-media__item {box-shadow: none;}
  .download-box {display: flex;width: 100%;justify-content: center;align-items: center;}
  .download-box p {margin: 0 2em;font-weight: bold;}
  .download-box a {display: inline-block;margin: 0 10px;}
  .desktop_menu_link{display: block;}
  .mobile_footer_item_title{display: none;}
  .footer__item-list {gap: 3vw;}
  .footer .container{background:#eff4f7;max-width:98%;padding:0 20px;}
  p.desktop_menu_link.footer__item-title.heading.heading--small, footer .signup-form .input-block #subscriber-email{color: #000;text-transform: none;}
  button#btn-back-to-top {display: none;padding: 0.5rem 0.75rem;width: 40px;font-weight: 400!important;border-radius: 0!important;position: fixed;color:white;background-color:black;{% if template contains 'product' or template contains 'collection' %}bottom: 18%!important;{% else %}bottom: 9%;{% endif %}right: 0.1%;align-items: center;z-index:99;}
  .social-media__item--facebook:before {background: #4267B2; }
  .social-media__item--twitter:before{background: #1DA1F2; }
  .social-media__item--instagram:before{background: #E95950; }
  .social-media__item--youtube:before{background: #FF0000; }
  .social-media__item--linkedin:before{background: #0A66C2; }
  br.only_mobile{display: none;}
  .footer__aside .copyright_footer .copy{font-size: 12px;color: #a7afb7;}

  @media screen and (max-width: 767px) {
    li.extra--link{font-size:10px!important;}
    .signup-heading{text-align:center;}
    .signup-form span:first-child{font-size:20px!important;margin-bottom:7px!important;}
    #subscribe-btn{margin:0!important;border-bottom:0;}
    #shopify-section-footer .footer{padding-bottom:3rem;}
    .footer__item-content-newsletter{margin-bottom:2rem;}
    ul.social-media.list--unstyled {justify-content: center;}
    .footer-logo{text-align: center;margin: 2rem auto 0;max-width:150px;}
    .payment-box.payment_gateway_icons, .app-icons, p.copy.text-black {text-align: center;}
    footer .footer_section{padding-bottom: 30px;margin-top:40px!important;}
    footer .brand-text p.brand_content{color: #fff;text-align: left;}
    footer .signup-form span:first-child{font-weight: 600 !important;}
    footer .signup-form .input-block #subscriber-email{font-size: 13px;}
    footer .payment_gateway_icons{border-top: 1px solid rgba(105, 105, 105, 0.3);padding-top: 20px;}
    footer .copyright_footer{margin-top: 0px !important;padding-bottom: 0px !important;}
    footer .signup-form .input-block #subscribe-btn{background: transparent !important;}
    {% comment %} footer .social-media::before, footer .social-media::after{content: '';width: 100%;height: 1px;background: #fff;} {% endcomment %}
    .mobile_footer_item_title button.active{color: #000;}
    .mobile_footer_item_title button.active::after { content: '';height: 5px;width: 56px;background: #ED1C24;display: block;position: absolute; top: 25px; left: -5px;}
    .desktop_menu_link{ display: none;}
    {% comment %} footer ul.linklist.list--unstyled li:nth-child(odd) {border-right: 1px solid #bcbcbc;} {% endcomment %}
    .footer .container{max-width:95%;}
    footer ul.linklist.list--unstyled li:nth-child(even) {padding-left: 20px;}
    .mobile_footer_item_title button{ margin: 10px 0px 0!important;color: #000;padding-bottom:10px;width:100%;text-transform:none;font-size: 14px !important;font-weight: 500 !important;border-radius:0!important;}
    .mobile_footer_item_title button:active, .mobile_footer_item_title button:focus{outline: none;}
    {% comment %} .mobile_footer_item_title button span{display: none;} {% endcomment %}
    .mobile_footer_item_title .footer__item-content{display:none;padding:0!important;margin-bottom:2rem;}
    .mobile_footer_item_title .footer__item-mobile.active{display:block!important;padding: 1rem 0 0 !important;overflow: hidden;}
    footer .footer__item-list{padding-top: 0px;}
    footer .footer__item-list .footer__item--newsletter{display: block !important;}
    .mobile_footer_item_title{padding: 0px 18px;justify-content: space-between; display: flex;flex-direction:column;}
    footer .footer__item--links .footer__item-content{ display: block;}
    footer .footer__item-list .footer__item-content{ padding: 0px 16px;}
    footer .footer__item--links {border-bottom: 0;}
    footer ul.linklist.list--unstyled li{width: 47%;float: left;padding: 10px 0px 5px;}
    footer ul.linklist.list--unstyled li a{font-weight: normal;font-size:12px!important;}
    footer .footer__aside .social--media{width: 100%;margin-top: 0;}
    .footer .container {padding: 0;}
    .footer .container .footer__inner{padding: 0;}
    .footer-bottom-row {padding: 0 12px; justify-content: center;padding-bottom: 20px;margin-bottom:0!important;}
    .footer-bottom-row.social_app_links {width: 100%;margin: 0px;padding: 0px;}
    .download-box {display: block;text-align: left;padding: 30px 0px 20px 20px;margin-bottom: 20px;border-bottom: 1px solid #fff;}
    .download-box p {margin: 2em 2em 1em;}
    .download-box a {margin: 0px 5px;width: auto;}
    .download-box a img {width: 100%;}
    footer .footer__aside .footer__copyright {padding-bottom: 0px;margin-top: 0px;}
    button#btn-back-to-top {left: 33%;right: unset;border-radius: 24px!important;padding-right: 16px;width:unset;}
    br.only_mobile{display: block;}
  }

  @media screen and (max-width: 372px){
    footer ul.linklist.list--unstyled li a{font-size: 10px;}
  }


  @media screen and (min-width: 767px){
    footer .footer__item{display: block !important;    padding-right: 2rem;}
  }

  @media screen and (max-width: 767px){
    button#btn-back-to-top {bottom:unset!important;top:var(--mobilemenuHeightforbtt);}
  }

  @media screen and (min-width: 992px){
    {% comment %} .footer-logo{margin-top:-8px;} {% endcomment %}
    ul.linklist.list--unstyled li a {font-size: 12px;word-break: initial;}
    .footer__aside .copyright_footer{padding-top: 20px;}
    
    .footer-bottom-row {width: 100vw;padding: 0 40px;}
    .footer__aside .footer-bottom-row.social_app_links{width: 100vw;padding: 0 40px;}
    #footer_item_1 ul.linklist.list--unstyled li:nth-child(even){padding-left: 12px;}
    #footer_item_1 ul.linklist.list--unstyled li{width: 50%;float: left;padding-top: 10px;}
    #footer_item_3 ul.linklist.list--unstyled li{padding-top: 10px;}
  }
  .footer-bottom-row .social-media{justify-content:center;}
  .footer-bottom-row .social-container{display: flex;align-items: center;justify-content: center;}
  .footer-bottom-row .social-text{margin: 0;font-size: 16px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.13;letter-spacing: normal;text-align: center;color: #293036;}
  ul.extra--links-list.list--unstyled {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:16px!important;
  }
  li.extra--link {
    margin: 0 12px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    position:relative;
  }
  li.extra--link:nth-child(2)::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 3px;
    background: black;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
}
{% comment %} li.extra--link:nth-child(2)::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
} {% endcomment %}
#shopify-section-footer{margin-bottom:0!important;}
  @media screen and (pointer: fine){
   .social-media__item:hover .social-media__link {color: black;}
  }
  @media screen and (min-width: 1024px){
   .footer__aside {row-gap: 0px!important;background: #e7f0f5;margin-left: -54px;margin-right: -54px;padding-bottom: 15px;}
   .footer-bottom-row .social-text{font-weight:bold;}
  }

</style>

{% unless template contains 'search' %}
<button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16" color:"white">
<path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
</svg>
  
  <span class="mobile-only" style="padding-left:4px">Back to top</span>
</button>
{% endunless %}

<footer class="footer">
<div class="brand-text text-left mb-4 visually-hidden">
  <p class="brand_content">
    India's fastest growing audio & wearables brand. The most incredible range of
    <a href="/collections/bluetooth-wireless-headphones">wireless earphones</a>,
    <a href="/collections/true-wireless-earbuds">earbuds</a>,
    <a href="/collections/wired-headphones">headphones</a>,
    <a href="/collections/smart-watches">smart watches</a>, and
    <a href="/collections/home-audio">home audio</a>. From workouts to adventures, boAt
    will get you sailing!
  </p>
</div>
<div class="container">
  <div class="footer__inner">
    <div class="footer__item-list">
      {%- assign total_menus = 0 -%}
      {%- capture mobile_menu_title -%}
        <div class="mobile_footer_item_title">
          {%- for block in section.blocks -%}
            {%- if block.type == 'links' -%}
              {%- assign total_menus = total_menus | plus: 1 -%}
              {%- assign menu = block.settings.menu -%}
              <div class="menu-panel">
                <button
                  id="link_btn_{{ total_menus }}"
                  class="footer__item-title heading heading--small"
                >
                  {{ menu.title | split: '2' | first }}
                </button>
                <div class="footer__item-content footer__item-mobile footer_item_{{ total_menus }}">
                  <ul class="linklist list--unstyled" role="list">
                    {%- for link in menu.links -%}
                      <li class="linklist__item">
                        <a href="{{ link.url }}" class="link--faded">{{ link.title }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      {%- endcapture -%}

      {%- assign menu_iteration = 0 -%}
      {%- for block in section.blocks -%}
        {%- capture block_content -%}
          {%- case block.type -%}
            {%- when 'image' -%}
              {%- if block.settings.image != blank -%}
                <img
                  style="width: {{ block.settings.image_width }}px"
                  loading="lazy"
                  sizes="{{ block.settings.image_width }}px"
                  class="footer__image"
                  {% render 'image-attributes', image: block.settings.image, sizes: '100, 200, 300, 400, 500, 600' %}
                >
              {%- endif -%}
            {%- when 'text' -%}
              {%- if block.settings.title != blank -%}
                <p class="footer__item-title heading heading--small">
                  {{ block.settings.title | split: '2' | first | escape }}
                </p>
              {%- endif -%}

              {%- if block.settings.content != blank -%}
                <div class="footer__item-content">
                  {{- block.settings.content -}}
                </div>
              {%- endif -%}
            {%- when 'links' -%}
              {%- assign menu_iteration = menu_iteration | plus: 1 -%}

              {%- assign menu = block.settings.menu -%}

              {%- if menu != blank -%}
                <p class="desktop_menu_link footer__item-title heading heading--small">
                  {{ menu.title | split: '2' | first }}
                </p>

                <div class="footer__item-content hidden-pocket hidden-phone">
                  <ul class="linklist list--unstyled" role="list">
                    {%- for link in menu.links -%}
                      <li class="linklist__item">
                        <a href="{{ link.url }}" class="link--faded">{{ link.title }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              {%- endif -%}
              {%- comment -%}
                {%- when 'social_media' -%}
                  {%- if block.settings.title != blank -%}
                    <p class="footer__item-title heading heading--small">{{ block.settings.title | escape }}</p>
                  {%- endif -%}

                  <div class="footer__item-content">
                    {%- if block.settings.content != blank -%}
                      {{- block.settings.content -}}
                    {%- endif -%}

                    {%- render 'social-media' -%}
                  </div>
              {%- endcomment -%}
            {%- when 'newsletter' -%}
              {%- if block.settings.title != blank -%}
                <p class="footer__item-title heading heading--small">{{ block.settings.title | escape }}</p>
              {%- endif -%}

              <div class="footer__item-content">
                <div class="footer-logo">
                  <a href="{{shop.url}}" class="p-0">
                    <img
                      class="footer-logo"
                      loading="lazy"
                      sizes="100px"
                      src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/boAt_logo.svg"
                      alt="logo"
                    >
                  </a>
                </div>
                {%- if block.settings.content != blank -%}
                  {{- block.settings.content -}}
                {%- endif -%}
                {% render 'footer--newsletter' %}
              </div>
          {%- endcase -%}
        {%- endcapture -%}

        {%- if block_content != blank -%}
          {%- if menu_iteration == 1 and total_menus > 0 -%}
            {{- mobile_menu_title -}}
          {%- endif -%}

          <div
            id="footer_item_{{ menu_iteration }}"
            class="footer__item footer__item--{{ block.type | replace: '_', '-' }} {% if forloop.first %}is-first{% endif %}"
            {{ block.shopify_attributes }}
          >
            {{- block_content -}}
          </div>
        {%- endif -%}
        
      {%- endfor -%}
    </div>
    {%- if section.settings.show_footer_filters -%}
      {%- render 'footer-collection-filters' -%}
    {%- endif -%}
    <div class="footer__aside footer_section">
      {%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}
        {%- assign country_selector = true -%}
      {%- endif -%}

      {%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
        {%- assign locale_selector = true -%}
      {%- endif -%}

      {%- if country_selector or locale_selector -%}
        {%- form 'localization', id: 'localization_form_footer', class: 'footer__cross-border' -%}
          {%- if country_selector -%}
            <div class="popover-container">
              <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
              <span class="visually-hidden">{{ 'footer.general.country' | t }}</span>

              <button
                type="button"
                is="toggle-button"
                class="select select--small {% if locale_selector and settings.button_border_radius > 0 %}select--collapse-end{% endif %} text--xsmall"
                aria-expanded="false"
                aria-controls="footer-currency-selector"
              >
                {{- localization.country.name }} ({{ localization.country.currency.iso_code }}
                {% if localization.country.currency.symbol %}{{ localization.country.currency.symbol }}{%- endif -%}
                )
                {%- render 'icon' with 'chevron', width: 9, height: 6, inline: true -%}
              </button>

              <popover-content
                id="footer-currency-selector"
                class="popover popover--top popover--left popover--small"
              >
                <span class="popover__overlay"></span>

                <header class="popover__header">
                  <span class="popover__title heading h6">{{- 'footer.general.country' | t -}}</span>

                  <button
                    type="button"
                    class="popover__close-button tap-area tap-area--large"
                    data-action="close"
                    title="{{ 'general.accessibility.close' | t | escape }}"
                  >
                    {%- render 'icon' with 'close' -%}
                  </button>
                </header>

                <div class="popover__content popover__content--restrict">
                  <div class="popover__choice-list">
                    {%- for country in localization.available_countries -%}
                      <button
                        type="submit"
                        name="country_code"
                        value="{{ country.iso_code }}"
                        class="popover__choice-item"
                      >
                        <span
                          class="popover__choice-label"
                          {% if country.iso_code == localization.country.iso_code %}
                            aria-current="true"
                          {% endif %}
                        >
                          {{- country.name }} ({{ country.currency.iso_code }}
                          {% if country.currency.symbol %}{{ country.currency.symbol }}{%- endif -%}
                          )
                        </span>
                      </button>
                    {%- endfor -%}
                  </div>
                </div>
              </popover-content>
            </div>
          {%- endif -%}

          {%- if locale_selector -%}
            <div class="popover-container">
              <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
              <span class="visually-hidden">{{ 'footer.general.language' | t }}</span>

              <button
                type="button"
                is="toggle-button"
                class="select select--small {% if country_selector and settings.button_border_radius > 0 %}select--collapse-start{% endif %} text--xsmall"
                aria-expanded="false"
                aria-controls="footer-locale-selector"
              >
                {{- localization.language.endonym_name | capitalize -}}
                {%- render 'icon' with 'chevron', width: 9, height: 6, inline: true -%}
              </button>

              <popover-content id="footer-locale-selector" class="popover popover--top popover--small">
                <span class="popover__overlay"></span>

                <header class="popover__header">
                  <span class="popover__title heading h6">{{- 'footer.general.language' | t -}}</span>

                  <button
                    type="button"
                    class="popover__close-button tap-area tap-area--large"
                    data-action="close"
                    title="{{ 'general.accessibility.close' | t | escape }}"
                  >
                    {%- render 'icon' with 'close' -%}
                  </button>
                </header>

                <div class="popover__content">
                  <div class="popover__choice-list">
                    {%- for language in localization.available_languages -%}
                      <button
                        type="submit"
                        name="locale_code"
                        value="{{ language.iso_code }}"
                        class="popover__choice-item"
                      >
                        <span
                          class="popover__choice-label"
                          {% if language.iso_code == localization.language.iso_code %}
                            aria-current="true"
                          {% endif %}
                        >
                          {{- language.endonym_name | capitalize -}}
                        </span>
                      </button>
                    {%- endfor -%}
                  </div>
                </div>
              </popover-content>
            </div>
          {%- endif -%}
        {%- endform -%}
      {%- endif -%}
      {%- comment -%}
        {%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
          <div class="footer__payment-methods">
            <span class="footer__payment-methods-label text--xsmall text--subdued">{{ 'footer.general.we_accept' | t }}</span>

            <div class="payment-methods-list payment-methods-list--auto">
              {% for type in shop.enabled_payment_types %}
                {{ type | payment_type_svg_tag }}
              {% endfor %}
            </div>
          </div>
        {%- endif -%}
      {%- endcomment -%}
      
      <div class="row mt-4 footer-bottom-row social_app_links">
        <div class="col-lg-12 text-left payment-box">
          <div class="row social--media hidden-phone">
            <div class="col-12 p-0 social-container">
              {%- render 'social-media' -%}
            </div>
          </div>
          {% comment %}<img loading="lazy" {% render 'image-attributes', image: section.settings.payment_strip %} alt="Payment">{% endcomment %}
          {% comment %}
            {%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
              <div class="payment-methods-list payment-methods-list--auto">
                  {% for type in shop.enabled_payment_types %}
                    {{ type | payment_type_svg_tag }}
                  {% endfor %}
                </div>
            {%- endif -%}
          {% endcomment %}
        </div>
        <div class="row social--media hidden-tablet-and-up">
          <div class="col-12 p-0">
            {%- render 'social-media' -%}
          </div>
        </div>
      </div>
      <div class="row my-2 footer-bottom-row justify-content-between">
        {% comment %} <div class=" col-lg-4 mb-3 app-icons">
          <p class="mb-1"><b>Download the App</b></p>
          <a href="https://play.google.com/store/apps/details?id=boatlifestylein.android.app" target="_blank">
            <img
              width="150px"
              loading="lazy"
              alt="Google play"
              src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/google-play-store_new.png?v=1666071594"
             
          ></a>
          <a href="https://apps.apple.com/us/app/id1521646593" target="_blank">
            <img
              width="150px"
              loading="lazy"
              alt="Apple Store"
              src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/app-store_new_96c42e79-8764-4292-885a-dc793dde4655.png?v=1666071566"
          ></a>
        </div>
        <div class="col-lg-4 payment-box payment_gateway_icons ">
          <p class="mb-1"><b>We Accept</b></p>
          <img loading="lazy" {% render 'image-attributes', image: section.settings.payment_strip %} alt="Payment">
        </div> {% endcomment %}
        <div class="col-12 extra--links">
          <ul class="extra--links-list list--unstyled" role="list">
            <li class="extra--link">
              <a href="/pages/privacy-policy">Privacy Policy</a>
            </li>
            <li class="extra--link">
              <a href="/pages/terms-of-use">Terms & Conditions</a>
            </li>
            {% comment %} <li class="extra--link">
              <a href="">Disclaimers</a>
            </li> {% endcomment %}
          </ul>
        </div>
      </div>
      <div class="row footer-bottom-row copyright_footer">
        <div class="col-lg-12 text-center footer__copyright text--xsmall text--subdued">
          <p class="copy text-black w-100">
            &copy; {{ 'now' | date: '%Y' }} Imagine Marketing Limited. All Rights Reserved.<br><br>
            For queries contact us:</strong> Manager, Imagine Marketing Limited <br class="only_mobile" />Unit no. 204 & 205, 2nd floor, D-wing & E-wing,<br>Corporate Avenue, Andheri Ghatkopar Link Road, <br class="only_mobile" />Mumbai, Maharashtra-400093, India
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>
{% if section.settings.time_popup  %}
  <style>
    #timed-Modal.show .popover__overlay {visibility: visible;opacity: .3; top: 0;z-index:1111;}
    #timed-Modal{display: block;visibility: hidden;z-index:999;padding:0!important;transform:translateY(100%);transition: transform 1s cubic-bezier(.75,0,.175,1),visibility .6s cubic-bezier(.75,0,.175,1);}
    #timed-Modal .close{position: absolute;top: 12px;right: 12px;width: 30px;height: 30px;line-height: 24px;opacity: 1;
      text-align: center;font-weight: 400!important;font-size: 30px!important;background: #d9d9d9;padding: 5px;border-radius: 50%!important;
    }
    div#timed-Modal.show {transform: translateY(0);visibility: visible;}
    #timed-Modal .modal-dialog {position: absolute;bottom: 0; margin: 0;z-index:9999;}
  </style>
  <div id="timed-Modal" class="modal fade" role="dialog">
    <span class="popover__overlay"></span>
    <div class="modal-dialog">
      <div class="modal-content" style="border-radius: 16px 16px 0 0;">
        <div class="modal-body p-0">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="modal-body-content">
            <div class="p-3">
              {% if section.settings.popup_text  %}            
              <div class="pt-5 mb-0 text-center">
                {{ section.settings.popup_text }}
              </div>
              {% endif %}
              {% if section.settings.popup_image %}           
                <div class="modal-image p-4 px-5" style="font-size: 16px;">
                  <img class="image-overlay__image_" 
                    {% render 'image-attributes', image: section.settings.popup_image, sizes: '300' %} alt="Popup Image"/>
                </div>
              {% endif %}
              <a style="color: white;font-weight: 700!important;
                padding: 1rem;display: block;text-align: center;background-color: #1a2024;margin-bottom:1rem;
                border-radius: 10px!important;text-transform: capitalize;font-size: 15px!important;" 
                href="https://t.me/boAtonTelegram" target="_blank">
                Count Me In 🥳
              </a>
              {% comment %} <div class="sale-pop-form">
                <div class="form-group" style="margin: 0;">
                  <div class="myform" id="myform" style="display: flex;margin: 0;justify-content: space-between;">
                    <input style="border-radius: 5px;max-width: 65%;font-size: 12px;width: 100%;color:black" type="email" name="email" id="sale_email" placeholder="Email Address">
                    <button style="border-radius: 5px;background: red;margin: 2px;color: white;padding:0 1rem;height:45px;line-height:normal;" class="button sale-btn" type="submit">
                      {% if section.settings.button_id %}
                        {{ section.settings.button_id }}
                      {% else %}
                        YES
                      {% endif %}
                    </button>
                  </div>
                </div>
              </div> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{%- if section.settings.show_cookie_bar -%}
<cookie-bar section="{{ section.id }}" hidden class="cookie-bar text--xsmall">
  {%- if section.settings.cookie_bar_title != blank -%}
    <p class="heading heading--xsmall">{{ section.settings.cookie_bar_title }}</p>
  {%- endif -%}

  {%- if section.settings.cookie_bar_content != blank -%}
    {{- section.settings.cookie_bar_content -}}
  {%- endif -%}

  <div class="cookie-bar__actions">
    <button class="button button--text button--primary button--small text--xsmall" data-action="accept-policy">
      {{ 'footer.cookie_bar.accept' | t }}
    </button>
    <button class="button button--text button--ternary button--small text--xsmall" data-action="decline-policy">
      {{ 'footer.cookie_bar.decline' | t }}
    </button>
  </div>
</cookie-bar>
{%- endif -%}
{% comment %}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-custom">
      <!-- Modal content-->
      <div class="modal-content">
        <button
          hidden
          type="button"
          class="close"
          id="ct-close"
          data-dismiss="modal"
        >
          &times;
        </button>
        <iframe
          id="ctIframe"
          src="/apps/sw/testfile.html"
          title="Order Form_Shopify"
          width="400"
          height="250"
          frameborder="0"
          style="margin: auto"
        ></iframe>
      </div>
    </div>
  </div>
{% endcomment %}
<script>
  $(window).scroll(function(e){
  if (this.scrollY >= 1000){
  (this.oldScroll > this.scrollY)?$("#btn-back-to-top").css({"display":"flex"}):$("#btn-back-to-top").css("display","none")
  }else{
    $("#btn-back-to-top").css("display","none");
  }
  this.oldScroll = this.scrollY;
  })
$('#btn-back-to-top').click(function () {
  $(window).scrollTop(0);
  clevertap.event.push('Back to Top clicked');
});
</script>

<script>
{% comment %} document.getElementById('link_btn_1').click();

function openLink(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName('footer__item-mobile');
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = 'none';
  }
  tablinks = document.getElementsByClassName('footer__item-title');
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(' active', '');
  }
  document.getElementById(tabName).style.display = 'block';
  evt.currentTarget.className += ' active';
} {% endcomment %}
{% if section.settings.time_popup  %}
if(window.innerWidth <= 768){
  if (sessionStorage.getItem("timed_popUpPoped") === null){
    $(document).one('touchmove scroll', function() {
      console.log("start_time")
      setTimeout(function() {
        console.log("time")
        $("#timed-Modal").addClass("show");
        $("html").addClass("lock-mobile");
        sessionStorage.setItem("timed_popUpPoped", "poped");
      }, 15000);
    })
    $("#timed-Modal .close, #timed-Modal .popover__overlay").click(function(){
      $("#timed-Modal").removeClass("show");$("html").removeClass("lock-mobile");
    })
  }
}
{% endif %}
$('.menu-panel').each(function(i) {
  $(this).find(`.footer__item-title`).click(function() {
    $(this).find('.expanded').toggleClass('visually-hidden')
    $(this).find('.collapsed').toggleClass('visually-hidden')
    $(this).siblings(`.footer__item-mobile`).toggleClass('active')
    $(this).closest('.menu-panel').siblings(`.menu-panel`).find('.footer__item-mobile').removeClass('active')
    $(this).closest('.menu-panel').siblings(`.menu-panel`).find('.expanded').removeClass('visually-hidden')
    $(this).closest('.menu-panel').siblings(`.menu-panel`).find('.collapsed').addClass('visually-hidden')
  })
})

</script>

{% schema %}
{
"name": "Footer",
"class": "shopify-section--footer",
"max_blocks": 5,
"settings": [
  {
    "type": "checkbox",
    "id": "show_footer_filters",
    "label": "Show Footer Filters",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "time_popup",
    "label": "Show time_popup throughout website"
  },
  {
    "type": "html",
    "id": "popup_text",
    "label": "Popup text"
  },
  {
    "type": "image_picker",
    "id": "popup_image",
    "label": "Popup Image"
  },
  {
    "type": "link_list",
    "id": "filter_menu",
    "label": "Filter Menu"
  },
  {
    "type": "image_picker",
    "id": "payment_strip",
    "label": "Payment Image"
  },
  {
    "type": "checkbox",
    "id": "show_payment_icons",
    "label": "Show payment icons",
    "default": true
  },
  {
    "type": "header",
    "content": "Country/region selector",
    "info": "To add a country/region, go to your [currency settings.](/admin/settings/payments)"
  },
  {
    "type": "checkbox",
    "id": "show_country_selector",
    "label": "Show country/region selector",
    "default": true
  },
  {
    "type": "header",
    "content": "Language selector",
    "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
  },
  {
    "type": "checkbox",
    "id": "show_locale_selector",
    "label": "Show language selector",
    "default": true
  },
  {
    "type": "header",
    "content": "Customer privacy bar"
  },
  {
    "type": "checkbox",
    "id": "show_cookie_bar",
    "label": "Show privacy bar",
    "info": "Privacy bar will only be visible if it fulfills the conditions of the [Shopify Customer Privacy API](https://shopify.dev/docs/themes/consent-tracking-api)",
    "default": false
  },
  {
    "type": "text",
    "id": "cookie_bar_title",
    "label": "Title",
    "default": "Cookie policy"
  },
  {
    "type": "richtext",
    "id": "cookie_bar_content",
    "label": "Content",
    "default": "<p>I agree to the processing of my data in accordance with the conditions set out in the policy of Privacy.</p>"
  }
],
"blocks": [
  {
    "type": "image",
    "name": "Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "300 x 300px .png recommended"
      },
      {
        "type": "range",
        "id": "image_width",
        "min": 50,
        "max": 300,
        "step": 10,
        "unit": "px",
        "label": "Image width",
        "default": 150
      }
    ]
  },
  {
    "type": "text",
    "name": "Text",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "About our store"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.</p>"
      }
    ]
  },
  {
    "type": "links",
    "name": "Links",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "info": "This menu won't show dropdown items.",
        "default": "footer"
      }
    ]
  },
  {
    "type": "social_media",
    "name": "Social media",
    "limit": 1,
    "settings": [
      {
        "type": "paragraph",
        "content": "To configure social media, go to your social media settings."
      },
      {
        "type": "color",
        "id": "social-media__item--facebook",
        "label": "facebook-color",
        "default": "#5379FE"
      },
      {
        "type": "color",
        "id": "social-media__item--twitter",
        "label": "twitter-color",
        "default": "#5379FE"
      },
      {
        "type": "color",
        "id": "social-media__item--instagram",
        "label": "instagram-color",
        "default": "#5379FE"
      },
      {
        "type": "color",
        "id": "social-media__item--youtube",
        "label": "youtube-color",
        "default": "#5379FE"
      },
      {
        "type": "color",
        "id": "social-media__item--linkedin",
        "label": "linkedin-color",
        "default": "#5379FE"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Follow us"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>To configure social media, go to your social media settings. Change this text in the theme editor.</p>"
      }
    ]
  },
  {
    "type": "newsletter",
    "name": "Newsletter",
    "limit": 1,
    "settings": [
      {
        "type": "paragraph",
        "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Newsletter"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
      }
    ]
  }
],
"default": {
  "blocks": [
    {
      "type": "text",
      "settings": {}
    },
    {
      "type": "links",
      "settings": {}
    },
    {
      "type": "newsletter",
      "settings": {}
    },
    {
      "type": "social_media",
      "settings": {}
    }
  ]
}
}
{% endschema %}
