
<div data-section-type="footer">
  {% if template == "index" %}
  <div class="awards-strip" style="max-width: 900px;margin: auto;">
  	{% include 'responsive-image', image: section.settings.awards %}
  </div>
  {% endif %}
 <div class="marquee-text section-id-{{ section.id }} pt-4">
  <p class="text-center" style="font-size: 29px;color: #000;">
    <marquee scrollamount="10">
     {% for i in (1..3) %}
     <span class="text-stroke">{{ section.settings.text1 }}</span>
     <span class="text-white">{{ section.settings.text2 }}</span>
     <span class="text-stroke">{{ section.settings.text1 }}</span>
     <span class="text-stroke">{{ section.settings.text1 }}</span>
     <span class="text-white">{{ section.settings.text2 }}</span>
     <span class="text-stroke">{{ section.settings.text1 }}</span>
     <span class="text-stroke">{{ section.settings.text1 }}</span>
     <span class="text-stroke">{{ section.settings.text1 }}</span>
    {% endfor %}
   </marquee>
  </p>
  <div class="mySect" style="background: #1c1c1c;">
  <div class="img-row text-center row" style="background: #1c1c1c;padding: 20px 0 20px;max-width: 901px;margin: auto;">
    <div class="col-4">
      <div class="row myIconRow">
        <div class="col-md-4 myIcon">
        	<img alt="Free Shipping" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/group_186_3x_4616a7a4-8c24-4065-a237-54e3d574bb94.png?v=1611132367" />
        </div>
        <div class="col-md-8 myText">
          <p class="mb-0">Free Shipping</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row myIconRow">
        <div class="col-md-4 myIcon">
        	<img alt="Exclusive Deals" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/vector_3x_50a1233e-95d9-4e18-9e8e-757b545e2c06.png?v=1611132367" />
        </div>
        <div class="col-md-8 myText">
          <p class="mb-0">Exclusive Deals</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row myIconRow">
        <div class="col-md-4 myIcon">
        	<img alt="Secure Checkout" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/vector_2_2x_9d5071e2-154a-4f06-b660-9d0430a18248.png?v=1611132367" />
        </div>
        <div class="col-md-8 myText">
          <p class="mb-0">Secure Checkout</p>
        </div>
      </div>
    </div>
   </div>
   </div>
   <div class="brand-text text-center" style="background: #2c2c2c;padding:20px 20px;">
     <p style="line-height: normal;font-size: 12px;max-width: 931px;margin: 0 auto;color: #8f8f8f">India's fastest growing audio & wearables brand. The most incredible range of <a href="https://www.boat-lifestyle.com/collections/bluetooth-wireless-headphones">wireless earphones</a>, <a href="https://www.boat-lifestyle.com/collections/true-wireless-earbuds">earbuds</a>, <a href="https://www.boat-lifestyle.com/collections/wired-headphones">headphones</a>, <a href="https://www.boat-lifestyle.com/collections/smart-watches">smart watches</a>, and <a href="https://www.boat-lifestyle.com/collections/home-audio">home audio</a>. From workouts to adventures, boAt will get you sailing!</p>
   </div>
  </div>
  <div class="footer-inner">
    <div class="row">
      <div class="col-lg-4 newsletter pt-0">
          <div class="footer-logo" style="margin-top: 10px;">
            <a href="{{shop.url}}" class="p-0">
            	<img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Boat-Logo_200x.png?v=1600753267" alt="logo">
            </a>
          </div>
          <div class="signup-form mt-4">
<!--             <h3 class="text-uppercase text-white">Subscribe to our newsletter</h3> -->
            <span class="text-white" style="display: block;font-size: 13px;font-weight: normal;margin-bottom: 15px;opacity: .8;line-height: normal;">Subscribe to email alerts. We promise not to spam your inbox.</span>
                 <span class="input-block">
                   <input autocomplete="new-email" type="email" id="subscriber-email" placeholder="Email Address*" class="required email" value="" name="email" aria-label="{{ 'layout.signup.label' | t | escape }}" />
                   <button class="button" id="subscribe-btn" type="submit">SUBSCRIBE</button>
                 </span>
          </div>
        </div>
      <div class="col-lg-8 footer-links">
      	{% if linklists[section.settings.menu_linklist].links.size > 0 %}
        	<div class="nav-row" role="navigation" aria-label="{{ 'layout.footer.navigation_aria_label' | t | escape }}">
              <div class="multi-level-nav">
                <div class="tier-1">
                  <ul>
                    {% for link in linklists[section.settings.menu_linklist].links %}
                    <li {% if link.active %}class="active"{% endif %}>
                      <a href="{{ link.url }}" {% if link.links != blank %}class="has-children" aria-haspopup="true"{% endif %}>
                        {{ link.title }}
                        {% if link.links != blank %}
                        <span class="exp"><span>+</span>{% include 'icon-toggle-menu' %}</span>
                        {% endif %}
                      </a>
                      {% if link.links != blank %}
                      <ul class="myInnerNav">
                        {% for child_link in link.links %}
                        <li {% if child_link.active %}class="active"{% endif %}>
                          <a href="{{ child_link.url }}" class="{% if child_link.links != blank %}has-children {% if child_link.title contains 'LISTED' %}listing-title{% endif %}{% endif %}" {% if child_link.links != blank %}aria-haspopup="true"{% endif %}>
                            {{ child_link.title | remove: ' LISTED' }}
                            {% if child_link.links != blank %}
                            <span class="exp"><span>+</span>{% include 'icon-toggle-menu' %}</span>
                            {% endif %}
                          </a>
                          {% if child_link.links != blank %}
                          <ul{% if child_link.title contains 'LISTED' %} class="listed"{% endif %}>
                            {% for child_child_link in child_link.links %}
                            <li {% if child_child_link.active %}class="active"{% endif %}>
                              <a href="{{ child_child_link.url }}">{{ child_child_link.title }}</a>
                            </li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                        </li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
        </div><!-- /.nav-row -->
        {% endif %}
        {% if linklists[section.settings.menu_linklist_1].links.size > 0 %}
        	<div class="nav-row" role="navigation" aria-label="{{ 'layout.footer.navigation_aria_label' | t | escape }}">
              <div class="multi-level-nav">
                <div class="tier-1">
                  <ul>
                    {% for link in linklists[section.settings.menu_linklist_1].links %}
                    <li {% if link.active %}class="active"{% endif %}>
                      <a href="{{ link.url }}" {% if link.links != blank %}class="has-children" aria-haspopup="true"{% endif %}>
                        {{ link.title }}
                        {% if link.links != blank %}
                        <span class="exp"><span>+</span>{% include 'icon-toggle-menu' %}</span>
                        {% endif %}
                      </a>
                      {% if link.links != blank %}
                      <ul class="myInnerNav">
                        {% for child_link in link.links %}
                        <li {% if child_link.active %}class="active"{% endif %}>
                          <a href="{{ child_link.url }}" class="{% if child_link.links != blank %}has-children {% if child_link.title contains 'LISTED' %}listing-title{% endif %}{% endif %}" {% if child_link.links != blank %}aria-haspopup="true"{% endif %}>
                            {{ child_link.title | remove: ' LISTED' }}
                            {% if child_link.links != blank %}
                            <span class="exp"><span>+</span>{% include 'icon-toggle-menu' %}</span>
                            {% endif %}
                          </a>
                          {% if child_link.links != blank %}
                          <ul{% if child_link.title contains 'LISTED' %} class="listed"{% endif %}>
                            {% for child_child_link in child_link.links %}
                            <li {% if child_child_link.active %}class="active"{% endif %}>
                              <a href="{{ child_child_link.url }}">{{ child_child_link.title }}</a>
                            </li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                        </li>
                        {% endfor %}
                        {% if customer.id != null %}
                          <li>
                            <a href="/apps/ret">
                              Returns & Exchange                          
                            </a>            
                          </li>
                        {% endif %}
                      </ul>
                      {% endif %}
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
        </div><!-- /.nav-row -->
        {% endif %}
        {% if linklists[section.settings.menu_linklist_2].links.size > 0 %}
        	<div class="nav-row" role="navigation" aria-label="{{ 'layout.footer.navigation_aria_label' | t | escape }}">
              <div class="multi-level-nav">
                <div class="tier-1">
                  <ul>
                    {% for link in linklists[section.settings.menu_linklist_2].links %}
                    <li {% if link.active %}class="active"{% endif %}>
                      <a href="{{ link.url }}" {% if link.links != blank %}class="has-children" aria-haspopup="true"{% endif %}>
                        {{ link.title }}
                        {% if link.links != blank %}
                        <span class="exp"><span>+</span>{% include 'icon-toggle-menu' %}</span>
                        {% endif %}
                      </a>
                      {% if link.links != blank %}
                      <ul class="myInnerNav">
                        {% for child_link in link.links %}
                        <li {% if child_link.active %}class="active"{% endif %}>
                          <a href="{{ child_link.url }}" class="{% if child_link.links != blank %}has-children {% if child_link.title contains 'LISTED' %}listing-title{% endif %}{% endif %}" {% if child_link.links != blank %}aria-haspopup="true"{% endif %}>
                            {{ child_link.title | remove: ' LISTED' }}
                            {% if child_link.links != blank %}
                            <span class="exp"><span>+</span>{% include 'icon-toggle-menu' %}</span>
                            {% endif %}
                          </a>
                          {% if child_link.links != blank %}
                          <ul{% if child_link.title contains 'LISTED' %} class="listed"{% endif %}>
                            {% for child_child_link in child_link.links %}
                            <li {% if child_child_link.active %}class="active"{% endif %}>
                              <a href="{{ child_child_link.url }}">{{ child_child_link.title }}</a>
                            </li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                        </li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
        </div><!-- /.nav-row -->
        {% endif %}
      </div>
    </div>
    <div class="row mt-4 footer-bottom-row">
      	<div class="col-lg-12 social-connect">
          <div class="row sociak-share-icons">
            <div class="col-12">
              {% if section.settings.show_social_icons %}
                  {% include 'social-icons' %}
              {% endif %}
            </div>
          </div>
      </div>
      <div class="col-lg-4 text-center mt-4 payment-box">
      	{% include 'responsive-image', image: section.settings.payment_strip %}
      </div>
      <div class="download-box col-lg-8 mt-3">
        <p>DOWNLOAD THE APP</p>
        <a href="https://play.google.com/store/apps/details?id=boatlifestylein.android.app" target="_blank">
          <img class="lazyload" data-src="//cdn.shopify.com/s/files/1/0057/8938/4802/files/google-play.png?v=1608620293" alt="Google play" src="//cdn.shopify.com/s/files/1/2090/3151/t/115/assets/google_play_btn.png?v=7396081662837670692"></a>
        <a href="https://apps.apple.com/us/app/id1521646593" target="_blank">
          <img class="lazyload" data-src="//cdn.shopify.com/s/files/1/0057/8938/4802/files/app-store.png?v=1608620293" alt="Apple Store" src="//cdn.shopify.com/s/files/1/2090/3151/t/115/assets/ios_btn.png?v=2500216566077302367"></a>
      </div>
    </div>
  </div>
  <div class="lower cf">
    {% if section.settings.signup_show %}
    <div class="interact">
      <div class="signup-form-title">{{ section.settings.newsletter_title }}</div>
      <div class="signup-form-subtitle user-content">{{ section.settings.newsletter_text }}</div>
      {% include 'signup-form' %}
    </div><!-- /.interact -->
    {% endif %}
    <div class="copyright">
      {% comment %}
      <div class="footer-logo text-center">
      	<img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Logo_boat-designe_93760563-9aef-4c34-96fa-0d2536368dce.png?v=1602514228" alt="logo">
      </div>
      {% endcomment %}
      <span class="copy">&copy; {{ "now" | date: "%Y" }} Imagine Marketing Private Limited. All Rights Reserved.</span>

<!--       {{ powered_by_link }} -->

    </div><!-- /.copyright -->
<!--      <div class="payment-methods">
      {% for type in shop.enabled_payment_types %}
        {{ type | payment_type_svg_tag: class:'payment-icon' }}
      {% endfor %}
    </div>
  </div>
 </div>  -->
 
 {% if template == "index" or template == "blog" %} 
 <div class="pop-overlay"></div>
    <div class="boathead-pop">
      <div class="content-pop">
        <span class="close-pop">&times;</span>
        <div class="subscribe-form">
          <div class="header_image_popup">
            <p class="text-uppercase text-white"><strong>Join the tribe</strong></p>
            {% include 'responsive-image', image: section.settings.popup_image, manual_image_load: false %}
          </div>
          <p class="text-white opening-line">Be the first to know about new products, huge savings and other crazy things we're upto</p>
          <div class="form-group">
          	<input type="email" name="email" id="pop_email" placeholder="Email Address" autocomplete="new-email">
            <button class="button" type="submit" id="subscribe_pop">SUBSCRIBE</button>
            <p class="thankyou-msg-pop" style="color:#fff;font-size:12px;display:none">Thank You for subscribing. Please check your inbox!</p>
            <p class="error-msg-pop" style="color:#fff;font-size:12px;display:none">Please enter a valid email Id!</p>
          </div>
        </div>
      </div>
  </div>
  {% endif %}
  
  {% comment %} 
  {% if template == 'index' %}
<style>
  .saletimer {
  	position: fixed;
    background: #000;
    bottom: -45px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 285px;
    z-index: 99;
    border: 1px solid #ccc;
    display: none;
  } 
  .saletimer p {
  	margin: 0;
    font-size: 13px;
  }
  .saletimer #demo {
  	font-size: 30px;
    font-weight: bold;
  }
  .saletimer #demo span {
  	display: inline-block;
    width: auto;
  }
  .saletimer #demo span#secs {
  	width: 60px;
  }
  .saletimer-inner {
  	position: relative;
  }
  #closeSaleTimer {
  	position: absolute;
    top: -20px;
    right: -10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  @media screen and (max-width: 767px) {
    .saletimer {
    	left:0;
      	bottom: 0;
      	transform: none;
    }
  }
</style>    

<div class="saletimer" id="saleTimer">
  <div class="saletimer-inner">
    <span id="closeSaleTimer">&times;</span>
    <p>Countdown to the Ultimate Fri-Yay!</p>
    <p id="demo">
<!--       <span id="days"></span> -->
      <span id="hours"></span>
      <span id="mins"></span>
      <span id="secs" style="color:#ea2127;"></span>
    </p>
  </div>
</div>

<script>
	var countDownDate = new Date("Nov 27, 2020 00:00:00").getTime();
	var x = setInterval(function() {
  	var now = new Date().getTime();
  	var distance = countDownDate - now;
    
//   var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
//   document.getElementById("days").innerHTML = days + "d :";
    document.getElementById("hours").innerHTML = hours + "h :";
    document.getElementById("mins").innerHTML = minutes + "m :";
    document.getElementById("secs").innerHTML = seconds + "s";
}, 1000);
  
  var closeSaleTimer = document.getElementById("closeSaleTimer");
  var saleTimer = document.getElementById("saleTimer");
  closeSaleTimer.onclick = function() {
  	saleTimer.style.display = "none";
  };
  setTimeout(function(){
  	$("#saleTimer").fadeIn();
  }, 3000)
  
</script>
{% endif %}  
{% endcomment %} 
 <script>
   {%- if customer -%}
   var myEmail = '{{customer.email}}'
   $("#subscriber-email, #pop_email").val(myEmail);
   
   {%- endif -%}
   var localValuePop = localStorage.getItem('MyPopup');
   if(!localValuePop) {
   	 setTimeout(function(){
    	$(".pop-overlay, .boathead-pop").fadeIn();
    }, 15000);
   }
   $("#subscribe_pop").on("click",function(){var e=document.getElementById("pop_email").value;""!==e&&/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/.test(e)?localStorage.getItem("userEmailId")===e?$(".aluser-msg").show():(localStorage.setItem("userEmailId",e),localStorage.setItem("MyPopup","popOnce"),clevertap.onUserLogin.push({Site:{Email:e,"MSG-email":!0}}),clevertap.event.push("Newsletter Subscribed",{Email:e,Source:"Popup"}),$(".thankyou-msg-pop").show(),setTimeout(function(){$(".pop-overlay, .boathead-pop").fadeOut()},5e3)):$(".error-msg-pop").show(),setTimeout(function(){$(".error-msg-pop").fadeOut()},5e3)}),$(".pop-overlay, .close-pop").click(function(){localStorage.setItem("MyPopup","popOnce"),$(".pop-overlay, .boathead-pop").fadeOut()}),$("#subscribe-btn").on("click",function(e){var o=document.getElementById("subscriber-email").value;""!==o&&/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/.test(o)?localStorage.getItem("userEmailId")===o?$(".input-block").append('<p class="aluser-msg text-white">You are already subscribed!</p>').show():(localStorage.setItem("userEmailId",o),clevertap.onUserLogin.push({Site:{Email:o,"MSG-email":!0}}),clevertap.event.push("Newsletter Subscribed",{Email:o,Source:"Footer"}),$(".input-block").append('<p class="thankyou-msg text-white">Thank You for subscribing. Please check your inbox!</p>').show(),$("#subscriber-email").val("")):$(".input-block").append('<p class="error-msg text-white">Please enter a valid email Id!</p>').show(),setTimeout(function(){$(".thankyou-msg, .error-msg, .aluser-msg").remove()},5e3)}),$(".download-box a").click(function(){clevertap.event.push("Download App Clicked")});
	
   $(".footer-inner .tier-1>ul li").each(function(){
     var item;
       $(this).click(function(e){
         item = $(this).find('a').text()
       	clevertap.event.push("Footer Menu Item Clicked ", {
          "Item": item,
          "Source": "Footer"
        });
       })
   });
   $(window).on('load', function(){
    $("ul.tmenu_submenu_type_flyout li").each(function(){ 
      var item; 
      $(this).find('a').click(function(e){ 
        event.preventDefault();
  		$(this).unbind("click");
        item = $(this).find('span').text();
        
        clevertap.event.push("Header Menu Item Clicked ", { 
          "Item": item, 
          "Source": "Header"
        }); 
      }) 
    });
  });
</script>
<script>
  function videoPlay(e){var t=e.find(".js-videoIframe"),a=t.data("src");e.addClass("videoWrapperActive"),t.attr("src",a)}function videoStop(e){if(e)t=e.find(".js-videoIframe");else{e=$(".js-videoWrapper");var t=$(".js-videoIframe")}e.removeClass("videoWrapperActive"),t.attr("src","")}"meet the boAtheads"==$("#MainContent .small--text-center").html()?$("body").attr("id","meet-boatheads"):"boAt x Sunburn"==$("#MainContent .small--text-center").html()&&$("body").attr("id","boat_x_sunburn"),$(document).on("click",".js-videoPoster",function(e){e.preventDefault(),videoPlay($(this).closest(".js-videoWrapper"))});
</script>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
          "type": "text",
          "id": "text1",
          "label": "Stroke Text",
          "default": "Marque Text"
        },
        {
          "type": "text",
          "id": "text2",
          "label": "White Text",
          "default": "Marque Text"
        },
      {
        "type": "link_list",
        "id": "menu_linklist",
        "label": "Menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "menu_linklist_1",
        "label": "Menu1",
        "default": "footer"
      },
    {
        "type": "link_list",
        "id": "menu_linklist_2",
        "label": "Menu2",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_social_icons",
        "label": "Show social icons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "signup_show",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_title",
        "label": "Heading",
        "default": "Signup for our newsletter"
      },
      {
        "type": "richtext",
        "id": "newsletter_text",
        "label": "Subheading"
      },
      {
        "type": "image_picker",
        "id": "awards",
        "label": "Awards Image"
      },
      {
        "type": "image_picker",
        "id": "payment_strip",
        "label": "Payment Image"
      },
      {
        "type": "image_picker",
        "id": "popup_image",
        "label": "Newsletter Popup Image"
      },
      {
        "type": "image_picker",
        "id": "footer_icons",
        "label": "Footer Icons"
      }
    ]
  }
{% endschema %}
