{% comment %}Namogoo Snippet{% endcomment %}
<script type="text/javascript" async> (() => { const cfgKey = "namogooDataLayer", categoriesCfgKey = "NmgDLProductCategories"; let userData = {}, siteData = {}, productData = {}, cartData = {}, searchProductsData = [], categoryProductsData = [], categoryData = {}; let utils = { objectIsEmpty: (obj) => { if (Array.isArray(obj)) { return obj.length === 0; } return Object.keys(obj).length === 0 && obj.constructor === Object; } }; let page = { href: () => window.location.href, pageType: () => { let pType = "{{ request.page_type }}"; switch (pType) { case '404': case 'password': case 'list-collections': { return 'Other'; } case 'article': case 'blog': case 'page': { return 'Content Page'; } case 'cart': { return 'Cart'; } case 'collection': { return 'Category'; } case 'customers/account': case 'customers/reset_password': { return 'Account'; } case 'customers/activate_account': case 'customers/addresses': case 'customers/login': case 'customers/register': { return 'Customer Service' } case 'customers/order': { return 'Order Details'; } case 'gift_card': { return 'Promotion'; } case 'product': { return 'Product'; } case 'index': { return 'Homepage'; } case 'search': { return 'Search'; } } let href = page.href(); if (href.includes("/cart")) { return 'Cart'; } else if (href.includes("/account")) { return 'Account'; } else if (href.includes("/thank_you")) { return 'Order Confirmation'; } else if (href.includes("/orders/")) { return 'Order Details'; } else if (href.includes("/checkout")) { return 'Checkout'; } else { return 'Other'; } }, requiredDataLayerGroups: () => { let pt = page.pageType(); let groups = ['userData', 'siteData', 'cartData']; if (pt === 'Product'){ groups.push('productData'); } else if (pt === 'Category'){ groups.push('categoryData', 'categoryProductsData'); } else if (pt === 'Search'){ groups.push('searchProductsData'); } return groups; }, td: () => window.ShopifyAnalytics.lib.trekkie.defaultAttributes, meta: () => window.ShopifyAnalytics.meta, get: { user: { uniqToken: () => page.td().uniqToken, visitToken: () => page.td().visitToken, id: () => __st.cid, }, }, set: { userData: () => { userData.guestUserId = page.get.user.uniqToken(); userData.sessionId = page.get.user.visitToken(); let userId = page.get.user.id(); if (userId){ userData.userId = userId; userData.loginType = 'logged in user'; } else { userData.userId = ''; userData.loginType = 'guest user'; } }, siteData: () => { siteData.local = "{{ request.locale.iso_code }}"; siteData.language = document.documentElement.lang; siteData.currency = "{{ shop.currency }}"; siteData.shopCurrency = "{{ shop.currency }}"; let currency = window.Currency ? window.Currency.currentCurrency : ''; siteData.cartCurrency = currency || "{{ cart.currency.iso_code }}"; siteData.pageType = page.pageType(); siteData.timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone; {%- if search and search.performed -%} siteData.searchTerms = "{{ search.terms }}"; {%- endif -%} }, productData: () => { {%- if product -%} let selectedVariantId = page.meta().selectedVariantId || {{ product.selected_or_first_available_variant.id }}; let allVariants = [ {%- for variant in product.variants -%} { sku: {{ variant.sku | json }}, id: {{ variant.id }}, salePrice: {{ variant.price }}, originalPrice: {{ variant.price }}, available: {{ variant.available }}, quantity: {{ variant.inventory_quantity }}, }, {%- endfor -%} ]; let selectedVariant = allVariants.filter(v => v.id == selectedVariantId)[0] || {}; productData.sku = selectedVariant.sku || ''; productData.id = {{ product.id }}; productData.variantId = selectedVariant.id; productData.title = "{{ product.title | escape }}"; productData.brand = "{{ product.vendor | escape }}"; productData.salePrice = selectedVariant.salePrice / 100 + ''; productData.originalPrice = selectedVariant.originalPrice / 100 + ''; productData.quantity = selectedVariant.quantity; productData.inStock = selectedVariant.available; productData.imageUrl = "{{ product | img_url }}"; let productCollections = [ {%- if product.collections -%} {%- for collection in product.collections -%} { id: "{{ collection.id }}", handle: "{{ collection.handle }}", title: "{{ collection.title }}" }, {%- endfor -%} {%- elsif collection -%} { id: "{{ collection.id }}", handle: "{{ collection.handle }}", title: "{{ collection.title }}" } {%- endif -%} ]; productData.categoryIds = []; productData.categoryNames = []; productData.categoryHandles = []; productCollections.forEach(collection => { productData.categoryIds.push(collection.id); productData.categoryNames.push(collection.title); productData.categoryHandles.push(collection.handle); }); {%- endif -%} }, cartData: () => { cartData.total = {{ cart.total_price }} / 100 + ''; cartData.subTotal = {{ cart.items_subtotal_price }} / 100 + ''; {% assign discounts = cart.cart_level_discount_applications | default: cart.discount_applications %} {%- for dscnt in discounts -%} cartData.discountData = { id: "{{ dscnt.key }}", name: "{{ dscnt.title | escape }}", discountType: "{{ dscnt.type }}", totalAmount: {{ dscnt.total_allocated_amount }} / 100 + '', value: "{{ dscnt.value }}", valueType: "{{ dscnt.value_type }}", }; {% break %} {%- endfor -%} {%- if cart.item_count -%} cartData.items = [ {%- for item in cart.items -%} { sku: "{{ item.sku }}", id: {{ item.product_id }}, variantId: {{ item.id }}, title: "{{ item.title | ecsape }}", brand: "{{ item.vendor | escape}}", price: {{ item.price }} / 100 + '', originalPrice: {{ item.price }} / 100 + '', salePrice: {{ item.discounted_price }} / 100 + '', quantity: {{ item.quantity }}, imageUrl: "{{ item | img_url }}", inStock: true, {%- if item.product.collections -%} {%- assign categoryIds = '' -%} {%- assign categoryNames = '' -%} {%- assign categoryHandles = '' -%} {%- for collection in item.product.collections -%} {%- assign categoryIds = categoryIds | append: collection.id | append: ' ,|!|, ' -%} {%- assign categoryNames = categoryNames | append: collection.title | escape | append: ' ,|!|, ' -%} {%- assign categoryHandles = categoryHandles | append: collection.handle | append: ' ,|!|, ' -%} {%- endfor -%} categoryIds: {{ categoryIds | split: ' ,|!|, ' | json }}, categoryNames: {{ categoryNames | split: ' ,|!|, ' | json }}, categoryHandles: {{ categoryHandles | split: ' ,|!|, ' | json }}, {%- else -%} categoryIds: [], categoryNames: [], categoryHandles: [], {%- endif -%} {% if item.discounts.size > 0 %} discountData: { amount: {{ item.discounts[0].amount | default: 0 }} / 100 + '', title: {{ item.discounts[0].title | json }}, }, {% endif %} }, {%- endfor -%} ]; let productCategoriesData = {}; cartData.items.forEach(item => { productCategoriesData[item.variantId] = { categoryIds: item.categoryIds, categoryNames: item.categoryNames, categoryHandles: item.categoryHandles, } }); localStorage.setItem(categoriesCfgKey, JSON.stringify(productCategoriesData)); {%- endif -%} cartData.totalQuantity = {{ cart.item_count }}; }, categoryData: () => { {%- if request.page_type == 'collection' -%} {%- assign collection = collections[handle] -%} categoryData.id = "{{ collection.id }}"; categoryData.handle = "{{ collection.handle }}"; categoryData.title = "{{ collection.title }}"; {%- endif -%} }, categoryProductsData: () => { categoryProductsData.length = 0; {%- if request.page_type == 'collection' -%} {%- assign collection = collections[handle] -%} {%- if collection.products -%} let product = {}, firstVariant = {}, variants = [], productCollections = []; {%- for product in collection.products -%} productCollections = [ {%- if product.collections -%} {%- for collection in product.collections -%} { id: "{{ collection.id }}", handle: "{{ collection.handle }}", title: "{{ collection.title }}" }, {%- endfor -%} {%- endif -%} ]; product = { id: {{ product.id }}, title: `{{ product.title }}`, brand: `{{ product.vendor }}`, imageUrl: "{{ product | img_url }}", categoryIds: productCollections ? productCollections.map(collection => collection.id) : [], categoryNames: productCollections ? productCollections.map(collection => collection.title) : [], categoryHandles: productCollections ? productCollections.map(collection => collection.handle) : [], {%- if product.variants.size == 1 -%} {% assign variant = product.variants[0] %} sku: {{ variant.sku | json }}, variantId: {{ variant.id }}, salePrice: {{ variant.price }} / 100 + '', originalPrice: {{ variant.price }} / 100 + '', inStock: {{ variant.available }}, quantity: {{ variant.inventory_quantity }}, variants: [], }; {%- else -%} }; firstVariant = { {%- assign variant = product.selected_or_first_available_variant -%} sku: {{ variant.sku | json }}, variantId: {{ variant.id }}, salePrice: {{ variant.price }} / 100 + '', originalPrice: {{ variant.price }} / 100 + '', inStock: {{ variant.available }}, quantity: {{ variant.inventory_quantity }}, }; variants = [ {%- for variant in product.variants -%} {%- if variant.id == product.selected_or_first_available_variant.id -%} {%- continue -%} {%- endif -%} { sku: {{ variant.sku | json }}, variantId: {{ variant.id }}, salePrice: {{ variant.price }} / 100 + '', originalPrice: {{ variant.price }} / 100 + '', inStock: {{ variant.available }}, quantity: {{ variant.inventory_quantity }}, }, {%- endfor -%} ]; product.variants = variants.map(v => {return {...product, ...v}}); product = {...product, ...firstVariant}; {%- endif -%} categoryProductsData.push({...product}); {%- endfor -%} {%- else -%} categoryProductsData.push({}); {%- endif -%} {%- endif -%} }, searchProductsData: () => { searchProductsData.length = 0; {%- if request.page_type == 'search' -%} {%- if search and search.performed -%} let searchResult = {}, searchResultFirstVariant = {}, searchResultVariants = [], searchResultCollections = []; {%- for product in search.results -%} {%- if product.object_type != "product" -%} {%- continue -%} {%- endif -%} searchResultCollections = [ {%- if product.collections -%} {%- for collection in product.collections -%} { id: "{{ collection.id }}", handle: "{{ collection.handle }}", title: "{{ collection.title }}" }, {%- endfor -%} {%- endif -%} ]; searchResult = { id: {{ product.id }}, title: `{{ product.title }}`, brand: `{{ product.vendor }}`, imageUrl: "{{ product | img_url }}", categoryIds: searchResultCollections ? searchResultCollections.map(collection => collection.id) : [], categoryNames: searchResultCollections ? searchResultCollections.map(collection => collection.title) : [], categoryHandles: searchResultCollections ? searchResultCollections.map(collection => collection.handle) : [], {%- if product.variants.size == 1 -%} {% assign variant = product.variants[0] %} sku: {{ variant.sku | json }}, variantId: {{ variant.id }}, salePrice: {{ variant.price }} / 100 + '', originalPrice: {{ variant.price }} / 100 + '', inStock: {{ variant.available }}, quantity: {{ variant.inventory_quantity }}, variants: [], }; {%- else -%} }; searchResultFirstVariant = { {%- assign variant = product.selected_or_first_available_variant -%} sku: {{ variant.sku | json }}, variantId: {{ variant.id }}, salePrice: {{ variant.price }} / 100 + '', originalPrice: {{ variant.price }} / 100 + '', inStock: {{ variant.available }}, quantity: {{ variant.inventory_quantity }}, }; searchResultVariants = [ {%- for variant in product.variants -%} {%- if variant.id == product.selected_or_first_available_variant.id -%} {%- continue -%} {%- endif -%} { sku: {{ variant.sku | json }}, variantId: {{ variant.id }}, salePrice: {{ variant.price }} / 100 + '', originalPrice: {{ variant.price }} / 100 + '', inStock: {{ variant.available }}, quantity: {{ variant.inventory_quantity }}, }, {%- endfor -%} ]; searchResult.variants = searchResultVariants.map(v => {return {...searchResult, ...v}}); searchResult = {...searchResult, ...searchResultFirstVariant}; {%- endif -%} searchProductsData.push({...searchResult}); {%- else -%} searchProductsData.push({}); {%- endfor -%} {%- endif -%} {%- endif -%} }, } }; let setRequiredGroupsData = () => { let requiredDataLayerGroups = page.requiredDataLayerGroups(); requiredDataLayerGroups.forEach((item, index) => { if (utils.objectIsEmpty(eval(item))){ try { page.set[item]() } catch (e) { } } }); }; let setLog = (groupsList) => { let log = {}; groupsList.forEach((item, index) => { if (['userData', 'siteData', 'cartData', 'categoryData'].includes(item)){ log[item] = eval(item) } else if (['categoryProductsData', 'searchProductsData'].includes(item)){ log['items'] = eval(item) } else if (item === 'productData'){ log['items'] = [eval(item)] } }); window[cfgKey] = [log] }; let interval; let perform = (i=1000) => { interval = setInterval(() => { setRequiredGroupsData(); let c = 0; let requiredGroups = page.requiredDataLayerGroups(); requiredGroups.forEach((item, index) => { if (!utils.objectIsEmpty(eval(item))){ c++ } }); if (requiredGroups.length === c){ clearInterval(interval); setLog(requiredGroups) } }, i) }; perform(); let initialHref = window.location.href; let trackUrl = setInterval(() => { if (page.href() !== initialHref){ initialHref = page.href(); userData = {}; siteData = {}; productData = {}; cartData = {} ; searchProductsData = []; categoryProductsData = []; categoryData = {}; perform() } }, 1000) })();
</script>
{% comment %}END of Namogoo Snippet{% endcomment %}
      <!-- Datamilk magic -->
      <!-- <script src="https://datamilk.app/magic_ai.js?id=6562f5cbb7d07637" async></script> -->
      <!-- end magic -->
      <style type="text/css">
        .logo img {
          width: {{ section.settings.logo_img_width | escape }}px;
        }
        
        .tooltip1 .tooltip1text {
             visibility: hidden;
              background-color: black;
              color: #fff;
              text-align: center;
              position: absolute;
              z-index: 1;
        }
       .tooltip1 .tooltip1text {
           width: max-content;
           top: 70%;
           margin-left: -60px;
           padding: 3px 8px;
      	}

        .tooltip1:hover .tooltip1text {
          visibility: visible;
        }
      	
        .tooltip2 .tooltip2text {
             visibility: hidden;
              background-color: black;
              color: #fff;
              text-align: center;
              position: absolute;
              z-index: 1;
        }
       .tooltip2 .tooltip2text {
           width: max-content;
           top: 134%;
           margin-left: -53px;
           padding: 3px 8px;
      	}

        .tooltip2:hover .tooltip2text {
          visibility: visible;
        }
      
      .tooltip3 .tooltip3text {
             visibility: hidden;
              background-color: black;
              color: #fff;
              text-align: center;
              position: absolute;
              z-index: 1;
        }
       .tooltip3 .tooltip3text {
           width: max-content;
           top: 70%;
           margin-left: -27px;
           padding: 3px 8px;
      	}

        .tooltip3:hover .tooltip3text {
          visibility: visible;
        }

        #mobile-header .logo img {
          width: 65px;
        }
        .myDropdown {
          position: relative;
        }
        .close-popup {
          position: absolute;
          top: 5px;
          right: 5px;
          font-size: 30px;
          cursor: pointer;
        }
        .myDropdown .toggle-link {
          cursor: pointer;
          padding-right: 10px;
        }
        .myDropdown .toggle-link img {
          max-width: 20px;
          width: 100%;
          display: inline-block;
          vertical-align: middle;
        }
        .myDropdown .dropdown-menu {
          color: #000;
          min-width: 219px;
          left: -127px;
          padding: 10px;
        }

        .myDropdown .dropdown-menu a {
          color: #000 !important;
          font-size: 14px!important;
          line-height: 32px;
          margin: 6px 0 0; 
          display: block;
          border-bottom: 1px solid #ccc;
        }
        .myDropdown .dropdown-menu a:hover {
              text-decoration: none!important;
          }
        .myDropdown .dropdown-menu a.trackorder {
          display: block;
          padding: 0;
        }
        .myDropdown .dropdown-menu .account-links-inline {
          display: block;
          width: 100%;
        } 
        .myDropdown .dropdown-menu .login, .myDropdown .dropdown-menu .logout {
          display: block;
          background: #ea2127;
          text-align: center;
          margin: 15px 0 0;
        }

        .myDropdown .dropdown-menu .login a, .myDropdown .dropdown-menu .logout a {
          color: #fff!important;
          font-weight: bold;
        }
        .cart--img, .gift-card-icon img {
          max-width: 20px;
          width: 100%;
          display: inline-block;
          vertical-align: middle;
        }
        .gift-card-icon {margin: 0 13px 0;}
      /*   .announcement {display: none;} */
      </style>

      {% if template == 'gift_card' %}

      {% comment %} Gift card template logo {% endcomment %}
      {% if section.settings.logo != blank %}
      <h1 class="logo">
        {% capture img_size %}{{ section.settings.logo_img_width | times: 2 }}x{% endcapture %}
        <img class="lazyload" data-src="{{ section.settings.logo | img_url: img_size }}" alt="{{ section.settings.logo.alt | escape }}" />
      </h1>
      {% else %}
      <h1>{{ shop.name }}</h1>
      {% endif %}

      {% else %}

      <div data-section-type="header">
        {% if section.settings.announcement_show %}
        {% unless template != 'index' and section.settings.announcement_home_only %}
          <style type="text/css">
            .announcement {
              background: {{ section.settings.announcement_bar_col }};
              color: {{ section.settings.announcement_text_col }};
            }
          </style>
          <div class="announcement">
            {% if section.settings.announcement_link != blank %}<a href="{{ section.settings.announcement_link }}">{% endif %}
            <div class="announcement__inner">
              {{ section.settings.announcement_text }}
            </div>
            {% if section.settings.announcement_link != blank %}</a>{% endif %}
          </div>
        {% endunless %}
        {% endif %}

        <div id="pageheader">

          {% capture logo_html %}
          <div class="logo">
            <a href="/" title="{{ shop.name }}">
              {% if section.settings.logo != blank %}
              {% capture img_size %}{{ section.settings.logo_img_width | times: 2 }}x{% endcapture %}
              <img class="lazyload" data-src="{{ section.settings.logo | img_url: img_size }}" alt="{{ section.settings.logo.alt | escape }}" />
              {% else %}
              <span class="logotext">{{ shop.name }}</span>
              {% endif %}
            </a>
          </div><!-- /#logo -->
          {% endcapture %}

          <div id="mobile-header" class="cf">
            <button class="notabutton mobile-nav-toggle" aria-label="{{ 'general.navigation.menu_toggle_aria_label' | t | escape }}" aria-controls="main-nav">
              {% include 'svg-menu' %}
            </button>
            {{ logo_html }}
            <div class="gift-card-icon" style="position: absolute;top: 30%;right: 37px;margin-top: -18px;height: 22px;">
              <a href="https://www.boat-lifestyle.com/products/gift-card">
                 <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/gift.png?v=1606314809" alt="gift card"style="max-width:22px;" />
              </a>
            </div>
            <a href="#" class="cart-count" data-drawer-trigger aria-controls="drawer-name" aria-expanded="false">
              {% if cart.items.size %}
              <span class="beside-svg">{{ cart.items.size }}</span>
              {% else %}
              <span class="beside-svg">0</span>
              {% endif %}
              <img class="cart--img lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/cart.png?v=1606314839" alt="cart" />
            </a>
             {% comment %} Mobile SearchBox Added by SearchTap       {% endcomment %}
                   {% render 'st-searchbox-mobile' %}
          </div>

          <div class="logo-area logo-pos-{{ section.settings.logo_pos }} cf">
            {% comment %}
            <nav class="navbar navbar-collpase bg-dark navbar-dark">
              <!-- Toggler/collapsibe Button -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>

              <!-- Navbar links -->
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                  {% for link in linklists[section.settings.menu_linklist].links %}
                      <li class="{% if link.active %}active{% endif %}{% if link.links != blank %} contains-children{% endif %}{% if featured_links contains link.title %} featured-link{% endif %}">
                        <a href="{{ link.url }}" {% if link.links != blank %}class="has-children" aria-haspopup="true"{% endif %}>
                          {{ link.title }}
                          {% if link.links != blank %}
                          <span class="exp"><span>+</span>{% include 'icon-toggle-menu' %}</span>
                          {% endif %}
                        </a>

                        {% if link.links != blank %}
                        <ul {% if link.levels >= 2 and section.settings.nav_nested_layout contains 'columns' %} class="nav-columns nav-columns--count-{{ link.links.size }}"{% endif %}>
                          {% for child_link in link.links %}
                          <li class="{% if child_link.active %}active{% endif %}{% if child_link.links != blank %} contains-children{% endif %}{% if featured_links contains child_link.title %} featured-link{% endif %}">
                            <a href="{{ child_link.url }}" class="{% if child_link.links != blank %}has-children {% if section.settings.nav_nested_layout contains 'columns' %}column-title{% endif %}{% endif %}" {% if child_link.links != blank %}aria-haspopup="true"{% endif %}>
                              {{ child_link.title }}
                              {% if child_link.links != blank %}
                              <span class="exp"><span>+</span>{% include 'icon-toggle-menu' %}</span>
                              {% endif %}
                            </a>

                            {% if child_link.links != blank %}
                            <ul>
                              {% for child_child_link in child_link.links %}
                              <li class="{% if child_child_link.active %}active{% endif %}{% if featured_links contains child_child_link.title %} featured-link{% endif %}">
                                <a href="{{ child_child_link.url }}">{{ child_child_link.title }}</a>
                              </li>
                              {% endfor %}
                            </ul>
                            {% endif %}
                          </li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </li>
                      {% endfor %}
                </ul>
              </div>
            </nav>
            {% endcomment %}
            {% unless section.settings.logo_pos == 'below' %}<div class="container">{{ logo_html }}</div>{% endunless %}

            <div class="header-nav">
              <ul class="navbar-list">
                  {% for link in linklists[section.settings.menu_linklist].links %}
                      <li class="{% if link.active %}active{% endif %}{% if link.links != blank %} contains-children{% endif %}{% if featured_links contains link.title %} featured-link{% endif %}">
                        <a href="{{ link.url }}" {% if link.links != blank %}class="has-children" aria-haspopup="true"{% endif %}>
                          {{ link.title }}
                          {% if link.links != blank %}
                          <span class="exp"><span>+</span>{% include 'icon-toggle-menu' %}</span>
                          {% endif %}
                        </a>

                        {% if link.links != blank %}
                        <ul {% if link.levels >= 2 and section.settings.nav_nested_layout contains 'columns' %} class="nav-columns nav-columns--count-{{ link.links.size }}"{% endif %}>
                          {% for child_link in link.links %}
                          <li class="{% if child_link.active %}active{% endif %}{% if child_link.links != blank %} contains-children{% endif %}{% if featured_links contains child_link.title %} featured-link{% endif %}">
                            <a href="{{ child_link.url }}" class="{% if child_link.links != blank %}has-children {% if section.settings.nav_nested_layout contains 'columns' %}column-title{% endif %}{% endif %}" {% if child_link.links != blank %}aria-haspopup="true"{% endif %}>
                              {{ child_link.title }}
                              {% if child_link.links != blank %}
                              <span class="exp"><span>+</span>{% include 'icon-toggle-menu' %}</span>
                              {% endif %}
                            </a>

                            {% if child_link.links != blank %}
                            <ul>
                              {% for child_child_link in child_link.links %}
                              <li class="{% if child_child_link.active %}active{% endif %}{% if featured_links contains child_child_link.title %} featured-link{% endif %}">
                                <a href="{{ child_child_link.url }}">{{ child_child_link.title }}</a>
                              </li>
                              {% endfor %}
                            </ul>
                            {% endif %}
                          </li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </li>
                      {% endfor %}
                </ul>
            </div>
            {% comment %} Desktop SearchBox Added by SearchTap       {% endcomment %}
                   {% render 'st-searchbox-desktop' %}
            <div class="util-area">

              {% comment %} Div Changes by SearchTap
              <div class="search-box elegant-input" data-live-search="{{ section.settings.enable_live_search }}">
                <form class="search-form" action="/search" method="get" autocomplete="on" >
                  {% include 'svg-search' %}
                  <label class="search-box-label" for="header-search">{{ 'layout.header.search' | t }}</label>
                  <input type="hidden" name="options[unavailable_products]" value="show" />
                  <input type="hidden" name="options[prefix]" value="last">
                  <input type="text" id="header-search" name="q" autocomplete="on" />
                  <button class="button" type="submit" aria-label="{{ 'layout.header.search_submit' | t }}"><span class="button__icon">{% include 'svg-chevron-right' %}</span></button>
                  <input type="hidden" name="type" value="{{ settings.search_type }}" />
                </form>

                {% if section.settings.show_social_icons %}
                {% include 'social-icons' %}
                {% endif %}
              </div>
              {% endcomment %}

              <div class="utils">
                <div class="gift-card-icon tooltip1">
                  <a href="https://www.boat-lifestyle.com/products/gift-card">
                     <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/gift.png?v=1606314809" alt="gift card" />
                  </a>
                  <span class="tooltip1text">Gift Cards</span>
                </div>
                <div class="myDropdown tooltip2">

                  <span class="toggle-link">
                    <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/user_1.png?v=1606314823" alt="user" />
                     </span>
                  <div class="dropdown-menu">
                      <span class="close-popup">&times;</span>
                      {% if customer %}
                      <p class="mb-0 mt-3"><span class="text-red" style="color: #ff0000;font-size: 14px;"><strong>Hi {{customer.first_name}}!</strong></span></p>
                      {% else %}
                      <p class="mb-0 mt-3"><span class="text-red" style="color: #ff0000;font-size: 14px;"><strong>Hi boAthead!</strong></span></p>
                      {% endif %}
                      {% if customer %}
                      <a class="trackorder" href="https://boat-lifestyle.com/apps/ret">Manage Your Order</a>
                      {% endif %}
                      {% if shop.customer_accounts_enabled %}
                        <div class="account-links-inline contains-dropdown">
                          {% if customer %}

                                <div class="your-acct"><a href="/account">{{ 'layout.customer.my_account' | t }}</a></div>
                                <div class="logout">{{ 'layout.customer.log_out' | t | customer_logout_link }}</div>

                          {% elsif section.settings.nav_show_reg %}

                                <div class="login">{{ 'layout.customer.log_in' | t | customer_login_link }}</div>
                                <div class="register">{{ 'layout.customer.register' | t | customer_register_link }}</div>

                          {% else %}
                            <div class="login">{{ 'layout.customer.log_in' | t | customer_login_link }}</div>
                          {% endif %}
                        </div>
                      {% endif %}
                  </div>
                  <span class="tooltip2text">My Account</span>
                </div>
                {% comment %}
                {% if shop.customer_accounts_enabled %}
                  <div class="account-links-inline contains-dropdown">
                    {% if customer %}
                      <a href="#" class="contains-dropdown__toggle">{{ 'layout.customer.account' | t }} |</a>
                      <div class="dropdown">
                        <div class="dropdown__inner">
                          <div class="your-acct"><a href="/account">{{ 'layout.customer.my_account' | t }}</a></div>
                          <div class="logout">{{ 'layout.customer.log_out' | t | customer_logout_link }}</div>
                        </div>
                      </div>
                    {% elsif section.settings.nav_show_reg %}
                      <a href="#" class="contains-dropdown__toggle">{{ 'layout.customer.account' | t }} |</a>
                      <div class="dropdown">
                        <div class="dropdown__inner">
                          <div class="login">{{ 'layout.customer.log_in' | t | customer_login_link }}</div>
                          <div class="register">{{ 'layout.customer.register' | t | customer_register_link }}</div>
                        </div>
                      </div>
                    {% else %}
                      <div class="login">{{ 'layout.customer.log_in' | t | customer_login_link }} |</div>
                    {% endif %}
                  </div>
                {% endif %}
                {% endcomment %}
                {% include 'currencies-switcher' %}

                <div class="cart-summary tooltip3">
                  <a href="#" class="cart-count {% if section.settings.use_btn_style_cart_link %}button{% endif %}" data-drawer-trigger aria-controls="drawer-name" aria-expanded="false">
                     <img class="cart--img lazyload" data-src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/cart.png?v=1606314839" alt="cart" />
                    {% if cart.items.size %}
                      <span class="cart-count__text"> {{ cart.items.size }}</span>
                     {% else %}
                      <span class="cart-count__text">0</span>
                     {% endif %}
                    {% unless section.settings.use_btn_style_cart_link %}

                    {% endunless %}
                  </a>
                  <span class="tooltip3text">Cart</span>
                </div>
              </div><!-- /.utils -->
            </div><!-- /.util-area -->

            {% if section.settings.logo_pos == 'below' %}<div class="container">{{ logo_html }}</div>{% endif %}

          </div><!-- /.logo-area -->
        </div><!-- /#pageheader -->

        {% assign featured_links = section.settings.nav_featured_link | split: ', ' %}
        <div id="main-nav" class="nav-row mobile-only {% if section.settings.nav_autoexpand and section.settings.nav_nested_layout == 'rows click' %}autoexpand{% endif %}">
          <div class="multi-level-nav reveal-on-{{ section.settings.nav_nested_layout | split: ' ' | last }}" role="navigation" aria-label="{{ 'general.navigation.main_navigation_aria_label' | t | escape }}">
            <div class="tier-1">
              <ul>

                {% for link in linklists[section.settings.menu_linklist].links %}
                <li class="{% if link.active %}active{% endif %}{% if link.links != blank %} contains-children{% endif %}{% if featured_links contains link.title %} featured-link{% endif %}">
                  <a href="{{ link.url }}" {% if link.links != blank %}class="has-children" aria-haspopup="true"{% endif %}>
                    {{ link.title }}
                    {% if link.links != blank %}
                    <span class="exp"><span>+</span>{% include 'icon-toggle-menu' %}</span>
                    {% endif %}
                  </a>

                  {% if link.links != blank %}
                  <ul {% if link.levels >= 2 and section.settings.nav_nested_layout contains 'columns' %} class="nav-columns nav-columns--count-{{ link.links.size }}"{% endif %}>
                    {% for child_link in link.links %}
                    <li class="{% if child_link.active %}active{% endif %}{% if child_link.links != blank %} contains-children{% endif %}{% if featured_links contains child_link.title %} featured-link{% endif %}">
                      <a href="{{ child_link.url }}" class="{% if child_link.links != blank %}has-children {% if section.settings.nav_nested_layout contains 'columns' %}column-title{% endif %}{% endif %}" {% if child_link.links != blank %}aria-haspopup="true"{% endif %}>
                        {{ child_link.title }}
                        {% if child_link.links != blank %}
                        <span class="exp"><span>+</span>{% include 'icon-toggle-menu' %}</span>
                        {% endif %}
                      </a>

                      {% if child_link.links != blank %}
                      <ul>
                        {% for child_child_link in child_link.links %}
                        <li class="{% if child_child_link.active %}active{% endif %}{% if featured_links contains child_child_link.title %} featured-link{% endif %}">
                          <a href="{{ child_child_link.url }}">{{ child_child_link.title }}</a>
                        </li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>		
              {% if shop.customer_accounts_enabled %}

              <ul class="account-links">
                <li><a class="trackorder" href="https://dtc.boat-lifestyle.com/track">Track Your Order</a></li>
                {% if customer %}
                <li><a class="trackorder" href="https://boat-lifestyle.com/apps/ret">Manage Your Order</a></li>
                {% endif %}
                {% if customer %}
                  <li class="your-acct"><a href="/account">{{ 'layout.customer.account' | t }}</a></li>
                  <li class="logout">{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>
                {% else %}
                  {% if section.settings.nav_show_reg %}
                    <li class="register">{{ 'layout.customer.register' | t | customer_register_link }}</li>
                  {% endif %}
                <li class="login">{{ 'layout.customer.log_in' | t | customer_login_link }}</li>
      <!--           <li class="login"><a href="#loginModal" data-toggle="modal">Login </a></li> -->
                {% endif %}

              </ul>
              {% endif %}
            </div>
          </div>
          <div class="mobile-features">
            <form class="mobile-search" action="/search" method="get">
              <input type="text" name="q" placeholder="{{ 'layout.header.search' | t }}" aria-label="{{ 'layout.header.search' | t }}" />
      <!--         <button type="submit" class="notabutton">{% include 'svg-search' %}</button> -->
              <input type="hidden" name="type" value="{{ settings.search_type }}" />
            </form>
          </div>
          {% capture social_icons_html %}{% include 'social-icons' %}{% endcapture %}
              {% if social_icons_html contains '<li>' %}<div class="mobile-social">{{ social_icons_html }}</div>{% endif %}
          <div class="mobile-currency-switcher">{% include 'currencies-switcher' %}</div>
        </div><!-- /#main-nav -->


        {% if section.settings.head_not_home_only == false or template == 'index' %}

        <div id="store-messages" class="messages-{{ section.blocks.size }}">
          <div class="container cf">
            {% for block in section.blocks %}

            <div class="message message-{{ forloop.index }}">
              {% if block.settings.link_url != blank %}
              <a href="{{ block.settings.link_url }}">
                {% endif %}

                {% if block.settings.heading != blank %}
                  <h6 class="title">{{ block.settings.heading | escape }}</h6>
                {% endif %}
                {% if block.settings.subheading != blank %}
                  <span class="tagline">{{ block.settings.subheading | escape }}</span>
                {% endif %}

                {% if block.settings.link_url != blank %}
              </a>
              {% endif %}

              {% unless forloop.first %}<div class="fluff"></div>{% endunless %}
            </div>

            {% endfor %}
          </div>
        </div><!-- /#store-messages -->

        {% if section.settings.head_not_mob_show %}
        <div id="store-messages-mobile">
          <div class="container">
            {% if section.settings.head_not_mob_url != blank %}
            <a href="{{ section.settings.head_not_mob_url }}">
              {% endif %}
              {{ section.settings.head_not_mob_text | escape }}
              {% if section.settings.head_not_mob_url != blank %}
            </a>
            {% endif %}
          </div>
        </div>
        {% endif %}

        {% endif %}
      </div>

      {% endif %}
      <script type="text/javascript">
        var userSource = '';
        if(navigator.userAgent.includes('Mobile')) userSource = 'Mobile';
        else if(navigator.userAgent.includes('iPad')) userSource = 'Tablet';
        else userSource = 'Desktop';
      $(".myDropdown .toggle-link").click(function(){
          $(".myDropdown .dropdown-menu").show();
      })
      $(".myDropdown .close-popup").click(function(){
          $(".myDropdown .dropdown-menu").hide();
      })

      $(document).click(function (e) {
          e.stopPropagation();
          var container = $(".myDropdown");

          //check if the clicked area is dropDown or not
          if (container.has(e.target).length === 0) {
              $('.dropdown-menu').hide();
          }
      });
      $(".search-form").submit(function(){
          var searchTerm = $("#header-search").val();
          clevertap.event.push("Searched", {
            "Keyword": searchTerm
          });
      })
      $(".mobile-search").submit(function(){
          var searchTerm = $(".mobile-search input").val();
          clevertap.event.push("Searched", {
            "Keyword": searchTerm
          });
      })
      $(".logout").click(function(){
          clevertap.event.push("Logout", {
            "Email": '{{customer.email}}'
          });
      })
      $(".announcement").click(function(){
          var announcementText = $(this).text();
        clevertap.event.push("Announcement bar clicked", {
            "Message": announcementText,
            "userSource": userSource
        });
      })
      $('.mobile-nav-toggle').on('click', function(){
        clevertap.event.push("Mobile menu clicked", {
          "userSource": userSource
        });
      });
      $("#ymDivCircle").on('click', function(){
          clevertap.event.push("BOT icon clicked");
      });
      {% if customer %}
      $(".announcement").show();
      {% endif %}
      </script>

      {% schema %}
        {
          "name": "Header",
          "max_blocks": 3,
          "settings": [
            {
              "type": "checkbox",
              "id": "use_btn_style_cart_link",
              "label": "Show cart link as button",
              "info": "Only applies to desktop layout"
            },
            {
              "type": "checkbox",
              "id": "nav_show_reg",
              "label": "Show 'Register' account link",
              "info": "Requires customer accounts to be enabled in Settings > Checkout",
              "default": false
            },
            {
              "type": "checkbox",
              "id": "show_social_icons",
              "label": "Show social icons",
              "default": true
            },
            {
              "type": "header",
              "content": "Search"
            },
            {
              "type": "checkbox",
              "id": "enable_live_search",
              "label": "Show results as you type",
              "default": true
            },
            {
              "type": "header",
              "content": "Navigation"
            },
            {
              "type": "link_list",
              "id": "menu_linklist",
              "label": "Menu",
              "default": "main-menu"
            },
            {
              "type": "select",
              "id": "nav_nested_layout",
              "label": "Nested navigation layout",
              "info": "On desktop and tablet screens",
              "default": "rows click",
              "options": [
                {
                  "label": "Columns - on click",
                  "value": "columns click"
                },
                {
                  "label": "Columns - on hover",
                  "value": "columns hover"
                },
                {
                  "label": "Rows - on click",
                  "value": "rows click"
                }
              ]
            },
            {
              "type": "checkbox",
              "id": "nav_autoexpand",
              "label": "Automatically expand navigation to current page",
              "info": "When using 'Rows - on click' layout",
              "default": false
            },
            {
              "type": "text",
              "id": "nav_featured_link",
              "label": "Featured link",
              "info": "Enter the title of a link to highlight it in a different color",
              "default": "Sale"
            },
            {
              "type": "header",
              "content": "Logo"
            },
            {
              "type": "image_picker",
              "id": "logo",
              "label": "Custom logo image",
              "info": "520 x 200px (recommended)"
            },
            {
              "type": "text",
              "id": "logo_img_width",
              "label": "Logo width",
              "info": "Defined in pixels. Do not add the 'px' unit.",
              "default": "300"
            },
            {
              "type": "select",
              "id": "logo_pos",
              "label": "Logo position",
              "options": [
                {
                  "value": "",
                  "label": "Same row as search\/cart"
                },
                {
                  "value": "above",
                  "label": "Above search\/cart"
                },
                {
                  "value": "below",
                  "label": "Below search\/cart"
                }
              ]
            },
            {
              "type": "header",
              "content": "Announcement bar"
            },
            {
              "type": "checkbox",
              "id": "announcement_show",
              "label": "Show announcement bar",
              "default": false
            },
            {
              "type": "checkbox",
              "id": "announcement_home_only",
              "label": "Home page only",
              "default": false
            },
            {
              "type": "text",
              "id": "announcement_text",
              "label": "Text",
              "default": "Announce something here"
            },
            {
              "type": "url",
              "id": "announcement_link",
              "label": "Link"
            },
            {
              "type": "color",
              "id": "announcement_bar_col",
              "label": "Bar",
              "default": "#4a4a4a"
            },
            {
              "type": "color",
              "id": "announcement_text_col",
              "label": "Text",
              "default": "#ffffff"
            },
            {
              "type": "header",
              "content": "Store messages"
            },
            {
              "type": "paragraph",
              "content": "These are displayed under the main menu - great for promotions and notices"
            },
            {
              "type": "checkbox",
              "id": "head_not_home_only",
              "label": "Show only on home page"
            },
            {
              "type": "header",
              "content": "Mobile store message"
            },
            {
              "type": "checkbox",
              "id": "head_not_mob_show",
              "label": "Enable",
              "default": false
            },
            {
              "type": "text",
              "id": "head_not_mob_text",
              "label": "Text"
            },
            {
              "type": "url",
              "id": "head_not_mob_url",
              "label": "Link URL"
            }
          ],
          "blocks": [
            {
              "type": "message",
              "name": "Store message",
              "settings": [
                {
                  "type": "text",
                  "id": "heading",
                  "label": "Heading"
                },
                {
                  "type": "text",
                  "id": "subheading",
                  "label": "Subheading"
                },
                {
                  "type": "url",
                  "id": "link_url",
                  "label": "Link URL"
                }
              ]
            }
          ]
        }
      {% endschema %}
