<section class="homepage-collection-banner container">
  {%- capture hp_collection_banner -%}
    <div
      id="banner-{{ section.id }}"
      class="carousel slide carousel-fade collection-banners collection-banners-{{section.id}}"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        {%- for block in section.blocks -%}
          <li
            data-target="#banner-{{ section.id }}"
            data-slide-to="{{ forloop.index0 }}"
            {%- if forloop.first -%}
              class="active"
            {%- endif -%}
          ></li>
        {%- endfor -%}
      </ol>
      <div class="carousel-inner">
        {%- for block in section.blocks -%}
          <div class="carousel-item {% if forloop.first %}active{%- endif -%}">
            <a
              href="{% if block.settings.slide_url != blank %}{{ block.settings.slide_url }}{% else %}javascript:void(0){% endif %}"
              class="slide-url"
            >
              <picture>
                <source
                  media="(min-width: 769px)"
                  {% render 'image-attributes', image: block.settings.desktop_image, sizes: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600', ignore_src: true %}
                >
                <source
                  media="(max-width: 768px)"
                  {% render 'image-attributes', image: block.settings.mobile_image, sizes: '400,500,600,700,800,900,1000', crop: 'center', ignore_src: true %}
                >
                <img
                  class="image-overlay__image_"
                  loading="lazy"
                  {% render 'image-attributes', image: block.settings.desktop_image, sizes: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600' %}
                  alt="{{ block.settings.desktop_image.alt }}"
                >
              </picture>
            </a>
          </div>
        {%- endfor -%}
      </div>
    </div>
  {%- endcapture -%}
</section>

{% schema %}
{
  "name": "Collection Banners",
  "class": "homepage-collection-slider",
  "max_blocks": 8,
  "settings": [],
  "blocks": [
    {
      "name": "slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "url",
          "id": "slide_url",
          "label": "Slide URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Banners",
      "category": "image",
      "settings": {}
    }
  ]
}
{% endschema %}

<style>
.collection-banners { display: flex; flex-direction: column-reverse; } .collection-banners .carousel-indicators {
position: static; margin-top: 1rem !important; }
</style>
<script>
  $(document).ready(function(){
      
      var html_content = '<div id="banner-template--14740746535010__1661762296793044ae" class="carousel slide carousel-fade collection-banners collection-banners-template--14740746535010__1661762296793044ae" data-ride="carousel"><ol class="carousel-indicators"><li data-target="#banner-template--14740746535010__1661762296793044ae" data-slide-to="0" class="active"></li></ol><div class="carousel-inner"><div class="carousel-item active"><a href="/collections" class="slide-url"><picture><source media="(min-width: 769px)" height="197" width="1000" alt="" srcset="//cdn.shopify.com/s/files/1/0057/8938/4802/files/1000-197_600x.jpg?v=1665491439 600w, //cdn.shopify.com/s/files/1/0057/8938/4802/files/1000-197_700x.jpg?v=1665491439 700w, //cdn.shopify.com/s/files/1/0057/8938/4802/files/1000-197_800x.jpg?v=1665491439 800w, //cdn.shopify.com/s/files/1/0057/8938/4802/files/1000-197_1000x.jpg?v=1665491439 1000w"><source media="(max-width: 768px)" height="308" width="1560" alt="" srcset="//cdn.shopify.com/s/files/1/0057/8938/4802/files/saperater_mobile_400x_crop_center.png?v=1662114981 400w, //cdn.shopify.com/s/files/1/0057/8938/4802/files/saperater_mobile_500x_crop_center.png?v=1662114981 500w, //cdn.shopify.com/s/files/1/0057/8938/4802/files/saperater_mobile_600x_crop_center.png?v=1662114981 600w, //cdn.shopify.com/s/files/1/0057/8938/4802/files/saperater_mobile_700x_crop_center.png?v=1662114981 700w, //cdn.shopify.com/s/files/1/0057/8938/4802/files/saperater_mobile_800x_crop_center.png?v=1662114981 800w, //cdn.shopify.com/s/files/1/0057/8938/4802/files/saperater_mobile_900x_crop_center.png?v=1662114981 900w, //cdn.shopify.com/s/files/1/0057/8938/4802/files/saperater_mobile_1000x_crop_center.png?v=1662114981 1000w"><img class="image-overlay__image_" loading="lazy" height="197" width="1000" alt="" src="//cdn.shopify.com/s/files/1/0057/8938/4802/files/1000-197_1000x.jpg?v=1665491439" srcset="//cdn.shopify.com/s/files/1/0057/8938/4802/files/1000-197_600x.jpg?v=1665491439 600w, //cdn.shopify.com/s/files/1/0057/8938/4802/files/1000-197_700x.jpg?v=1665491439 700w, //cdn.shopify.com/s/files/1/0057/8938/4802/files/1000-197_800x.jpg?v=1665491439 800w, //cdn.shopify.com/s/files/1/0057/8938/4802/files/1000-197_1000x.jpg?v=1665491439 1000w" alt=""></picture></a></div></div></div>';
        $('.homepage-collection-banner').html(html_content);
        let collection_slides = document.querySelectorAll('.collection-banners .carousel-inner .carousel-item');
        collection_slides.forEach((slide, i) => {
            slide.addEventListener('click', function() {
                {% comment %} let imageTitle = slide.querySelector('.image_alt').innerText; {% endcomment %}
                const slideNum = `${i+1}`
                clevertap.event.push("Deals Banner clicked", {
                "Banner Number": 'Banner ' + slideNum,
                "Banner Title": imageTitle,
                "userSource": userSource
                })
            })
        });
  
      });
  
</script>
