<section class="homepage-collection-banner container" id="homepage-collection-banner">
  {%- capture hp_collection_banner -%}
    <div id="banner-{{ section.id }}" class="carousel slide carousel-fade collection-banners collection-banners-{{section.id}}" data-ride="carousel">
      <ol class="carousel-indicators">
        {%- for block in section.blocks -%}
          <li data-target="#banner-{{ section.id }}" data-slide-to="{{ forloop.index0 }}" {%- if forloop.first -%} class="active" {%- endif -%} ></li>
        {%- endfor -%}
      </ol>
      <div class="carousel-inner">
        {%- for block in section.blocks -%}
          <div class="carousel-item {% if forloop.first %}active{%- endif -%}">
            <a href="{% if block.settings.slide_url != blank %}{{ block.settings.slide_url }}{% else %}javascript:void(0){% endif %}" class="slide-url">
              <picture>
                <source media="(min-width: 769px)" {% render 'image-attributes', image: block.settings.desktop_image, sizes: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600', ignore_src: true %} >
                <source media="(max-width: 768px)" {% render 'image-attributes', image: block.settings.mobile_image, sizes: '400,500,600,700,800,900,1000', crop: 'center', ignore_src: true %} >
                <img class="image-overlay__image_" loading="lazy" {% render 'image-attributes', image: block.settings.desktop_image, sizes: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600' %} alt="{{ block.settings.desktop_image.alt }}" >
              </picture>
            </a>
          </div>
        {%- endfor -%}
      </div>
    </div>
  {%- endcapture -%}
</section>

{% schema %}
{
  "name": "Collection Banners",
  "class": "homepage-collection-slider",
  "max_blocks": 8,
  "settings": [],
  "blocks": [
    {
      "name": "slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "url",
          "id": "slide_url",
          "label": "Slide URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Banners",
      "category": "image",
      "settings": {}
    }
  ]
}
{% endschema %}


<script type="text/javascript">
  $(document).ready(function(){
      var html_content = `{{ hp_collection_banner }}`;
        $('.homepage-collection-banner').html(html_content);
        /* let collection_slides = document.querySelectorAll('.collection-banners .carousel-inner .carousel-item');
        collection_slides.forEach((slide, i) => {
            slide.addEventListener('click', function() {
                {% comment %} let imageTitle = slide.querySelector('.image_alt').innerText; {% endcomment %}
                const slideNum = `${i+1}`
                clevertap.event.push("Deals Banner clicked", {
                "Banner Number": 'Banner ' + slideNum,
                "Banner Title": imageTitle,
                "userSource": userSource
                })
            })
        }); */
  
      });
</script> 

