<style>
  .deal-of-the_day.{{ section.id }}{
    {% unless template contains 'index' %}
      padding-top: 20px;
      padding-bottom: {{ section.settings.sectionpadding}}
      px;
    {% endunless %}
    background: {{ section.settings.bg_color }}
    ;
    margin: {{ section.settings.sectionmargin }}
    ;
  }
  @media(max-width:768px) {
    .deal-of-the_day.{{ section.id }}{
      padding-right: {{ section.settings.sectionpaddingright }}
      px;
    }
  }
</style>

{% render 'carousel-css' %}

<div class="container MultiCarousel_container deal-of-the_day {{ section.id }} ">
  {% if section.settings.sectionHeading != blank %}
    <div class="row">
      <div class="col-md-12 section__header text-container d-flex justify-content-between">
        <h3 class="heading h3">{{- section.settings.sectionHeading -}}</h3>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div
      class="col-md-12 MultiCarousel {{ section.id }}"
      data-slide="1"
      data-interval="1000"
      id="MultiCarousel_{{ section.id }}"
      {% render 'carousel-js' %}>
      <div class="MultiCarousel-inner {{ section.id }} draggable" draggable="true">
        {% for block in section.blocks %}
          {% assign popup_class = "" %}
          {% if block.settings.popup_class != blank %}
            {% assign popup_class = block.settings.popup_class %}
          {% endif %}
          {% if block.settings.desktop_image != blank %}
            {% assign desk_img = block.settings.desktop_image %}
          {% else %}
            {% assign desk_img = block.settings.image %}
          {% endif %}
          <div class="item">
            <a href="{% if popup_class == blank %}{% if block.settings.imageUrl != blank %}{{block.settings.imageUrl}}{% else %}javascript:void(0){% endif %}{% else %}#{% endif %}" class="slide-url {{ popup_class }}">
              <div>
                <picture>
                  <source media="(min-width: 769px)" {% render 'image-attributes', image: desk_img, sizes: '700,800,900,1000,1200,1400,1600', ignore_src: true %}>
                  <img
                    class="image-overlay__image_"
                    {% render 'image-attributes', image: block.settings.image, sizes: '200,300,400,500,600' %}
                    alt="{{block.settings.image.alt}}"
                    loading="lazy">
                </picture>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
      <button class="btn leftLst {{ section.id }}"><</button>
            <button class="btn rightLst {{ section.id }}">></button>
            <ul class="MultiCarousel_dots_container">
            {% for block in section.blocks %}
             <li class="multiCarousel_dots" data-index="{{ forloop.index0 }}">{{ forloop.index }}/{{ forloop.length }}</li> 
            {% endfor %} 
            </ul>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Image Slider",
    "max_blocks": 28,
    "settings": [
      {
        "type": "text",
        "id": "sectionHeading",
        "label": "Section Heading"
      },
      {
        "type": "text",
        "id": "sectionmargin",
        "label": "sectionmargin",
        "default": "0"
      },
      {
        "type": "text",
        "id": "sectionpadding",
        "label": "padding bottom",
        "default": "0"
      },
      {
        "type": "text",
        "id": "sectionpaddingright",
        "label": "mob-padding right"
      }, {
        "type": "number",
        "id": "slides_no",
        "label": "mobile slides",
        "default": 1
      },{
        "type": "number",
        "id": "midslides_no",
        "label": "medium slides",
        "default": 3
      }, {
        "type": "number",
        "id": "deskslides_no",
        "label": "desk slides",
        "default": 3
      }, {
        "type": "checkbox",
        "id": "loop",
        "label": "infinite loop",
        "default": true
      }, {
        "type": "checkbox",
        "id": "autoplay",
        "label": "autoplay",
        "default": true
      }, {
        "type": "checkbox",
        "id": "scale_center_slide",
        "label": "scale cente slide",
        "default": false
      },{
        "type": "checkbox",
        "id": "show_active_dots",
        "label": "show active dots with index",
        "default": false
      },{
        "type": "number",
        "id": "slideBy",
        "label": "number of slides drag in one screen",
        "default": 1
      }, {
        "type": "text",
        "id": "item_space_desk",
        "label": "Space between items in desktop",
        "default": "1rem"
      },
      {
        "type": "text",
        "id": "item_space_mobile",
        "label": "Space between items in mobile",
        "default": "1rem"
      },{
        "type": "text",
        "id": "next_item_visibility_desk",
        "label": "Next item visibility in desktop",
        "default": "0"
      },
      {
        "type": "text",
        "id": "next_item_visibility_mobile",
        "label": "Next item visibility in mobile",
        "default": "1rem"
      }, {
        "type": "checkbox",
        "id": "show_dots_on_mobile",
        "label": "Show Dots on Mobile",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show_dots_on_desktop",
        "label": "Show Dots on Desktop",
        "default": true
      }, {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#FFFFFF"
      }

    ],
    "blocks": [
      {
        "type": "image",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Primary image",
            "info": "300px wide minimum"
          }, {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "desk image"
          }, {
            "type": "url",
            "id": "imageUrl",
            "label": "Image URL"
          }, {
            "type": "text",
            "id": "popup_class",
            "label": "Add class name to trigger popup"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image Slider",
        "category": "Image",
        "settings": {},
        "blocks": [
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}