<div class="image_scroll_trigger_container">
  <div class="image_scroll_trigger_inner">
    <div class="image_scroll_trigger_text">
      <h3>
        {{ section.settings.title }}</h3>
      <span>{{ section.settings.subText }}</span>
      <h1>{{ section.settings.productTitle }}</h1>
      <p>{{ section.settings.discription }}</p>
    </div>
    <div class="image_scroll_trigger_image_container">
      {% for block in section.blocks %}
        {% if block.settings.image %}
          <div class="mySlides image_scroll_fade">
            <img
              src="{{ block.settings.image | img_url: 'master' }}"
              alt="{{ block.settings.image.alt }}"
              width="{{ block.settings.image.width }}"
              height="auto">
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Image scroll trigger",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      }, {
        "type": "text",
        "id": "subText",
        "label": "Sub Text"
      }, {
        "type": "text",
        "id": "productTitle",
        "label": "Product Title"
      }, {
        "type": "richtext",
        "id": "discription",
        "label": "Discription"
      }
    ],
    "max_blocks": 8,
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Image",
        "name": "Image scroll trigger",
        "settings": {}
      }
    ]
  }
{% endschema %}