<div class="image_scroll_trigger_container">
  <div class="image_scroll_trigger_inner">
    <div class="image_scroll_trigger_text">
      <h3>
        {{ section.settings.title }}</h3>
      <span>{{ section.settings.subText }}</span>
      <h1>{{ section.settings.productTitle }}</h1>
      <p>{{ section.settings.discription }}</p>
    </div>
    <div class="image_scroll_trigger_image_container">
      {% for block in section.blocks %}
        {% if block.settings.image %}
        <div class="mySlides image_scroll_fade">
          <img
            src="{{ block.settings.image | img_url: 'master' }}"
            alt="{{ block.settings.image.alt }}"
            width="{{ block.settings.image.width }}"
            height="auto">
            </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<script>
const imageScrollContainerMain = document.querySelector('.image_scroll_trigger_container');
const imageScrollContainer = document.querySelector('.image_scroll_trigger_inner');

var observer = new IntersectionObserver(function(entries) {
  if(entries[0].isIntersecting === true){
    imageScrollContainer.classList.add('image_scroll_fixed');
  }else{
    imageScrollContainer.classList.remove('image_scroll_fixed');
  }
}, { threshold: [1] });
if(imageScrollContainerMain !== null){
  observer.observe(imageScrollContainerMain);
}

{% comment %} 
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slides[slideIndex-1].style.display = "block";  
}
var oldX = 0,
oldY = 0;
document.querySelector('.mySlides.image_scroll_fade').addEventListener('scroll', (e) => {
  oldX = e.pageX;
  oldY = e.pageY;
  console.log(oldX, oldY);
});

document.querySelector('.mySlides.image_scroll_fade').addEventListener('touchmove', (e) => {
  oldX = e.changedTouches[0].pageX;
  oldY = e.changedTouches[0].pageY;
  console.log(oldX, oldY);
});

document.querySelector('.mySlides.image_scroll_fade').addEventListener("dragend", slideGetMouseDirection, false);

document.querySelector('.mySlides.image_scroll_fade').addEventListener('touchend', (event) => {
  var touch_event = event.changedTouches[0]; 
  slideGetMouseDirection(touch_event);
});

var xDirection = "";
var yDirection = "";
// function to get the drag_direction
function slideGetMouseDirection(e) {
  console.log('slideGetMouseDirection'); 
    if (oldX-e.pageX > -20 && oldX-e.pageX < 20 ) {
      // e.target.closest('a')?.click();
    }else{
    //deal with the horizontal case
    if (oldX < e.pageX) {
        xDirection = "right";
    } else if(oldX > e.pageX) {
        xDirection = "left";
    }
 
    //deal with the vertical case
    if (oldY < e.pageY) {
        yDirection = "down";
    } else {
        yDirection = "up";
    }

    if(yDirection == "down"){
      plusSlides(1)
     }else if( yDirection == "up"){
      plusSlides(-1)
     }
      
    oldX = e.pageX;
    oldY = e.pageY;
  }
     console.log(yDirection, 'yDirection');
} {% endcomment %}

</script>

{% stylesheet %}
    .image_scroll_trigger_inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.image_scroll_trigger_image_container {
    max-width: 50%;
    margin-left: auto;
}
/* .image_scroll_trigger_image_container img {
    opacity: 0;
}
.image_scroll_trigger_image_container img:first-child {
    opacity: 1;
} */
.image_scroll_trigger_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    margin: 2rem;
}
.image_scroll_trigger_inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 9;
}
.image_scroll_trigger_inner.image_scroll_fixed {
    position: fixed;
    top: var(--header-height);
}

/* Fading animation */
.image_scroll_fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* .mySlides {display: none} */

{% endstylesheet %}

{% schema %}
  {
    "name": "Image scroll trigger",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      }, {
        "type": "text",
        "id": "subText",
        "label": "Sub Text"
      }, {
        "type": "text",
        "id": "productTitle",
        "label": "Product Title"
      }, {
        "type": "richtext",
        "id": "discription",
        "label": "Discription"
      }
    ],
    "max_blocks": 8,
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Image",
        "name": "Image scroll trigger",
        "settings": {}
      }
    ]
  }
{% endschema %}