<style>
  .deal-of-the_day.{{ section.id }}{
    padding-top: 20px;
    padding-bottom: {{ section.settings.sectionpadding}}px;
    background: {{ section.settings.bg_color }};
    margin: {{ section.settings.sectionmargin }};
    padding-left: 0px;
  }
  .slider-with-nav .owl-nav{display: block !important;}
  .slider-with-nav .owl-nav .owl-prev{position: absolute;font-size: 4rem !important;top: 50%;color: #f00 !important;transform: translateY(-50%);left: 30px;}
  .slider-with-nav .owl-nav .owl-next{position: absolute;font-size: 4rem !important;top: 50%;color: #f00 !important;transform: translateY(-50%);right: 30px;}
  @media(max-width:768px) {
    .deal-of-the_day.{{ section.id }}{
      padding-right: {{ section.settings.sectionpaddingright }}px;
      padding-left: 0px;
    }
  }
</style>

<div class="container deal-of-the_day {{ section.id }}  image_slider_flip">
  {% if section.settings.sectionHeading != blank %}
    <div class="row">
      <div class="col-md-12 section__header text-container d-flex justify-content-between">
        <h3 class="heading h3">{{- section.settings.sectionHeading -}}</h3>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-md-12 owl-carousel owl-theme deal-slider slider-with-nav custom_slider_init {{ section.id }}" {%- render 'carousel-js' -%}>
      {% for block in section.blocks %}
        {% assign popup_class = "" %}
        {% if block.settings.popup_class != blank %}
          {% assign popup_class = block.settings.popup_class %}
        {% endif %}
   {% if block.settings.desktop_image != blank %} 
     {% assign desk_img =  block.settings.desktop_image %}
   {% else %}
     {% assign desk_img = block.settings.image %}
   {% endif %}

   {% if block.settings.flip_desktop_image != blank %} 
     {% assign desk_flip_img =  block.settings.flip_desktop_image %}
   {% else %}
     {% assign desk_flip_img = block.settings.flip_image %}
   {% endif %}
        <div class="item flip-box-inner">
          <picture class="flip-box-front">
            <source
              media="(min-width: 769px)"
              {% render 'image-attributes', image: desk_img , sizes: '700,800,900,1000,1200,1400,1600', ignore_src: true %}
            >
            <img
              class="image-overlay__image_"
              {% render 'image-attributes', image: block.settings.image, sizes: '200,300,400,500,600' %}
              alt="{{block.settings.image.alt}}" loading="lazy"
            >
          </picture>
          <picture class="flip-box-back">
            <source
              media="(min-width: 769px)"
              {% render 'image-attributes', image: desk_flip_img , sizes: '700,800,900,1000,1200,1400,1600', ignore_src: true %}
            >
            <img
              class="image-overlay__image_"
              {% render 'image-attributes', image: block.settings.flip_image, sizes: '200,300,400,500,600' %}
              alt="{{block.settings.flip_image.alt}}" loading="lazy"
            >
          </picture>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% if section.settings.desktop_bg_image != blank %}
<style>
  @media(min-width:768px) {
    .deal-of-the_day.{{ section.id }}.image_slider_flip{background: url( {{ section.settings.desktop_bg_image }} ) !important; background-size: cover !important;background-repeat: no-repeat !important;max-width: fit-content;padding-right: 0px;}
  }
</style>
{% endif %}

{% if section.settings.mobile_bg_image != blank %}
<style>
  @media(max-width:767px) {
    .deal-of-the_day.{{ section.id }}.image_slider_flip{background: url( {{ section.settings.mobile_bg_image }} ) !important; background-size: cover !important;background-repeat: no-repeat !important;max-width: fit-content;padding-right: 0px;}
  }
</style>
{% endif %}

<script>
  $(document).ready(function(){
    $('.flip-box-inner .flip-box-back').hide();
    
    $('.flip-box-inner').on('click', '.flip-box-front', function(){
      $('.flip-box-inner .flip-box-back').css('display', 'none');
      $(this).parent('.flip-box-inner').find('.flip-box-back').show();
      $('.flip-box-inner .flip-box-front').css('display', 'block');
      $(this).parents('.flip-box-inner').find('.flip-box-front').hide();
    });

    $('.flip-box-inner').on('click', '.flip-box-back', function(){
      $('.flip-box-inner  .flip-box-front').css('display', 'block');
      $(this).parent('.flip-box-inner').find('.flip-box-front').show();
      $(this).parent('.flip-box-inner').find('.flip-box-back').hide();
      $(this).parent('.flip-box-inner .flip-box-front').css('display', 'block');
    });
  })
</script>


{% schema %}
  {
    "name": "Image Slider With Flip",
    "max_blocks": 28,
    "settings": [
      {
        "type": "text",
        "id": "sectionHeading",
        "label": "Section Heading"
      },
      {
        "type": "text",
        "id": "sectionmargin",
        "label": "sectionmargin",
        "default": "0"
      },
      {
        "type": "text",
        "id": "sectionpadding",
        "label": "padding bottom",
        "default": "0"
      },
      {
        "type": "text",
        "id": "sectionpaddingright",
        "label": "mob-padding right"
      },
      {
        "type": "text",
        "id": "desktop_bg_image",
        "label": "Desktop background image"
      },
      {
        "type": "text",
        "id": "mobile_bg_image",
        "label": "Mobile background image"
      }, {
        "type": "number",
        "id": "slides_no",
        "label": "mobile slides",
        "default": 1
      }, {
        "type": "number",
        "id": "deskslides_no",
        "label": "desk slides",
        "default": 3
      },
      {
        "type": "text",
        "id": "autoplay_timeout",
        "label": "autoplay_timeout in 5000 = 5sec"
      },
      {
        "type": "checkbox",
        "id": "loop",
        "label": "infinite loop",
        "default": true
      }, {
        "type": "checkbox",
        "id": "autoplay",
        "label": "autoplay",
        "default": true
      }, {
        "type": "number",
        "id": "slideBy",
        "label": "number of slides drag in one screen",
        "default": 1
      }, {
        "type": "number",
        "id": "margin",
        "label": "margin",
        "default": 0
      }, {
        "type": "checkbox",
        "id": "show_dots_on_mobile",
        "label": "Show Dots on Mobile",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show_dots_on_desktop",
        "label": "Show Dots on Desktop",
        "default": true
      }, {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#FFFFFF"
      }

    ],
    "blocks": [
      {
        "type": "image",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Primary image",
            "info": "300px wide minimum"
          }, 
          {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "desk image"
          }, 
          {
            "type": "image_picker",
            "id": "flip_image",
            "label": "Primary image after flip",
            "info": "300px wide minimum"
          }, 
          {
            "type": "image_picker",
            "id": "flip_desktop_image",
            "label": "Desk image after flip"
          }, 
          {
            "type": "url",
            "id": "imageUrl",
            "label": "Image URL"
          }, {
            "type": "text",
            "id": "popup_class",
            "label": "Add class name to trigger popup"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image Slider with flip effect",
        "category": "Image",
        "settings": {},
        "blocks": [
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}