<style>
.main-banner-img{margin-bottom:2rem;}
.shopify-section.bootstrap-carousel .MultiCarousel .leftLst, .shopify-section.bootstrap-carousel .MultiCarousel .rightLst{display: none !important;}
.article-item__image-container{max-height:233px;border-radius: 0px;}
.article_container .article-item__image-container .article-item__image{border-radius: 10px 10px 0px 0px;}
.section__header.blog__header {max-width:94%;margin-bottom:12px;}
.article_container{display: flex;flex-direction: row;flex-wrap: wrap;column-gap: 0px;row-gap:15px;margin: 0 auto 2rem;max-width: 100%;justify-content: space-between;}
.article--item {max-width: 32%;}
.article--title{font-size: 16px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.25;letter-spacing: -0.64px;color:#1a2024;min-height: 40px;margin-bottom: 22px;}
.article--info {padding: 11px 12px 12px;border-radius: 0px 0px 10px 10px;border: solid 1px #ecf0f4;background-color: #fafafa;}
.top--info {display: flex;justify-content: flex-end;margin-bottom:12px;}
span.min-read {font-size: 12px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;text-align: right;color: #12b985;}
.a_published-at{font-size: 14px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: 1.14;letter-spacing: -0.56px;text-align: left;color: #868c91;}
.article--meta {display: flex;align-items: center;justify-content: space-between;}
.article_container .view-all{background: transparent;border: none;font-weight: bold;line-height: 0.57;letter-spacing: -0.56px;text-align: right;}
.section__header.blog__header{margin: 30px auto;}
.section__header.blog__header h3{margin: 0px;line-height: 52px;font-size: 24px;letter-spacing: -0.56px;}
.shopify-section--main-blog link-bar li{padding: 9px 21px !important;border-radius: 17px;line-height: unset;}
.shopify-section--main-blog link-bar li.link-bar__link-item--selected{background: #ecf0f4;}
.shopify-section--main-blog link-bar li a{font-size: 16px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 14px;letter-spacing: normal;text-align: left;color: #1a2024;}
.shopify-section--main-blog link-bar li.capitalized_text a{text-transform: capitalize;}
.shopify-section--main-blog link-bar li.link-bar__link-item--selected a{font-weight: bold;letter-spacing: -0.64px;}
.shopify-section--main-blog link-bar li.link-bar__link-item--selected a:after{display: none;}
link-bar .link-bar__wrapper{margin: 0px 0px 30px 0px !important;}
link-bar .link-bar__wrapper ul{gap: 10px;}

@media (max-width:999px) {
  .article_container{flex-wrap: nowrap;justify-content: unset;max-width:100%;}
  .article--item {max-width: calc(100dvw - 20%);min-width: calc(100dvw - 20%);padding: 0;margin-right: 10px;}
  .article--item:first-child{margin-left:10px}
  .section__header.blog__header{padding-left: 0px;padding-right: 0px;margin: 20px 12px;}
  .shopify-section--main-blog .article_container{flex-wrap: wrap;justify-content: center;}
  .shopify-section--main-blog .article--item{margin-left: 10px;margin-right: 10px;max-width: calc(100dvw - 10%);min-width: calc(100dvw - 10%);}
}

/* CSS For custom slider starts here */
  .MultiCarousel_dots_container{position: absolute;bottom: 30px;left: 50%;transform: translateX(-50%);padding: 4px;background: #FFFFFF52 0% 0% no-repeat padding-box;border-radius: 20px;}
  .MultiCarousel[data-showactivedots=true] .multiCarousel_dots.active{background: #ffffff;}
  .multiCarousel_dots.active{width: 8px !important;height: 8px !important;}
  .multiCarousel_dots:after{background: #000000;}
  .MultiCarousel_container.slider_2_0 .MultiCarousel{padding-bottom: 0px;}

  @media (min-width:1000px) {
    .bootstrap-carousel .MultiCarousel .leftLst, .bootstrap-carousel .MultiCarousel .rightLst {display:block!important;position: absolute;top: 47%;bottom: unset;opacity: 1;transform: translateY(-50%);border-radius: 50% !important;background: #1a2024;border: 0;outline: none;box-shadow: none;width: 40px;height: 40px;visibility:visible;padding:5px;}
    .bootstrap-carousel .MultiCarousel .leftLst:active, .bootstrap-carousel .MultiCarousel .rightLst:active,
    .bootstrap-carousel .MultiCarousel .leftLst:focus, .bootstrap-carousel .MultiCarousel .rightLst:focus{background:black;border:0!important;outline:none!important;box-shadow:none!important;}
    .bootstrap-carousel .MultiCarousel .leftLst{left:25px;}
    .bootstrap-carousel .MultiCarousel .rightLst{right:25px;}
    .bootstrap-carousel .MultiCarousel .leftLst:before, .bootstrap-carousel .MultiCarousel .rightLst:before{content:none!important;} 
    .section__header.blog__header h3{font-size: 32px;letter-spacing: -1.28px;font-weight:normal}
  }

/* CSS For custom slider starts here */

</style>
<section>
  {%- if blog.articles_count == 0 -%}
    <div class="empty-state text-container">
      <h1 class="heading h1">{{ blog.title }}</h1>
      <p class="text--large">{{ 'blog.general.empty' | t }}</p>
      <div class="button-wrapper">
        <a href="{{ routes.root_url }}" class="button button--primary">{{ 'blog.general.back_to_home' | t }}</a>
      </div>
    </div>
  {%- else -%}
    {%- if section.settings.show_blog_title -%}
      <div class="container visually-hidden">
        <div class="page-header">
          <nav aria-label="{{ 'general.breadcrumb.title' | t }}" class="breadcrumb breadcrumb--floating text--xsmall hidden-phone">
            <ol class="breadcrumb__list" role="list">
              <li class="breadcrumb__item">
                <a class="breadcrumb__link" href="{{ routes.root_url }}">{{ 'general.breadcrumb.home' | t }}</a>
              </li>
              <li class="breadcrumb__item">
                {%- if current_tags -%}
                  <a class="breadcrumb__link" href="{{ collection.url }}">{{ blog.title }}</a>
                {%- else -%}
                  <span class="breadcrumb__link" aria-current="page">{{ blog.title }}</span>
                {%- endif -%}
              </li>
              {%- if current_tags -%}
                <li class="breadcrumb__item">
                  <span class="breadcrumb__link" aria-current="page">{{ current_tags.first | split: '_' | last }}</span>
                </li>
              {%- endif -%}
            </ol>
          </nav>
          <div class="page-header__text-wrapper text-container visually-hidden">
            <h1 class="heading h1">{{ blog.title }}</h1>
          </div>
        </div>
      </div>
    {%- endif -%}

    {% comment %} {% render 'new-blogs-layout' %} {% endcomment %}

    <header class="section__header blog__header">
      <div class=""> 
        <a class="d-flex justify-content-between align-items-center" href="/blogs/blog">
          <h3 class="ui2-heading">From the  <span><b>Newsroom</b></span></h3>
          <b class="view-all">View All
            {%- render 'icon' with 'right-arrow-blue' -%}
          </b>
        </a>
      </div>
    </header>
    {%- if section.settings.show_tags and blog.all_tags.size > 0 -%}
      <link-bar class="link-bar">
        <div class="container">
          <div class="link-bar__wrapper">
            {% comment %} <span class="link-bar__title heading heading--small text--subdued">{{ 'blog.general.view' | t }}</span> {% endcomment %}

            <div class="link-bar__scroller hide-scrollbar">
              <ul class="link-bar__linklist list--unstyled" role="list">
                <li class="link-bar__link-item {% if current_tags == blank %}link-bar__link-item--selected{% endif %}">
                  <a href="{{ blog.url }}" class="link-bar__link link--animated {% if current_tags == blank %}text--underlined{% endif %}">{{ 'blog.general.all_posts' | t }}</a>
                </li>

                {%- for tag in blog.all_tags -%}
                {% unless tag contains 'meta-' %}
                  <li class="{% unless tag == 'do what floats your boAt' %}capitalized_text {%endunless%} link-bar__link-item {% if current_tags contains tag %}link-bar__link-item--selected{% endif %}">
                    {%- capture link_to_tag_replacement -%}class="link-bar__link link--animated {% if current_tags contains tag %}text--underlined{% endif %}" title={%- endcapture -%}

                    {%- if current_tags contains tag -%}
                      {{ tag | link_to_remove_tag: tag | replace: 'title=', link_to_tag_replacement }}
                    {%- else -%}
                      {{- tag | link_to_tag: tag | replace: 'title=', link_to_tag_replacement -}}
                    {%- endif -%}
                  </li>
                  {% endunless %}
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </div>
      </link-bar>
    {%- endif -%}
    
    <div class="container article_container scroller">
      {% for article in blog.articles limit: 12 %}
        <div class="article--item scroller__inner">
          <a href="{{ article.url }}" class="article-item__image-container">
            <img class="article-item__image" sizes="(max-width: 740px) 81vw, (max-width: 999px) 37vw, 425px" loading="lazy" {% render 'image-attributes', image: article.image, sizes: '600,700,800,1000,1200,1400,1600,1800,2000' %}>
          </a>
          <div class="article--info">
              
              <p class="article--title"><a href="{{ article.url }}">{{ article.title | truncate: 60, '...' }}</a></p>
              <div class="article--content visually-hidden">{{ article.content }}</div>
              <div class="article--meta">
                  <span class="a_published-at">{{ article.published_at | date: "%d %b, %Y" }}</span>
                  {% comment %} <b class="view-all">
                    <a href="{{article.url}}">Read Now
                      {%- render 'icon' with 'right-arrow-blue' -%}
                    </a>
                  </b> {% endcomment %}
                  <div class="top--info">
                    <span class="min-read"></span>
                  </div>
              </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {%- endif -%}
</section>

<style>
  div[reveal] {opacity: 1;}
</style>

<script type="text/javascript">

  $(document).ready(function(){
    let averageReadingSpeed = 200;
    let articleContent = '';
    let wordCount = 0;
    let minuteRead;

    $('.article_container .article--item').each(function() {
      articleContent = $(this).find('.article--content').text();
      wordCount = articleContent.trim().split(/\s+/).length;
      minuteRead = Math.ceil(wordCount / averageReadingSpeed);
      $(this).find('.min-read').text(`${minuteRead} min read`);
    });

  });
  
</script>
{% schema %}
{
  "name": "Blog",
  "class": "shopify-section--main-blog",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_blog_title",
      "label": "Show blog title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "Show category",
      "info": "The first article's tag will be shown as category.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show excerpt",
      "info": "Change excerpts by editing your blog posts. [Learn more](https://help.shopify.com/en/manual/online-store/blogs/writing-blogs#display-an-excerpt-from-a-blog-post)",
      "default": true
    },
    {
      "type": "range",
      "id": "articles_per_page",
      "label": "Blog posts per page",
      "min": 3,
      "max": 48,
      "step": 3,
      "default": 9
    }
  ]
}
{% endschema %}