{%- unless template.suffix contains 'quick-buy' -%}
  <style>
    #shopify-section-{{ section.id }} {
      {%- assign buy_buttons_block = section.blocks | where: 'type', 'buy_buttons' | first -%}

      {%- if buy_buttons_block.settings.show_payment_button -%}
        {%- if buy_buttons_block.settings.atc_button_background == 'rgba(0,0,0,0)' -%}
          {%- assign secondary_button_background = settings.secondary_button_background -%}
        {%- else -%}
          {%- assign secondary_button_background = buy_buttons_block.settings.atc_button_background -%}
        {%- endif -%}

        {%- if buy_buttons_block.settings.atc_button_text_color == 'rgba(0,0,0,0)' -%}
          {%- assign secondary_button_text_color = settings.secondary_button_text_color -%}
        {%- else -%}
          {%- assign secondary_button_text_color = buy_buttons_block.settings.atc_button_text_color -%}
        {%- endif -%}

        {%- if buy_buttons_block.settings.buy_now_button_background == 'rgba(0,0,0,0)' -%}
          {%- assign primary_button_background = settings.primary_button_background -%}
        {%- else -%}
          {%- assign primary_button_background = buy_buttons_block.settings.buy_now_button_background -%}
        {%- endif -%}

        {%- if buy_buttons_block.settings.buy_now_button_text_color == 'rgba(0,0,0,0)' -%}
          {%- assign primary_button_text_color = settings.primary_button_text_color -%}
        {%- else -%}
          {%- assign primary_button_text_color = buy_buttons_block.settings.buy_now_button_text_color -%}
        {%- endif -%}
      {%- else -%}
        {%- if buy_buttons_block.settings.atc_button_background == 'rgba(0,0,0,0)' -%}
          {%- assign primary_button_background = settings.primary_button_background -%}
        {%- else -%}
          {%- assign primary_button_background = buy_buttons_block.settings.atc_button_background -%}
        {%- endif -%}

        {%- if buy_buttons_block.settings.atc_button_text_color == 'rgba(0,0,0,0)' -%}
          {%- assign primary_button_text_color = settings.primary_button_text_color -%}
        {%- else -%}
          {%- assign primary_button_text_color = buy_buttons_block.settings.atc_button_text_color -%}
        {%- endif -%}
      {%- endif -%}

      --primary-button-background: {{ primary_button_background.red }}, {{ primary_button_background.green }}, {{ primary_button_background.blue }};
      --primary-button-text-color: {{ primary_button_text_color.red }}, {{ primary_button_text_color.green }}, {{ primary_button_text_color.blue }};
      --secondary-button-background: {{ secondary_button_background.red }}, {{ secondary_button_background.green }}, {{ secondary_button_background.blue }};
      --secondary-button-text-color: {{ secondary_button_text_color.red }}, {{ secondary_button_text_color.green }}, {{ secondary_button_text_color.blue }};
    }
    {% if product.tags contains 'Coming-Soon' %}
      #gokwik-buy-now, #AddToCart, .stock-label, .restocking, .current-in-cart {display: none!important;}
    {% endif %}
    {% if product.tags contains 'NO-PRICE' %}  
     .product-meta__price-list-container, .price-container {display:none!important;}
    {% endif %}  
  </style>

  <section>
    {% comment %}
    ! commented sticky form on New PDP Layout 
    {%- if section.settings.show_sticky_add_to_cart and product.available -%}
      {%- render 'product-sticky-form', product: product -%}
    {%- endif -%} 
    {% endcomment %}
    <div class="container pdp">
      <nav aria-label="{{ 'general.breadcrumb.title' | t }}" class="breadcrumb text--xsmall text--subdued">
        <ol class="breadcrumb__list" role="list">
          <li class="breadcrumb__item">
            <a class="breadcrumb__link" href="{{ routes.root_url }}">{{ 'general.breadcrumb.home' | t }}</a>
          </li>

          {%- if collection -%}
            <li class="breadcrumb__item">
              <a class="breadcrumb__link" href="{{ collection.url }}">{{- collection.title -}}</a>
            </li>
          {%- endif -%}
          <li class="breadcrumb__item">
            <span class="breadcrumb__link" aria-current="page">All Collection</span>
          </li>
          <li class="breadcrumb__item">
            <span class="breadcrumb__link" aria-current="page">{{- product.title  | split: '|' | first | split: 'boAt' | last -}}</span>
          </li>
        </ol>
      </nav>

    {% if product.metafields.custom.productbanner_url != blank %}
      <a href="{{ product.metafields.custom.productbanner_url | split: "," | last }}" class="banner_link">
    <img src="{{ product.metafields.custom.productbanner_url | split: "," | first }}"
      style="border-radius:10px;">
    </a>
    {% elsif section.settings.banners_url != blank %}
    <a href="{{ section.settings.banners_url | split: "," | last }}" class="banner_link">
      <img src="{{ section.settings.banners_url | split: "," | first }}"
        style="border-radius:10px;">
      </a>
    {% endif %}

<!-- PRODUCT TOP PART -->
  <div
    class="product py-lg-2 {% if product.metafields.custom.productbanner_url != blank or section.settings.banners_url != blank  %}mt-3 {% endif %} mt-lg-0 product--thumbnails-{{ section.settings.desktop_thumbnails_position }}"
  >
  {% comment %}
  ! Changed the position of 'product-info' & 'product-media' in New PDP Design
  {% endcomment %}
  {%- render 'product-info', product: product, update_url: true -%}
  {%- render 'product-form', product: product, update_url: update_url -%}
  {%- render 'product-media', product: product -%}
        {% unless product.tags contains "Gift Cards" or product.tags contains "mask" %}
          {%- if product.tags contains 'flash-sale' and settings.enable_flash_sale -%}
            <div class="flash-sale-lable d-flex position-relative">
    
              <div class="flash_sale">
                <p class="m-0 text-uppercase flash_text"><span class="thunder"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                      height="16" fill="currentColor" class="bi bi-lightning-fill" viewBox="0 0 16 16">
                      <path
                        d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5z" />
                    </svg></span>&nbsp;</p>
                {% render 'flashsale-timer', title: settings.flash_timer_text, end_date: settings.flash_end_date %}
              </div>
              {%- render 'inventory-bar' product: product -%}
            </div>
            {%- endif -%}
      </div>

{% comment %}Start automatically added Judge.me widget
  {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
End automatically added Judge.me widget{% endcomment %}

      {% endunless %}

              {% if product.metafields.custom.product_highlights %}
                <div class="price-container product-highlight pt-2 d-lg-none">
                  <h6 style="padding-bottom:8px;margin-bottom:16px;border-bottom: 1px solid #dadada; font-weight: 700;">Product Highlights
                  </h6>
                  {{ product.metafields.custom.product_highlights }}
                </div>
              {%- endif -%}
  </section>

  <div class="section__color-wrapper promise-icons mt-3 mt-lg-5">
    <div class="mySect py-2 container">
      <div class="img-row text-center row justify-content-around pb-1 pb-lg-0" style="max-width: 100%;margin: auto;">
  
        <div class="col-2 pipe p-0">
          <div class="row myIconRow">
            <div class="col-md-4 myIcon">
              <img alt="" loading="lazy" src="//cdn.shopify.com/s/files/1/0057/8938/4802/files/icon-1b_6c0c5f7d-a48c-40f5-946d-ea50fb1a9b82_small.png?v=1661243559">
            </div>
            <div class="col-md-8 myText">
              <p class="mb-0">1 Year <br>Warranty</p>
            </div>
          </div>
        </div>
        
        <div class="col-2 pipe p-0">
          <div class="row myIconRow">
            <div class="col-md-4 myIcon">
              <img alt="" loading="lazy" src="//cdn.shopify.com/s/files/1/0057/8938/4802/files/icon-3b_b82496cc-51ed-47ad-b27a-a195b646bea1_small.png?v=1661244593">
            </div>
            <div class="col-md-8 myText">
               <p class="mb-0">7 Days <br>Replacement</p>
            </div>
          </div>
        </div>
                        
        <div class="col-2 pipe p-0">
          <div class="row myIconRow">
            <div class="col-md-4 myIcon">
              <img alt="" loading="lazy" src="//cdn.shopify.com/s/files/1/0057/8938/4802/files/icon-2b_dc921406-33cc-4867-846b-293610d69a41_small.png?v=1661244611">
            </div>
            <div class="col-md-8 myText">
              <p class="mb-0">Free <br>Shipping</p>
            </div>
          </div>
        </div>
                        
        <div class="col-2 pipe p-0">
          <div class="row myIconRow">
            <div class="col-md-4 myIcon">
              <img alt="" loading="lazy" src="//cdn.shopify.com/s/files/1/0057/8938/4802/files/icon-4b_1d19c7fb-8da7-407e-8612-946e106cc508_small.png?v=1661244611">
            </div>
            <div class="col-md-8 myText">
              <p class="mb-0">Secure <br>Checkout</p>
            </div>
          </div>
        </div>
                        
        <div class="col-2 pipe p-0">
          <div class="row myIconRow">
            <div class="col-md-4 myIcon">
              <img alt="" loading="lazy" src="//cdn.shopify.com/s/files/1/0057/8938/4802/files/icon-black-v1_small.png?v=1661245767">
            </div>
            <div class="col-md-8 myText">
              <p class="mb-0">GST <br>Billing</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%- else -%}
  {%- comment -%}
  The quick shop HTML being very different, we render it here. On mobile and tablet/desktop, the product renders also
  quite differently, as it is in a drawer on tablet/desktop, and a popover on mobile.
  {%- endcomment -%}

  {%- capture quick_buy_product_info -%}
    <div class="quick-buy-product">
      {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

      {%- if template.suffix == 'quick-buy-drawer' -%}
        <img loading="lazy" sizes="114px" class="quick-buy-product__image" {% render 'image-attributes', image: featured_media, sizes: '114,228,342' %}>
      {%- else -%}
        <img loading="lazy" sizes="85px" class="quick-buy-product__image" {% render 'image-attributes', image: featured_media, sizes: '65,130,195' %}>
      {%- endif -%}

      <div class="quick-buy-product__info {% if template.suffix == 'quick-buy-popover' %}text--small{% endif %}">
        <product-meta form-id="product-form-{{ section.id }}-{{ product.id }}" unit-price-class="text--xsmall" class="product-item-meta" >
          {%- if section.settings.show_vendor -%}
            {%- assign vendor_handle = product.vendor | handle -%}
            {%- assign collection_for_vendor = collections[vendor_handle] -%}

            {%- unless collection_for_vendor.empty? -%}
              <a href="{{ collection_for_vendor.url }}" class="product-item-meta__vendor heading {% if template.suffix == 'quick-buy-drawer' %}heading--small{% else %}heading--xsmall{% endif %}">{{ product.vendor }}</a>
            {%- else -%}
              <a href="{{ product.vendor | url_for_vendor }}" class="product-item-meta__vendor heading {% if template.suffix == 'quick-buy-drawer' %}heading--small{% else %}heading--xsmall{% endif %}">{{ product.vendor }}</a>
            {%- endunless -%}
          {%- endif -%}

          <a href="{{ product.url }}" class="product-item-meta__title">{{ product.title | split: '|' | first | split: 'boAt' | last  }}</a>

            {% capture fixed_discount %}
              {% render 'fixed-discount-by-tag', product: product %}
            {% endcapture %}
            {%- if product.tags contains settings.tag_selector -%}
            {% assign discount_price =  fixed_discount | times: 100 %}
            {% assign discount_price =  product.selected_or_first_available_variant.price | minus: discount_price %}
            {% assign discounted_price = product.selected_or_first_available_variant.price | minus: discount_price | divided_by: 100 | round | times: 100 %}
            {%- else -%}
            {% assign discounted_price = product.selected_or_first_available_variant.price %}
            {%- endif -%}  

          <div class="product-item-meta__price-list-container" role="region" aria-live="polite">
            <div class="price-list{% if product.tags contains settings.tag_selector and settings.enable_fixed_discount %} custom_product_pod_price {% elsif settings.enable_namagoo %}{% if product.tags contains 'namogoo' %} custom-product_namogoo {% endif %} {% endif %}" data-product-price-list data-pod="{{ fixed_discount | strip }}">
              {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
                <span class="price price--highlight quick_product-price" data-price="{{ product.selected_or_first_available_variant.price }}">
                  <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

                  {%- if settings.currency_code_enabled -%}
                    {{- discounted_price | money_with_currency | replace: 'Rs.', '₹' -}}
                  {%- else -%}
                    {{- discounted_price | money | replace: 'Rs.', '₹' -}}
                  {%- endif -%}
                </span>
                {% if product.compare_at_price > discounted_price %}
                <p class="custom-saved-price">{{
                  product.compare_at_price | minus: discounted_price | times: 100.0 | divided_by: product.compare_at_price |
                  round
                  | append: '% Off' }} </p>
                {% endif %}
                <span class="price price--compare line-through">
                  <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>

                  {%- if settings.currency_code_enabled -%}
                    {{- product.selected_or_first_available_variant.compare_at_price | money_with_currency | replace: 'Rs.', '₹' -}}
                  {%- else -%}
                    {{- product.selected_or_first_available_variant.compare_at_price | money | replace: 'Rs.', '₹' -}}
                  {%- endif -%}
                </span>
              {%- else -%}
                <span class="price quick_product-price" data-price="{{ product.selected_or_first_available_variant.price }}">
                  <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

                  {%- if settings.currency_code_enabled -%}
                    {{- discounted_price | money_with_currency -}}
                  {%- else -%}
                    {{- discounted_price | money -}}
                  {%- endif -%}
                </span>
              {%- endif -%}

              {%- if product.selected_or_first_available_variant.unit_price_measurement -%}
                <div class="price text--subdued text--xsmall">
                  <div class="unit-price-measurement">
                    <span class="unit-price-measurement__price">{{ product.selected_or_first_available_variant.unit_price | money }}</span>
                    <span class="unit-price-measurement__separator">/</span>

                    {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
                      <span class="unit-price-measurement__reference-value">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_value }}</span>
                    {%- endif -%}

                    <span class="unit-price-measurement__reference-unit">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}</span>
                  </div>
                </div>
              {%- endif -%}
            </div>
            {%- if product.metafields.benefits.usp1 -%}
              <div class="product-feature" style="line-height: normal;margin-top:12px;">
                <span style="display:block;">{{ product.metafields.benefits.usp1 | remove: '✓' }}</span>
                <span style="display:block;">{{ product.metafields.benefits.usp2 | remove: '✓' }}</span>
                <span style="display:block;">{{ product.metafields.benefits.usp3 | remove: '✓' }}</span>
              </div>
            {%- endif -%}
            {%- if template.suffix == 'quick-buy-popover' -%}
              <a href="{{ product.url }}" class="link text--subdued">{{ 'product.general.view_details' | t }}</a>
            {%- endif -%}
          </div>
          
        </product-meta>
        
      </div>
      
    </div>

  {%- endcapture -%}

  {%- if template.suffix == 'quick-buy-drawer' -%}
    <quick-buy-drawer class="drawer drawer--large drawer--quick-buy">
      <cart-notification hidden class="cart-notification cart-notification--drawer"></cart-notification>

      <span class="drawer__overlay"></span>

      <header class="drawer__header">
        <p class="drawer__title heading h6">{{ 'product.form.choose_options' | t }}</p>

        <button type="button" class="drawer__close-button tap-area" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
          {%- render 'icon' with 'close' -%}
        </button>
      </header>

      <div class="drawer__content">
        {{- quick_buy_product_info -}}
        {%- render 'product-form', product: product -%}
      </div>
    </quick-buy-drawer>
  {%- elsif template.suffix == 'quick-buy-popover' -%}
    <quick-buy-popover class="popover popover--quick-buy">
      <span class="popover__overlay"></span>

      <header class="popover__header">
        {{- quick_buy_product_info -}}

        <button type="button" class="popover__close-button tap-area tap-area--large" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
          {%- render 'icon' with 'close' -%}
        </button>
      </header>

      <div class="popover__content ">
        {%- render 'product-form', product: product -%}
      </div>
    </quick-buy-popover>
  {%- endif -%}
{%- endunless -%}
<script>
       var _rmData = _rmData || [];
       _rmData.push(['productView', {
         productId: {{product.id|json}},
         productCategoriesIds: {{product.collections|map:'id'|json}},
         productCategories: {{product.collections|map:'title'|json}}
       }]);
</script>
<script>
  let product_id = {{product.id |json}};
  let sku = {{ product.selected_or_first_available_variant.sku |json}};
  let variant_id = {{ product.selected_or_first_available_variant.id |json}};
  // sessionStorage.setItem('product_id',product_id);
  sessionStorage.setItem('sku',sku);
  sessionStorage.setItem('varientID',variant_id);
  Shopify.pincodeCheckerApi = function(product_id, sku, variant_id, pincode) {
  var settings = {
  "url": "https://api-shiprocketrush.boat-lifestyle.com/get/delivery-time",
  "method": "POST",
  "timeout": 0,
  "headers": {
    "Content-Type": "application/json"
  },
  "data": JSON.stringify({
    "postal_code": pincode,
    "items": [
      {
        "sku": sku,
        "quantity": 1,
        "product_id": sku,
        "variant_id": sku
      }
    ]
  }),
  };
  $.ajax(settings).done(function (response) {
  if(response.success){
  let delivery = '';
  let order_cutoff = '';
  sessionStorage.setItem('pincode_serviceable','true');
  for (let i = 0; i < response.data.length; i++) {
  if(response.data[i].service_code == 'SR_QUICK'){
    let super_delivery = response.data[i].max_delivery_date;
    delivery = super_delivery;
    order_cutoff = response.data[i].order_cutoff;
  }
  else if(response.data[i].service_code == 'SR_EXPRESS'){
    let express_delivery = response.data[i].max_delivery_date;
    delivery = express_delivery;
    order_cutoff = response.data[i].order_cutoff;
  }else if(response.data[i].service_code == 'SR_STANDARD'){
    let standard_delivery = response.data[i].max_delivery_date;
    delivery = standard_delivery;
    order_cutoff = response.data[i].order_cutoff; 
  }else if(response.data[i].service_code == 'STD'){
  sessionStorage.setItem('pincode_serviceable','false');
  }   
    }
  delivery = delivery.split(' ')[0];
  const delivery_date = new Date(delivery);
  let delivery_day = delivery_date.getDate();
  let today = new Date();
  const diffTime = Math.abs(delivery_date - today);
  const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 
  var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
  let day = days[ delivery_date.getDay() ];
  const monthList = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sept","Oct","Nov","Dec"];
  let month = monthList[delivery_date.getMonth()];
  let year = delivery_date.getFullYear();
  if(order_cutoff == undefined){
    order_cutoff = '';
  }
  Shopify.pincodeDetail();
  $('.pincode_error').html('');
  sessionStorage.setItem('pincode_error','');
  let pincodeDeliveryText = '';
  if(diffDays == 0){
    pincodeDeliveryText = 'Free delivery by today';
  }else if(diffDays == 1){
    pincodeDeliveryText = 'Free delivery by tomorrow';
  }else{
    pincodeDeliveryText = 'Free delivery by '+ day + ', ' + delivery_day + ' ' + month ;
  }
  if( sessionStorage.pincode_serviceable == 'false'){
     pincodeDeliveryText = '';
      order_cutoff = '';
      sessionStorage.setItem('pincode_error','Pincode not servicable. Try another one.');
       $('.pincode_error').html('Pincode not servicable. Try another one.');
  }
  $('.pincode_details h6').html(pincodeDeliveryText);
  sessionStorage.setItem('pincode_delivery_text',pincodeDeliveryText);
    $('.pincode_details p').html(order_cutoff);
    sessionStorage.setItem('order_cutoff', order_cutoff);
  }
  })
  .fail(function() {
    $('.pincode_error').html('Pincode not valid. Try another one.');
    })
  };
  Shopify.pincodeDetail = function(){
  let pincode_buttom = $('.pincode_checker_btn');
  let pincodeIn = $('.pincode_checker_input');
  let pincodeVal = sessionStorage.pincode;
      if(sessionStorage.pincode && sessionStorage.pincode !== ''){
        pincode_buttom.text('Change');
        pincode_buttom.attr('pincodeAdded','true');
        pincodeIn.val(pincodeVal);
        $('.quick-delivery-icon svg .cls-2').css('fill', '#ed1c24')
    }  
      };
   
  if(!sessionStorage.product_id){
    sessionStorage.setItem('product_id', product_id);
  }else if(product_id !== parseInt(sessionStorage.product_id)){
  let storedPincode = sessionStorage.pincode;  
  Shopify.pincodeCheckerApi(product_id, sku, variant_id, storedPincode);
  sessionStorage.setItem('product_id', product_id);
  }
  Shopify.pincodeChecker = function(product_id, sku, variant_id) {       
  Shopify.pincodeDetail();
  let pincode_buttom = $('.pincode_checker_btn');
  let pincodeIn = $('.pincode_checker_input');
  $('.pincode_details h6').html(sessionStorage.pincode_delivery_text );
  $('.pincode_details p').html(sessionStorage.order_cutoff);
  if(sessionStorage.pincode_error && sessionStorage.pincode_error !== ''){
  $('.pincode_error').html(sessionStorage.pincode_error); 
  }
  $(document).on('click', '.pincode_checker_input', function(event) {
    if($('.pincode_checker_btn').attr('pincodeAdded') == 'true'){
    pincodeIn.val('');
    pincode_buttom.text('Check'); 
    pincode_buttom.attr('pincodeAdded','false');
    $('.quick-delivery-icon svg .cls-2').removeAttr('style');
    }
  });   
  $(document).on('click', '.pincode_checker_btn', function(event) {
  event.preventDefault();
  let pincodeValue = $(this).siblings('.pincode_checker_input').val();
  sessionStorage.setItem('pincode', pincodeValue);
  if($(this).attr('pincodeAdded') == 'true'){
    pincodeIn.val('');
    pincode_buttom.text('Check'); 
    pincode_buttom.attr('pincodeAdded','false');
    pincode_buttom.removeAttr('style');
    $('.quick-delivery-icon svg .cls-2').removeAttr('style');
  }else{              
   if(pincodeIn.val().length < 6 || pincodeIn.val().length > 6 ){
   $('.pincode_error').html('Pincode not valid. Try another one.')
     }
  else{
  let pincode = sessionStorage.pincode;
  let product_id = sessionStorage.product_id;
  let sku = sessionStorage.sku;
  let varientID = sessionStorage.varientID;
  Shopify.pincodeCheckerApi(product_id, sku, varientID, pincode);
  }
  }
  });
  $(document).on('input', '.pincode_checker_input', function(event) {
  if($(this).val().length == 6 ){
  $('.pincode_checker_btn').css('color','#ff0000');
  $('.quick-delivery-icon svg .cls-2').css('fill', '#ed1c24');
  }else{
   $('.pincode_checker_btn').removeAttr('style');
  }
  })
  }
  Shopify.pincodeChecker();
  </script>
  
{% schema %}
{
  "name": "Product page",
  "class": "shopify-section--main-product",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "hide_sold_out_variants",
          "label": "Hide sold out variants",
          "default": false
        },
        {
          "type": "select",
          "id": "selector_mode",
          "label": "Selector type",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            }
          ],
          "default": "block"
        },
        {
          "type": "select",
          "id": "color_mode",
          "label": "Color selector type",
          "info": "Variant image mode requires that all variant have an associated image. [Learn more](https://help.shopify.com/en/manual/products/product-media/add-images-variants#add-images-to-existing-variants)",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "color",
              "label": "Color swatch"
            },
            {
              "value": "variant_image",
              "label": "Variant image"
            }
          ],
          "default": "variant_image"
        },
        {
          "type": "page",
          "id": "size_chart_page",
          "label": "Size chart page",
          "info": "Feature a page for size option"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "Quantity selector",
      "limit": 1
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        },
        {
          "type": "color",
          "id": "atc_button_background",
          "label": "Add to cart background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "atc_button_text_color",
          "label": "Add to cart color",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "buy_now_button_background",
          "label": "Buy now background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "buy_now_button_text_color",
          "label": "Buy now color",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "inventory",
      "name": "Inventory",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "low_inventory_threshold",
          "label": "Low inventory threshold",
          "info": "Use low stock color when quantity is below the threshold. Choose 0 to always show in stock.",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "image_alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 500,
          "step": 10,
          "unit": "px",
          "label": "Width",
          "default": 150
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "paragraph",
          "content": "Create link to your contact page, external marketplace..."
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "stretch",
          "label": "Stretch button",
          "default": true
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "line_item_property",
      "name": "Line item property",
      "settings": [
        {
          "type": "paragraph",
          "content": "Line item properties are used to collect customization information for an item added to the cart."
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Your label"
        },
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "checkbox",
              "label": "Checkbox"
            }
          ],
          "default": "text"
        },
        {
          "type": "header",
          "content": "Text",
          "info": "Only applicable for line item property of type Text."
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "allow_long_text",
          "label": "Allow long text",
          "default": false
        },
        {
          "type": "header",
          "content": "Checkbox",
          "info": "Only applicable for line item property of type Checkbox."
        },
        {
          "type": "text",
          "id": "checked_value",
          "label": "Checked value",
          "default": "Yes"
        },
        {
          "type": "text",
          "id": "unchecked_value",
          "label": "Unchecked value",
          "default": "No"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "banners_url",
      "label": "bannersurl + redirectionurl"
    },
	{
      "type": "checkbox",
      "id": "show_timer_on_all",
      "label": "Show Timer on All PDPs",
      "default": false
    },
	{
      "type": "checkbox",
      "id": "show_timer_on_selected",
      "label": "Show Timer on Selected PDPs",
      "default": false
    },
	{
      "type": "text",
      "id": "end_date",
      "label": "End Date (Ex: Apr 30, 2022 12:00:00)"
    },
	{
      "type": "text",
      "id": "timer_text",
      "label": "Timer Text"
    },
	{
      "type": "text",
      "id": "pay_with_rewards",
      "label": "Pay with Rewards Offer"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "label": "Show SKU",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_taxes_included",
      "label": "Show taxes included",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_product_rating",
      "label": "Show product rating",
      "info": "To display a rating, add a product rating app. [Learn more](https://help.shopify.com/en/manual/products/product-reviews/installation)",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_sticky_add_to_cart",
      "label": "Show sticky add to cart",
      "info": "Will be hidden if no Buy buttons block is added onto the page.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show share buttons",
      "default": true
    },
    {
      "type": "page",
      "id": "help_page",
      "label": "Help page",
      "info": "Feature a page to help your customers"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "label": "Enable video autoplay",
      "info": "Video are muted automatically to allow autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "Enable image zoom",
      "info": "Zoom does not show video nor 3D models.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_thumbnails_on_mobile",
      "label": "Show thumbnails on mobile",
      "default": false
    },
    {
      "type": "select",
      "id": "desktop_thumbnails_position",
      "label": "Desktop thumbnails position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "bottom"
    },
    {
      "type": "select",
      "id": "transition_effect",
      "label": "Transition effect",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    }
  ]
}
{% endschema %}