
{%- assign collection_sort_by = collection.sort_by | default: collection.default_sort_by -%}
{%- assign active_filters_count = 0 -%}

{%- for filter in collection.filters -%}
  {%- if filter.type == 'list' -%}
    {%- assign active_filters_count = active_filters_count | plus: filter.active_values.size -%}
  {%- elsif filter.type == 'price_range' and filter.min_value.value or filter.max_value.value -%}
    {%- assign active_filters_count = active_filters_count | plus: 1 -%}
  {%- endif -%}
{%- endfor -%}

<style>
  /*   cutomised by boat developers */
  /*   main-product.liquid contains quick buy popups */
  /*   product-item.liquid contains collection page cards */
  .page-header__text-wrapper.text-container{text-align: left!important;}
  .page-header__text-wrapper.text-container h2 {text-align: left!important; margin-bottom: 2rem;}
  #shopify-section-{{ section.id }} {--section-products-per-row: {{ section.settings.mobile_products_per_row | times: 1 }};}
  .jdgm-widget.jdgm-widget { display: block!important; min-height: 18px;}
  .product-item.product-item.product-item--sold-out .product-item__image-wrapper a {opacity: 0.5;}
  .heading.h1 {padding-top: 24px;font-weight: 700;}
  .collection-description p.product-ques{font-weight: 600;font-style: italic;margin-top: 0px !important;margin-bottom: 0px;}
  .product-ans, .collection-description p {font-size: 12px;opacity: .7;}
   picture img {margin: auto;display: block;width: 100%;}
   /* collection cards */
   {% comment %}info: for old cards
     span.swatch-circle{margin-left: -4px;width:11px;height:11px;border-radius:50%;border: 1px solid #fff;}
     .item-horizontal .product-item .product-item-meta__price-list-container{padding-top:8px}
     .variants-list{display:flex;align-items:center;line-height:normal;position:relative;min-width:36px;}
     .variants-list::before{content: '';width: 0.5px;height: 26.8px;background: #adadad;left: -14px;position: absolute;}
     div[role="progressbar"]{position: absolute;top: 0;right: 0;width: 2.7rem!important;margin:0;}
   {% endcomment %}
  .item-horizontal .product-item{flex-direction: column!important;}
  .item-horizontal .product__wrapper{display:flex;padding: 4px;}
  .product-list__inner.item-horizontal .product-item__info{border-top-left-radius: 0;border-bottom-left-radius: 0;border-top-right-radius: 8px;border-bottom-right-radius: 8px;margin: 0 ;padding: 0;padding-left: 10px;padding-right: 6px;}
  .item-horizontal .product-item{border-radius: 10px;border: solid 1px #ecf0f4;background-color: #fafafa;}
  .price-list.price-list--centered{border-bottom: 1px solid #e3e3e3;margin-bottom: 0.3rem;padding-bottom: 0.3rem;width: 100%;position:relative;}
 @media screen and (max-width:768px){ 
  .product-item .product-item__info .product-item-meta__reviews-badge .variants-list:before{display: none;}
  .product-facet{margin-top: 10px;}
  .heading.h1{font-size: 26px;}
  product-list .product-list__inner{grid-gap: 22px;}
 }
 
/*  -------------------------------   */

  @media screen and (min-width: 741px) {
    #shopify-section-{{ section.id }} {
      {%- assign remainder_for_two = section.settings.products_per_page | modulo: 2 -%}
      {%- assign remainder_for_desktop_count = section.settings.products_per_page | modulo: section.settings.desktop_products_per_row -%}
      --section-products-per-row: {% if remainder_for_two == 0 and remainder_for_desktop_count == 0 %}3{% else %}4{% endif %};
    }

    .heading.h1 split-lines{font-size: 24px;}
  }

  {%- if section.settings.filter_position == 'drawer' -%}
    @media screen and (min-width: 769px) {
      #shopify-section-{{ section.id }} {
        --section-products-per-row: {{ section.settings.desktop_products_per_row | minus:1 }};
      }
    }
    @media screen and (min-width: 1200px) {
      #shopify-section-{{ section.id }} {
        --section-products-per-row: {{ section.settings.desktop_products_per_row }};
      }
    }
  {%- else -%}
    @media screen and (min-width: 1400px) {
      #shopify-section-{{ section.id }} {
        --section-products-per-row: {{ section.settings.desktop_products_per_row }};
      }
    }
  {%- endif -%}

  {%- for block in section.blocks -%}
    #block-{{ section.id }}-{{ block.id }} {
      --heading-color: {{ block.settings.text_color.red }}, {{ block.settings.text_color.green }}, {{ block.settings.text_color.blue }};
      --text-color: {{ block.settings.text_color.red }}, {{ block.settings.text_color.green }}, {{ block.settings.text_color.blue }};
      --section-block-background: {{ block.settings.background.red }}, {{ block.settings.background.green }}, {{ block.settings.background.blue }};
      --primary-button-background: {{ block.settings.button_background.red }}, {{ block.settings.button_background.green }}, {{ block.settings.button_background.blue }};
      --primary-button-text-color: {{ block.settings.button_text_color.red }}, {{ block.settings.button_text_color.green }}, {{ block.settings.button_text_color.blue }};

      {%- assign text_position = block.settings.text_position | split: '_' | first -%}

      {%- case text_position -%}
        {%- when 'top' -%}
          {%- assign section_items_alignment = 'flex-start' -%}
        {%- when 'middle' -%}
          {%- assign section_items_alignment = 'center' -%}
        {%- when 'bottom' -%}
          {%- assign section_items_alignment = 'flex-end' -%}
      {%- endcase -%}

      --section-blocks-alignment: {{ section_items_alignment }};
    }
  {%- endfor -%}

  /*
    IMPLEMENTATION NOTE: due to design requirements, the mobile toolbar (with filters and sort by) had to be moved to the
    layout file. However as section settings cannot be accessed outside the section itself, we simply hide them in CSS.
   */

  {%- if section.settings.show_filters and collection.filters != empty and collection.products_count > 0 -%}
    .mobile-toolbar__item--filters {display: flex !important;}
  {%- endif -%}

  {%- if section.settings.show_sort_by and collection.products_count > 0 -%}
    .mobile-toolbar__item--sort {display: flex !important;}
  {%- endif -%}

  {%- if section.settings.show_sort_by or section.settings.show_filters and collection.filters != empty -%}
    @media screen and (max-width: 999px) {
      :root {--anchor-offset: 60px;}
    }
  {%- endif -%}

/* ui2.0 product cards css*/
.more-colors {font-size: 10px;}
.two-point-o .product-item__quick-form {padding: 6px 0;}
.product-item__info {background-color: inherit;}
.two-point-o .product-item__primary-image {border-radius: 8px;}
.product-horizontal {width: 90%; margin-bottom: 12px;background: #F5F5F5;border-radius: 8px;}
.product-horizontal span.metafeild-label.label--highlight.custom-label.label.ui-2{max-width: 100%!important;left: 0;border: 0;border-radius: 0 0 8px 8px!important;}
a.product-item-meta__title.tile-title {font-size: 16px;font-weight: 500;letter-spacing: -0.64px;color: #1a2024;  line-height: 1.38;}
.rating__stars {font-weight: 500;line-height: 1;letter-spacing: -0.48px;color: #000;}
.two-point-o span.swatch-circle {width: 14px;height: 14px;margin-left: -6px;}
.two-point-o .variants-list {position: absolute;right: 0;bottom: 0.6rem;}
.two-point-o .product-item-meta__price-list-container {padding-top: 4px;}
.two-point-o:has(.ui-2) .product-item__primary-image {border-radius: 8px 8px 0 0;}

{% comment %} sort by {% endcomment %}
label.popover__choice-item {position: relative;padding: 10px;margin: 8px 0!important;}
label.popover__choice-item:has(input[checked="checked"]) {border-radius: 10px;border: solid 1px #399a7d; background-color: #ddeee9;}
label.popover__choice-item:has(input[checked="checked"]):after {content: '✓';font-weight: 700;position: absolute;transform: rotate(10deg);right: 16px;}
[dir=ltr] product-facet .drawer__close-button{top: 14px;}
sort-by-popover .popover__title.heading.h6 {margin-top: 8px;font-size: 18px;font-weight: 500; color: #1a2024;text-transform: capitalize;}
sort-by-popover .popover__header{border-radius: 0;}
sort-by-popover button.popover__close-button.tap-area.tap-area--large {background-color: #d0d9de;padding: 8px;top: 16px;right: 16px;}
span.product-facet__sort-by-title.text--subdued {font-size: 14px; font-weight: 700;color: #1a2024;}
span#sort-by-selected-value{font-size: 14px; font-weight: 300;color: #1a2024;}

ol.breadcrumb__list>:last-child { font-weight: normal;}
.carousel-indicators li {width: 8px;height: 8px; border-radius: 50%;border:none;}
#facet-filters .button.button--primary.button--full{ background: #1A2024;border-radius: 10px!important;font-size: 14px!important;font-weight: 500!important;height: 48px;width: 50%;}
.carousel-indicators {width: max-content;margin-left:unset;left: 50%;transform: translateX(-50%);padding: 4px;background: #FFFFFF52 0% 0% no-repeat padding-box;border-radius: 20px;}
{% comment %}info: collection page ui2.0 {% endcomment %}
.tabs-nav__item {margin: 0 2vw;}


/* Collection Filter */
.product-facet__filters .product-facet__filter-list{height:100%;position:relative;overflow-y:auto}
.product-facet__filters collapsible-content{position:absolute;top:0;left:36%;background:#fff;overflow-y:auto!important;padding:10px 0 0 0;width:64%;height: 100%!important;}
.product-facet__filters .checkbox-input{padding-right:12px}
.product-facet__filters .drawer__content{padding:0;overflow:hidden;background: #f7f9fa;z-index:1}
.product-facet__filters .collapsible-toggle svg.icon.icon--chevron{display:none}
.product-facet__filters{top:0;background:white;border-width:0}
.product-facet__filters .product-facet__filter-item{border:none!important;margin-bottom:5px}
.product-facet__filters .collapsible-toggle{font-size:14px!important;font-weight:500!important;line-height:1;color: #4e5358;padding:12px 18px;border-radius:0!important}
.product-facet__filters .collapsible-toggle[aria-expanded=true]{font-weight:600!important;position: relative;}
.product-facet__filters .collapsible-toggle[aria-expanded=true]::after {content: '';position: absolute;left: 0;width: 4px;height: 100%;background: #399a7d;}
sort-by-popover#sort-by-popover .popover__content {padding-top: 0;}
.product-facet__filters .checkbox-color-swatch{width:15px;height:15px;border-radius:50%;margin-right:5px;border:1px solid #bdbdbd}
.product-facet__filters .checkbox-container{justify-content:space-between;margin-top:20px!important}
.product-facet__filters .checkbox-lable{display:flex;align-items:center}
.product-facet__filters .checkbox-lable label{font-weight:500;font-size:14px;line-height:17px;margin:0;color: #4e5358;}
.checkbox-container:has(.checkbox:checked) label{font-weight:600!important;color: #1a2024;}
.product-facet__filters .checkbox-lable .checkbox{background:#f8f8f8;border:1px solid #bdbdbd;border-radius:2px}
.product-facet__filters .checkbox-input span{font-weight:500;font-size:13px;line-height:15px;color:#4e5358;margin-right:5px}
.product-facet__filters .checkbox-container:first-child{margin:0!important}
.product-facet__filters .drawer__header_inner{display:flex;width:100%;justify-content:center}
.product-facet__filters .drawer__title svg{margin-right:5px}
#facet-filters .drawer__footer{position:absolute;width:100%;bottom:0%;display: flex;flex-direction: row-reverse;padding-block: 4vh; background: white;justify-content: space-between;}
.product-facet__filters .collapsible-toggle__selected-value{display:none}
.product-facet__filters .product-facet__active-list [data-action=clear-filters]{display:none}
.product-facet__filters .drawer .product-facet__active-list{margin:10px 10px 0}
.checkbox-container:has(input[disabled]) {display: none;}
#facet-filters .checkbox{border-radius:4px;border-color: #4e5358;}
#facet-filters .checkbox:checked{border-color:#399a7d;background-color:#399a7d;}
facet-filters header.drawer__header{background:#fff;color:#000;}
facet-filters p.drawer__title.heading.h6{margin-left: 16px;font-size:16px;font-weight:500;color:#1a2024}
facet-filters .drawer__header .drawer__close-button{right: 8px;color:#1a2024;background: #d0d9de;
  {% comment %} height: 24px;width: 24px; {% endcomment %}
}
facet-filters button.drawer__close-button.tap-area svg{width: unset;}
facet-filters a.drawer__header-action.link.text--subdued{display:none}
form#facet-filters-form{height:100%}
.range-group .range::-webkit-slider-runnable-track{background:#888;}
a.button[data-action="clear-filters"] {background: #d0d9de;border-radius: 10px!important;height: 48px;margin-right: 8px;}
button.product-facet__meta-bar-item.product-facet__meta-bar-item--filter svg.icon.icon--chevron {
  margin-left: 8px;
}

@media screen and (max-width:549px){
.price-tag-filter .tag{padding:7px 11px 8px 11px;margin:2px}
facet-filters#facet-filters {height: 88dvh;top: unset;width: 100%;bottom: 0;}
facet-filters.drawer[open]>.drawer__overlay {top: -12dvh;left: 0;right: -100vw;}
facet-filters.drawer.drawer--from-left [open] {transform: translateY(0);}
facet-filters.drawer--from-left {transform: translateY(100%);}
}

@media screen and (max-width:767px){
[dir=ltr] product-facet .drawer__close-button{top: 10px;}
a.button[data-action="clear-filters"] {padding-inline: 6vw;}
.price-tag-filter{display:flex;flex-wrap:wrap}
.price-tag-filter .tag{background:#2c2c2c;border-radius:5px;font-weight:600;font-size:14px;line-height:18px;letter-spacing:-.045em;color:#fff}
.price-tag-filter-container{display:block;background:#dcdcdc;border-radius:10px;padding:12px}
.price-tag-filter-container h3{font-weight:700;font-size:16px;line-height:20px;letter-spacing:-.035em;color:#000;margin-bottom:15px;margin-left:5px}
facet-filters header.drawer__header{ height: unset; padding-block: 16px 18px;}
}

@media screen and (min-width:550px){
  #facet-filters{top:0}
  .product-facet__filters header.drawer__header{height:56px!important}
  .product-facet__filters .checkbox-input span{font-weight:600;font-size:14px;line-height:17px;margin-right:13px}
  .product-facet__filters .checkbox-container{margin-top:28px!important}
  .product-facet__filters .drawer__header_inner{margin-left:18px}
  .drawer__header .drawer__close-button{right:29px}
  .product-facet__filters .drawer__header_inner{width:calc(92% - 10px)}
  .product-facet__active-list{display:flex!important}
  .product-facet__filters .product-facet__active-list{display:none!important}
}
@media(min-width:991px){
form#facet-filters-form{height:74dvh}
{% comment %} #facet-filters .button.button--primary.button--full{width:64%} {% endcomment %}
#facet-filters .drawer__footer{padding:0 8px;display:flex;flex-direction:row-reverse; padding-block: 5vh;background: white;:12px}
.product-facet__meta-bar-item.product-facet__meta-bar-item--filter,.product-facet__meta-bar-item.product-facet__meta-bar-item--sort{padding:10px 10px 8px;border-radius:8px;border:solid 1px #e2ebef;background-color:#eff4f7;}
}

@media(min-width:1200px){
.product-list__inner{grid-template-columns:1fr 1fr 1fr;grid-auto-rows:200px}
.more-colors{font-size:10px}
sort-by-popover .popover__header{display:none}
.product-horizontal{width:70%;margin-bottom:14px}
nav.breadcrumb.breadcrumb--floating.text--xsmall.hidden-phone{display:none}
}
@media(min-width:1400px){
.product-horizontal{width:60%}
}
</style>

<section>
  <div class="container">
      <h1 class="heading h1">
        <split-lines>{{ collection.title }}</split-lines>
      </h1> 
    {%- if template contains 'flash' and settings.enable_flash_sale -%}
      <div class="flash_sale">
        <p class="m-0 text-uppercase flash_text">
          <span class="thunder">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-fill" viewBox="0 0 16 16">
              <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5z"/>
            </svg>
          </span>
          &nbsp;
        </p>
        {% render 'flashsale-timer', title: {{settings.flash_timer_text}}, end_date: settings.flash_end_date %}
      </div>
    {%- endif -%}
    <product-facet section-id="{{ section.id }}" class="product-facet">
      {%- if section.settings.show_filters and collection.filters != empty -%}
        {%- if section.settings.filter_position == 'always_visible' -%}
          <div class="product-facet__aside">
            <safe-sticky offset="30" class="product-facet__aside-inner">
              <div class="product-facet__filters-header hidden-pocket">
                <p class="heading {% if settings.heading_text_transform == 'uppercase' %}h6{% else %}h5{% endif %}">{{ 'collection.general.filters' | t }}</p>
              </div>

              {%- render 'facet-filters', filters: collection.filters, filters_position: section.settings.filter_position -%}
            </safe-sticky>
          </div>
        {%- else -%}
          {%- render 'facet-filters', filters: collection.filters, filters_position: section.settings.filter_position -%}
        {%- endif -%}
      {%- endif -%}
	  
      <div id="facet-main" class="product-facet__main anchor" role="region" aria-live="polite">
        {%- if collection.products_count > 0 -%}
          <div class="product-facet__meta-bar anchor">

            {%- if section.settings.filter_position == 'drawer' and section.settings.show_filters and collection.filters != empty -%}
              <button type="submit" is="toggle-button" class="product-facet__meta-bar-item product-facet__meta-bar-item--filter hidden-pocket" aria-controls="facet-filters" aria-expanded="false">
                {%- render 'icon' with 'filters', inline: true -%} {{- 'collection.general.show_filters' | t -}}    {%- render 'icon' with 'chevron' -%}{% if active_filters_count > 0 %}<span class="product-facet__active-count bubble-count">{{ active_filters_count }}</span>{% endif %}
              </button>
            {%- endif -%}

            <span class="product-facet__meta-bar-item product-facet__meta-bar-item--count visually-hidden" role="status">{{ 'collection.general.products_count' | t: count: collection.products_count }}</span>

            {%- if section.settings.show_sort_by -%}
              <div class="product-facet__meta-bar-item product-facet__meta-bar-item--sort">
                <img alt="sort-by" width="12" height="12" class="icon mr-1 hidden-pocket" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/sort_2_1.png?v=1675078334">
                <span class="product-facet__sort-by-title text--subdued hidden-pocket">
                  {{ 'collection.general.sort_by' | t }} :
                </span>

                <div class="popover-container">
                  {%- for option in collection.sort_options -%}
                    {%- if option.value == collection_sort_by -%}
                      {%- assign collection_sort_by_name = option.name -%}
                      {%- break -%}
                    {%- endif -%}
                  {%- endfor -%}

                  <button type="button" is="toggle-button" class="popover-button hidden-pocket" aria-expanded="false" aria-controls="sort-by-popover">
                    <span id="sort-by-selected-value" style="pointer-events: none">{{- collection_sort_by_name -}}</span>
                    {%- render 'icon' with 'chevron', inline: true -%}
                  </button>

                  <sort-by-popover id="sort-by-popover" class="popover">
                    <span class="popover__overlay"></span>

                    <header class="popover__header">
                      <span class="popover__title heading h6">
                        {%- render 'icon' with 'sort-by', inline: true -%}

                        {{- 'collection.general.sort_by' | t -}}</span>

                      <button type="button" class="popover__close-button tap-area tap-area--large" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
                        {%- render 'icon' with 'close' -%}
                      </button>
                    </header>

                    <div class="popover__content">
                      <div class="popover__choice-list">
                        {%- for sort_option in collection.sort_options -%}
                          {% unless sort_option.value contains 'created-ascending' or sort_option.value contains 'created-descending' %}
                           <label class="popover__choice-item">
                             <input type="radio" data-bind-value="sort-by-selected-value" class="visually-hidden" {% if sort_option.value == collection_sort_by %}checked="checked"{% endif %} name="sort_by" value="{{ sort_option.value }}" title="{{ sort_option.name }}">
                             <span class="popover__choice-label">{{ sort_option.name }}</span>
                           </label>
                          {% endunless %}
                        {%- endfor -%}
                      </div>
                    </div>
                  </sort-by-popover>
                </div>
              </div>
            {%- endif -%}
          </div>

          {%- if active_filters_count > 0 -%}
            <div class="product-facet__active-list tag-list hidden-tablet-and-up">
              {%- render 'facet-active-filters', filters: collection.filters -%}
            </div>
          {%- endif -%}

          {%- paginate collection.products by section.settings.products_per_page -%}
            <product-list {% if settings.stagger_products_apparition %}stagger-apparition{% endif %} class="product-facet__product-list product-list anchor">
              {%- if section.settings.filter_position == 'always_visible' and section.settings.show_filters and collection.filters != empty -%}
                {%- assign sidebar_width = 305 -%}
              {% else %}
                {%- assign sidebar_width = 0 -%}
              {%- endif -%}

              <div class="product-list__inner item-horizontal {% if paginate.pages > 1 %}load-more__inner {% endif %}" id="Huratips_Loop">
                {%- assign desktop_number_of_products_minus_one = section.settings.desktop_products_per_row | minus: 1 -%}
                {%- assign gap_width = 24.0 | divided_by: section.settings.desktop_products_per_row | times: desktop_number_of_products_minus_one -%}
                {%- capture sizes_attribute -%}(max-width: 740px) calc({{ 100.0 | divided_by: section.settings.mobile_products_per_row | ceil }}vw - 24px), calc((min(100vw - 80px, 1520px) - {{ sidebar_width }}px) / {{ section.settings.desktop_products_per_row }} - {{ gap_width | ceil }}px){%- endcapture -%}

                {%- for product in collection.products -%}
                   {% unless product.handle == 'membership' %}
                     {% if section.settings.enable_price_slab %}
                        {% if forloop.index == 3 %}
                          <div class="price-tag-filter-container">
                            <h3>Sort By Price Range</h3>
                            <div class="price-tag-filter">
                              {%- for block in section.blocks -%}
                                {%- if block.type == 'filters' -%}
                                  <div class="tag" data-min="{{ block.settings.min_price }}" data-max="{{ block.settings.max_price }}" class="price-tag-filter-item">{{ block.settings.min_price | prepend: '₹' }} - {{ block.settings.max_price | prepend: '₹' }} </div>
                                {%- endif -%}
                              {%- endfor -%}
                            </div>
                          </div> 
                        {% endif %}
                      {% endif %}
                      {%- render 'product-item2.0', product: product, collection: collection, block: block, sizes_attribute: sizes_attribute, reveal: settings.stagger_products_apparition -%}
                   {% endunless %}
                  

                  {% if forloop.index == 11 and paginate.current_page == 1 %}
                    {%- if collection.metafields.custom.mobile_separator_image_slider -%}
                      {%- assign all_banners = collection.metafields.custom.mobile_separator_image_slider | split: "," -%}
                      <div class="collection_separator_banner " style="grid-row: span 2;">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                          <ol class="carousel-indicators">
                            {% for single_banner in all_banners %}
                              {% assign dots_num = forloop.index | minus: 1 %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{dots_num}}" class="{% if forloop.first %}active{% endif %}"></li>
                            {% endfor %}
                          </ol>
                          <div class="carousel-inner">
                            {% for single_banner in all_banners %}
                              <div class="carousel-item{% if forloop.first %} active{% endif %}">
                                <img alt="collection-banner" src="{{ single_banner }}" class="collection_single_image d-block" style="border-radius: 10px;"/>
                              </div>
                            {% endfor %}
                         </div>
                        </div>
                      </div>
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
              </div>
          {% if paginate.pages > 1 %}
            <input type="hidden" value="{{ paginate.next.url }}" data-next-url>
            <input type="hidden" value="{{ paginate.pages }}" data-total-pages>
            <input type="hidden" value="{{ paginate.current_page }}" data-current-page>
            <div class="load-more_wrap">
              <button class="btn js-load-more">
                <span class="load-more-icon" loader>
                  <img class="lazyload" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/final-loader.gif?v=1670845994" alt="Load More" style="width: 50px;" />
                </span>
              </button>
          {% endif %}
          {%- comment -%}{%- render 'pagination', paginate: paginate, use_ajax: true -%}{%- endcomment -%}
          {%- endpaginate -%}


        {%- else -%}
          <div class="empty-state">
            {%- if collection.all_products_count == 0 -%}
              <h3 class="heading h4">{{ 'collection.general.empty_title' | t }}</h3>
              <p>{{ 'collection.general.empty_label' | t }}</p>

              <div class="button-wrapper">
                <a href="{{ routes.all_products_collection_url }}" class="button button--primary">{{ 'collection.general.empty_button' | t }}</a>
              </div>
            {%- else -%}
              <h3 class="heading h4">{{ 'collection.general.no_results_title' | t }}</h3>
              <p>{{ 'collection.general.no_results_label' | t }}</p>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </product-facet>
  </div>
</section>
  {% if collection.metafields.custom.schema %}
  <style>
    .productpage-container .product-ans, .collection-description .productpage-container p {font-size: unset;opacity: 1;}
    .new-productPart-footer .productpage-container{max-width:700px;margin:auto}
    .new-productPart-footer .ac-tabs-new{margin:30px 0}
    .new-productPart-footer .product-ques{font-weight:700;color:#000!important;cursor:pointer;line-height:normal;position:relative;padding-right:47px}
    .new-productPart-footer .product-ans{display:none;padding-bottom:20px;line-height:1.4;padding-right:12px;text-align:justify;font-size:14px;font-weight:500}
    .new-productPart-footer .ac-tab-new{margin:0 0 15px;border-bottom:1px solid #ccc; color:black;}
    .new-productPart-footer span.icon-faq{position:absolute;right:10px;top:50%;transform:translateY(-50%);max-width:15px!important}
    .new-productPart-footer span.collapsed{transform:translateY(-50%) rotate(180deg)}
    .new-productPart-footer span.icon-faq img{width:20px}
  </style>
  <script>
        // FAQs block JS
      $(document).ready(function() {
        $("p.product-ques").append(`<span class="expand icon-faq"><img alt="down-arrow" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/down-arrow.png?v=1611821970"></span>`)
        $("p.product-ques").click(function () {
          $(this).next(".product-ans").slideToggle("fast");
          $(this).find(".icon-faq").toggleClass("collapsed").removeClass("expand");
          $(this).closest(".ac-tab-new").siblings(".ac-tab-new").find(".product-ans").slideUp("fast");
          $(this).closest(".ac-tab-new").siblings(".ac-tab-new").find(".icon-faq").removeClass("collapsed").addClass("expand");
        })
        if ($(".new-productpart-footer-content .ac-tab-new").length > 7) {
          $(".new-productpart-footer-content .ac-col").append('<div class="view-more-faqs"><span class="outer-text"><span class="more-text">View More</span><img alt="down-arrow" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/down-arrow.png?v=1611821970" /></span></div>')
        }
        $('.new-productpart-footer-content .ac-tab-new:gt(6)').hide();
        $('.view-more-faqs span.outer-text').click(function () {
          $('.view-more-faqs span.more-text').text(function (i, text) {
            return text === "View More" ? "View Less" : "View More";
          })
          $('.new-productpart-footer-content .ac-tab-new:gt(6)').slideToggle(200);
          if ($('.view-more-faqs span.more-text').text() == "View Less") {
            $('.view-more-faqs img').addClass("rotated");
          }
          else {
            $('.view-more-faqs img').removeClass("rotated");
          }
        });
      })
      </script>
    <script type="application/ld+json">
       {{ collection.metafields.custom.schema }}
    </script>
    {% endif %}



{% schema %}
{
  "name": "Collection page",
  "class": "shopify-section--main-collection",
  "blocks": [
    {
      "type": "filters",
      "name": "price slab",
      "settings": [
        {
          "type": "number",
          "id": "min_price",
          "label": "Min Price"
        },
        {
          "type": "number",
          "id": "max_price",
          "label": "Max Price"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "show_sort_by",
      "label": "Show sort by",
      "default": true
    },
    {
      "type": "range",
      "id": "products_per_page",
      "label": "Products per page",
      "min": 9,
      "max": 50,
      "step": 1,
      "default": 24
    },
    {
      "type": "select",
      "id": "mobile_products_per_row",
      "label": "Products per row (mobile)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "1"
    },
    {
      "type": "range",
      "min": 3,
      "max": 5,
      "id": "desktop_products_per_row",
      "label": "Products per row (desktop)",
      "default": 3
    },
    {
      "type": "header",
      "content": "Filters"
    },
    {
      "type": "checkbox",
      "id": "show_filters",
      "label": "Show filters",
      "info": "[Customize filters](/admin/menus)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_filter_group_name",
      "label": "Show group name",
      "info": "Group name will be shown inside selected filters.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_color_swatch",
      "label": "Show filter color swatch",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "open_first_filter_group",
      "label": "Open first group by default",
      "default": false
    },
    {
      "type": "select",
      "id": "filter_position",
      "label": "Position",
      "options": [
        {
          "value": "always_visible",
          "label": "Always visible"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "always_visible"
    },
    {
      "type": "header",
      "content": "Price slab Filters",
      "info": "Enable price slab filter and set its position."
    },
    {
      "type": "checkbox",
      "id": "enable_price_slab",
      "label": "Enable price slab filter",
      "default": true
    },
    {
      "type": "range",
      "id": "price_slab_position",
      "label": "Price slab position",
      "min": 0,
      "max": 12,
      "step": 1,
      "default": 2
    }
  ]
}
{% endschema %}