<div class="marquee-text section-id-{{ section.id }} pt-4">
  <p class="text-center" style="font-size: 29px;">
    <marquee scrollamount="10">
      {% for i in (1..3) %}
      <span class="text-stroke">{{ section.settings.text1 }}</span>
      <span class="text-white">{{ section.settings.text2 }}</span>
      <span class="text-stroke">{{ section.settings.text3 }}</span>
      <span class="text-stroke">{{ section.settings.text4 }}</span>
      <span class="text-white">{{ section.settings.text5 }}</span>
      <span class="text-stroke">{{ section.settings.text6 }}</span>
      <span class="text-stroke">{{ section.settings.text7 }}</span>
      <span class="text-stroke">{{ section.settings.text8 }}</span>
      {% endfor %}
    </marquee>
  </p>
</div>


{% schema %}
  {
    "name": "Marquee Text",
    "settings": [
		{
          "type": "text",
          "id": "text1",
          "label": "Text 1",
          "default": "Marque Text"
        },
        {
          "type": "text",
          "id": "text2",
          "label": "Text 2",
          "default": "Marque Text"
        },
        {
          "type": "text",
          "id": "text3",
          "label": "Text 3",
          "default": "Marque Text"
        },
        {
          "type": "text",
          "id": "text4",
          "label": "Text 4",
          "default": "Marque Text"
        },
		{
          "type": "text",
          "id": "text5",
          "label": "Text 5",
          "default": "Marque Text"
        },
        {
          "type": "text",
          "id": "text6",
          "label": "Text 6",
          "default": "Marque Text"
        },
        {
          "type": "text",
          "id": "text7",
          "label": "Text 7",
          "default": "Marque Text"
        },
        {
          "type": "text",
          "id": "text8",
          "label": "Text 8",
          "default": "Marque Text"
        }
	],
	"presets": [
      {
        "name": "Marquee Text",
        "category": "text"
		}
        
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
