 <cart-drawer section="{{ section.id }}" id="mini-cart" class="mini-cart drawer drawer--large">
      <span class="drawer__overlay"></span>
  
        <header class="drawer__header">
          <div class="" style="font-size: 10px;line-height: 13px;padding-right: 16px;">{{section.settings.cart_announcement}}</div>
  
          <button type="button" class="drawer__close-button tap-area" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
            {%- render 'icon' with 'close' -%}
          </button>
        </header>
      <p class="drawer__title heading h6" style="padding: 12px 12px 0;color: #2B2B2B;font-weight: 600;font-size: 14px;">
        Your cart

      {% comment %}     
      <span class="ms-3">{%- if cart.item_count == 0 -%}
        {%- else -%}
      ( {{- cart.item_count -}} )
      {%- endif -%}</span>
      {% endcomment %}
        <input class="cart--count" value="{{cart.item_count}}" type="hidden">
      </p>
        {%- if cart.item_count == 0 -%}
          <div class="drawer__content drawer__content--center">
            <p>{{ 'cart.general.empty' | t }}</p>
  
            <div class="button-wrapper">
              <a href="{{ section.settings.empty_button_link }}" class="button button--primary">{{ 'cart.general.start_shopping' | t }}</a>
            </div>
          </div>
        {%- else -%}
          <div class="drawer__content">
            {%- if settings.cart_show_free_shipping_threshold and settings.cart_free_shipping_threshold != '' -%}
              {%- assign free_shipping_thresholds = settings.cart_free_shipping_threshold | remove: ' ' | split: ',' -%}
              {%- assign has_found_matching_threshold = false -%}
  
              {%- if free_shipping_thresholds.size > 1 -%}
                {%- for threshold in free_shipping_thresholds -%}
                  {%- assign threshold_parts = threshold | split: ':' -%}
                  {%- assign currency_code = threshold_parts | first | upcase -%}
  
                  {%- if currency_code == cart.currency.iso_code -%}
                    {%- assign free_shipping_calculated_threshold = threshold_parts | last -%}
                    {%- assign has_found_matching_threshold = true -%}
                    {%- break -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- else -%}
                {%- assign free_shipping_calculated_threshold = free_shipping_thresholds | last -%}
                {%- assign has_found_matching_threshold = true -%}
              {%- endif -%}
  
              {%- if has_found_matching_threshold -%}
                {%- assign threshold_in_cents = free_shipping_calculated_threshold | times: 100 -%}
  
                <free-shipping-bar threshold="{{ threshold_in_cents }}" class="shipping-bar" style="--progress: {{ cart.total_price | times: 1.0 | divided_by: threshold_in_cents | at_most: 1 }}">
                  {%- if cart.total_price >= threshold_in_cents -%}
                    <span class="shipping-bar__text text--small">{{ 'cart.general.free_shipping' | t }}</span>
                  {%- else -%}
                    {%- capture remaining_amount -%}{{ cart.total_price | minus: threshold_in_cents | abs | money }}{%- endcapture -%}
                    <span class="shipping-bar__text text--small">{{ 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount }}</span>
                  {%- endif -%}
  
                  <span class="shipping-bar__progress"></span>
                </free-shipping-bar>
              {%- endif -%}
            {%- endif -%}
  
            <form id="mini-cart-form" action="{{ routes.cart_url }}" novalidate method="post"  data-cart_items="{{ line_item.product }}">
              <input type="hidden" name="checkout">
  
              {%- for line_item in cart.items -%}
                <line-item class="line-item" data-item-id="{{ line_item.id }}">
                  <div class="line-item__content-wrapper">
                    <a href="{{ line_item.url }}" class="line-item__image-wrapper" tabindex="-1" aria-hidden="true">
                      <span class="line-item__loader" hidden>
                        <span class="line-item__loader-spinner spinner" hidden>{% render 'icon' with 'spinner', width: 16, height: 16, stroke_width: 6 %}</span>
                        <span class="line-item__loader-mark" hidden>{% render 'icon' with 'check', width: 20, height: 20 %}</span>
                      </span>
  
                      <img class="line-item__image" loading="sizes" sizes="(max-width: 740px) 80px, 92px" {% render 'image-attributes', image: line_item.image, sizes: '80,92,160,184,240,276' %}>
                    </a>
  
                    {%- capture unit_price -%}
                      {%- if line_item.unit_price_measurement -%}
                        <div class="price text--subdued">
                          <div class="unit-price-measurement">
                            <span class="unit-price-measurement__price">{{ line_item.unit_price | money | replace: 'Rs.', '₹' }}</span>
                            <span class="unit-price-measurement__separator">/</span>
  
                            {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                              <span class="unit-price-measurement__reference-value">{{ line_item.unit_price_measurement.reference_value }}</span>
                            {%- endif -%}
  
                            <span class="unit-price-measurement__reference-unit">{{ line_item.unit_price_measurement.reference_unit }}</span>
                          </div>
                        </div>
                      {%- endif -%}
                    {%- endcapture -%}
  
                    {%- capture line_price -%}
                      {%- comment -%}
                      IMPLEMENTATION NOTE: The designer wanted to show the "compare at price" on cart. In case an automatic discount is applied
                        to a line item though, the "real" discount takes precedence over the compare at price
                      {%- endcomment -%}
  
                      <span class="price {% if line_item.original_line_price > line_item.final_line_price or line_item.final_line_price == 0 or line_item.variant.compare_at_price > line_item.variant.price %}price--highlight{% endif %}">
                        <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
  
                        {%- if line_item.final_line_price == 0 -%}
                          {{- 'cart.general.free' | t -}}
                        {%- else -%}
                          {{- line_item.final_line_price | money | replace: 'Rs.', '₹' -}}
                        {%- endif -%}
                      </span>
  
                      {%- if line_item.original_line_price > line_item.final_line_price or line_item.variant.compare_at_price > line_item.variant.price -%}
                        <span class="price price--compare line-through">
                          <span class="visually-hidden">{{ 'product.general.regular_price' | t | replace: 'Rs.', '₹' }}</span>
  
                          {%- if line_item.original_line_price > line_item.final_line_price -%}
                            {{- line_item.original_line_price | money | replace: 'Rs.', '₹' -}}
                          {%- else -%}
                            {{- line_item.variant.compare_at_price | times: line_item.quantity | money | replace: 'Rs.', '₹' -}}
                          {%- endif -%}
                        </span>
                      {%- endif -%}
                    {%- endcapture -%}
  
                    <div class="line-item__info">
                      <div class="product-item-meta">
                        {%- if settings.show_vendor -%}
                          {%- assign vendor_handle = line_item.vendor | handle -%}
                          {%- assign collection_for_vendor = collections[vendor_handle] -%}
  
                          {%- unless collection_for_vendor.empty? -%}
                            <a class="product-item-meta__vendor heading heading--xxsmall" href="{{ collection_for_vendor.url }}">{{ line_item.vendor }}</a>
                            {%- else -%}
                            <a class="product-item-meta__vendor heading heading--xxsmall" href="{{ line_item.vendor | url_for_vendor }}">{{ line_item.vendor }}</a>
                          {%- endunless -%}
                        {%- endif -%}
  
                        <a href="{{ line_item.url }}" data-product_id="{{line_item.product.id}}" data-product_type="{{line_item.product.type}}" class="product-item-meta__title text--small">
                          {{ line_item.product.title | split: "|" | first | split: "," | first }}</a>
  
                        {%- capture line_item_properties -%}
                          {%- unless line_item.product.has_only_default_variant -%}
                            <span class="product-item-meta__property text--subdued text--xsmall">{{ line_item.variant.option1 | camelcase  }}</span>
                          {%- endunless -%}
  
                          {%- if line_item.selling_plan_allocation -%}
                            <span class="product-item-meta__property text--subdued text--xsmall">{{ line_item.selling_plan_allocation.selling_plan.name }}</span>
                          {%- endif -%}
  
                        {% comment %}
                          {%- unless line_item.properties == blank -%}
                            <ul class="product-item-meta__property list--unstyled text--subdued text--xsmall" role="list">
                              {%- for property in line_item.properties -%}
                                {%- assign first_character_in_key = property.first | truncate: 1, '' -%}
  
                                {%- if property.last == blank or first_character_in_key == '_' -%}
                                  {%- continue -%}
                                {%- endif -%}
  
                                <li class="{{ property.first }}">{{ property.first }}: {{ property.last }}</li>
                              {%- endfor -%}
                            </ul>
                          {%- endunless -%}
                        {% endcomment %}
                        {%- endcapture -%}
  
  
  
                        <div class="product-item-meta__price-list-container text--small">
                          <div class="price-list">
                            {{- line_price -}}
                            {{- unit_price -}}
  
                          </div>
  
                          {%- if unit_price != blank -%}
                            <div class="price-list hidden-phone">
                              {{- unit_price -}}
                            </div>
                          {%- endif -%}
  
                        </div>
  
                      </div>
                      <div class="edit-cart visually-hidden">
                      <select name="updates[]" data-product-id="{{line_item.product.id}}" >
                        {% for variant in line_item.product.variants %}
                        <option id="{{variant.id}}" value="{{variant.id}}" {% if variant.inventory_quantity == 0 %}disabled{% endif %}>{{variant.option1}}</option>
                        {% endfor %}
                      </select>
                    </div>
                      {%- if line_item_properties != blank -%}
                        <div class="product-item-meta__property-list">
                          {{- line_item_properties -}}
                        </div>
                      {%- endif -%}
                      {%- if line_item.line_level_discount_allocations != blank -%}
                        <ul class="line-item__discount-list list--unstyled" role="list">
                          {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                            <li class="line-item__discount-badge discount-badge">
                              {%- render 'icon' with 'discount-badge' -%}{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
  
                      {%- assign max_allowed_quantity = '' -%}
                      {%- assign allow_more = true -%}
  
                      {%- if line_item.variant.inventory_management == 'shopify' and line_item.variant.inventory_policy == 'deny' and line_item.variant.inventory_quantity <= line_item.quantity -%}
                        {%- assign max_allowed_quantity = line_item.variant.inventory_quantity -%}
                        {%- assign allow_more = false -%}
                      {%- endif -%}
  
                      <line-item-quantity class="line-item__quantity">
                        <div class="quantity-selector">
                          <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | minus: 1 }}&line={{ forloop.index }}" class="quantity-selector__button" aria-label="{{ 'cart.general.decrease_quantity' | t | escape }}" data-no-instant>
                            {%- render 'icon' with 'minus' -%}
                          </a>
  
                          <input is="input-number" readonly class="quantity-selector__input text--xsmall" autocomplete="off" type="text" inputmode="numeric" name="updates[]" data-line="{{ forloop.index }}" value="{{ line_item.quantity }}" {% if max_allowed_quantity != '' %}max="{{ max_allowed_quantity }}"{% else %}max=""{% endif %} size="{{ line_item.quantity | append: '' | size | at_least: 2 }}" aria-label="{{ 'cart.general.change_quantity' | t | escape }}">
                          {%- if line_item.product.metafields.set.quantity_limit == 1 -%}
                            <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | plus: 1 }}&line={{ forloop.index }}" class="quantity-selector__button {% if line_item.quantity > 0 %}unusable{% endif %}" aria-label="{{ 'cart.general.increase_quantity' | t | escape }}" data-no-instant>
                              {%- render 'icon' with 'plus' -%}
                            </a>
                          {%- elsif line_item.product.metafields.set.quantity_limit == 2 -%}
                            <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | plus: 1 }}&line={{ forloop.index }}" class="quantity-selector__button {% if line_item.quantity > 1 %}unusable{% endif %}" aria-label="{{ 'cart.general.increase_quantity' | t | escape }}" data-no-instant>
                              {%- render 'icon' with 'plus' -%}
                            </a>
                          {%- elsif line_item.product.metafields.set.quantity_limit == 3 -%}
                            <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | plus: 1 }}&line={{ forloop.index }}" class="quantity-selector__button {% if line_item.quantity > 2 %}unusable{% endif %}" aria-label="{{ 'cart.general.increase_quantity' | t | escape }}" data-no-instant>
                              {%- render 'icon' with 'plus' -%}
                            </a>
                          {%- elsif line_item.product.metafields.set.quantity_limit == 4 -%}
                            <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | plus: 1 }}&line={{ forloop.index }}" class="quantity-selector__button {% if line_item.quantity > 3 %}unusable{% endif %}" aria-label="{{ 'cart.general.increase_quantity' | t | escape }}" data-no-instant>
                              {%- render 'icon' with 'plus' -%}
                            </a>
                          {%- elsif line_item.product.metafields.set.quantity_limit == 5 -%}
                            <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | plus: 1 }}&line={{ forloop.index }}" class="quantity-selector__button {% if line_item.quantity > 4 %}unusable{% endif %}" aria-label="{{ 'cart.general.increase_quantity' | t | escape }}" data-no-instant>
                              {%- render 'icon' with 'plus' -%}
                            </a>
                          {%- elsif line_item.product.metafields.set.quantity_limit == 6 -%}
                            <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | plus: 1 }}&line={{ forloop.index }}" class="quantity-selector__button {% if line_item.quantity > 5 %}unusable{% endif %}" aria-label="{{ 'cart.general.increase_quantity' | t | escape }}" data-no-instant>
                              {%- render 'icon' with 'plus' -%}
                            </a>
                          {% else %}
                            {%- if allow_more -%}
                              <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | plus: 1 }}&line={{ forloop.index }}" class="quantity-selector__button {% if line_item.quantity > 6666 %}unusable{% endif %}" aria-label="{{ 'cart.general.increase_quantity' | t | escape }}" data-no-instant>
                                {%- render 'icon' with 'plus' -%}
                              </a>
  
                            {%- else -%}
                              <span class="quantity-selector__button" aria-label="{{ 'cart.general.no_more_stock' | t | escape }}" data-tooltip="{{ 'cart.general.no_more_stock' | t | escape }}">
                                {%- render 'icon' with 'plus' -%}
                              </span>
                            {%- endif -%}
                          {%- endif -%}

                        </div>
                        {% comment %} <a href="{{ line_item.url_to_remove }}" class="line-item__remove-button link text--subdued text--xxsmall" data-no-instant><img width="16px;" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Group_1_93145e45-8530-46aa-9fb8-6768cc3d80d2.png?v=1633783107"></a>                  {% endcomment %}
                      </line-item-quantity>
                      {% if line_item.product.metafields.set.quantity_limit == 1 and line_item.quantity > 1 %}
                          <small class="qty-error-msg text-red mt-2">Not more than 1 unit are allowed for this item.</small>
                      {% elsif line_item.product.metafields.set.quantity_limit == 2 and line_item.quantity > 2 %}
                          <small class="qty-error-msg text-red mt-2">Not more than 2 units are allowed for this item.</small>
                      {% elsif line_item.product.metafields.set.quantity_limit == 3 and line_item.quantity > 3 %}
                          <small class="qty-error-msg text-red mt-2">Not more than 3 units are allowed for this item.</small>
                      {% elsif line_item.product.metafields.set.quantity_limit == 4 and line_item.quantity > 4 %}
                          <small class="qty-error-msg text-red mt-2">Not more than 4 units are allowed for this item.</small>
                      {% elsif line_item.product.metafields.set.quantity_limit == 5 and line_item.quantity > 5 %}
                          <small class="qty-error-msg text-red mt-2">Not more than 5 units are allowed for this item.</small>
                      {% elsif line_item.product.metafields.set.quantity_limit == 6 and line_item.quantity > 6 %}
                          <small class="qty-error-msg text-red mt-2">Not more than 6 units are allowed for this item.</small>
                      {% else %}
                        {% if line_item.quantity > 66666 %}
                          <small class="qty-error-msg text-red mt-2">Not more than 7 units are allowed for this item.</small>
                        {% endif %}  
                      {% endif %}
                    </div>
                  </div>
  
                  {% if line_item.product.variants.size > 1 %}
                      <p class="margin visually-hidden">More than one variants.</p>
                  {% endif %}

                </line-item>
              {%- endfor -%}
            </form>
          {% render 'freebie-cart_gift' %} 
  
            {%- if section.settings.show_recommendations -%}
              {% for item in cart.items %}
                {% if item.product.tags contains 'gift-box' %}
                  {% assign gift-box_quantity = item.quantity | minus: cart.item_count %}
                {% endif %}
             {% endfor %}
             {% if gift-box_quantity >= 0 %}
              <style>.gift-box {display: block !important}</style>
             {% else %}
              <style>.gift-box {display: none !important}</style>
             {% endif %}  
              <cart-drawer-recommendations section-id="{{ section.id }}" product-id="{{ cart.items.first.product_id }}" class="mini-cart__recommendations">
                {%- assign acceptable_recommendations_count = 0 -%}
  
                {%- for product in recommendations.products -%}
           
                  {%- assign matching_product = cart.items | where: 'product_id', product.id | first -%}
  
                  {%- if matching_product == blank -%}
                    {%- assign acceptable_recommendations_count = acceptable_recommendations_count | plus: 1 -%}
                  {%- endif -%}
      
                {%- endfor -%}
  
                {%- if recommendations.performed -%}
                  {%- if acceptable_recommendations_count > 0 -%}
                    <div class="mini-cart__recommendations-inner">
                      {%- if section.settings.recommendations_title != blank -%}

                      {%- endif -%}
  
                      <div class="scroller">
                        <div class="scroller__inner">
                          <div class="mini-cart__recommendations-list d-block">
                            {%- assign shown_products_count = 0 -%}
  
                            {%- for product in collections['gift-box'].products -%}
              
                              {%- if shown_products_count >= 6 -%}
                                {%- break -%}
                              {%- endif -%}
  
                              {%- assign matching_product = cart.items | where: 'product_id', product.id -%}
  
                              {%- if matching_product.size == 0 -%}
                                <span class="mini-cart__recommendations-heading heading heading--small hidden-pocket">
                                   {{ section.settings.recommendations_title | escape }}

                               </span>

                               <span class="mini-cart__recommendations-heading heading heading--xsmall text--subdued hidden-lap-and-up">
                                    {{ section.settings.recommendations_title | escape }}
                                  <span class="gst-container">
                                     <svg xmlns="http://www.w3.org/2000/svg" version="1" width="16" height="16" viewBox="0 0 20 20">
                                       <path fill="black" d="M10 0C4.483 0 0 4.483 0 10s4.483 10 10 10 10-4.483 10-10S15.517 0 10 0zm0 18c-4.417 0-8-3.583-8-8s3.583-8 8-8 8 3.583 8 8-3.583 8-8 8zM9.833 5.75c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0 1.067l.983 1v6.1H12.3v2H9.8l-.983-.967V8.817H7.483v-2h2.35z" />
                                     </svg>
                                     <span class="gst-icon-detail gst_style">
                                      <p>Products may be delivered from different warehouses subject to availability</p>
                                     </span>
                                  </span>
                               </span>
                                 {%- assign shown_products_count = shown_products_count | plus: 1 -%}
                                   {%- render 'product-item', product: product, reduced_content: true, reduced_font_size: true, hide_secondary_image: true, sizes_attribute: '(max-width: 740px) 65px, 92px' -%}
                              {%- else -%}
                                   <p class="gift-box" style="display:none;">Gift box in your cart is the outer packaging box that can beused for gifting purposes. It does not contain any boAt product inside it.</p>
                              {%- endif -%}
                           {%- endfor -%}
                          </div>
                        </div>
                      </div>
                    </div>
                  {%- endif -%}
                {%- else -%}
                 <div class="mini-cart__recommendations-inner">
                 <div class="spinner">
                  {%- render 'icon' with 'spinner', stroke_width: 3, width: 40, height: 40 -%}
                 </div>
                 </div>
               {%- endif -%}
             </cart-drawer-recommendations>
           {%- endif -%} 
         
</div>
          <footer class="mini-cart__drawer-footer drawer__footer drawer__footer--tight drawer__footer--bordered">
            {% comment %} <input class="gstin_number" id="GSTIN_yes" type="hidden" name="checkout[attributes][CustomerGSTIN]" value="">
            <div class="gstin_main_container">
              <h2 class="gst-heading">Your GST Information&nbsp;
                <svg xmlns="http://www.w3.org/2000/svg" version="1" width="11" height="11" viewBox="0 0 20 20"><path fill="black" d="M10 0C4.483 0 0 4.483 0 10s4.483 10 10 10 10-4.483 10-10S15.517 0 10 0zm0 18c-4.417 0-8-3.583-8-8s3.583-8 8-8 8 3.583 8 8-3.583 8-8 8zM9.833 5.75c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0 1.067l.983 1v6.1H12.3v2H9.8l-.983-.967V8.817H7.483v-2h2.35z"/></svg>
                <div class="gst-icon-detail">
                  <p>Billing name &amp; billing address on invoice will be the name &amp; principal place of business address registered with GST portal. Shipping name &amp; shipping address can be changed to your choice.</p>
                </div>
              </h2>
              <div class="gstin_container">
                <input class="gstin_input" type="text" placeholder="GSTIN" name="GSTIN" value="">
                <details>
                <summary class="gst-button" gstAdded="false">Validate</summary>
                <div class="gst-popup-container">
                  <header>
                  <h2>Your GST Details</h2>
                  <span> Your Invoice will have below details as billing name & billing address </span>
                  </header>
                  <div class="gst-details-container">
                    <div class="billing_name"><div><p>Name: </p></div><p class="name"></p></div>
                    <div class="billing_address_container"><div><p>Address: </p></div>
                    <p class="address"></p>
                    </div>
                  </div>
                <button class="gstin-confirm" type="button"> CONFIRM</button>
                </div>
              </details>
            </div>
            <div class="gst-popup-details"></div> <p class="gst_error"></p></div> {% endcomment %}
          <div class="mini-cart__gst">
            <div class="gst-container">
             <label class="check_container">
                Get GST Invoice <svg xmlns="http://www.w3.org/2000/svg" version="1" width="15" height="15" viewBox="0 0 20 20"><path fill="black" d="M10 0C4.483 0 0 4.483 0 10s4.483 10 10 10 10-4.483 10-10S15.517 0 10 0zm0 18c-4.417 0-8-3.583-8-8s3.583-8 8-8 8 3.583 8 8-3.583 8-8 8zM9.833 5.75c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0 1.067l.983 1v6.1H12.3v2H9.8l-.983-.967V8.817H7.483v-2h2.35z"/></svg>
               <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <div class="gst-icon-detail">
               <p>Billing name & billing address on invoice will be the name & principal place of business address registered with GST portal. Shipping name & shipping address can be changed to your choice.</p>
              </div>
             </div>
          </div>


        <div class="mini-cart_footer_container">
            {%- capture shipping_tax_note -%}{{ 'cart.general.shipping_tax_note' | t }}{%- endcapture -%}
            {% comment %}
            <div class="cart-coupon visually-hidden">
              <div class="coupon-text">
                <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/coupon-code_1.png?v=1650373547" />
                <div id="discount-code" style="display: flex; border: 2px dotted #00000070; border-radius: 100px; height: 2.5rem; width: 82%; padding-left: 1rem;background: #ff000012;">
                  <input type="text" id="coupon-code-text" placeholder="Discount Code">
                  <input type="submit" value="Apply" id="coupon-apply" onclick=handleapplyclick()>
                </div>
              </div>
              {%comment%}
              {% for block in section.blocks %}
              {% case block.type %}
              {% when 'available-offers' %}
              <h4 class="avai-coupons">AVAILABLE COUPONS</h4>
  
              {%break%}
              {% endcase %}
              {%endfor%}
              {%endcomment%}
              <div class="available-offers">
                <form name="offer-coupons" id="offer-coupons">
                  {% for block in section.blocks %}
                  {% case block.type %}
                  {% when 'available-offers' %}
                  <style>
                    .available-offers {
                      display: block
                    }
                  </style>
                  <div class="select-coupon">
                    <input type="radio" name="available-offers" id="{{block.settings.offer}}"
                           value="{{block.settings.offer}}">
                    <label for="{{block.settings.offer}}">
                      <div class="offer-body" {{ block.shopify_attributes }}>
                        <div class="code-details">
                          <div class="code_cou">{{block.settings.offer}}</div>
                          <div class="code_usp">{{block.settings.offer-usp}}</div>
                        </div>
                        <p class="code-desc">{{block.settings.offer-details}}</p>
                      </div>
                    </label><br>
                  </div>
                  {% endcase %}
                  {%endfor%}
                </form>
              </div>
            </div> 
            {% endcomment %}
            <div class="discount-price">
              <p class="coupon-d">Coupon Discount</p>
              <p class="coupon-p">Rs 0</p>
            </div>
            {%- if cart.cart_level_discount_applications != blank -%}
              <ul class="mini-cart__discount-list list--unstyled" role="list">
                {%- for discount_application in cart.cart_level_discount_applications -%}
                  <li class="mini-cart__discount">
                    <span class="mini-cart__discount-badge discount-badge">{%- render 'icon' with 'discount-badge' -%}{{ discount_application.title }}</span>
                    <span class="mini-cart__discount-price text--xsmall text--subdued">-{{ discount_application.total_allocated_amount | money }}</span>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
            {%- comment -%}
            {%- if section.settings.show_order_note or shipping_tax_note != '' -%}
              <div class="mini-cart__actions text--subdued text--xsmall">
                {%- if section.settings.show_order_note -%}
                  <button type="button" is="toggle-button" id="order-note-toggle" class="link" data-action="toggle-order-note" aria-controls="mini-cart-note" aria-expanded="false">
                    {%- if cart.note == blank -%}
                      {{- 'cart.general.add_order_note' | t -}}
                    {%- else -%}
                      {{- 'cart.general.edit_order_note' | t -}}
                    {%- endif -%}
                  </button>
                {%- endif -%}
  
                {%- if shipping_tax_note != '' -%}
                  <span>{{ shipping_tax_note }}</span>
                {%- endif -%}
              </div>
            {%- endif -%}
            {%- endcomment -%}

  
        {%- if section.settings.show_checkout_button -%}
              {% if cart.total_price <= 4900000 %}
                  {%- assign magic_ok = true -%}
                  {%- assign only_gk = false -%}
                  {%- assign is_validation_ok = true -%}
                  {%- assign qty_error_msg = 'Please Modify your cart to proceed.' -%}
                  {%- assign product_limit_ok = true -%}
                  {%- assign product_flash = false -%}
                        {% for line_item in cart.items %}
                  {% if line_item.product.tags contains 'prebooking' %} 
                    {%- assign magic_ok = false -%}
                  {% endif %}
                  {% if line_item.product.tags contains 'flash-sale' %}
                    {%- assign product_flash = true -%}
                  {% endif %}
                  {% if line_item.product.tags contains 'GK-Only' %}
                    {%- assign only_gk = true -%}
                  {% endif %}
            
                      {% if line_item.product.metafields.set.quantity_limit == 1 and line_item.quantity > 1 %}
                          {%- assign product_limit_ok = false -%}
                      {% endif %}
                      {%- if line_item.product.metafields.set.quantity_limit == 2 and line_item.quantity > 2 -%}
                          {%- assign product_limit_ok = false -%}
                      {% endif %}
                      {%- if line_item.product.metafields.set.quantity_limit == 3 and line_item.quantity > 3 -%}
                          {%- assign product_limit_ok = false -%}
                      {% endif %}
                      {%- if line_item.product.metafields.set.quantity_limit == 4 and line_item.quantity > 4 -%}
                          {%- assign product_limit_ok = false -%}
                      {% endif %}
                      {%- if line_item.product.metafields.set.quantity_limit == 5 and line_item.quantity > 5 -%}
                          {%- assign product_limit_ok = false -%}
                      {% endif %}
                      {%- if line_item.product.metafields.set.quantity_limit == 6 and line_item.quantity > 6 -%}
                          {%- assign product_limit_ok = false -%}
                      {% endif %}
                     {% if line_item.quantity > 777777 %}
                          {%- assign is_validation_ok = false -%}
                      {% endif %}
                  {% endfor %}

                  <div class="mini-cart_footer d-flex">
                    <div class="d-flex cart-total-box" style="width: 40%;">
                    <div class="d-flex flex-column mr-3" >
                      <span class="cart-total"> <b>Subtotal</b></span>
                      <input class="cart-total" value="{{cart.total_price | divided_by: 100}}" type="hidden">
                      <span class="cart-total-text"><b>{{- cart.total_price | money_with_currency | replace: 'Rs.', '₹' | replace: '.00', '' -}}</b></span>
                    </div>
                    <div>
                    <span class="gst-container">
                      <svg xmlns="http://www.w3.org/2000/svg" version="1" width="16" height="16" viewBox="0 0 20 20">
                       <path fill="black" d="M10 0C4.483 0 0 4.483 0 10s4.483 10 10 10 10-4.483 10-10S15.517 0 10 0zm0 18c-4.417 0-8-3.583-8-8s3.583-8 8-8 8 3.583 8 8-3.583 8-8 8zM9.833 5.75c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0 1.067l.983 1v6.1H12.3v2H9.8l-.983-.967V8.817H7.483v-2h2.35z" />
                      </svg>
                     <span class="total-icon-detail">
                       <p> Shipping: <b>FREE</b></p>
                     </span>
                   </span>
                    </div>
                  </div>
                  {% if is_validation_ok == true and product_limit_ok == true and only_gk == true %}
                      <div class=" checkout-buttons-div">
                        {% render 'only-gokwik' %}
                      </div>
                  {% elsif is_validation_ok == true and product_limit_ok == true and only_gk == false %}
                    <div class=" checkout-buttons-div">
                      {% render 'gokwik-checkout' %}
                      {%- comment -%} {%- if magic_ok == true -%}               
                        <div class="razorpay-checkout">
                          <button type="button" onclick="openRzpCheckout(event)">
                              <span class="btn-text">
                                  <span>PAY VIA CARD/OTHERS</span>
                               </span>
                          </button>
                        </div>
                      {%- endif -%} {%- endcomment -%}
                    </div>
                  {% else %}
              <p class="cart-val-error" style="margin-bottom: 12px !important">{{- qty_error_msg -}}</p>
                  {% endif %}
              {%- else -%}
              <p class="cart-val-error" style="margin-bottom: 12px !important">Your cart value should be less than <strong>Rs.49000/-!</strong> Modify your cart to proceed.</p>
              {% endif %}
            {%- else -%}
              <a href="{{ routes.cart_url }}" class="button button--primary button--full" data-no-instant>{{ 'cart.general.go_to_cart' | t }}</a>
            {%- endif -%}
  
          </div>
        </div>
          </footer>
        {%- endif -%}
  
        {%- if section.settings.show_order_note -%}
          <openable-element id="mini-cart-note" class="mini-cart__order-note">
            <span class="openable__overlay"></span>
            <label for="cart[note]" class="mini-cart__order-note-title heading heading--xsmall">{{- 'cart.general.add_order_note' | t -}}</label>
            <textarea is="cart-note" name="note" id="cart[note]" rows="3" aria-owns="order-note-toggle" class="input__field input__field--textarea" placeholder="{{ 'cart.general.order_note_placeholder' | t }}">{{ cart.note }}</textarea>
            <button type="button" data-action="close" class="form__submit form__submit--closer button button--secondary">{{ 'cart.general.order_note_save' | t }}</button>
          </openable-element>
        {%- endif -%}
      </cart-drawer>
  
 
  <!--       freebie-offer -->
  {% assign gift-product = collections['freebie-offer'].products[0] %}
  {% assign gift-product_variant = gift-product.variants[0].id %}

  <script>
   {% comment %} if(document.readyState === 'loading') {console.log("loading");}{% endcomment %}
    $(window).on("load", function(){
    // $('.custom-gift-button')[0] ? $('.custom-gift-button')[0].click() : '';
    let giftId = "{{ gift-product_variant }}";
    var cartItem;
    var onloadfreeqnty = 0;
    jQuery.getJSON('/cart.js', function(cart) {
     cartItem = cart.items;
     let onloadfreeItems = cartItem.filter(item => item.properties && item.properties.Free);
     $(onloadfreeItems).each(function(ind, el){
      onloadfreeqnty += el.quantity;
     })
     console.log("onloadfreeqnty", onloadfreeqnty)
    })
  
  const targNode = document.getElementById('mini-cart');
  const config_ = { attributes: false, childList: true, subtree: false };
  const callback_ = (mutationList, observer) => {
   for (const mutation of mutationList) {
    let updatedqnty = 0;
    jQuery.getJSON('/cart.js', function(cart) {
       cartI = cart.items;
       let updatedfreeitems = cartI.filter(item => item.properties && item.properties.Free);
       $(updatedfreeitems).each(function(ind, el){
        updatedqnty += el.quantity;
       })
       console.log("onloadfreeqnty", onloadfreeqnty, "updatedqnty",updatedqnty)
       if(updatedqnty > onloadfreeqnty) {
       console.log("add free product");  $('.custom-gift-button')[0].click();  onloadfreeqnty += 1;
       }
       else if (updatedqnty < onloadfreeqnty){
        console.log("remove free product");
        $('#mini-cart-form .line-item').each(function() {
         let dataItemId = $(this).data('item-id');
         if (dataItemId == giftId){
           $(`.line-item[data-item-id="${dataItemId}"] a.line-item__remove-button`)[0].click();
         }
        });
        onloadfreeqnty -= 1;
       }
    })
   {% comment %} 
     let total_price = parseInt($('.mini-cart__drawer-footer .cart-total-text')[0].textContent.replace( /^\D+/g, '' ).replace(/,/g,"").slice(0,-3));
     console.log('price',total_price);
     if ($('.custom-gift-button').length > 0) {$('.custom-gift-button')[0].click();}
     $('#mini-cart-form .line-item').each(function() 
     let dataItemId = $(this).data('item-id');
     if (dataItemId == giftId){
        let remove_price = $(`.line-item[data-item-id="${dataItemId}"] .price.price--highlight`).text().replace( /^\D+/g, '' ).replace(/,/g,"").slice(0,-3);
        $(`.line-item[data-item-id="${dataItemId}"] ul, .line-item[data-item-id="${dataItemId}"] span.price.price--compare.line-through`).each(function() {$(this).css("display", "none") })
         if(total_price - remove_price < 1000) {
          $(`.line-item[data-item-id="${dataItemId}"] a.line-item__remove-button`)[0].click();
         }
      }
     })
    {% endcomment %}
   }
  };
  const observer_ = new MutationObserver(callback_);
  observer_.observe(targNode, config_);
  
  {% comment %}
    const customer_id = "{{customer.id}}"
    $('#mini-cart-form .line-item').each(function() {
     let dataItemId = $(this).data('item-id');
      if (dataItemId == giftId){
         if(customer_id.trim().length == 0) {
           $(`.line-item[data-item-id="${dataItemId}"] a.line-item__remove-button`)[0].click();
          }
        }
    })
   {% endcomment %}
    /* $(".razorpay-checkout").click(function () {
      let productsincart = line_item.product;
      clevertap.event.push("razor/magic Button Clicked",{
        "cart products": productsincart,
        "Amount": cart_total_price
      });
    }); */
  });
  /* $(".razorpay-checkout").click(function () {
    let productsincart = line_item.product;
    clevertap.event.push("razor/magic Button Clicked",{
      "cart products": productsincart,
      "Amount": cart_total_price
    });
  }); */
  function gstDetail(gst_buttom, gstIn, gstInVal) {
    if (sessionStorage.gstin && sessionStorage.gstin !== '') {
      gst_buttom.text('Change');
      gstIn.css('pointer-events', 'none');
      gst_buttom.attr('gstadded', 'true');
      $('.gstin_number').val(gstInVal);
      $('.gstin_container details').removeAttr('open');
      $('.gstin_main_container .gst-popup-details').html(
        `<p> ${sessionStorage.gst_billing_name} </p><p> ${sessionStorage.gst_billing_address} ${sessionStorage.gst_billing_city} ${sessionStorage.gst_billing_state} ${sessionStorage.gst_billing_pincode} </p>`
      );
    }
  }

  let gst_buttom = $('.gst-button');
  let gstIn = $('.gstin_input');
  let gstInVal = sessionStorage.getItem('gstin');
  gstDetail(gst_buttom, gstIn, gstInVal);
  gstIn.val(gstInVal);
  $('.gstin_container .gst-button').click(function (e) {
    e.preventDefault();
    let gstInput = $(this).parent().siblings('input').val();
    if ($(this).attr('gstadded') == 'true') {
      $(this).parent().siblings('input').removeAttr('style');
      $(this).text('Validate');
      $(this).attr('gstadded', 'false');
    } else {
      if ($('.gstin_input').val().length < 15 || $('.gstin_input').val().length > 15) {
        $('.gst_error').html('GSTIN must be 15 characters');
      } else {
        $.ajax({
          type: 'GET',
          url: 'https://api-gst.boat-lifestyle.com/api/checkgst',
          data: {
            gstin: gstInput,
          },
          success: function (data) {
            console.log(data, 'data');
            if (data.message == 'The provided GST number is valid and here are the details') {
              console.log('GST no valid');
              sessionStorage.setItem('gstin', gstInput);
              let res = data.response;
              let address = res.pradr.addr;
              $('.gstin_container details').attr('open', 'true');
              $('.gst_error').html('');
              $('.billing_name .name').html(res.tradeNam);
              $('.billing_address_container .address')
                .html(`<span>${address.bno}</span> <span>${address.flno}</span> <span>${address.bnm}</span> <span>${address.st}</span> <span>${address.dst}</span>
      <span>${address.stcd}</span> - <span>${address.pncd}</span>`);

              sessionStorage.setItem('gst_billing_name', res.tradeNam);
              sessionStorage.setItem(
                'gst_billing_address',
                `${address.bno} ${address.flno} ${address.bnm} ${address.st}`
              );
              sessionStorage.setItem('gst_billing_city', `${address.dst}`);
              sessionStorage.setItem('gst_billing_state', `${address.stcd}`);
              sessionStorage.setItem('gst_billing_pincode', `${address.pncd}`);
            } else if (data.message == 'The provided GST number is invalid') {
              console.log('GST no Invalid');
              $('.gst_error').html(data.message);
            }
          },
          error: function () {
            console.log('error');
          },
          dataType: 'json',
        });
      }
    }
  });
 $('.gstin_container .gstin-confirm').click(function () {
   let gst_buttom = $(this).parent().siblings('.gst-button');
   let gstIn = $(this).parent().parent().siblings('input');
   let gstInVal = gstIn.val();
   gstDetail(gst_buttom, gstIn, gstInVal);
 });
  </script>
  
  {% schema %}
      {
        "name": "Cart drawer",
        "class": "shopify-section--mini-cart",
        "settings": [
          {
            "type": "paragraph",
            "content": "Free shipping notice can be configured in global cart settings."
          },
          {
            "type": "html",
            "id": "cart_announcement",
            "label": "announcement",
            "default": "Free Shipping, COD Available"
          },
          {
            "type": "checkbox",
            "id": "show_order_note",
            "label": "Show order note",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_checkout_button",
            "label": "Show checkout button",
            "default": true
          },
          {
            "type": "url",
            "id": "empty_button_link",
            "label": "Empty button link",
            "default": "/collections/all"
          },
          {
            "type": "header",
            "content": "Cross-sell",
            "info": "Dynamic recommendations are based on the items in your cart. They change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)"
          },
          {
            "type": "checkbox",
            "id": "show_recommendations",
            "label": "Show cart recommendations",
            "default": true
          },
          {
            "type": "text",
            "id": "recommendations_title",
            "label": "Recommendations heading",
            "default": "You may also like"
          }
        ]
      }
  {% endschema %}