<cart-drawer section="{{ section.id }}" id="mini-cart" class="mini-cart drawer drawer--large">
  <span class="drawer__overlay"></span>

    <header class="drawer__header visually-hidden">
      <div class="" style="font-size: 10px;line-height: 13px;padding-right: 16px;">{{section.settings.cart_announcement}}</div>

      <button type="button" class="drawer__close-button tap-area" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
        {%- render 'icon' with 'close' -%}
      </button>
    </header>
    {% for line_item in cart.items %}
      {% assign purple_msg_check = false %}
        {% if line_item.product.tags contains 'IPurpleUu' %}
          {% assign purple_msg_check = true %}
          
          {% break %}
        {%- endif -%}
    {% endfor %}
  <p class="drawer__title heading h6" style="padding: 12px 12px;color: #2B2B2B;font-weight: 600;font-size: 20px;">
    {% comment %} info: Removed cart icon in 2.0 {% endcomment %}
    {% comment %} <img width="20" height="20" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Cart_7e68f099-c0bf-4966-a9ef-14d1a3af07ad.png?v=1673260730">&nbsp; {% endcomment %}
    
    <span style="padding:6px 0 0 6px;">Your Cart 
      {% comment %} {% if cart.item_count > 0 %}• {{cart.item_count}} Items {% endif %} {% endcomment %}
    </span>

   {% comment %} <span class="ms-3">{%- if cart.item_count == 0 -%}
    {%- else -%}
    ( {{- cart.item_count -}} )
     {%- endif -%}</span>{% endcomment %}
    <input class="cart--count" value="{{cart.item_count}}" type="hidden"> 
  </p>

    {%- if cart.item_count == 0 -%}
      <div class="drawer__content drawer__content--center">
        <svg xmlns="http://www.w3.org/2000/svg" width="112.731" height="124.316" viewBox="0 0 112.731 124.316"><g transform="translate(-3235.117 6880.904)"><path d="M509.34,3199.823a.947.947,0,0,1-.947-.947v-11.064a19.073,19.073,0,1,0-38.146,0v11.064a.947.947,0,0,1-1.894,0v-11.064a21.145,21.145,0,0,1,6.085-14.89,20.882,20.882,0,0,1,22.993-4.559,21.1,21.1,0,0,1,12.857,19.449v11.064A.947.947,0,0,1,509.34,3199.823Z" transform="translate(2799.417 -10047.617)" fill="#4e5358"/><path d="M521.3,3254.225a.306.306,0,0,1-.137-.58,3.165,3.165,0,0,0,.457-.287,2.115,2.115,0,0,1,.791-.4.306.306,0,0,1,.148.594,1.522,1.522,0,0,0-.582.3,3.688,3.688,0,0,1-.541.337A.3.3,0,0,1,521.3,3254.225Z" transform="translate(2815.908 -10020.475)" fill="#4e5358"/><g transform="translate(1018.755 -698.496)"><path d="M459.184,3175.473l-14.666,1.042-.2,106.408,15.187,2.169Z" transform="translate(1772.545 -9346.648)" fill="#d0d9de"/><path d="M459.683,3174.936l.323,110.732-16.189-2.312.2-107.307ZM459,3284.515l-.317-108.506-13.669.971-.2,105.508Z" transform="translate(1772.545 -9346.648)" fill="#4e5358"/><path d="M459.7,3174.386l-16,1.074v94.6l.036,15.031,16.028,2.862h.136Z" transform="translate(1787.925 -9346.648)" fill="#d0d9de"/><path d="M460.2,3173.852l.2,114.6h-.681l-.044-.008-16.439-2.936-.037-15.448v-95.069l.466-.031Zm-.8,113.53-.2-112.46-15,1.007v94.133l.035,14.612Z" transform="translate(1787.925 -9346.648)" fill="#4e5358"/></g><g transform="translate(3266.214 -6869.684)"><path d="M548.666,3175.46l-80.906-.082.084,113.638,80.69-6.159v-107.4Z" transform="translate(-467.4 -3176.46)" fill="#fff"/><path d="M467.259,3174.878h.5l80.906.082v.5h.368v107.86l-.462.035-81.228,6.2v-.539Zm80.775,1.081-79.774-.08.083,112.6,79.691-6.083Z" transform="translate(-467.4 -3176.46)" fill="#4e5358"/></g><path d="M472.15,3263.515l-28.419-4.646,14.146-10.568Z" transform="translate(2792.976 -10021.005)" fill="#868c91"/><path d="M473.521,3264.246l-31.032-5.073,15.446-11.54Zm-28.548-5.68,25.806,4.219-12.961-13.816Z" transform="translate(2792.976 -10021.005)" fill="#4e5358"/><path d="M483.283,3196.426a4.083,4.083,0,1,0-4.083-4.083A4.1,4.1,0,0,0,483.283,3196.426Z" transform="translate(2802.558 -10041.086)" fill="#c7d2dd"/><path d="M513.683,3196.426a4.083,4.083,0,1,0-4.083-4.083A4.192,4.192,0,0,0,513.683,3196.426Z" transform="translate(2812.197 -10041.086)" fill="#c7d2dd"/><path d="M522.34,3199.823a.947.947,0,0,1-.947-.947v-11.064a19.074,19.074,0,1,0-38.146,0v11.064a.947.947,0,0,1-1.894,0v-11.064a21.145,21.145,0,0,1,6.085-14.89,20.882,20.882,0,0,1,22.993-4.559,21.1,21.1,0,0,1,12.857,19.449v11.064A.947.947,0,0,1,522.34,3199.823Z" transform="translate(2803.541 -10047.617)" fill="#4e5358"/><path d="M20.865,29.139l3.147-7.123L.777,22.9l3.812,6.906Zm-2.695-12.1L11.773.328,5.329,22.076Z" transform="translate(3297.439 -6829.365)" fill="#4e5358"/><path d="M22.032,31.149l-16.856.7L.812,23.946l4.822-.184L12.573.345l7.084,18.5L7.314,23.7,25.632,23ZM5.72,30.809l15.7-.647,2.694-6.1L2.461,24.9Zm6.971-27.46L6.943,22.757l11.459-4.5Z" transform="translate(3296.58 -6830.877)" fill="#4e5358"/></g></svg>
        <p style="font-size: 20px;font-weight: 600;color: #1a2024;margin-top:1.5rem;">Your cart is feeling lonely</p>
        <div class="button-wrapper">
          <a href="{{ section.settings.empty_button_link }}" class="button button--primary" style="background-color: #1a2024;
            border-radius: 10px!important;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: -0.64px;background-image: none;
            color: #fff;text-transform: capitalize;">{{ 'cart.general.start_shopping' | t }}</a>
        </div>
      </div>
    {%- else -%}
      <div class="drawer__content">
        {%- if settings.cart_show_free_shipping_threshold and settings.cart_free_shipping_threshold != '' -%}
          {%- assign free_shipping_thresholds = settings.cart_free_shipping_threshold | remove: ' ' | split: ',' -%}
          {%- assign has_found_matching_threshold = false -%}

          {%- if free_shipping_thresholds.size > 1 -%}
            {%- for threshold in free_shipping_thresholds -%}
              {%- assign threshold_parts = threshold | split: ':' -%}
              {%- assign currency_code = threshold_parts | first | upcase -%}

              {%- if currency_code == cart.currency.iso_code -%}
                {%- assign free_shipping_calculated_threshold = threshold_parts | last -%}
                {%- assign has_found_matching_threshold = true -%}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
          {%- else -%}
            {%- assign free_shipping_calculated_threshold = free_shipping_thresholds | last -%}
            {%- assign has_found_matching_threshold = true -%}
          {%- endif -%}

          {%- if has_found_matching_threshold -%}
            {%- assign threshold_in_cents = free_shipping_calculated_threshold | times: 100 -%}

            <free-shipping-bar threshold="{{ threshold_in_cents }}" class="shipping-bar" style="--progress: {{ cart.total_price | times: 1.0 | divided_by: threshold_in_cents | at_most: 1 }}">
              {%- if cart.total_price >= threshold_in_cents -%}
                <span class="shipping-bar__text text--small">{{ 'cart.general.free_shipping' | t }}</span>
              {%- else -%}
                {%- capture remaining_amount -%}{{ cart.total_price | minus: threshold_in_cents | abs | money }}{%- endcapture -%}
                <span class="shipping-bar__text text--small">{{ 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount }}</span>
              {%- endif -%}

              <span class="shipping-bar__progress"></span>
            </free-shipping-bar>
          {%- endif -%}
        {%- endif -%}

        <form id="mini-cart-form" action="{{ routes.cart_url }}" novalidate method="post"  data-cart_items="{{ line_item.product }}">

          {%- if section.settings.show_promise_strip -%}
            <div class="container c-new mini-cart-icons p-0" style="background:#f7f9fa;">
              <div class="section__color-wrapper promise-icons">
                  <div class="mySect py-2">
                      <div class="img-row text-center row justify-content-around pb-1 pb-lg-0" style="max-width: 100%;margin: auto;">
                          {% for block in section.blocks %}
                              <div class="col-2 pipe p-0">
                                  <div class="row myIconRow">
                                      <div class="col-md-6 myIcon">
                                          <img alt="" loading="lazy" src="{{block.settings.image | img_url }}">
                                      </div>
                                      <div class="col-md-6 myText">
                                          <p class="mb-0">{{ block.settings.collection_Title }}</p>
                                      </div>
                                  </div>
                              </div>
                          {% endfor %}
                      </div>
                  </div>
              </div>
            </div>
          {%- endif -%}

          <input type="hidden" name="checkout">
          {% assign total_discount_amount = 0 %}
          {%- for line_item in cart.items -%}
            
            <line-item class="line-item" data-item-id="{{ line_item.id }}" data-itemkey="{{ line_item.key }}">
              <div class="line-item__content-wrapper">
                  {% comment %} <input type="hidden" name="properties[PersonalisedMessage]" value="test">
                <span class="update-prop" data-itemkey="{{ line_item.key }}">Update Prop</span> {% endcomment %}
                <a href="{{ line_item.url }}" class="line-item__image-wrapper" tabindex="-1" aria-hidden="true">
                  <span class="line-item__loader" hidden>
                    <span class="line-item__loader-spinner spinner" hidden>{% render 'icon' with 'spinner', width: 16, height: 16, stroke_width: 6 %}</span>
                    <span class="line-item__loader-mark" hidden>{% render 'icon' with 'check', width: 20, height: 20 %}</span>
                  </span>

                  <img class="line-item__image" loading="sizes" sizes="(max-width: 740px) 80px, 92px" {% render 'image-attributes', image: line_item.image, sizes: '80,92,160,184,240,276' %}>
                </a>

                {%- capture unit_price -%}
                  {%- if line_item.unit_price_measurement -%}
                    <div class="price text--subdued">
                      <div class="unit-price-measurement">
                        <span class="unit-price-measurement__price">{{ line_item.unit_price | money | replace: 'Rs.', '₹' }}</span>
                        <span class="unit-price-measurement__separator">/</span>

                        {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                          <span class="unit-price-measurement__reference-value">{{ line_item.unit_price_measurement.reference_value }}</span>
                        {%- endif -%}

                        <span class="unit-price-measurement__reference-unit">{{ line_item.unit_price_measurement.reference_unit }}</span>
                      </div>
                    </div>
                  {%- endif -%}
                {%- endcapture -%}

                {%- capture line_price -%}
                  {%- comment -%}
                  IMPLEMENTATION NOTE: The designer wanted to show the "compare at price" on cart. In case an automatic discount is applied
                    to a line item though, the "real" discount takes precedence over the compare at price
                  {%- endcomment -%}

                  <span class="price {% if line_item.original_line_price > line_item.final_line_price or line_item.final_line_price == 0 or line_item.variant.compare_at_price > line_item.variant.price %}price--highlight{% endif %}">
                    <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

                    {%- if line_item.final_line_price == 0 -%}
                      {{- 'cart.general.free' | t -}}
                    {%- else -%}
                      {{- line_item.final_line_price | money_without_trailing_zeros | replace: 'Rs.', '₹' -}}
                    {%- endif -%}
                  </span>

                  {% comment %} info: Regular price not required in 2.0 UI {% endcomment %}

                  {% comment %} {%- if line_item.original_line_price > line_item.final_line_price or line_item.variant.compare_at_price > line_item.variant.price -%}
                    <span class="price price--compare line-through">
                      <span class="visually-hidden">{{ 'product.general.regular_price' | t | replace: 'Rs.', '₹' }}</span>

                      {%- if line_item.original_line_price > line_item.final_line_price -%}
                        {{- line_item.original_line_price | money | replace: 'Rs.', '₹' -}}
                      {%- else -%}
                        {{- line_item.variant.compare_at_price | times: line_item.quantity | money | replace: 'Rs.', '₹' -}}
                      {%- endif -%}
                    </span>
                  {%- endif -%} {% endcomment %}


                {%- endcapture -%}

                <div class="line-item__info">
                  <div class="product-item-meta">
                    {%- if settings.show_vendor -%}
                      {%- assign vendor_handle = line_item.vendor | handle -%}
                      {%- assign collection_for_vendor = collections[vendor_handle] -%}

                      {%- unless collection_for_vendor.empty? -%}
                        <a class="product-item-meta__vendor heading heading--xxsmall" href="{{ collection_for_vendor.url }}">{{ line_item.vendor }}</a>
                        {%- else -%}
                        <a class="product-item-meta__vendor heading heading--xxsmall" href="{{ line_item.vendor | url_for_vendor }}">{{ line_item.vendor }}</a>
                      {%- endunless -%}
                    {%- endif -%}

                    <a href="{{ line_item.url }}" data-product_id="{{line_item.product.id}}" data-product_type="{{line_item.product.type}}" class="product-item-meta__title text--small">
                      {{ line_item.product.title | split: "|" | first | split: "," | first | remove: 'boAt' }}</a>

                    {%- capture line_item_properties -%}
                      {%- unless line_item.product.has_only_default_variant -%}
                        {% comment %} info: Removed variant color circle in boat-2.0-internal {% endcomment %}
                        <span class="cart_line_item_variant_color" style="background: {{ line_item.variant.metafields.my_fields.variantcolorcode }};"></span>
                        
                        <span class="product-item-meta__property text--subdued text--xsmall cart_line_item_variant_name">
                          {{ line_item.variant.option1 | camelcase  }}
                        </span>
                      {%- endunless -%}

                      {%- if line_item.selling_plan_allocation -%}
                        <span class="product-item-meta__property text--subdued text--xsmall">{{ line_item.selling_plan_allocation.selling_plan.name }}</span>
                      {%- endif -%}

                    {% comment %}
                      {%- unless line_item.properties == blank -%}
                        <ul class="product-item-meta__property list--unstyled text--subdued text--xsmall" role="list">
                          {%- for property in line_item.properties -%}
                            {%- assign first_character_in_key = property.first | truncate: 1, '' -%}

                            {%- if property.last == blank or first_character_in_key == '_' -%}
                              {%- continue -%}
                            {%- endif -%}

                            <li class="{{ property.first }}">{{ property.first }}: {{ property.last }}</li>
                          {%- endfor -%}
                        </ul>
                      {%- endunless -%}
                    {% endcomment %}
                    {%- endcapture -%}



                    <div class="product-item-meta__price-list-container text--small">
                      <div class="price-list">
                        {{- line_price -}}
                        {{- unit_price -}}

                      </div>

                      {%- if unit_price != blank -%}
                        <div class="price-list hidden-phone">
                          {{- unit_price -}}
                        </div>
                      {%- endif -%}

                    </div>
                      
                  </div>
                  <div class="edit-cart visually-hidden">
                  <select name="updates[]" data-product-id="{{line_item.product.id}}" >
                    {% for variant in line_item.product.variants %}
                    <option id="{{variant.id}}" value="{{variant.id}}" {% if variant.inventory_quantity == 0 %}disabled{% endif %}>{{variant.option1}}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="product_item-meta_wrapper">
                  {%- if line_item_properties != blank -%}
                    <div class="product-item-meta__property-list">
                      {{- line_item_properties -}}
                    </div>
                  {%- endif -%}
                  {%- if line_item.line_level_discount_allocations != blank -%}
                    <ul class="line-item__discount-list list--unstyled" role="list">
                      {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                        <li class="line-item__discount-badge discount-badge">
                          {%- render 'icon' with 'discount-badge' -%}{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%} 

                  {%- assign max_allowed_quantity = '' -%}
                  {%- assign allow_more = true -%}

                  {%- if line_item.variant.inventory_management == 'shopify' and line_item.variant.inventory_policy == 'deny' and line_item.variant.inventory_quantity <= line_item.quantity -%}
                    {%- assign max_allowed_quantity = line_item.variant.inventory_quantity -%}
                    {%- assign allow_more = false -%}
                  {%- endif -%}
                  {% if line_item.product.tags contains 'customized' %}
                    {% for p in line_item.properties %}
                      {% if p.last != blank and p.first == 'PersonalisedMessage' %}
                        <line-note class="customise-accordian" line={{ forloop.index }}>
                          <span>1 customization</span>
                          <span span class="downArrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="17" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg></span>
                        </line-note>
                      {% elsif p.last == blank and p.first == 'PersonalisedMessage' %}
                        {% comment %} <a href="{{line_item.url | append: '&personalizenow'}}" class="add-customization">Customize</a> {% endcomment %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                  <line-item-quantity class="line-item__quantity">
                    <div class="quantity-selector">
                      <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | minus: 1 }}&line={{ forloop.index }}" class="quantity-selector__button" aria-label="{{ 'cart.general.decrease_quantity' | t | escape }}" data-no-instant>
                        {%- render 'icon' with 'minus' -%}
                      </a>

                      <input is="input-number" readonly class="quantity-selector__input text--xsmall" autocomplete="off" type="text" inputmode="numeric" name="updates[]" data-line="{{ forloop.index }}" value="{{ line_item.quantity | prepend: '00' | slice: -2, 2 }}" {% if max_allowed_quantity != '' %}max="{{ max_allowed_quantity }}"{% else %}max=""{% endif %} size="{{ line_item.quantity | append: '' | size | at_least: 2 }}" aria-label="{{ 'cart.general.change_quantity' | t | escape }}">
                      {%- if line_item.product.metafields.set.quantity_limit == 1 -%}
                        <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | plus: 1 }}&line={{ forloop.index }}" class="quantity-selector__button {% if line_item.quantity > 0 %}unusable{% endif %}" aria-label="{{ 'cart.general.increase_quantity' | t | escape }}" data-no-instant>
                          {%- render 'icon' with 'plus' -%}
                        </a>
                      {%- elsif line_item.product.metafields.set.quantity_limit == 2 -%}
                        <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | plus: 1 }}&line={{ forloop.index }}" class="quantity-selector__button {% if line_item.quantity > 1 %}unusable{% endif %}" aria-label="{{ 'cart.general.increase_quantity' | t | escape }}" data-no-instant>
                          {%- render 'icon' with 'plus' -%}
                        </a>
                      {%- elsif line_item.product.metafields.set.quantity_limit == 3 -%}
                        <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | plus: 1 }}&line={{ forloop.index }}" class="quantity-selector__button {% if line_item.quantity > 2 %}unusable{% endif %}" aria-label="{{ 'cart.general.increase_quantity' | t | escape }}" data-no-instant>
                          {%- render 'icon' with 'plus' -%}
                        </a>
                      {%- elsif line_item.product.metafields.set.quantity_limit == 4 -%}
                        <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | plus: 1 }}&line={{ forloop.index }}" class="quantity-selector__button {% if line_item.quantity > 3 %}unusable{% endif %}" aria-label="{{ 'cart.general.increase_quantity' | t | escape }}" data-no-instant>
                          {%- render 'icon' with 'plus' -%}
                        </a>
                      {%- elsif line_item.product.metafields.set.quantity_limit == 5 -%}
                        <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | plus: 1 }}&line={{ forloop.index }}" class="quantity-selector__button {% if line_item.quantity > 4 %}unusable{% endif %}" aria-label="{{ 'cart.general.increase_quantity' | t | escape }}" data-no-instant>
                          {%- render 'icon' with 'plus' -%}
                        </a>
                      {%- elsif line_item.product.metafields.set.quantity_limit == 6 -%}
                        <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | plus: 1 }}&line={{ forloop.index }}" class="quantity-selector__button {% if line_item.quantity > 5 %}unusable{% endif %}" aria-label="{{ 'cart.general.increase_quantity' | t | escape }}" data-no-instant>
                          {%- render 'icon' with 'plus' -%}
                        </a>
                      {% else %}
                        {%- if allow_more -%}
                          <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | plus: 1 }}&line={{ forloop.index }}" class="quantity-selector__button {% if line_item.quantity > 6666 or line_item.product.tags contains 'customized' %}unusable{% endif %}" aria-label="{{ 'cart.general.increase_quantity' | t | escape }}" data-no-instant>
                            {%- render 'icon' with 'plus' -%}
                          </a>
                        {%- else -%}
                          <span class="quantity-selector__button" aria-label="{{ 'cart.general.no_more_stock' | t | escape }}" data-tooltip="{{ 'cart.general.no_more_stock' | t | escape }}">
                            {%- render 'icon' with 'plus' -%}
                          </span>
                        {%- endif -%}
                      {%- endif -%}

                    </div>
                  {% comment %} <a href="{{ line_item.url_to_remove }}" class="line-item__remove-button link text--subdued text--xxsmall" data-no-instant><img width="16px;" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Group_1_93145e45-8530-46aa-9fb8-6768cc3d80d2.png?v=1633783107"></a> {% endcomment %}
                  </line-item-quantity>

                </div>

                  {% if line_item.product.metafields.set.quantity_limit == 1 and line_item.quantity > 1 %}
                      <small class="qty-error-msg text-red mt-2">Not more than 1 unit are allowed for this item.</small>
                  {% elsif line_item.product.metafields.set.quantity_limit == 2 and line_item.quantity > 2 %}
                      <small class="qty-error-msg text-red mt-2">Not more than 2 units are allowed for this item.</small>
                  {% elsif line_item.product.metafields.set.quantity_limit == 3 and line_item.quantity > 3 %}
                      <small class="qty-error-msg text-red mt-2">Not more than 3 units are allowed for this item.</small>
                  {% elsif line_item.product.metafields.set.quantity_limit == 4 and line_item.quantity > 4 %}
                      <small class="qty-error-msg text-red mt-2">Not more than 4 units are allowed for this item.</small>
                  {% elsif line_item.product.metafields.set.quantity_limit == 5 and line_item.quantity > 5 %}
                      <small class="qty-error-msg text-red mt-2">Not more than 5 units are allowed for this item.</small>
                  {% elsif line_item.product.metafields.set.quantity_limit == 6 and line_item.quantity > 6 %}
                      <small class="qty-error-msg text-red mt-2">Not more than 6 units are allowed for this item.</small>
                  {% else %}
                    {% if line_item.quantity > 66666 %}
                      <small class="qty-error-msg text-red mt-2">Not more than 7 units are allowed for this item.</small>
                    {% endif %}  
                  {% endif %}
                </div>
              </div>

                {% for tag in line_item.product.tags %}
                  {% if tag contains 'gokwik_min_price_' %}
                    {% assign floor_price = tag | remove: 'gokwik_min_price_'  | plus: 0 %}
                    {% assign line_price = line_item.final_price | plus: 0 | divided_by: 100 %}
                    {% assign discount_amount = line_price | minus: floor_price %}
                    {% assign line_item_quantity = line_item.quantity %}
                    {% if line_item_quantity > 0 %}
                    {% if section.settings.select_discount_rule == 'line_item' and discount_amount > section.settings.discount_code_max_amount %}
                    {% assign discount_amount = section.settings.discount_code_max_amount %}
                    {% endif %}
                    {% assign discount_amount = discount_amount | times: line_item_quantity %}
                    {% endif %}
                    {% comment %} <p> {{ discount_amount }}</p> {% endcomment %}
                    {% assign total_discount_amount = total_discount_amount | plus: discount_amount %}
                  {% endif %}
                  
                {% endfor %}                 

              
            {% assign data-loop = forloop.index %}
      
              {% for p in line_item.properties %}
                        {% if p.last != blank and p.first == 'PersonalisedMessage' %}
                          <div class="personalised-msg-container visibility-hidden" line={{ data-loop }}>
                          <div class="personalised-msg-wrapper">
                          <div class="personalised-msg-content">
                          <p style="font-size:10px; font-weight: 500;padding-top:2px;line-height:normal;">{{ p.last | upcase }}</p>
                          <a href="{{ line_item.url }}&personalized&line-item={{ data-loop }}&msg={{ p.last }}" tabindex="-1" aria-hidden="true" class="personlized-anchor">
                          <span class="edit-msg">Edit</span>
                          </a>
                          </div>
                          <div class="personalised-msg-free">Free</div>
                          </div>
                          </div>
                        {% endif %}
                      {% endfor %}
            </line-item>
          {%- endfor -%}
          {% if total_discount_amount > 0 %}
          {% if section.settings.select_discount_rule == 'cart' and total_discount_amount > section.settings.discount_code_max_amount %}
            {% assign total_discount_amount = section.settings.discount_code_max_amount %}
          {% endif %}
          <p class="discount_details" style="display: none;" data-discountAmount="{{ total_discount_amount }}" data-discountCode="{{ section.settings.discount_code }}"></p>
            {% if section.settings.show_discount_msg %}
              <small class="discount-info">
              Get flat <b>₹{{- total_discount_amount -}}</b> Off by using <span class="cart-code" style="font-weight:bold">{{ section.settings.discount_code }}</span>
              </small>
            {% endif %}
         {% else %}
          {%- if purple_msg_check == true -%}
                <small class="discount-info" style="background:#4c218c;">Get flat <b>₹500</b> off by using <b>IPURPLEYOU</b></small>
          {% else %}
           <div class="payment_offers">
             <div class="offer_text">
               <span>₹15 off on All UPI Payments</span>
             </div>
             <div class="payment_icons">
               <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/paytm_icon_fa75a315-11a2-4c8e-a241-18af809eb683.svg?v=1682575951" class="single_payment_icon paytm_icon">
               <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/gpay_icon_503ebbda-a3e1-4659-af32-0686aecec227.svg?v=1682575951" class="single_payment_icon gpay_icon">
               <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/phone_pe_icon_f9872d32-f8cf-43ca-8fa2-78db125fcdad.svg?v=1682575951" class="single_payment_icon phonepe_icon">
             </div>
           </div>
          {% endif %}
       {% endif %}
       
        </form>

      {% comment %} info: No more required on 2.0 {% endcomment %}
      {% comment %} 
        <div  class="add-items" data-action="close">
          <div class="add-item-icon">
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m11 11h-7.25c-.414 0-.75.336-.75.75s.336.75.75.75h7.25v7.25c0 .414.336.75.75.75s.75-.336.75-.75v-7.25h7.25c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-7.25v-7.25c0-.414-.336-.75-.75-.75s-.75.336-.75.75z" fill-rule="nonzero"/></svg>
          </div>
          <div class="add-item-content">Add more items</div>
        </div> 
      {% endcomment %}

      <button type="button" class="drawer__close-button tap-area minicart_custom_close_btn" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
        <svg focusable="false" width="14" height="14" class="icon icon--close" viewBox="0 0 10 10">
          <path d="M13 13L1 1M13 1L1 13" stroke="currentColor" stroke-width="2" fill="none"></path>
        </svg>
      </button>
      {% render 'freebie-cart_gift' %}
        {%- if section.settings.show_recommendations -%}
          {% for item in cart.items %}
            {% if item.product.tags contains 'gift-box' %}
              {% assign gift-box_quantity = item.quantity | minus: cart.item_count %}
            {% endif %}
         {% endfor %}
         {% if gift-box_quantity >= 0 %}
          <style>.gift-box {display: block !important}</style>
         {% else %}
          <style>.gift-box {display: none !important}</style>
         {% endif %} 

          <cart-drawer-recommendations section-id="{{ section.id }}" product-id="{{ cart.items.first.product_id }}" class="mini-cart__recommendations">
            {%- assign acceptable_recommendations_count = 0 -%}

            <p class="frequently_bought_heading">Frequently Bought Together</p>

            {%- for product in recommendations.products -%}
       
              {%- assign matching_product = cart.items | where: 'product_id', product.id | first -%}

              {%- if matching_product == blank -%}
                {%- assign acceptable_recommendations_count = acceptable_recommendations_count | plus: 1 -%}
              {%- endif -%}
  
            {%- endfor -%}

            {%- if recommendations.performed -%}
              {%- if acceptable_recommendations_count > 0 -%}
                <div class="mini-cart__recommendations-inner">
                  {%- if section.settings.recommendations_title != blank -%}

                  {%- endif -%}

                  <div class="scroller">
                    <div class="scroller__inner">
                      <div class="mini-cart__recommendations-list d-flex">
                      {%- assign shown_products_count = 0 -%}

                      {%- assign matching_product_1 = cart.items | where: 'product_id', product.id -%}
                      {%- if matching_product_1.size == 0 -%}
                        <span class="mini-cart__recommendations-heading heading heading--small hidden-pocket">
                          {{ section.settings.recommendations_title | escape }}
                        </span>
                      {% endif %}

                        {%- for product in collections['wireless-earphones'].products -%}
          
                          {%- if shown_products_count >= 6 -%}
                            {%- break -%}
                          {%- endif -%}

                          {% comment %} info: Not required on 2.0 {% endcomment %}
                          {% comment %} 
                            <span class="mini-cart__recommendations-heading heading heading--xsmall text--subdued hidden-lap-and-up">
                                {{ section.settings.recommendations_title | escape }}
                              <span class="gst-container">
                                  <svg xmlns="http://www.w3.org/2000/svg" version="1" width="16" height="16" viewBox="0 0 20 20">
                                    <path fill="black" d="M10 0C4.483 0 0 4.483 0 10s4.483 10 10 10 10-4.483 10-10S15.517 0 10 0zm0 18c-4.417 0-8-3.583-8-8s3.583-8 8-8 8 3.583 8 8-3.583 8-8 8zM9.833 5.75c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0 1.067l.983 1v6.1H12.3v2H9.8l-.983-.967V8.817H7.483v-2h2.35z" />
                                  </svg>
                                  <span class="gst-icon-detail gst_style">
                                  <p>Products may be delivered from different warehouses subject to availability</p>
                                  </span>
                              </span>
                            </span>
                          {% endcomment %}

                          {%- assign matching_product = cart.items | where: 'product_id', product.id -%}
                          {%- if matching_product.size == 0 -%}
                             {%- assign shown_products_count = shown_products_count | plus: 1 -%}
                               {%- render 'product-item', product: product, reduced_content: true, reduced_font_size: true, hide_secondary_image: true, sizes_attribute: '(max-width: 740px) 65px, 92px' -%}
                          {%- else -%}
                               <p class="gift-box" style="display:none;">Gift box in your cart is the outer packaging box that can beused for gifting purposes. It does not contain any boAt product inside it.</p>
                          {%- endif -%}
                       {%- endfor -%}
                      </div>
                    </div>
                  </div>
                </div>
              {%- endif -%}
            {%- else -%}
             <div class="mini-cart__recommendations-inner">
             <div class="spinner">
              {%- render 'icon' with 'spinner', stroke_width: 3, width: 40, height: 40 -%}
             </div>
             </div>
           {%- endif -%}
         </cart-drawer-recommendations>
       {%- endif -%} 
     
</div>


<div class="discount_coupon_field_container"></div>
<div class="mini-cart__gst">
<div class="gst-container">
<label class="check_container">
 Get <b>GST</b> Invoice 
 {% comment %} <svg xmlns="http://www.w3.org/2000/svg" version="1" width="20" height="20" viewBox="0 0 20 20"><path fill="black" d="M10 0C4.483 0 0 4.483 0 10s4.483 10 10 10 10-4.483 10-10S15.517 0 10 0zm0 18c-4.417 0-8-3.583-8-8s3.583-8 8-8 8 3.583 8 8-3.583 8-8 8zM9.833 5.75c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0 1.067l.983 1v6.1H12.3v2H9.8l-.983-.967V8.817H7.483v-2h2.35z"/></svg> {% endcomment %}

 <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/info_icon_f55786bc-bf63-46f7-813c-f2ad6a657488.png?v=1683113880" class="gst_info_icon">
 <input type="checkbox">
  <span class="checkmark"></span>
</label>
<div class="gst-icon-detail">
  <p>Billing name &amp; billing address on invoice will be the name &amp; principal place of business address registered with GST portal. Shipping name &amp; shipping address can be changed to your choice.</p>
 </div>
</div>
</div>

      {% comment %} info: Not required in 2.0 {% endcomment %}
      {% comment %} 
        <div class="mini-cart-message">
          <div class="message-container">
            <div class="message" style="font-size: 10px;line-height: 13px;padding-right: 16px;">{{section.settings.cart_announcement}}</div>
          </div>
        </div>
      {% endcomment %}


      <footer class="mini-cart__drawer-footer drawer__footer drawer__footer--tight drawer__footer--bordered">




    <div class="mini-cart_footer_container">
        {%- capture shipping_tax_note -%}{{ 'cart.general.shipping_tax_note' | t }}{%- endcapture -%}
        {% comment %}
        <div class="cart-coupon visually-hidden">
          <div class="coupon-text">
            <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/coupon-code_1.png?v=1650373547" />
            <div id="discount-code" style="display: flex; border: 2px dotted #00000070; border-radius: 100px; height: 2.5rem; width: 82%; padding-left: 1rem;background: #ff000012;">
              <input type="text" id="coupon-code-text" placeholder="Discount Code">
              <input type="submit" value="Apply" id="coupon-apply" onclick=handleapplyclick()>
            </div>
          </div>
          {%comment%}
          {% for block in section.blocks %}
          {% case block.type %}
          {% when 'available-offers' %}
          <h4 class="avai-coupons">AVAILABLE COUPONS</h4>

          {%break%}
          {% endcase %}
          {%endfor%}
          {%endcomment%}
          <div class="available-offers">
            <form name="offer-coupons" id="offer-coupons">
              {% for block in section.blocks %}
              {% case block.type %}
              {% when 'available-offers' %}
              <style>
                .available-offers {
                  display: block
                }
              </style>
              <div class="select-coupon">
                <input type="radio" name="available-offers" id="{{block.settings.offer}}"
                       value="{{block.settings.offer}}">
                <label for="{{block.settings.offer}}">
                  <div class="offer-body" {{ block.shopify_attributes }}>
                    <div class="code-details">
                      <div class="code_cou">{{block.settings.offer}}</div>
                      <div class="code_usp">{{block.settings.offer-usp}}</div>
                    </div>
                    <p class="code-desc">{{block.settings.offer-details}}</p>
                  </div>
                </label><br>
              </div>
              {% endcase %}
              {%endfor%}
            </form>
          </div>
        </div> 
        {% endcomment %}
        <div class="discount-price">
          <p class="coupon-d">Coupon Discount</p>
          <p class="coupon-p">Rs 0</p>
        </div>
        {%- if cart.cart_level_discount_applications != blank -%}
          <ul class="mini-cart__discount-list list--unstyled" role="list">
            {%- for discount_application in cart.cart_level_discount_applications -%}
              <li class="mini-cart__discount">
                <span class="mini-cart__discount-badge discount-badge">{%- render 'icon' with 'discount-badge' -%}{{ discount_application.title }}</span>
                <span class="mini-cart__discount-price text--xsmall text--subdued">-{{ discount_application.total_allocated_amount | money }}</span>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
        {%- comment -%}
        {%- if section.settings.show_order_note or shipping_tax_note != '' -%}
          <div class="mini-cart__actions text--subdued text--xsmall">
            {%- if section.settings.show_order_note -%}
              <button type="button" is="toggle-button" id="order-note-toggle" class="link" data-action="toggle-order-note" aria-controls="mini-cart-note" aria-expanded="false">
                {%- if cart.note == blank -%}
                  {{- 'cart.general.add_order_note' | t -}}
                {%- else -%}
                  {{- 'cart.general.edit_order_note' | t -}}
                {%- endif -%}
              </button>
            {%- endif -%}

            {%- if shipping_tax_note != '' -%}
              <span>{{ shipping_tax_note }}</span>
            {%- endif -%}
          </div>
        {%- endif -%}
        {%- endcomment -%}


    {%- if section.settings.show_checkout_button -%}
          {% if cart.total_price <= 4999000 %}
              {%- assign magic_ok = true -%}
              {%- assign only_gk = false -%}
              {%- assign is_validation_ok = true -%}
              {%- assign qty_error_msg = 'Please Modify your cart to proceed.' -%}
              {%- assign product_limit_ok = true -%}
              {%- assign product_flash = false -%}
              {% for line_item in cart.items %}
                {% if line_item.product.tags contains 'prebooking' %} 
                  {%- assign magic_ok = false -%}
                {% endif %}
                {% if line_item.product.tags contains 'flash-sale' %}
                  {%- assign product_flash = true -%}
                {% endif %}
                {% if line_item.product.tags contains 'GK-Only' %}
                  {%- assign only_gk = true -%}
                {% endif %}
                  {% if line_item.product.metafields.set.quantity_limit == 1 and line_item.quantity > 1 %}
                      {%- assign product_limit_ok = false -%}
                  {% endif %}
                  {%- if line_item.product.metafields.set.quantity_limit == 2 and line_item.quantity > 2 -%}
                      {%- assign product_limit_ok = false -%}
                  {% endif %}
                  {%- if line_item.product.metafields.set.quantity_limit == 3 and line_item.quantity > 3 -%}
                      {%- assign product_limit_ok = false -%}
                  {% endif %}
                  {%- if line_item.product.metafields.set.quantity_limit == 4 and line_item.quantity > 4 -%}
                      {%- assign product_limit_ok = false -%}
                  {% endif %}
                  {%- if line_item.product.metafields.set.quantity_limit == 5 and line_item.quantity > 5 -%}
                      {%- assign product_limit_ok = false -%}
                  {% endif %}
                  {%- if line_item.product.metafields.set.quantity_limit == 6 and line_item.quantity > 6 -%}
                      {%- assign product_limit_ok = false -%}
                  {% endif %}
                 {% if line_item.quantity > 777777 %}
                      {%- assign is_validation_ok = false -%}
                  {% endif %}
              {% endfor %}
              <div class="mini-cart_footer d-flex justify-content-between">
            <div>
              <div class=" align-items-baseline" style="gap:6%">
                <div class="d-flex flex-column mini-cart-total-price" >
                  <span class="cart-total"> <b>Total Amount</b></span>
                </div>

                <div class="d-none">
                  <span class="gst-container">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1" width="12" height="12" viewBox="0 0 20 20">
                      <path fill="black" d="M10 0C4.483 0 0 4.483 0 10s4.483 10 10 10 10-4.483 10-10S15.517 0 10 0zm0 18c-4.417 0-8-3.583-8-8s3.583-8 8-8 8 3.583 8 8-3.583 8-8 8zM9.833 5.75c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0 1.067l.983 1v6.1H12.3v2H9.8l-.983-.967V8.817H7.483v-2h2.35z" />
                    </svg>
                    <span class="gst-icon-detail total">
                      <p> Shipping: <b>FREE</b></p>
                      <p> Total: <b>{{- cart.total_price | money_with_currency | replace: 'Rs.', '₹' | replace: '.00', '' -}}</b></p>
                    </span>
                  </span>
                </div>

                <div class="cart_total_wrapper">
                  <input class="cart-total" value="{{cart.total_price | divided_by: 100}}" type="hidden">
                  <span class="cart-total-text total-price"><b>{{- cart.total_price | money_with_currency | replace: 'Rs.', '₹' | replace: '.00', '' -}}</b></span>
                  <span class="cart_tax_info">Inclusive of all taxes</span>
                </div>
              </div>

              <div class="d-none">
                <small>Inclusive of all taxes</small>
              </div>
            </div>
              {% if is_validation_ok == true and product_limit_ok == true and only_gk == true %}
                  <div class=" checkout-buttons-div">
                    {% render 'only-gokwik' %}
                  </div>
              {% elsif is_validation_ok == true and product_limit_ok == true and only_gk == false %}
                <div class=" checkout-buttons-div">
                  {% render 'gokwik-checkout' %}
                  {%- comment -%} {%- if magic_ok == true -%}               
                    <div class="razorpay-checkout">
                      <button type="button" onclick="openRzpCheckout(event)">
                          <span class="btn-text">
                              <span>PAY VIA CARD/OTHERS</span>
                           </span>
                      </button>
                    </div>
                  {%- endif -%} {%- endcomment -%}
                </div>
              {% else %}
          <p class="cart-val-error" style="margin-bottom: 12px !important">{{- qty_error_msg -}}</p>
              {% endif %}
          {%- else -%}
          <p class="cart-val-error" style="margin-bottom: 12px !important">Your cart value should be less than <strong>Rs.49990/-!</strong> Modify your cart to proceed.</p>
          {% endif %}
        {%- else -%}
          <a href="{{ routes.cart_url }}" class="button button--primary button--full" data-no-instant>{{ 'cart.general.go_to_cart' | t }}</a>
        {%- endif -%}

      </div>
    </div>
      </footer>
    {%- endif -%}

    {%- if section.settings.show_order_note -%}
      <openable-element id="mini-cart-note" class="mini-cart__order-note">
        <span class="openable__overlay"></span>
        <label for="cart[note]" class="mini-cart__order-note-title heading heading--xsmall">{{- 'cart.general.add_order_note' | t -}}</label>
        <textarea is="cart-note" name="note" id="cart[note]" rows="3" aria-owns="order-note-toggle" class="input__field input__field--textarea" placeholder="{{ 'cart.general.order_note_placeholder' | t }}">{{ cart.note }}</textarea>
        <button type="button" data-action="close" class="form__submit form__submit--closer button button--secondary">{{ 'cart.general.order_note_save' | t }}</button>
      </openable-element>
    {%- endif -%}
    <div class="custom_discount_filder_container">
      <div class="custom-discount-finder">
    <div class="discount-finder-header">
        <button type="button" class="discount-finder-close"
            onclick="document.querySelector('.custom_discount_filder_container').removeAttribute('open_finder');">
            <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/right_arrow_40x40.jpg" style="transform: rotate(180deg);">
            </button>
            <h2 class="custom-discount-finder-heading">Offers for you</h2>
    </div>
    <div class="discount_finder_coupon_holder">
        <div class="finder_discountCode_txtbx_holder">
            <input type="text" autocomplete="off" spellcheck="false" maxlength="120" placeholder="Type coupon code here" value="" onkeyup id="af_kd_custom_coupon_text" class="afcd_coupon-inputtext af_custom_coupon_text">
        </div>
        <div class="discount_finder_btn_holder">
            <button type="button" id="af_kd_custom_apply_coupon_trigger" class="discount_finder_apply_btn af_kd_df_apply_coupon_btn af_custom_apply_coupon_trigger" onclick="CDSetupInit.couponApplyClick(this)">
                <af class="af_after_loading">Apply</af>
            </button>
        </div>
    </div>
    <div class="discount_finder_header_field_details">
    <div id="af_kd_tagged_discounts" class="af_tagged_discounts"></div>
    <p id="af_kd_discount_response" class="af_discount_response af_stacked_response" style="text-align:left;"></p>
    <input type="hidden" name="discount" class="af_HiddenDiscount" value="">
    <div class="afcd_coupon_error"></div>
    </div>
    <div class="discount_finder_body">
    </div>
</div>
    </div>
  </cart-drawer>


<!--       freebie-offer -->
{% assign gift-product = collections['freebie-offer'].products[0] %}
{% assign gift-product_variant = gift-product.variants[0].id %}
<script>
Shopify.cartMessage = `{{section.settings.cart_announcement}}`;
sessionStorage.setItem('total_discount_amount', {{ total_discount_amount | json }});
sessionStorage.setItem('offer_discount_code', '{{ section.settings.discount_code }}');

Shopify.cartUpdate = function(cartJson){
// Add code which need to run on cart update
}
{% comment %} if(document.readyState === 'loading') {console.log("loading");}{% endcomment %}
$(window).on("load", function(){
// $('.custom-gift-button')[0] ? $('.custom-gift-button')[0].click() : '';
{% if settings.products_offering_freebie != blank %}
let custumisedvariant_ids = [];
let giftId = "{{ gift-product_variant }}";
let onloadfreeqnty = 0;
let onloadcustomisedqnt = 0;
jQuery.getJSON('/cart.js', function(cart) {
  let cartItem = cart.items;
  let onloadfreeItems = cartItem.filter(item => item.properties && item.properties.Free);
  $(onloadfreeItems).each(function(ind, el){
    onloadfreeqnty += el.quantity;
  })
  {% comment %} info: for product customisation
    let onloadcustomised = cartItem.filter(item => item.properties && item.properties.PersonalisedMessage != undefined);
    $(onloadcustomised).each(function(ind, el){
      onloadcustomisedqnt += el.quantity;
      if (!custumisedvariant_ids.includes(el.id)){ custumisedvariant_ids.push(el.id); }
    }) 
  {% endcomment %}
  if (onloadcustomisedqnt > 0){customized_added() }
  console.log("onloadfreeqnty", onloadfreeqnty , "onloadcustomisedqnt" , onloadcustomisedqnt , custumisedvariant_ids )
})

{% comment %}  info: for product customisation
  let updatedcustomisedqnt = 0;
  document.addEventListener('cart:updated', function(event) {
    console.log("old",updatedcustomisedqnt);
    let newupdatedcustomisedqnt  = 0;
    let cartItem = event.detail.cart.items; // Get the updated content of the cart
    let onloadcustomised = cartItem.filter(item => item.properties && item.properties.PersonalisedMessage != undefined);
    $(onloadcustomised).each(function(ind, el){
        newupdatedcustomisedqnt += el.quantity;
    })
    if(updatedcustomisedqnt < newupdatedcustomisedqnt){
      $(onloadcustomised).each(function(ind, el){
        if (!custumisedvariant_ids.includes(el.id)){ custumisedvariant_ids.push(el.id); }
      })
    }else{
      custumisedvariant_ids =[];
      $(onloadcustomised).each(function(ind, el){
        if (!custumisedvariant_ids.includes(el.id)){ custumisedvariant_ids.push(el.id); }
      })
    }

    console.log( "newcustomisedqnt" , updatedcustomisedqnt, custumisedvariant_ids)
    if (updatedcustomisedqnt >= 1){ customized_added()
    }else if (updatedcustomisedqnt < custumisedvariant_ids.length) { customized_added()
    }else{
      customized_removed()
    }
    updatedcustomisedqnt = newupdatedcustomisedqnt;
    console.log("new",updatedcustomisedqnt, newupdatedcustomisedqnt );
  });


  document.addEventListener('variant:changed', function(event) {
    if (custumisedvariant_ids.length > 0){
      console.log(custumisedvariant_ids);
      let variant = event.detail.variant; // Gives you access to the whole variant details
      if (custumisedvariant_ids.includes(variant.id)){ customized_added()
      }else{
        customized_removed()
      }
    }
  });
  function customized_added(){
    $(".cutomized-btn .loader-button__text").html('Only one unit per order allowed');
    $(".cutomized-btn, .button.custom-prebook").addClass('signle-unit');
  }
  function customized_removed(){
    $(".cutomized-btn .loader-button__text").html(`PRE-ORDER <span class="pdp-btn-price d-lg-none">₹{{ product.price | divided_by: 100 }}</span>`);
    $(".cutomized-btn, .button.custom-prebook").removeClass('signle-unit');
  }
{% endcomment %}

const checkbox = document.querySelector(".check_container input");
const message = document.querySelector(".message-container .message");
const targNode = document.getElementById('mini-cart');
const config_ = { attributes: false, childList: true, subtree: false };
const callback_ = (mutationList, observer) => {
for (const mutation of mutationList) {
let updatedqnty = 0;
jQuery.getJSON('/cart.js', function(cart) {
   cartI = cart.items;
   let updatedfreeitems = cartI.filter(item => item.properties && item.properties.Free);
   $(updatedfreeitems).each(function(ind, el){
    updatedqnty += el.quantity;
   })
   console.log("onloadfreeqnty", onloadfreeqnty, "updatedqnty",updatedqnty)
   if(updatedqnty > onloadfreeqnty) {
   console.log("add free product");  $('.custom-gift-button')[0].click();  onloadfreeqnty += 1;
   }
   else if (updatedqnty < onloadfreeqnty){
    console.log("remove free product");
    $('#mini-cart-form .line-item').each(function() {
     let dataItemId = $(this).data('item-id');
     if (dataItemId == giftId){
       $(`.line-item[data-item-id="${dataItemId}"] a[aria-label="Decrease quantity"]`)[0].click();
     }
    });
    onloadfreeqnty -= 1;
   }
})
{% comment %} 
 let total_price = parseInt($('.mini-cart__drawer-footer .cart-total-text')[0].textContent.replace( /^\D+/g, '' ).replace(/,/g,"").slice(0,-3));
 console.log('price',total_price);
 if ($('.custom-gift-button').length > 0) {$('.custom-gift-button')[0].click();}
 $('#mini-cart-form .line-item').each(function() 
 let dataItemId = $(this).data('item-id');
 if (dataItemId == giftId){
    let remove_price = $(`.line-item[data-item-id="${dataItemId}"] .price.price--highlight`).text().replace( /^\D+/g, '' ).replace(/,/g,"").slice(0,-3);
    $(`.line-item[data-item-id="${dataItemId}"] ul, .line-item[data-item-id="${dataItemId}"] span.price.price--compare.line-through`).each(function() {$(this).css("display", "none") })
     if(total_price - remove_price < 1000) {
      $(`.line-item[data-item-id="${dataItemId}"] a.line-item__remove-button`)[0].click();
     }
  }
 })
{% endcomment %}
}
};
const observer_ = new MutationObserver(callback_);
observer_.observe(targNode, config_);
{% endif %}
{% comment %} if(checkbox) {
  checkbox.addEventListener('change', () => {
    if (checkbox.checked) {
      message.textContent = 'Billing address will be PPOB address as per GST portal'
    } else {
      message.textContent = '{{ section.settings.cart_announcement }}'
    }
  })
} {% endcomment %}

{% comment %}
const customer_id = "{{customer.id}}"
$('#mini-cart-form .line-item').each(function() {
 let dataItemId = $(this).data('item-id');
  if (dataItemId == giftId){
     if(customer_id.trim().length == 0) {
       $(`.line-item[data-item-id="${dataItemId}"] a.line-item__remove-button`)[0].click();
      }
    }
})
{% endcomment %}
/* $(".razorpay-checkout").click(function () {
  let productsincart = line_item.product;
  clevertap.event.push("razor/magic Button Clicked",{
    "cart products": productsincart,
    "Amount": cart_total_price
  });
}); */

});


{% comment %} const checkbox = document.querySelector(".check_container input");
const message = document.querySelector(".message-container .message");

window.addEventListener('load', () => {
  if (checkbox.checked) {
    message.textContent = 'Billing address will be PPOB address as per GST portal'
  } else {
    message.textContent = '{{ section.settings.cart_announcement }}'
  }
})
document.addEventListener('cart:updated', (event) => {
  if (checkbox.checked) {
    message.textContent = 'Billing address will be PPOB address as per GST portal'
  } else {
    message.textContent = '{{ section.settings.cart_announcement }}'
  }
}) {% endcomment %}
</script>
{% schema %}
  {
    "name": "Cart drawer",
    "class": "shopify-section--mini-cart",
    "settings": [
      {
        "type": "paragraph",
        "content": "Free shipping notice can be configured in global cart settings."
      },
      {
        "type": "html",
        "id": "cart_announcement",
        "label": "announcement",
        "default": "Free Shipping, COD Available"
      },
      {
        "type": "checkbox",
        "id": "show_discount_msg",
        "label": "Show Discount Message",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_purple_msg",
        "label": "Show Purple Message",
        "default": true
      },
      {
        "type": "select",
        "id": "select_discount_rule",
        "label": "select discount rule",
        "options": [
          {
            "value": "line_item",
            "label": "line item level discount"
          },
          {
            "value": "cart",
            "label": "cart level discount"
          }
        ],
        "default": "cart"
      },
      {
        "type": "text",
        "id": "discount_code",
        "label": "Code used for discount message",
        "default": "ONLYFORYOU"
      },
      {
        "type": "number",
        "id": "discount_code_max_amount",
        "label": "Max amount for discount code in message",
        "default": 300
      },
      {
        "type": "checkbox",
        "id": "show_promise_strip",
        "label": "Show Promise Strip",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_order_note",
        "label": "Show order note",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_checkout_button",
        "label": "Show checkout button",
        "default": true
      },
      {
        "type": "url",
        "id": "empty_button_link",
        "label": "Empty button link",
        "default": "/collections/all"
      },
      {
        "type": "header",
        "content": "Cross-sell",
        "info": "Dynamic recommendations are based on the items in your cart. They change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)"
      },
      {
        "type": "checkbox",
        "id": "show_recommendations",
        "label": "Show cart recommendations",
        "default": true
      },
      {
        "type": "text",
        "id": "recommendations_title",
        "label": "Recommendations heading",
        "default": "You may also like"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "icon",
        "settings" : [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Primary image"
          },
          {
            "type": "liquid",
            "id": "collection_Title",
            "label": "icon text"
          }
        ]
      }
    ]
  }
{% endschema %}