<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<style>
  .shopify-section--newlaunches {overflow-x: hidden;}
  .new-launch-atc  .product-item__cta {
  	margin: 0;
    height: 30px;
    padding: 0 20px;
    line-height: normal;
    background: #ff0000;
    border-radius: 2em !important;
  }
  ul.slick-dots {
  	display: flex!important;
    align-items: center;
    justify-content: center;
    text-align: center
  }
  ul.slick-dots li {
  	list-style: none;
    position:relative;
  }
  ul.slick-dots li:before {
  	content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: #ccc;
    z-index: 99999;
    top: 50%;
    transform: translateY(-50%);
  }
  ul.slick-dots li.slick-active:before {
  	background: #ff0000;
  }
  ul.slick-dots li button {
  	visibility: hidden;
  }
  .slick-arrow:before{
  display: none !important;
  }
    .outer-container .slick-arrow{
  display: none !important;
  }
  .color-swatch{
   width: 1.3vw;
    height: 1.3vw;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    margin: 7px;
  }
  .color-swatch-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 360px;
    margin-top: 15px;
  }
  .active-swatch{
    box-shadow: 0px 0px 0px 3px #242424, 0px 0px 0px 4px red;
  }
  .outer-div{
    width: 38%;
    background: #242424;
    border-radius: 30px 0 0 30px;
  }
  .nld{
    display: flex !important;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
  .active-featured > img{
    box-sizing: border-box;
    border: 2px solid #2d2c2c !important;
    border-radius: 8px;
  }
  .featured_img{
    cursor: pointer;
  }
  .outer-div{
    min-width: 360px;
  }
  .product-info-div{
    width: 45%;
    background: #242424;
    padding: 1% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 30px 30px 0;
  }
  .product-subtitle{
    font-size: 13px;
    color: #7c7c7c;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    line-height: normal;
  }
  .vector-2 {display:none;}
  .product-subtitle:before{
    content: "";
    position: absolute;
    height: 1px;
    background : #e00c1a;
    bottom: -10px;
    left: 50%;
    width: 30%;
    transform: translateX(-50%);
  }
  .product-title{
    color: white;
    font-size: 1.1vw;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: normal;
  }
  .var-price{
    color: red;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
  }
  .outer-div{
    position: relative;
  }
  .outer-featured{
    position: absolute;
    width: 86%;
    left: 7%;
    bottom: 2vw;
  }
  .product-desc {
    color: white;
    font-size: 0.88vw;
    line-height: 1.8;
    text-align: center;
    min-height: 8.73vw;
    width: 95%;
}
  .var-img-div{
    width: 100%;
    margin: auto;
  }
  .var_img img{
  border-radius: 30px 0 0 30px;
  width: 100%;
  }
  
  .featured_img{
    margin: 0 5px
  }
  .desc-head {
    margin-right: 20px;
    padding: 0vw 1vw;
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    text-transform: uppercase;
}
  
  .feature-head{
    margin-right: 20px;
    padding: 0vw 1vw;
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    text-transform: uppercase;
  }
  .active-header{
    background: #545353;
  }
  .active-header:before{
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    bottom: -5px;
    left: 50%;
    background: #545353;
    transform: rotate(45deg);
    margin-left: -5px;
  }
  .choose-headers{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 0.9vw;
    margin-bottom: 1rem;
  }
  .product-feature-l {
    font-size: 0.88vw;
    line-height: 1.5;
    color: white;
    margin: 0 10px;
    position: relative
  }
  .product-feature-div{
    display: none;
/*     min-height: 8.73vw; */
    column-count: 2;
    max-width: 90%;
    width: 100%;
  }
  .new-launch-atc{
    position: relative;
    display: none;
  }
  .inner-atc{
    background: #e00c1a;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #e00c1a !important;
    padding: 0.2vw 1.4vw;
    font-size: 0.9vw;
    display: flex;
    text-transform: uppercase;
    border-radius: 20px;
    text-decoration: none !important;
    justify-content: center;
    align-items: center;
    height: max-content;
  }
  .inner-atc-sold{
    background: grey;
    color: white;
    font-weight: 600;
    padding: 0.28vw 2.3vw;
    font-size: 0.9vw;
    display: flex;
    text-transform: uppercase;
    border-radius: 20px;
    text-decoration: none !important;
    justify-content: center;
    align-items: center;
    height: max-content;
  }
  .explore-product {
    background: transparent;
    color: #e00c1a !important;
    border: 1px solid #e00c1a;
    font-weight: 600;
    padding: 0.2vw 1.4vw;
    font-size: 0.9vw;
    display: flex;
    text-transform: uppercase;
    border-radius: 20px;
    text-decoration: none !important;
    justify-content: center;
    align-items: center;
    height: max-content;
}
  .atc-outer {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}
  .featured-img-div .slick-track{
    margin: auto !important;
  }
  .load{
    display: none;
  }
  .inner-atc{
    position: relative;
  }

  .outer-container .slick-dots li button:before{
    color: grey;
  }
  .outer-container .slick-dots{
  bottom: -0.6vw;
  }

  .outer-container .slick-dots li button:before{
    content: "";
    width: 100%;
    height: 3px;
    margin: 0;
    background: grey;
    border-radius: 4px;
  }
  .outer-container .slick-dots li.slick-active button:before{
    background: #e00c1a;
    margin: 0;
  }
  .outer-container .slick-dots li button:hover::before{
    background: #e00c1a;
  }
  .outer-container .slick-dots > li{
    margin: 0px 6px;
    width: 1.5vw;
  }
  .special-price{
  	background: red;
    color: white;
    font-size: 13px;
    padding: 3px 10px;
    font-weight: 500;
    position: relative;
    display: block;
    text-transform: uppercase;
    margin-bottom: 8px;
    line-height: normal;
  }
  .product-feature-l::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #ff0000;
    top: 50%;
    left: -19px;
    transform: translateY(-50%);
}
  #shopify-section-new-launches-homepage {position: relative;}
  .read-more{
/*   display: none; */
  }
  @media (max-width: 768px){
    .product-subtitle:before {bottom: -8px;}
    .atc-outer{
    width: 100%;
    }
    .explore-product, .new-launch-atc {width: 45%;}
    .read-more{
    display: block;
    }
    .product-info-div{
    padding: 1% 2%;
    }
    .outer-container .slick-dots li button:hover::before{
    background: #202020;
  }
  .outer-container .slick-dots li.slick-active button:before{
    background: #e00c1a !important;
  }
    .product-info-div{
      min-width: 0;
      width: 95%;
      border-radius: 0 0 20px 20px;
      min-height: 85vw;
    }
    .outer-div{
      min-width: 0;
      width: 95%;
      border-radius: 20px 20px 0 0;
/*       min-height: 78vw; */
    }
    .product-subtitle {
      font-size: 3vw;
    }
    .product-title{
      font-size: 4vw;
      text-align: center;
    }
    .var-price{
      font-size: 4.2vw;
    }
    .choose-headers{
      font-size: 3.3vw;
      margin-bottom: 5px;
    }
    .product-desc{
      font-size: 3vw;


    }
    .product-feature-l{
      font-size: 3vw;
    }
    .color-swatch{
      width: 18px;
      height: 18px;
    }
    .explore-product {
    background: transparent;
    color: #e00c1a !important;
    border: 1px solid #e00c1a;
    font-weight: 600;
    padding: 0.6vw 2.4vw;
    font-size: 3vw;
    display: flex;
    text-transform: uppercase;
    border-radius: 20px;
    text-decoration: none !important;
    justify-content: center;
    align-items: center;
    height: max-content;
}
    .inner-atc-sold {
      padding: 0.6vw 6.4vw;
      font-size: 3vw;
    }
    .inner-atc {
      padding: 0.5vw 3.4vw;
      font-size: 3vw;
    }
    .product-feature-div{
/*       min-height: 30vw; */
/*       height: 16vw; */
    }
    .product-desc{
      height: 11vw;
      overflow: hidden;
      position: relative;
    }
    .var-img-div{
      width: 100%;
      margin: auto;
      border-radius: 20px 20px 0 0;
    }
    .var_img img{
      border-radius: 20px 20px 0 0;
      min-height: 250px;
      object-fit: cover;
    }
    .featured_img img{
    width: 90% !important;
    height: 90% !important;
    }
    .feature-head{
      font-weight: 400;
      padding: 0.2vw 2.2vw;
      text-transform: uppercase;
    }
    .desc-head{
      font-weight: 400;
      padding: 0.2vw 2.2vw;
      text-transform: uppercase;
    }
    .outer-container .slick-dots > li{
      margin: 0px 3px;
      width: 5vw;
    }
    .slick-dots{
    bottom: -8px;
    }
  }
  .outer-container .slick-prev{
  left: 2vw;
  }
  .outer-container .slick-next{
  right: 2vw;
  }
  .right-click{
  color: red;
  position: absolute;
  right : 3vw;
  cursor: pointer;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  }
  .left-click{
  color: red;
  position: absolute;
  left: 3vw;
  font-size: 40px;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  }
  .non-active-click{
  opacity: 0.3 !important;
  }
  .angle{
     width: 1.5vw;
  }
  @media (max-width: 768px){
    .product-feature-div {
    	max-width: 70%;
      	column-count: 1;
    }
  .left-click{
  color: red;
  position: absolute;
  left: 4vw;
  font-size: 30px;
  z-index: 99;
  top: 112.5vw;
  cursor: pointer;
  }
   .right-click{
  color: red;
  position: absolute;
  right : 4vw;
  cursor: pointer;
  z-index: 99;
  top: 112.5vw;
  font-size: 30px;
/*   transform: translateY(-10px); */
  }
  }
  .product-info-div{
  position: relative;
  }
  .vector-1{
  position: absolute;
  left: 0;
  top: 3vw;
  width: 5vw;
  }
  .vector-2{
      position: absolute;
    right: 3vw;
    bottom: 4vw;
    width: 2vw;
  }
  .featured_img img{
  border: 0.5px solid gray;
  }
  .f-r{
    font-size: 1.8vw;
    position: absolute;
    right: -1.3vw;
    top: 2.3vw;
    color: black;
    cursor: pointer;
  }
  .f-l{
    font-size: 1.8vw;
    position: absolute;
    left: -1.3vw;
    top: 2.3vw;
    color: black;
    cursor: pointer;
  }
  .vector-2 img{
  width: 100%;
  }
  .nl-click{
  width: 2.4vw;
  }
   .new-tag {
    position: absolute;
    z-index: 1;
       width: 4vw;
    top: 2vw;
    left: 2vw;
}

  .new-tag p {
    position: absolute;
    color: white;
    font-size: 0.8vw;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    transform: translateX(-0.2vw);
    letter-spacing: 0.5px;
}
  @media (max-width: 768px){
  .f-r {
    width: 3.5vw;
    position: absolute;
    right: -4vw;
    top: 6.5vw;
    color: black;
    cursor: pointer;
}
   .f-l {
    width: 3.5vw;
    position: absolute;
    left: -4vw;
    top: 6.5vw;
    color: black;
    cursor: pointer;
}
    .nl-click{
    display: none;
    }
    .vector-1 {
    position: absolute;
    left: -2vw;
    top: 12vw;
    width: 15vw;
}
    .vector-2 {
    position: absolute;
    right: 4vw;
    bottom: 2vw;
    width: 8vw;
    height: 5vw;
    overflow: hidden;
}
    .inner-atc {
    padding: 0.41vw 3.4vw;
    font-size: 3vw;
}
    .outer-container .slick-dots li button:before{
    height: 5px;
    }
     .new-tag {
    position: absolute;
    z-index: 1;
    width: 12vw;
    top: 4vw;
    left: 4vw;
}
  .new-tag p {
    position: absolute;
    color: white;
    font-size: 2.5vw;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    transform: translateX(-0.4vw);
    letter-spacing: 0.5px;
}
    .special-price {
      background: red;
      color: white;
      font-size: 3vw;
      font-weight: 500;
      position: relative;
      display: block;
      text-transform: uppercase;
      margin-bottom: 0;
}
    .color-swatch-div {margin-top: 0;}
    
  }

 
  .featured-img-div{
  display: none;
  }
  
  @media screen and (min-width: 769px) {
    .read-more {
    	bottom: 29% !important;
        padding-left: 7px;
        left: 5.5vw;
        right: 50%;
        width: max-content;
    }
    .product-desc {
      height: 2vw;
      color: white;
      font-size: 0.88vw;
      line-height: 1.5;
      text-align: justify;
      min-height: 2.73vw;
      width: 95%;
      overflow: hidden;
  	}
    .var_img img {
        min-height: 450px !important;
      	max-height: 450px !important;
        object-fit: cover;
    }
  }
  
</style>
<div class="row">
  <div class="col-12">
     <h2 class="heading h2 text-center py-5">
      New Launches
    </h2>
  </div>
</div>
<img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/left-arrow_1.png?v=1642498138" class="left-click nl-click non-active-click" />
<img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/right-arrow_1.png?v=1642498059" class="right-click nl-click" />
<div class="outer-container new--launch">
  {% for block in section.blocks %}
  {% assign product = block.settings.product_new_launches %}
  {% assign p_id = product.id %}
  <div class="nld {{p_id}}_nld">
    
    <div class="outer-div">

      <div class="new-tag">
        <p>NEW</p>
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/bg_84f694ac-32c9-4466-9138-fce0b4b49aa6.png?v=1642860651"/>
      </div>
      <div active-slide = "0" class="var-img-div {{p_id}}_var" prod-id ="{{p_id}}">
        {% for variant in product.variants %}
        {% if variant.available == true %}
        <div class="var_img">
          <img src = "{{variant.metafields.my_fields.newlaunchimage | img_url : "master"}}">    
        </div>
        {% endif %}
        {% endfor %}
        {% for variant in product.variants %}
        {% if variant.available == false %}
        <div class="var_img">
          <img src = "{{variant.metafields.my_fields.newlaunchimage | img_url : "master"}}">    
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="outer-featured">
         <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/right-arrow_2.png?v=1642498226" prod-id = "{{product.id}}" class="non-active-click angle {{product.id}}_f-l {{product.id}}_swipe f-l" />
          <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/right-arrow.png?v=1642498059" prod-id = "{{product.id}}" class="angle {{product.id}}_f-r {{product.id}}_swipe f-r" />
        <div class="featured-img-div {{p_id}}_featured" prod-id ="{{p_id}}">
          {% assign i = -1 %} 
          {% for variant in product.variants %} 
          {% if variant.available == true %}
          {% assign i =  i | plus: 1 %}
        <div swatch-num = "{{i}}" class="{{color}}_featured featured_img">
            <img prod-id ="{{p_id}}" swatch-num = "{{i}}"style="width: 80%;height: 80;margin: auto;"src = "{{variant.metafields.my_fields.newlaunchimage  | image_url: width: 100, height: 100}}">
          </div>
          {% endif %}
        {% endfor %}
          {% for variant in product.variants %} 
          {% if variant.available == false %}
          {% assign i =  i | plus: 1 %}
        <div swatch-num = "{{i}}" class="{{color}}_featured featured_img">
            <img prod-id ="{{p_id}}" swatch-num = "{{i}}"style="width: 80%;height: 80;margin: auto;"src = "{{variant.metafields.my_fields.newlaunchimage  | image_url: width: 100, height: 100}}">
          </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="product-info-div" data-cat="{{ product.type }}">
      <img class="vector-1" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Vector_Smart_Object_6085a897-ef0f-41c5-9690-3de81a71112f.png?v=1642419136" />
      <div class="vector-2">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Vector_Smart_Object_1_a04b1b26-149f-4d1b-a79e-62adb94fabfa.png?v=1642419621" />
      </div>
      <div class="product-subtitle">{{block.settings.product_category}}</div>
      <div class="product-title">{{product.title}}</div>
      
      {% assign i = -1 %} 
      {% for variant in product.variants %}
      {% assign i =  i | plus: 1 %} 
      <div swatch-num = "{{i}}" class="var-price {{variant.id}}_var-price"> <span class="special-price">Special launch price</span> Rs. {{variant.price | divided_by: 100}}</div>
      {% endfor %}
      <div class="choose-headers">
        <p class="desc-head active-header">Description</p>
        <p class="feature-head">Features</p>
      </div>
      <div class="product-desc" prod_url="{{product.url}}">{{block.settings.product_desc}}</div>
      <div class="product-feature-div">
        {% if block.settings.feature_1 != blank %}
        <div class="product-feature-l product-feature_1">{{block.settings.feature_1}}</div>
        {% endif %}
        {% if block.settings.feature_2 != blank %}
        <div class="product-feature-l product-feature_2">{{block.settings.feature_2}}</div>
        {% endif %}
        {% if block.settings.feature_3 != blank %}
        <div class="product-feature-l product-feature_3">{{block.settings.feature_3}}</div>
        {% endif %}
        {% if block.settings.feature_4 != blank %}
        <div class="product-feature-l product-feature_4">{{block.settings.feature_4}}</div>
        {% endif %}
        {% if block.settings.feature_5 != blank %}
        <div class="product-feature-l product-feature_5">{{block.settings.feature_5}}</div>
        {% endif %}
      </div>
      <div class="color-swatch-div">
        {% assign i = -1 %} 
        {% for variant in product.variants %}
        {% if variant.available == true %}
        {% if variant.title contains '/'%}
        {% assign arr_var = variant.title | split: "/" %}
        {% assign color = arr_var[1] %}
        {% assign title = arr_var[0] %}
        {% else %}
        {% assign color = variant.title %}
        {% assign title = variant.title %}
        {% endif %}
        {% assign i =  i | plus: 1 %} 

        <div prod-id ="{{p_id}}" var-id = "{{variant.id}}" swatch-num = "{{i}}" color = {{color}} class="color-swatch {{color}} {{variant.id}}_color-swatch" style="color:white; background: {{color}}" data-title="{{title}}"></div>
        {% endif %}
        {% endfor %}
        {% for variant in product.variants %}
        {% if variant.available == false %}
        {% if variant.title contains '/'%}
        {% assign arr_var = variant.title | split: "/" %}
        {% assign color = arr_var[1] %}
        {% else %}
        {% assign color = variant.title %}
        {% endif %}
        {% assign i =  i | plus: 1 %} 

        <div prod-id ="{{p_id}}" var-id = "{{variant.id}}" swatch-num = "{{i}}" color = {{color}} class="color-swatch {{color}} {{variant.id}}_color-swatch" style="color:white; background: {{color}}"></div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="atc-outer">
        <a href= "{{product.url}}"  class="explore-product">
          Explore Now
        </a>
        {% for variant in product.variants %}

        <div class="new-launch-atc {{variant.id}}_new_launch_atc">
          {% if variant.available == true %}
          {%- capture form_id -%}product_form_{{ section.id }}_{{ block.id }}_{{ product.id }}_{% increment product_form_index %}{%- endcapture -%}
          {%- form 'product', product, is: 'product-form', id: form_id -%}
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="id" value="{{ product.first_available_variant.id }}">
            <button type="submit" {% if show_cta %}is="loader-button"{% endif %} class="{% if reduced_content %}product-item__link link text--subdued{% else %}product-item__cta button button--primary{% endif %}">Add To Cart</button>
          {%- endform -%}
          {% else %}
          <div class="inner-atc-sold" var-id="{{variant.id}}">Sold Out</div>
          {% endif %}

        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}

</div>
  

{% schema %}
{
"name": "New Launches",
"class": "shopify-section--newlaunches",
"settings": [],
"blocks": [
{
"name": "new-launches-home",
"type": "new-launches-home",
"settings": [
{
"type": "product",
"id": "product_new_launches",
"label": "Product"
},
{
"type": "text",
"id": "product_category",
"label": "Category"
},
{
"type": "checkbox",
"id": "sale_price_checkbox",
"label": "Show Sale Price"
},
{
"type": "text",
"id": "sale_price",
"label": "Sale Price"
},
{
"type": "text",
"id": "product_desc",
"label": "Description"
},
{
"type": "text",
"id": "feature_1",
"label": "Feature 1"
},
{
"type": "text",
"id": "feature_2",
"label": "Feature 2"
},
{
"type": "text",
"id": "feature_3",
"label": "Feature 3"
},
{
"type": "text",
"id": "feature_4",
"label": "Feature 4"
},
{
"type": "text",
"id": "feature_5",
"label": "Feature 5"
}
]
}
],
"presets": [
      {
        "name": "New Launches",
        "category": "layout",
        "settings": {
        }
      }
    ]

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  $(document).ready(function($) {
  	$('.right-click').on('click',()=>{
  $('.nl-click').removeClass('non-active-click')
  $('.outer-container>.slick-next').click();  
  if($('.nld.slick-active').attr('data-slick-index') == parseInt($('.nld').length - 1)){
  $('.right-click').addClass('non-active-click');
  }
  })
  $('.left-click').on('click',()=>{
  $('.nl-click').removeClass('non-active-click')
  $('.outer-container>.slick-prev').click();
  if($('.nld.slick-active').attr('data-slick-index') == 0){
  $('.left-click').addClass('non-active-click');
  }  
  })
  $('.featured-img-div').each((k,ele)=>{
  let i = ele.getAttribute('prod-id');
//   console.log($(`.${i}_featured .featured_img`).length);
    if($(`.${i}_featured .featured_img`).length < 5){
    $(`.${i}_f-r`).hide();
    $(`.${i}_f-l`).hide();
    }
  })
   $('.f-r').on('click',(ele)=>{
    let i = ele.target.getAttribute('prod-id')
  $(`.${ele.target.getAttribute('prod-id')}_featured .slick-next`).click();
  $(`.${ele.target.getAttribute('prod-id')}_swipe`).removeClass('non-active-click')
//   console.log($(`.${ele.target.getAttribute('prod-id')}_featured .active-featured`).attr('data-slick-index'));
//   console.log($(`.${i}_featured .featured_img`));
//console.log($(`.${ele.target.getAttribute('prod-id')}_featured .slick-active`)[3].getAttribute('data-slick-index'));
  if($(`.${ele.target.getAttribute('prod-id')}_featured .slick-active`)[3].getAttribute('data-slick-index') == parseInt($(`.${i}_featured .featured_img`).length - 1)){
  $(`.${ele.target.getAttribute('prod-id')}_f-r`).addClass('non-active-click');
  }
  });
  $('.f-l').on('click',(ele)=>{
  $(`.${ele.target.getAttribute('prod-id')}_featured .slick-prev`).click();
  $(`.${ele.target.getAttribute('prod-id')}_swipe`).removeClass('non-active-click')
  if($(`.${ele.target.getAttribute('prod-id')}_featured .active-featured`).attr('data-slick-index') == 0){
  $(`.${ele.target.getAttribute('prod-id')}_f-l`).addClass('non-active-click');
  }  
  });
  
  $('.inner-atc').on('click',(ele)=>{
    $(`.${ele.target.getAttribute('var-id')}_load`).css('display','flex');
    $.ajax({
      type: "POST",
      url: '/cart/add.js',
      data: {
        quantity: 1,
        id: ele.target.getAttribute('var-id')
      },
      success: function (response) {
        //                   console.log('added to cart');
        setTimeout(()=>{fetchCart(true)
        $(`.${ele.target.getAttribute('var-id')}_load`).css('display','none');
      }, 1000);
      setTimeout(()=>{adding_to_cart = false}, 1500);
  }
                     })                                   
  });
  $('.var-price').hide();
  $('.var-price').each((i,ele)=>{

    if(ele.getAttribute('swatch-num') == 0){
      ele.style.display = "block";
    }
  });
  $('.outer-container.new--launch').slick({
    infinite: false,
    slidesToShow: 1,
    slidesToScroll: 1,
    draggable: false,
    dots: true,
    arrows: true,
    fade: true,
//     autoplay: true,
//     autoplaySpeed: 3000
  });
  $('.var-img-div').slick({
    infinite: false,
    slidesToShow: 1,
    slidesToScroll: 1,
    fade: true,
    arrows: false,
    responsive: [
    {
      breakpoint: 768,
      settings: {
        draggable: true,
        swipe: false
      },
    }
  ],
  });
  $('.color-swatch').on('click',(ele)=>{
    let i = ele.target.getAttribute('swatch-num');
    let j = ele.target.getAttribute('var-id');
    let k = ele.target.getAttribute('prod-id');
    $(`.${ele.target.getAttribute('prod-id')}_var`).slick('slickGoTo', i);
    $(`.${ele.target.getAttribute('prod-id')}_featured`).slick('slickGoTo', i);
    if($(`.${k}_nld .${ele.target.getAttribute('prod-id')}_var`).attr('active-slide') == i){
    $(`.${k}_nld .color-swatch`).removeClass('active-swatch');
    ele.target.classList.add('active-swatch');
    $(`.${k}_nld .featured_img`).removeClass('active-featured');
    $(`.${k}_nld .featured_img`).each((l,ele2)=>{
//       console.log(ele2);
      if(ele2.getAttribute('swatch-num') == i){
      ele2.classList.add('active-featured');
      }
    })
    $(`.${k}_nld .var-price`).hide();
    $(`.` + `${j}` + `_var-price`).show();
    $(`.${k}_nld .new-launch-atc`).hide();
    $(`.${j}_new_launch_atc`).show();
    }
  });

  $('.color-swatch').each((i,ele)=>{
    if(ele.getAttribute('swatch-num') == 0){
      ele.classList.add('active-swatch');
      $(`.${ele.getAttribute('var-id')}_new_launch_atc`).show();
    }
  })
  $('.featured_img ').each((i,ele)=>{
    if(ele.getAttribute('swatch-num') == 0){
      ele.classList.add('active-featured');
    }
  })
  $('.featured-img-div').slick({
    infinite: false,
    slidesToShow: 4,
    slidesToScroll: 4,
    arrows: true,
    responsive: [
    {
      breakpoint: 768,
      settings: {
        draggable: false,
        swipe: false
      },
    }
  ],
  }
  );

  $('.featured_img').on('click',(ele)=>{
//     console.log(ele.target)
//     let i = ele.target.getAttribute('var-id');
//     console.log(i);
    let j = ele.target.getAttribute('swatch-num');
    let k = ele.target.getAttribute('prod-id');
//     console.log(j);
    //     $(`.` + `${i}` + `_color-swatch`).click();
    $(`.${k}_nld .${ele.target.getAttribute('prod-id')}_var`).slick('slickGoTo', j);
    if($(`.${k}_nld .${ele.target.getAttribute('prod-id')}_var`).attr('active-slide') == j){
      $(`.${k}_nld .featured_img`).removeClass('active-featured'); 
      $(`.${k}_nld .featured_img`).each((l,ele2)=>{
        if(ele2.getAttribute('swatch-num') == j){
        ele2.classList.add('active-featured');
        }
      })
//       $(`.${k}_nld .${i}_inner_featured`).addClass('active-featured');
    }
    //     $('.color-swatch').removeClass('active-swatch');
    //     $(`.${i}_color-swatch`).addClass('active-swatch');

  })

   $('.outer-container.new--launch').on('afterChange', function(event, slick, currentSlide, nextSlide){
    $('.nl-click').removeClass('non-active-click')
     if($('.nld.slick-active').attr('data-slick-index') == parseInt($('.nld').length - 1)){
  $('.right-click').addClass('non-active-click');
  }
     if($('.nld.slick-active').attr('data-slick-index') == 0){
  $('.left-click').addClass('non-active-click');
  } 
     
  });
  
  $('.var-img-div').on('beforeChange', function(event, slick, currentSlide, nextSlide){
    let k = event.target.getAttribute('prod-id');
    $(`.${k}_nld .var-img-div`).attr('active-slide',nextSlide);
//     console.log(nextSlide);
    $(`.` + `${event.target.getAttribute('prod-id')}` + `_featured`).slick('slickGoTo', nextSlide);
    $(`.${k}_nld .featured_img`).removeClass('active-featured');
//     console.log(`.` + `${event.target.getAttribute('prod-id')}` + `_inner_featured`);

    $(`.${k}_nld .featured_img`).each((i,ele)=>{
      if(ele.getAttribute('swatch-num') == nextSlide){
        ele.classList.add('active-featured');
      }
    });
  });

   $(`.featured-img-div`).on('afterChange', function(event, slick, currentSlide, nextSlide){
     let i = event.target.getAttribute('prod-id');
     $(`.${i}_swipe`).removeClass('non-active-click');
     if($(`.${i}_featured .slick-active`)[0].getAttribute('data-slick-index') == 0){
  $(`.${i}_f-l`).addClass('non-active-click');
  }  
      if($(`.${i}_featured .slick-active`)[3].getAttribute('data-slick-index') == parseInt($(`.${i}_featured .featured_img`).length - 1)){
  $(`.${i}_f-r`).addClass('non-active-click');
  }
    })
  $('.feature-head').on('click',()=>{
                        $('.choose-headers > p').removeClass('active-header');
  $('.feature-head').addClass('active-header');
  $('.product-desc').hide();
  $('.product-feature-div').show()
  })
  $('.desc-head').on('click',()=>{
                     $('.choose-headers > p').removeClass('active-header');
  $('.desc-head').addClass('active-header');
  $('.product-feature-div').hide()
  $('.product-desc').show();
  })
  $('.explore-product').on('mouseover',()=>{
//    console.log('focus');
  $('.explore-product').css({'background':'#e00c1a'
                            });
  $('.explore-product').attr('style','background: #e00c1a;color: white !important;')
  $('.inner-atc').css({'background' : 'transparent', 
                       'border': '1px solid #e00c1a',
                       'color' : '#e00c1a'
                      });
   })
   $('.explore-product').on('mouseout',()=>{
//    console.log('out of focus');   
  $('.explore-product').css({'background':'transparent',
                             'color' : '#e00c1a'
                            });
  $('.inner-atc').css({'background' : '#e00c1a', 
                       'border': '0px solid #e00c1a',
                       'color' : 'white'
                      });
  
   })
   $('.inner-atc').click(function() {
    let varId = $(this).attr('var-id');
   	let activeVar = $(this).parents('.product-info-div').find('.active-swatch').attr('data-title');
    let prodTitle = $(this).parents('.product-info-div').find('.product-title').text();
    let varPrice = $(this).parents('.product-info-div').find('.'+varId+'_var-price').text();
    let varImage = $(this).parents('.product-info-div').siblings('.outer-div').find('.slick-active img').prop('src');
    let prodCategory = $(this).parents('.product-info-div').attr('data-cat');
    clevertap.event.push("Added to Cart", {
              "Product Name": prodTitle + ' - ' + activeVar,
              "Product Category": prodCategory,
              "Amount": varPrice,
          	  "Image url": varImage,
              "Quantity": 1,
              "Source": "HomePage New Launches Section",
    });
   })
   
      $('.product-desc').append(`<span class="read-more" style = "position: absolute;bottom: -1px;right: 0px;padding-left: 7px;background: #242424;color: red;font-weight: 600;">...Read more</span>`)

      $('.read-more').click((event)=>{
//           event.target.parentNode.style.overflowY = "auto";
          window.location.href = event.target.parentNode.getAttribute('prod_url');
//           event.target.style.display = "none";
         })
//       $('.product-desc').append(`<span class="read-less" style="color: red;font-weight: 600;padding-left: 6px;">...Read&nbspless</span>`);
//    $('.read-less').click((event)=>{
//           event.target.parentNode.style.height = "16vw";   
//           $('.read-more').css('display','block');
//          })

  })

$('.color-swatch-div > div').each(function() {
	$(this).click(function() {
		let selected_variant = $(this).attr('var-id');
		$(this).parents('.color-swatch-div').siblings('.atc-outer').find('input[name="id"]').val(selected_variant)
	})
	
})
  
{% endjavascript %}
