{%- assign blog = section.settings.blog -%}
<style>
  .shopify-section--single-blog .container.article_container.scroller {
    flex-wrap: nowrap;overflow-x: auto;scroll-snap-type: x mandatory;
  }
  .article--item {  max-width: 32%;min-width: 32%;margin-right: 15px;}
  .article--info .article--title a{text-decoration: none;}
  .article_container .article--meta{margin-bottom: 12px;}
  .article_container .a_published-at{font-size: 12px;}
  .article_container .top--info{margin-bottom: 0px;}

  @media(max-width: 676px){
    .shopify-section--single-blog .article_container {padding-left: 0px;}
    .shopify-section--single-blog .article--item:first-child{margin-left: 12px;}
  }
</style>
<header class="section__header blog__header">
  <div class=""> 
    <a class="d-flex justify-content-between align-items-center" href="{{ section.settings.url }}">
      <h3 class="ui2-heading">{{ section.settings.title }} </h3>
      <b class="view-all">View All
        {%- render 'icon' with 'right-arrow-blue' -%}
      </b>
    </a>
  </div>
</header>

<div class="container article_container scroller">
  {% for article in blogs[blog].articles limit: section.settings.articles_per_page %}
    <div class="article--item scroller__inner">
      <a href="{{ article.url }}" class="article-item__image-container">
        <img class="article-item__image" sizes="(max-width: 740px) 81vw, (max-width: 999px) 37vw, 425px" loading="lazy" {% render 'image-attributes', image: article.image, sizes: '600,700,800,1000,1200,1400,1600,1800,2000' %}>
      </a>
      <div class="article--info">
          
          <p class="article--title"><a href="{{ article.url }}">{{ article.title | truncate: 60, '...' }}</a></p>
          <div class="article--content visually-hidden">{{ article.content }}</div>
          <div class="article--meta">
              <span class="a_published-at">{{ article.published_at | date: "%d %b, %Y" }}</span>
              {% comment %} <b class="view-all">
                <a href="{{article.url}}">
                  Read Now
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                      <path id="Path_337386" data-name="Path 337386" d="M8.159,2.693a6.7,6.7,0,0,0,2.7-.551A7.172,7.172,0,0,0,13.095.625,7.133,7.133,0,0,0,14.608-1.6a6.735,6.735,0,0,0,.548-2.706,6.7,6.7,0,0,0-.551-2.7A7.216,7.216,0,0,0,13.087-9.25a7.041,7.041,0,0,0-2.234-1.513,6.781,6.781,0,0,0-2.7-.544,6.755,6.755,0,0,0-2.7.544A7.1,7.1,0,0,0,3.22-9.25,7.134,7.134,0,0,0,1.7-7.012a6.742,6.742,0,0,0-.548,2.7A6.7,6.7,0,0,0,1.706-1.6,7.184,7.184,0,0,0,3.223.625a7.184,7.184,0,0,0,2.23,1.517A6.7,6.7,0,0,0,8.159,2.693Zm0-1.283A5.609,5.609,0,0,1,5.932.968,5.741,5.741,0,0,1,4.109-.261,5.692,5.692,0,0,1,2.885-2.084a5.648,5.648,0,0,1-.44-2.226,5.648,5.648,0,0,1,.44-2.226A5.692,5.692,0,0,1,4.109-8.36,5.7,5.7,0,0,1,5.929-9.585a5.622,5.622,0,0,1,2.223-.44,5.675,5.675,0,0,1,2.23.44A5.681,5.681,0,0,1,12.208-8.36a5.692,5.692,0,0,1,1.225,1.823,5.648,5.648,0,0,1,.44,2.226,5.648,5.648,0,0,1-.44,2.226A5.692,5.692,0,0,1,12.208-.261,5.741,5.741,0,0,1,10.385.968,5.609,5.609,0,0,1,8.159,1.411Zm3.5-5.735a.637.637,0,0,0-.209-.44l-2.306-2.3a.541.541,0,0,0-.389-.144.5.5,0,0,0-.371.151.507.507,0,0,0-.148.367.526.526,0,0,0,.166.4l.843.821.793.648L8.62-4.887H5.183a.528.528,0,0,0-.4.162.557.557,0,0,0-.155.4.553.553,0,0,0,.155.4.535.535,0,0,0,.4.159H8.62l1.419-.058-.793.656L8.4-2.35a.5.5,0,0,0-.166.389.528.528,0,0,0,.148.378.491.491,0,0,0,.371.155.529.529,0,0,0,.389-.159l2.306-2.291A.627.627,0,0,0,11.661-4.325Z" transform="translate(-1.155 11.307)" fill="#2f5b96"></path>
                  </svg>
                </a>
              </b> {% endcomment %}
              <div class="top--info">
                <span class="min-read"></span>
              </div>
          </div>
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Single Blog Section",
  "class": "shopify-section--single-blog",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
      "type": "text",
      "id": "url",
      "label": "All Page URL"
    },
    {
      "type": "range",
      "id": "articles_per_page",
      "label": "Blog posts per page",
      "min": 3,
      "max": 12,
      "step": 1,
      "default": 6
    }
  ],
  "presets": [
    {
      "category" : "Blog",
      "name": "Single Blog Section"
    }
  ]
}
{% endschema %}
