<div class="custom_slides">
  {% assign interval = section.settings.interval_time %}
  <span class="interval_time hidden">{{interval}}</span>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
        {% for bl in section.blocks %}
<div class="carousel-item {% if forloop.index == 1 %}active{% endif %} slide_{{forloop.index}}" {% if forloop.index == 1 %}style="display: block;"{% else %} style="display:none"{% endif %}> 
      
      <a  href="{% if bl.settings.slide_link != empty %} {{ bl.settings.slide_link}} {%else%} javascript:void(0){%endif%}" >
  		<img
              srcset="{%- if bl.settings.mob_slider_img.width >= 375 -%}{{ bl.settings.mob_slider_img | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 550 -%}{{ bl.settings.mob_slider_img | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 750 -%}{{ bl.settings.mob_slider_img | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 1100 -%}{{ bl.settings.mob_slider_img | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 1500 -%}{{ bl.settings.mob_slider_img| image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 1780 -%}{{ bl.settings.mob_slider_img | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 2000 -%}{{ bl.settings.mob_slider_img | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 3000 -%}{{ bl.settings.mob_slider_img | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if bl.settings.mob_slider_img.width >= 3840 -%}{{ bl.settings.mob_slider_img | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ bl.settings.mob_slider_img | image_url }} {{ bl.settings.mob_slider_img.width }}w"
              alt="{{bl.settings.alt_text}}"
              class="mob {% if forloop.index == 1 %} preload {% else %}lazyload{% endif %}"
            />
            <img
           srcset="{%- if bl.settings.desk_slider_img.width >= 375 -%}{{ bl.settings.mob_slider_img | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 550 -%}{{ bl.settings.desk_slider_img | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 750 -%}{{ bl.settings.desk_slider_img | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 1100 -%}{{ bl.settings.desk_slider_img | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 1500 -%}{{ bl.settings.desk_slider_img| image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 1780 -%}{{ bl.settings.desk_slider_img | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 2000 -%}{{ bl.settings.desk_slider_img | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 3000 -%}{{ bl.settings.desk_slider_img | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if bl.settings.desk_slider_img.width >= 3840 -%}{{ bl.settings.desk_slider_img | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ bl.settings.desk_slider_img | image_url }} {{ bl.settings.desk_slider_img.width }}w"
              alt="{{bl.settings.alt_text}}"
              class="desk {% if forloop.index == 1 %} preload {% else %}lazyload{% endif %}"
            />
          </a>

        </div>
  {% endfor %}
     
            <ol class="carousel-indicators">
                {% for bl in section.blocks %}
  <li data-target="#carouselExampleIndicators" class="dt  {% if forloop.index == 1 %}active {% endif %}" data-slide-to="{{forloop.index}}"></li>
                {% endfor %}
              </ol>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next " href="#carouselExampleIndicators" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>

      </div>
 
    </div>



 {% schema %}
  {
    "name": "custom slider",
    "settings": [
				{
					"type":"number",
					"label":"Slider interval in seconds",
					"id":"interval_time"
				},
				{
					"type":"checkbox",
					"label":"Display Arrows",
					"id":"enable_arr"
				}
			],
	"blocks":[
				{
					"type":"image",
					"name":"image_block",
					"settings":[
									{
										"type":"image_picker",
										"id":"desk_slider_img",
										"label":"Pick image for desktop"
									},
									{
										"type":"image_picker",
										"id":"mob_slider_img",
										"label":"Pick image for mobile"
									},
  	{
										"type":"text",
										"id":"alt_text",
										"label":"alt-text"
									},
									{
										"type":"url",
										"id":"slide_link",
										"label":"Slide link url"
									}
								]
				}
			],
	"presets":[
			{
				"category": "slider",
				"name":"newslider"
			}
		]
  }
{% endschema %}
