<style>
    .custom_slides {
        width: 100%;
        overflow: hidden;
     position:relative;
     margin-bottom:20px;
      }
      .slider_track {
        width: 100%;
        display: block;
        float:left;
        height: 100%;
        position:relative;
      }
      .slide img {
        width: 100vw;
      }
.arr{
	display:none;
}
      .prev_ar,
      .next_ar {
        position: absolute;
        top: 50%;
        cursor: pointer;
        font-size: 30px;
      }
      .prev_ar {
        left: 2%;
      }
      .next_ar {
        right: 2%;
      }
      .dots_indc {
        position: absolute;
        left: 50%;
        z-index: 100;
        bottom:2%;
        transform:translateX(-50%);
        display: flex;
        flex-direction: row;
      }
      .slide {
        opacity: 0;
        transition:all 0.4s ease-in;
      }
      .slide_dis {
        display: none;
      }
      .active_slide {
        opacity: 1;
      }
      .arr svg {
        width: 30px;
        height: auto;
        border: solid 1px #000;
        border-radius: 40px;
        padding: 6px;
      }
.dt{
	width:12px;
  height:12px;
  border:solid 2px #747D7D;
  border-radius:40px;
  background-color:transparent;
  display:block!important;
  margin:10px;
  transition:all 0.3s ease-in;
}
.active_dt{
	background-color:#747D7D;
}
.custom_slides .hidden{
	display:none;
}
.dt{
	cursor:pointer;
}
      @media (max-width: 1000px) {
        .desk {
          display: none;
        }
        .mob {
          display: block;
        }
      }
@media(max-width:768px){
  .arr{
  	display:none;
  }
}
@media(min-width:768px){
  .arr{
  	display:block;
  }
}
      @media (min-width: 1000px) {
        .desk {
          display: block;
        }
        .mob {
          display: none;
        }
      } 
</style>
<script src="{{ 'custom-slider.js' | asset_url }}" defer="defer"></script>
<div class="row">
  <div class="col-12">
     <h3 class="heading h2 text-center py-5">
      New Launches
    </h3>
  </div>
</div>
<!-- <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/left-arrow_1.png?v=1642498138" class="left-click nl-click non-active-click" /> -->
<!-- <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/right-arrow_1.png?v=1642498059" class="right-click nl-click" /> -->
<div class="custom_slides">
 {% assign interval = section.settings.interval_time %}
  <span class="interval_time hidden">{{interval}}</span>
      <div class="slider_track">
  {% for block in section.blocks %}
  {% assign product = block.settings.product_new_launches %}
  {% assign p_id = product.id %}
  <div class="nld {{p_id}}_nld">
    
    <div class="outer-div">

      <div class="new-tag">
        <p>NEW</p>
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/bg_84f694ac-32c9-4466-9138-fce0b4b49aa6.png?v=1642860651"/>
      </div>

      <div active-slide = "0" class="var-img-div {{p_id}}_var" prod-id ="{{p_id}}">
        {% for variant in product.variants %}
        {% if variant.available == true %}
        <div class="var_img">
          <img alt="{{block.settings.alt_imgtext}}" src = "{{variant.metafields.my_fields.newlaunchimage | img_url : "master"}}">    
        </div>
        {% endif %}
        {% endfor %}
        {% for variant in product.variants %}
        {% if variant.available == false %}
        <div alt="{{block.settings.alt_imgtext}}" class="var_img">
          <img src = "{{variant.metafields.my_fields.newlaunchimage | img_url : "master"}}">    
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="product-info-div" data-cat="{{ product.type }}">
      <img class="vector-1" src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Vector_Smart_Object_6085a897-ef0f-41c5-9690-3de81a71112f.png?v=1642419136" />
      <div class="vector-2">
      <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Vector_Smart_Object_1_a04b1b26-149f-4d1b-a79e-62adb94fabfa.png?v=1642419621" />
      </div>
      <div class="product-subtitle">{{block.settings.product_category}}</div>
      <div class="product-title">{{product.title}}</div>
      
       <span class="special-price">Special launch price</span>
      {% assign i = -1 %} 
      {% for variant in product.variants %}
      {% assign i =  i | plus: 1 %} 
     {% if block.settings.sale_price_checkbox %}
      <div swatch-num = "{{i}}" class="var-price {{variant.id}}_var-price">  Rs. {{block.settings.sale_price}}</div>
      {% else %}
      <div swatch-num = "{{i}}" class="var-price {{variant.id}}_var-price">Rs. {{variant.price | divided_by: 100}}</div>
      {% endif %}
      {% endfor %}
      <div class="choose-headers">
        <p class="desc-head active-header">Description</p>
        <p class="feature-head">Features</p>
      </div>
      <div class="product-desc" prod_url="{{product.url}}">{{block.settings.product_desc}}</div>
      <div class="product-feature-div">
        {% if block.settings.feature_1 != blank %}
        <div class="product-feature-l product-feature_1">{{block.settings.feature_1}}</div>
        {% endif %}
        {% if block.settings.feature_2 != blank %}
        <div class="product-feature-l product-feature_2">{{block.settings.feature_2}}</div>
        {% endif %}
        {% if block.settings.feature_3 != blank %}
        <div class="product-feature-l product-feature_3">{{block.settings.feature_3}}</div>
        {% endif %}
        {% if block.settings.feature_4 != blank %}
        <div class="product-feature-l product-feature_4">{{block.settings.feature_4}}</div>
        {% endif %}
        {% if block.settings.feature_5 != blank %}
        <div class="product-feature-l product-feature_5">{{block.settings.feature_5}}</div>
        {% endif %}
      </div>
      <div class="color-swatch-div">
        {% assign i = -1 %} 
        {% for variant in product.variants %}
        {% if variant.available == true %}
        {% if variant.title contains '/'%}
        {% assign arr_var = variant.title | split: "/" %}
        {% assign color = arr_var[1] %}
        {% assign title = arr_var[0] %}
        {% else %}
        {% assign color = variant.title %}
        {% assign title = variant.title %}
        {% endif %}
        {% assign i =  i | plus: 1 %} 

<div prod-id ="{{p_id}}" var-id = "{{variant.id}}" swatch-num = "{{i}}" color = {{color}} class="color-swatch {{color}} {{variant.id}}_color-swatch" style="color:white; background: {{color}}" data-title="{{title}}"></div>
        {% endif %}
        {% endfor %}
        {% for variant in product.variants %}
        {% if variant.available == false %}
        {% if variant.title contains '/'%}
        {% assign arr_var = variant.title | split: "/" %}
        {% assign color = arr_var[1] %}
        {% else %}
        {% assign color = variant.title %}
        {% endif %}
        {% assign i =  i | plus: 1 %} 

  <div prod-id ="{{p_id}}" var-id = "{{variant.id}}" swatch-num = "{{i}}" color = {{color}} class="color-swatch {{color}} {{variant.id}}_color-swatch" style="color:white; background: {{color}}"></div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="atc-outer">
        <a href= "{{product.url}}"  class="explore-product">
          Explore Now
        </a>
        {% for variant in product.variants %}

        <div class="new-launch-atc {{variant.id}}_new_launch_atc">
          {% if variant.available == true %}
 {%- capture form_id -%}product_form_{{ section.id }}_{{ block.id }}_{{ product.id }}_{% increment product_form_index %}{%- endcapture -%}
          {%- form 'product', product, is: 'product-form', id: form_id -%}
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="id" value="{{ product.first_available_variant.id }}">

  <button type="submit" {% if show_cta %}is="loader-button"{% endif %} class="{% if reduced_content %}product-item__link link text--subdued{% else %}product-item__cta button button--primary{% endif %}">Add To Cart
   <div class="apply_coupon_spinner"></div>
  </button>

          {%- endform -%}
          {% else %}
          <div class="inner-atc-sold" var-id="{{variant.id}}">Sold Out</div>
          {% endif %}

        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
              <div class="dots_indc">
                {% for bl in section.blocks %}
        			<div class="dt  {% if forloop.index == 1 %}active_dt {% endif %}" data-sec="slide_{{forloop.index}}"></div>
                {% endfor %}
      </div>
</div>
    {% if section.settings.enable_arr %}
      <div class="arr">
        <div class="prev_ar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-chevron-left"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
            />
          </svg>
        </div>
        <div class="next_ar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-chevron-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </div>
      </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "New Launches",
  "class": "shopify-section--newlaunches",
  "settings": [
				{
					"type":"number",
					"label":"Slider interval in seconds",
					"id":"interval_time"
				},
				{
					"type":"checkbox",
					"label":"Display Arrows",
					"id":"enable_arr"
				}
],
  "blocks": [
    {
    "name": "new-launches-home",
    "type": "new-launches-home",
    "settings": [
    {
    "type": "product",
    "id": "product_new_launches",
    "label": "Product"
    },
    {
    "type": "text",
    "id": "alt_imgtext",
    "label": "alt-imgtext"
    },
    {
    "type": "text",
    "id": "product_category",
    "label": "Category"
    },
    {
    "type": "checkbox",
    "id": "sale_price_checkbox",
    "label": "Show Sale Price"
    },
    {
    "type": "text",
    "id": "sale_price",
    "label": "Sale Price"
    },
    {
    "type": "text",
    "id": "product_desc",
    "label": "Description"
    },
    {
    "type": "text",
    "id": "feature_1",
    "label": "Feature 1"
    },
    {
    "type": "text",
    "id": "feature_2",
    "label": "Feature 2"
    },
    {
    "type": "text",
    "id": "feature_3",
    "label": "Feature 3"
    },
    {
    "type": "text",
    "id": "feature_4",
    "label": "Feature 4"
    },
    {
    "type": "text",
    "id": "feature_5",
    "label": "Feature 5"
    }
    ]
    }
  ],
  "presets": [
        {
          "name": "New Launches",
          "category": "slider",
          "settings": {
          }
        }
      ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


