<section>
  <div class="container">
    <div class="page-content page-content--small">
      <div class="customer-login-section customer--section" otp_login_screen="true">
        <div class="customer-head">
          <div class="otp-login-title">
            {% if section.settings.image %}
              <img
                src="{{ section.settings.image | img_url: 'medium' }}"
                alt=""
                class="customer-head-img">
            {% elsif section.settings.title != blank %}
              <h1 class="customer-head-title">{{ section.settings.title }}</h1>
            {% endif %}
          </div>
          <div class="otp-login-message">
            <h3>
              Enter the 6-digit code sent to your mobile number</h3>
          </div>
          <div class="login-head-bottom-border">
            <svg
              width="224"
              height="4"
              viewBox="0 0 224 4"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <ellipse
                cx="112"
                cy="2"
                rx="112"
                ry="2"
                fill="#D9D9D9" />
            </svg>
          </div>
        </div>
        <div class="customer-login-container">
          <div class="otp-login-head">
            {% if request.path == routes.account_login_url %}
              <h2>LOGIN</h2>
              <div class="customer-login-links">
                <span>New to boAt?
                  <a href="{{ routes.account_register_url }}">Create an account</a>
                </span>
              </div>
            {% elsif request.path == routes.account_register_url %}
              <h2>SIGN UP</h2>
              <div class="customer-login-links">
                <span>Already a boAthead?
                  <a href="{{ routes.account_login_url }}">Login with your mobile number</a>
                </span>
              </div>
            {% endif %}
          </div>
          <div class="otp-login-body otp-login-body-container">

            <div class="otp-login-input-container">
              <div class="mobile-login-input">
                <div class="input">
                  <input
                    type="tel"
                    id="otp-mobile-number"
                    pattern="[0-9]*"
                    maxlength="10"
                    name="mobile"
                    value=""
                    class="input__field"
                    required>
                  <label for="mobile" class="input__label">Mobile number</label>
                </div>
                <div class="mobile-login-edit-icon">
                  <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Mask_group_1_8f1d5e89-bda7-4555-bfeb-d14272893b2c.png?v=1667911654">
                </div>
              </div>
              <div class="input mobile-otp-inout">
                <input
                  type="text"
                  pattern="\d{6}"
                  maxlength="6"
                  name="otp"
                  id="otp"
                  value=""
                  class="input__field"
                  autocomplete="one-time-code"
                  inputmode="numeric">
                <label for="mobile" class="input__label">One time password</label>
              </div>
            </div>
            <div class="email-list-container"></div>
            <div class="otp-timer-container">
              <p class="resend-otp">
                <span class="resend-timer">Resend OTP in
                  <span id="timer"></span>
                </span>
                <span class="resend-text">Didn’t receive the code ?
                </span>
              </p>
              <p id="resend__otp" class="resend-btn login-resend-btn">
                <span>Resend</span>
              </p>
            </div>
            <p class="otp-login-error"></p>
            <div class="otp-login-btn-container">
              <button class="otp-login-btn button button--secondary button--full">
                SEND OTP
              </button>
              <button class="otp-login-confirm-btn button button--secondary button--full">
                Confirm
              </button>
              <button class="otp-login-submit-btn button button--secondary button--full">
                Submit
              </button>
            </div>

            <p class="otp-login-privacy-policy">
              By Confirming, you agree to boAt's Terms and Conditions and Privacy Policy.
            </p>
          </div>

          <div class="otp-register-body otp-login-body">
            <div class="otp-signup-content">
              <h3 data-signup-content>Hey boAthead, this email ID would be used for sending order invoices. Kindly provide your private email ID to minimize any loss of your personal data</h3>
            </div>
            <div class="otp-login-input-container">
              <div class="input otp-fullName">
                <input
                  type="text"
                  id="full_name"
                  class="input__field"
                  name="full_name"
                  required="required"
                  autocomplete="given-name">
                <label for="full_name" class="input__label">Full name</label>
              </div>
              <div class="mobile-otp-email">
                <div class="input otp-email">
                  <input
                    type="email"
                    id="email"
                    class="input__field"
                    name="email"
                    required="required"
                    autocomplete="email">
                  <label for="email" class="input__label">{{ 'customer.register.email' | t }}</label>
                </div>
                <div class="mobile-login-edit-icon">
                  <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Mask_group_1_8f1d5e89-bda7-4555-bfeb-d14272893b2c.png?v=1667911654">
                </div>
              </div>
              <div class="input dob-field">
                <input
                  type="date"
                  id="dob"
                  class="input__field"
                  name="customer[note][birthday]"
                  required="required"
                  autocomplete="given-name">
                <label for="dob" class="input__label">DOB</label>
              </div>
              <div class="input gender-field">
                <select
                  id="gender"
                  class="input__field"
                  name="customer[note][gender]"
                  required="required">
                  <option disabled selected>Select Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
                <label for="dob" class="input__label">DOB</label>
              </div>
            </div>
            <div class="email-list-container"></div>
            <div class="otp-timer-container">
              <p class="resend-otp">
                <span class="resend-timer">Resend OTP in
                  <span id="timer"></span>
                </span>
                <span class="resend-text">Didn’t receive the code ?
                </span>
              </p>
              <p id="resend__otp" class="resend-btn signUp-resend-btn">
                <span>Resend</span>
              </p>
            </div>
            <p class="otp-login-error"></p>
            <div class="otp-login-btn-container">
              <button class="otp-login-submit-btn button button--secondary button--full">
                Submit
              </button>
            </div>

            <p class="otp-login-privacy-policy">
              By Confirming, you agree to boAt's Terms and Conditions and Privacy Policy.
            </p>
          </div>

        </div>
      </div>
      <div class="oto-login-success-container">
        <div class="otp-success-icon">
          <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Screenshot_2022-11-24_170335.png?v=1669289636" alt="otp success icon">
        </div>
        <div class="otp-success-title">
          <h2>Woohooo!!! <br>You are successfully logged in…</h2>
        </div>
        <div class="otp-success-text">
          <p>Redirecting you to the base in <br><span id="countdown">5</span>
            seconds…</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Customer login",
    "class": "shopify-section--main-customers-otp-login",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Hello boAthead"
      }
    ],
    "blocks": [
      {
        "type": "@app"
      }
    ]
  }
{% endschema %}