<style>
  #shopify-section-{{ section.id }} {
  }
</style>

<section class="section ">
  {%- if product.metafields.custom.description_1_after_quinn != blank -%}
    {{- product.metafields.custom.description_1_after_quinn -}}
  {%- endif -%}
  {%- if product.metafields.custom.description_2_after_quinn != blank -%}
    {{- product.metafields.custom.description_2_after_quinn -}}
  {%- endif -%}
  {%- if product.metafields.custom.description_3_after_quinn != blank -%}
    {{- product.metafields.custom.description_3_after_quinn -}}
  {%- endif -%}
  {%- if product.metafields.custom.description_4_after_quinn != blank -%}
    {{- product.metafields.custom.description_4_after_quinn -}}
  {%- endif -%}
</section>

{% schema %}
{
  "name": "PDP Content after Quinn",
  "class": "shopify-section--rich-text",
  "settings": [],
  "presets": [
    {
      "name": "PDP Content after Quinn",
      "settings": {}
    }
  ]
}
{% endschema %}