{%- if section.settings.background != settings.background and section.settings.background != 'rgba(0,0,0,0)' -%}
  {%- assign blends_with_background = false -%}
{%- else -%}
  {%- assign blends_with_background = true -%}
{%- endif -%}

<style>
  .press-list__wrapper {
    margin-left: 0;
  }
  {%- if settings.enable_mob_bg -%}
    .shopify-section--press .press_section {
      background: transparent;
    }
  {%- else -%}
    .shopify-section--press .press_section {
      background: rgb(255 255 255);
    }
  {%- endif -%}
  .rte blockquote:after,
  .rte blockquote:before,
  .shopify-section--press .blockquote:after,
  .shopify-section--press .blockquote:before {
    opacity: 0;
  }
  split-lines {
    color: white;
  }
  .press-list_logo-list-wrapper button.press-list_logo-item[aria-current=true] {
    background: #E9E9E9;
    padding: 10px;
  }

  #shopify-section-{{ section.id }}{
    {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
      {%- assign section_background = settings.background -%}
    {%- else -%}
      {%- assign section_background = section.settings.background -%}
    {%- endif -%}

    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign heading_color = settings.heading_color -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign heading_color = section.settings.text_color -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}

    --heading-color: {{ heading_color.red }}
    , {{ heading_color.green }}
    , {{ heading_color.blue }}
    ;
    --text-color: {{ text_color.red }}
    , {{ text_color.green }}
    , {{ text_color.blue }}
    ;
    /*       background: rgb({{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }}); */
  }

  @media screen and (max-width: 767px) {
    [dir=ltr] .blockquote:after,
    [dir=ltr] .rte blockquote:after {
      bottom: -32px;
    }

    .press_section .vertical-breather {
      padding-bottom: 18px;
    }
  }

  .custom_press_slider {
    margin-top: 20px;
  }
  .custom_press_slider .owl-item p {
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    min-height: 26px;
  }
  .custom_press_slider .owl-item img {
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;
    border: 0;
  }
  .custom_press_slider .owl-dots {
    margin-top: 12px
  }
  .custom_press_slider .owl-dots button {
    width: 8px;
    height: 8px;
    background: #44444478 !important;
    margin: 0 5px;
    border-radius: 50% !important;
  }
  .custom_press_slider .owl-dots button.active {
    background: #7f7f7f !important;
    width: 40px;
    border-radius: 12px !important;
  }
  .press-list .custom_press_slider.MultiCarousel-inner {margin-left:0!important;padding-bottom:70px;}
  .press-list .item{font-size:20px;color: #4e5358;line-height:26px;}
  .press-list .leftLst,.press-list .rightLst{display:block!important;width: 32px;height: 32px;background: #d0d9de;border-radius: 50% !important;z-index: 9;border: 0;color: transparent;top:unset;bottom:21px;visibility:visible;}
  .press-list .leftLst{left: 43%;transform: translateX(-40%);}
  .press-list .rightLst{right: 33%;transform: translateX(-40%);}
  .press-list .leftLst:before, .press-list .rightLst:before {
    visibility: visible;
    font-size: 32px!important;
    color: #1e1e1e;
    font-weight: normal;
    line-height: 32px;
    width: 32px;
    height: 32px;
    z-index: 999;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}
.press-list .leftLst:focus, .press-list .rightLst:focus,
.press-list .leftLst:active, .press-list .rightLst:active {background: transparent!important;border: 0!important;color: transparent!important;box-shadow:none!important;}
  
  .press_section .section__color-wrapper > .container .MultiCarousel_container{background: #f7f9fa;padding-left: 24px;padding-right: 24px;}
  .MultiCarousel .MultiCarousel-inner .item>div{background:transparent;}

@media screen and (min-width:1099px){
.press_section .section__color-wrapper > .container{padding:0!important;}
.press_section h3{margin-bottom:1rem;}
.press-list .item{display: flex!important;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  background: transparent;}
.press-content{width: 60%;
  height: 100%;margin-top: -4rem;}
  .press-content p{max-width:450px;margin:auto;font-size: 30px;line-height: 36px;}
  .MultiCarousel .MultiCarousel-inner .item>div.press-logos{width: 40%;
  height: 280px;
  background: #d0d9de;
  display: flex;
  align-items: center;
  justify-content: center;}
  .MultiCarousel .MultiCarousel-inner .item>div.press-content{background:transparent;padding-inline:1rem;}
  .MultiCarousel.press-list{margin-left:-24px;padding:0;}
  .press-list .custom_press_slider.MultiCarousel-inner{margin-top:0;padding-bottom:0;}
  .press-list .rightLst {
    right: 28%;
  }
  .press-list .leftLst {
    left: 67%;
  }
  .press-list .leftLst:before, .press-list .rightLst:before{width:32px;height:32px;line-height:32px;font-size:32px!important;}
  .press-list .leftLst, .press-list .rightLst{width:32px;height:32px;}
}
</style>

<section class="press_section {% unless blends_with_background %}section--flush{% endunless %}">
  <div class="section__color-wrapper">
    <div class="container px-lg-0">
      <h3 class="ui2-heading">In the <span><b>Press</b></span></h3>
      {% comment %} <press-list {% if section.settings.reveal_on_scroll %}reveal-on-scroll{% endif %} class="press-list only-desktop">
        <div class="press-list__wrapper">

          {%- for block in section.blocks -%}
            <press-item
              {% unless forloop.first %}hidden{% endunless %}
              id="block-{{ section.id }}-{{ block.id }}"
              class="press-list__item"
              {{ block.shopify_attributes }}>
              <blockquote class="press-list__item-content blockquote blockquote--center">
                <split-lines {% if section.settings.reveal_on_scroll or forloop.first == false %}reveal-visibility{% endif %}>{{ block.settings.content | escape }}</split-lines>
              </blockquote>
            </press-item>
          {%- endfor -%}
        </div>

        <div class="press-list__logo-list-wrapper hide-scrollbar">
          <page-dots align-selected class="press-list__logo-list">
            {%- for block in section.blocks -%}
              <button class="press-list__logo-item tap-area" {% if forloop.first %}aria-current="true"{% endif %}>
                {%- if block.settings.logo != blank -%}
                  {%- capture image_sizes -%}
                    {{ block.settings.logo_width }}, {{ block.settings.logo_width | times: 2 }}, {{ block.settings.logo_width | times: 3 }}{%- endcapture -%}
                  <span class="visually-hidden">{{ 'general.accessibility.go_to_slide' | t: num: forloop.index }}</span>
                  <img
                    class="press-list__logo-image"
                    loading="lazy"
                    style="max-width: 160px"
                    sizes="160px"
                    {% render 'image-attributes', image: block.settings.logo, sizes: image_sizes %}>
                {%- else -%}
                  <span class="heading h6">Logo {{ forloop.index }}</span>
                {%- endif -%}
              </button>
            {%- endfor -%}
          </page-dots>
        </div>
      </press-list> {% endcomment %}
      <div class="container MultiCarousel_container">
        <div class="row">
          <div class="press-list MultiCarousel {{ section.id }}" id="MultiCarousel_press" {% render 'carousel-js' %}>
            <div class="custom_press_slider MultiCarousel-inner {{ section.id }} draggable" draggable="true">
              {%- for block in section.blocks -%}
                <div class="item">
                  <div class="press-content">
                    <div class="quote-icon">
                      {%- render 'icon' with 'quote' -%}
                    </div>
                    <p>{{ block.settings.content | escape }}</p>
                    {%- if block.settings.logo != blank -%}
                      {%- capture image_sizes -%}
                        {{ block.settings.logo_width }}, {{ block.settings.logo_width | times: 2 }}, {{ block.settings.logo_width | times: 3 }}{%- endcapture -%}
                      <span class="visually-hidden">{{ 'general.accessibility.go_to_slide' | t: num: forloop.index }}</span>
                  </div>
                    <div class="press-logos">
                      <img
                        class="press-list__logo-image"
                        loading="lazy"
                        style="max-width: 160px"
                        sizes="160px"
                        {% render 'image-attributes', image: block.settings.logo, sizes: image_sizes %}>
                    </div>
                  {%- else -%}
                    <span class="heading h6">Logo {{ forloop.index }}</span>
                  {%- endif -%}
                </div>
              {% endfor %}
            </div>
            <button class="btn btn-primary leftLst {{ section.id }}"><</button>
            <button class="btn btn-primary rightLst {{ section.id }}">></button>
            <ul class="MultiCarousel_dots_container">
              {% for block in section.blocks %}
               <li class="multiCarousel_dots" data-index="{{ forloop.index0 }}">{{ forloop.index }}/{{ forloop.length }}</li> 
              {% endfor %} 
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% render 'carousel-css' %}

{% schema %}
  {
    "name": "Press",
    "class": "shopify-section--press container",
    "max_blocks": 6,
    "blocks": [
      {
        "type": "item",
        "name": "Press testimonial",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo",
            "info": "300 x 75px .png recommended"
          }, {
            "type": "range",
            "id": "logo_width",
            "min": 25,
            "max": 150,
            "step": 5,
            "unit": "px",
            "label": "Logo width",
            "default": 100
          }, {
            "type": "text",
            "id": "content",
            "label": "Content",
            "default": "Write some content about what they are saying about your store."
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "checkbox",
        "id": "reveal_on_scroll",
        "label": "Reveal on scroll",
        "info": "Show animation when section becomes visible.",
        "default": true
      }, {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "rgba(0,0,0,0)"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text",
        "default": "rgba(0,0,0,0)"
      }, {
        "type": "text",
        "id": "autoplay_timeout",
        "label": "autoplay_timeout in 5000 = 5sec"
      }, {
        "type": "number",
        "id": "slides_no",
        "label": "mobile slides",
        "default": 1
      }, {
        "type": "number",
        "id": "deskslides_no",
        "label": "desk slides",
        "default": 1
      }, {
        "type": "checkbox",
        "id": "loop",
        "label": "infinite loop",
        "default": true
      }, {
        "type": "checkbox",
        "id": "autoplay",
        "label": "autoplay",
        "default": true
      }, {
        "type": "number",
        "id": "slideBy",
        "label": "number of slides drag in one screen",
        "default": 1
      },  {
        "type": "text",
        "id": "item_space_desk",
        "label": "Space between items in desktop",
        "default": "1rem"
      },
      {
        "type": "text",
        "id": "item_space_mobile",
        "label": "Space between items in mobile",
        "default": "1rem"
      },{
        "type": "text",
        "id": "next_item_visibility_desk",
        "label": "Next item visibility in desktop",
        "default": "0"
      },
      {
        "type": "text",
        "id": "next_item_visibility_mobile",
        "label": "Next item visibility in mobile",
        "default": "1rem"
      }, {
        "type": "checkbox",
        "id": "show_dots_on_mobile",
        "label": "Show Dots on Mobile",
        "default": true
      },{
        "type": "number",
        "id": "last_item_padding",
        "label": "Last item padding",
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "Press",
        "blocks": [
          {
            "type": "item"
          }
        ]
      }
    ]
  }
{% endschema %}