<style>
  #custom-saleModal{z-index:9999;background:#0009;padding:0!important;transform:translateY(0%)}
  #custom-saleModal .modal-dialog,#custom-saleModals-1 .modal-dialog,#custom-saleModals-2 .modal-dialog{top:10%}
  #custom-saleModal .close{position:absolute;
    text-shadow: none;
    top: 1.5rem;
    right: 1.5rem;
    width: 30px;
    height: 30px;
    line-height: normal;
    background: #d0d9de;
    opacity: .8;
    font-weight: 400!important;
    border-radius: 50%!important;
                           text-align:center;font-size:32px!important}
  #custom-saleModal .close:focus{border:0;outline:none}
  #custom-saleModal input#sale_email::placeholder{color:grey!important}
  #custom-saleModal .error-msg-sale,#custom-saleModal .thankyou-msg-sale,#custom-saleModal .aluser-msg-sale{text-align:center;margin:0;font-size:12px;opacity:.8}
  #custom-saleModal .sale-btn:focus{outline:none}
  #custom-saleModal img{display:block}
  #custom-saleModal .modal-content{border:0}
  #custom-saleModal .modal-form{background:{{ section.settings.popup_backgroung}} }
  #custom-saleModal input{background:transparent;color:#ccc;margin-right:4px;padding:0 12px;border:0}
  #custom-saleModal input::-webkit-input-placeholder{color:#ccc}
  #custom-saleModal .sale-btn:hover{background:#EB1C24!important}
  @media screen and (max-width: 600px) {
  #custom-saleModal .modal-dialog,#custom-saleModals-1 .modal-dialog,#custom-saleModals-2 .modal-dialog{top:5%}
    .section__header a{max-width:80%;}
  }

  .featured_collection_container{margin-block:2rem}
  .modal-body.p-0{
    /* background: url({{ section.settings.popup_image | img_url: 'master' }}); */
    background-size: cover;min-height: 70vh;}
  .panel{padding: 6vh 0;}
  .panel h6 {font-weight: 600; text-align: center;margin-top: 8px;}
   {% comment %} div#question::before { content: url(https://cdn.shopify.com/s/files/1/0057/8938/4802/files/star_5ca1e219-08c4-4c35-91a7-7f02ab050315.png?v=1671790648); {% endcomment %}
   position: absolute;top: -22px;left: -22px;}
  .question-container{margin:10px auto;padding:12px 0;width:80%;background-color:#fff;text-align:center;border-radius: 8px;
  border: 1px solid;position:relative;}
  .option-container{display:flex;justify-content:space-around;margin:10px auto;padding:5px;width:90%;flex-wrap:wrap; margin-top: 5vh;}
  .option:hover{background-color:#f4c730;}
  .previous, .next, .submit{padding: 5px 16px;background-color: #fff;border-radius: 16px!important;border: 1px solid;}
  button.option{display:flex;flex-direction:column;align-items:center;width: 40%;margin-bottom: 12px;}
  @media(min-width:1024px) {
  button.option{width:16%}
  .modal-body.p-0 {background-position: unset;background-size: unset;}
  }
  @media (min-width: 576px){
    .modal-dialog {
      max-width: 1200px;
      margin: 1.75rem auto;
    }
  }
    
 {% if section.settings.enable_question_ans %}
  .question-container {margin: 16% auto;background-color: transparent;border: 2px solid yellow;color: white;padding: 1rem;border-radius: 4px;position: unset;}
  div#question::before{display:none;}
  .option-container {display: block;}
  .modal-body.p-0 {background-size: contain;min-height: unset;}
  button.option { align-items: flex-start; width: 100%; padding: 5px 10px; margin-bottom: 16px; background: white; border-radius: 24px!important;}
  .previous, .next, .submit { background-color: #000; color: white; border-radius: 0px!important;border: 0;}
  .navigation.pt-3.pl-4 {position: absolute;right: 8%;bottom: 2%;}
  .option:hover {background-color: #ffcf00;}
  @media (min-width: 576px){
  .modal-dialog {max-width: 600px;}
  .option-container{width:60%}
  .question-container {width: 80%;margin: 8% auto 4%;}
  }
 {% endif %} 
</style>

<div id="custom-saleModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body p-0">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-body-content">
          <div class="panel">
          <h2  style="text-align:center;font-weight: 400;">Gift with <b>boAt</b></h2>
           {% for block in section.blocks %}
            {% assign id =  forloop.index %}
              <div class="screen{{ id }} {% if id != 1 %}d-none{% endif %}" >
              <div class="question-container text-center" id="question">{{ block.settings.quiz_text }}</div>
              <div class="option-container">
                <button class="option" {% if section.settings.enable_question_ans %}value="{{ block.settings.quiz_option1_url }}"{% else %}{% if id == 2 or id == 4 %}
              value="{% if section.settings.enable_logic %}{{ block.settings.quiz_option1_url }}{% else %}a{% endif %}" {% endif %} {% endif %} id="op1">{{- block.settings.quiz_option1 -}}</button>

                <button class="option" {% if section.settings.enable_question_ans %}value="{{ block.settings.quiz_option2_url }}"{% else %}{% if id == 2 or id == 4 %}
              value="{% if section.settings.enable_logic %}{{ block.settings.quiz_option2_url }}{% else %}b{% endif %}" {% endif %} {% endif %} id="op2">{{- block.settings.quiz_option2 -}}</button>

                <button class="option" {% if section.settings.enable_question_ans %}value="{{ block.settings.quiz_option3_url }}"{% else %}{% if id == 2 or id == 4 %}
              value="{% if section.settings.enable_logic %}{{ block.settings.quiz_option3_url }}{% else %}c{% endif %}" {% endif %} {% endif %} id="op3">{{- block.settings.quiz_option3 -}}</button>

                <button class="option" {% if section.settings.enable_question_ans %}value="{{ block.settings.quiz_option4_url }}"{% else %}{% if id == 2 or id == 4 %}
              value="{% if section.settings.enable_logic %}{{ block.settings.quiz_option4_url }}{% else %}d{% endif %}" {% endif %} {% endif %} id="op4">{{- block.settings.quiz_option4 -}}</button>
              </div>
              <div class="navigation pt-3 pl-4 ">
              {% if section.settings.enable_question_ans %}
                <button class="next d-none" style=""> Next ></button>
              {% else %}
                 <button class="previous {% if id == 1 %}d-none{% endif %}" style="background: #b102027d;color:white;">< Previous Question</button>
              {% endif %} 
                 {% if id == 4 %}
                 <button class="submit d-none text-center">Submit</button>
                {% endif %}
              </div>
            </div>
           {% endfor %}   
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // for quiz to popup
  $(document).ready(function() {
    let camp = "{{ request.path | split: '/' | last }}";
      {% if section.settings.landing_based %}
        if (window.location.href.indexOf(camp) > -1 && sessionStorage.getItem("quizpopUp") === null) {
          $(".Popup_quiz #custom-saleModal").modal("show");
           {% comment %} sessionStorage.setItem("quizpopUp", "poped"); {% endcomment %}
        }
      {% else %}
        $("{{ section.settings.popup_id }}").click(function(e) {
          $(".Popup_quiz #custom-saleModal").modal("show");
        });
      {% endif %}
  });

 
  let next = document.querySelectorAll('.option-container');
  let previous = document.querySelectorAll('.previous');
  // Next button and method
  let redirect,redirect2;
  let final = '';
  let answers = [];
  for (let i = 0; i < next.length; i++) {
    let self = next[i].querySelectorAll('.option');
    for (let j = 0; j < self.length; j++) {
      let selft = self[j];
      selft.addEventListener("click", () => {
        let value = selft.value;
        answers.push(value);console.log(answers);
        {% if section.settings.enable_question_ans %}
        if (i < 3) {
        document.querySelector(`.screen${i+1} .next`).classList.remove("d-none");
        }else{submit.classList.remove("d-none");}
        selft.style.backgroundColor = "#ffcf00";
        self.forEach(element => {element.style.pointerEvents = "none"; });
        document.querySelector(`.screen${i+1} .next`).addEventListener("click", () => {
          if (i < 3) {
          document.querySelector(`.screen${i+1}`).classList.add("d-none");
          document.querySelector(`.screen${i+2}`).classList.remove("d-none"); 
          self.forEach(element => {element.style.pointerEvents = "auto"; });
          }else{
            document.querySelector(`.screen${i} .next`).classList.add("d-none");
            self.forEach(element => {element.style.pointerEvents = "auto"; });
          }
        });
        {% else %}
        // for screen change 
        if (i < 3) {
         console.log(i); 
         document.querySelector(`.screen${i+1}`).classList.add("d-none");
         document.querySelector(`.screen${i+2}`).classList.remove("d-none");  
        }
        // sceens for taking decision
          if (i == 1) {redirect = value; console.log(redirect); }
          if (i == 3) {redirect2 = value; final = `${redirect}${redirect2}`; selft.style.backgroundColor = "#fa879b9e";
            {% unless block.settings.enable_comma %} switch (final) {  {{- section.settings.quiz_url -}}  } {% endunless %}
            console.log(final);  
            submit.classList.remove("d-none");
            self.forEach(element => {element.style.pointerEvents = "none"; });
          }
        {% endif %}
     })
    }
    {% unless section.settings.enable_question_ans %}
    // previous button and method
    let prev = previous[i];
    prev.addEventListener("click", () => {
      if (i > 0) {
        document.querySelector(`.screen${i+1}`).classList.add("d-none");
        document.querySelector(`.screen${i}`).classList.remove("d-none");
        self.forEach(element => {element.style.pointerEvents = "auto"; element.style.backgroundColor = "transparent";});
      }
      if (i == 2){submit.classList.add("d-none");}
    })
    {% endunless %}
  }

  // submit button and method
  const submit = document.getElementsByClassName('submit')[0];
  {% if section.settings.enable_question_ans %}
  submit.addEventListener("click", () => { 
    let corans = answers.filter(word => word.includes('true')).length;
    if (answers.includes('true')){
      console.log("right") ;
      document.querySelector(`.screen4`).innerHTML = `<div class="question-container" id="question"><p>Wohoo! You got ${corans} answer(s) right.
          Here’s your exclusive coupon code: <b>BOATXAMAN</b></p>
          <a href="/collections/all-products"><button is="toggle-button"  aria-expanded="false" class="text-white bg-danger mt-3 px-3 product-item__quick-buy-button" >
            Shop Now
         </button></a> </div>`
        
      }else{
        console.log("wrong");
        document.querySelector(`.screen4`).innerHTML = `<div class="question-container" id="question"><p>Oops! All your answer(s) were wrong.
        Here’s your consolation coupon code: <b>SHARKAMAN</b></p>
        <a href="/collections/all-products"><button is="toggle-button"  aria-expanded="false" class="text-white bg-danger mt-3 px-3 product-item__quick-buy-button" >
          Shop Now
          </button></a> </div>`
      }
      })
  {% else %}
  submit.addEventListener("click", () => { document.location.href = final; })
  {% endif %}
</script>
{% schema %}
{
  "name": "section Popup quiz",
  "class": "Popup_quiz",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "html",
      "name": "quiz screen",
      "settings": [
          {
            "type": "html",
            "id": "quiz_text",
            "label": "quiz question"
          },
          {
            "type": "text",
            "id": "quiz_option1_url",
            "label": "quiz options1 url"
          },
          {
            "type": "html",
            "id": "quiz_option1",
            "label": "quiz options1"
          },
          {
            "type": "text",
            "id": "quiz_option2_url",
            "label": "quiz options2 url"
          },
          {
            "type": "html",
            "id": "quiz_option2",
            "label": "quiz options2"
          },
          {
            "type": "text",
            "id": "quiz_option3_url",
            "label": "quiz options3 url"
          },
          {
            "type": "html",
            "id": "quiz_option3",
            "label": "quiz options3"
          },
          {
            "type": "text",
            "id": "quiz_option4_url",
            "label": "quiz options4 url"
          },
          {
            "type": "html",
            "id": "quiz_option4",
            "label": "quiz options4"
          }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "landing_based",
      "label": "popup quiz on landing"
    },
    {
      "type": "text",
      "id": "popup_id",
      "label": "class/id of <a> to target if not to be popedup on landing"
    },
    {
      "type": "image_picker",
      "id": "popup_image",
      "label": "Popup background"
    },
    {
      "type": "checkbox",
      "id": "enable_question_ans",
      "label": "for question + answers types else collection redirect type"
    },
    {
      "type": "checkbox",
      "id": "enable_logic",
      "label": "logic based url redirection with sort + filter"
    },
    {
      "type": "html",
      "id": "quiz_url",
      "label": "quiz urls brute force"
    }
  ],
  "presets": [
    {
      "name": "section Popup quiz",
      "blocks": [
        {
          "type": "html"
        }
      ],
      "settings": {}
    }
  ]
}
{% endschema %}
