<style>
   #custom-saleModal{z-index:9999;background:#0009;padding:0!important;transform:translateY(0%)}
   #custom-saleModal .modal-dialog,#custom-saleModals-1 .modal-dialog,#custom-saleModals-2 .modal-dialog{top:10%}
   #custom-saleModal .close{position:absolute;text-shadow: none;top: 1.5rem;right: 1.5rem;width: 30px;height: 30px;line-height: normal;background: #d0d9de;opacity: .8;font-weight: 400!important;border-radius: 50%!important;text-align:center;font-size:32px!important}
   .question-container span{position: absolute;top: 2rem; background: #ecf0f4;padding: 2px 8px;border-radius: 10px;left: 1.5rem;}
   #custom-saleModal .close:focus{border:0;outline:none}
   #custom-saleModal input#sale_email::placeholder{color:grey!important}
   #custom-saleModal .error-msg-sale,#custom-saleModal .thankyou-msg-sale,#custom-saleModal .aluser-msg-sale{text-align:center;margin:0;font-size:12px;opacity:.8}
   #custom-saleModal .sale-btn:focus{outline:none}
   #custom-saleModal img{display:block}
   #custom-saleModal .modal-content{border:0}
   #custom-saleModal .modal-form{background:{{ section.settings.popup_backgroung}} }
   #custom-saleModal input{background:transparent;color:#ccc;margin-right:4px;padding:0 12px;border:0}
   #custom-saleModal input::-webkit-input-placeholder{color:#ccc}
   #custom-saleModal .sale-btn:hover{background:#EB1C24!important}
   @media screen and (max-width: 600px) {
   #custom-saleModal .modal-dialog,#custom-saleModals-1 .modal-dialog,#custom-saleModals-2 .modal-dialog{top:5%}
     .section__header a{max-width:80%;}
   }

   .featured_collection_container{margin-block:2rem}
   .modal-body.p-0{background-size: cover;min-height: 70vh;}
   .panel{padding: 6vh 0;}
   .panel h6 {font-weight: 600; text-align: center;margin-top: 8px;}
   .option-container{display:flex;justify-content:space-evenly;margin:10px auto;padding:5px;flex-wrap:wrap; margin-top: 5vh;}
   .option:hover, .option:active {background-color: #ffcf00;}
   .previous{letter-spacing: -0.64px;color: #2f5b96;text-align: center;}
   .next, .submit{padding: 10px 16px;background-color: #081821;color: white;font-weight: 500!important;border-radius: 10px!important;border: 1px solid;}
   button.option{display:flex;flex-direction:column;align-items:center;width: 40%;margin-bottom: 12px;}
   @media(min-width:1024px) {
   button.option{width:16%}
   .modal-body.p-0 {background-position: unset;background-size: unset;}
   }
   @media (min-width: 576px){
     .modal-dialog {
       max-width: 768px;
       margin: 1.75rem auto;
     }
   }

  {% if section.settings.enable_question_ans %}
   .question-container {margin: 16% auto;background-color: transparent;border: 2px solid yellow;color: white;padding: 1rem;border-radius: 4px;position: unset;}
   div#question::before{display:none;}
   .option-container {display: block;}
   .modal-body.p-0 {background-size: contain;min-height: unset;}
   button.option { align-items: flex-start; width: 100%; padding: 5px 10px; margin-bottom: 16px; background: white; border-radius: 24px!important;}
   .previous, .next, .submit { background-color: #000; color: white; border-radius: 0px!important;border: 0;}
   .navigation.pt-3.pl-4 {position: absolute;right: 8%;bottom: 2%;}
   .option:hover, .option:active {background-color: #ffcf00;}
   @media (min-width: 576px){
   .modal-dialog {max-width: 600px;}
   .option-container{width:60%}
   .question-container {width: 80%;margin: 8% auto 4%;}
   }
  {% endif %}
</style>

<div id="custom-saleModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body p-0">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-body-content">
          <div class="panel">
            <h2 style="text-align:center;font-weight: 400;padding-top:2rem">Gift with <b>boAt</b></h2>
            {% for block in section.blocks %}
              {% assign id = forloop.index %}
              <div class="screen{{ id }} {% if id != 1 %}d-none{% endif %}">
                <div class="question-container text-center" id="question">{{ block.settings.quiz_text }}</div>
                <div class="option-container">
                  <button
                    class="option"
                    {% if section.settings.enable_question_ans %}
                      value="{{ block.settings.quiz_option1_url }}"
                    {% else %}
                      {%- if id == 2 or id == 4 %}
                        value="{% if section.settings.enable_logic %}{{ block.settings.quiz_option1_url }}{% else %}a{% endif %}"
                      {% endif %}
                    {% endif %}
                    id="op1"
                  >
                    {{- block.settings.quiz_option1 -}}
                  </button>

                  <button
                    class="option"
                    {% if section.settings.enable_question_ans %}
                      value="{{ block.settings.quiz_option2_url }}"
                    {% else %}
                      {%- if id == 2 or id == 4 %}
                        value="{% if section.settings.enable_logic %}{{ block.settings.quiz_option2_url }}{% else %}b{% endif %}"
                      {% endif %}
                    {% endif %}
                    id="op2"
                  >
                    {{- block.settings.quiz_option2 -}}
                  </button>

                  <button
                    class="option"
                    {% if section.settings.enable_question_ans %}
                      value="{{ block.settings.quiz_option3_url }}"
                    {% else %}
                      {%- if id == 2 or id == 4 %}
                        value="{% if section.settings.enable_logic %}{{ block.settings.quiz_option3_url }}{% else %}c{% endif %}"
                      {% endif %}
                    {% endif %}
                    id="op3"
                  >
                    {{- block.settings.quiz_option3 -}}
                  </button>

                  <button
                    class="option"
                    {% if section.settings.enable_question_ans %}
                      value="{{ block.settings.quiz_option4_url }}"
                    {% else %}
                      {%- if id == 2 or id == 4 %}
                        value="{% if section.settings.enable_logic %}{{ block.settings.quiz_option4_url }}{% else %}d{% endif %}"
                      {% endif %}
                    {% endif %}
                    id="op4"
                    style="{% if block.settings.quiz_option4 == blank %}pointer-events:none{% endif %}"
                  >
                    {{- block.settings.quiz_option4 -}}
                  </button>
                </div>
                <div class="navigation d-flex flex-column pt-3 px-4">
                  <button class="next w-75 mx-auto mb-3 text-center {% if id == 4 %}d-none{% endif %}" style="">
                    Next
                  </button>
                  {% if id == 4 %}
                    <button class="submit d-none w-50 mx-auto mb-3 text-center">Submit</button>
                  {% endif %}
                  <button class="previous {% if id == 1 %}d-none{% endif %}">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      style="transform: rotate(-180deg);margin-bottom: 2px;"
                      width="14"
                      height="14"
                      viewBox="0 0 14 14"
                    >
                      <path id="Path_337386" data-name="Path 337386" d="M8.159,2.693a6.7,6.7,0,0,0,2.7-.551A7.172,7.172,0,0,0,13.095.625,7.133,7.133,0,0,0,14.608-1.6a6.735,6.735,0,0,0,.548-2.706,6.7,6.7,0,0,0-.551-2.7A7.216,7.216,0,0,0,13.087-9.25a7.041,7.041,0,0,0-2.234-1.513,6.781,6.781,0,0,0-2.7-.544,6.755,6.755,0,0,0-2.7.544A7.1,7.1,0,0,0,3.22-9.25,7.134,7.134,0,0,0,1.7-7.012a6.742,6.742,0,0,0-.548,2.7A6.7,6.7,0,0,0,1.706-1.6,7.184,7.184,0,0,0,3.223.625a7.184,7.184,0,0,0,2.23,1.517A6.7,6.7,0,0,0,8.159,2.693Zm0-1.283A5.609,5.609,0,0,1,5.932.968,5.741,5.741,0,0,1,4.109-.261,5.692,5.692,0,0,1,2.885-2.084a5.648,5.648,0,0,1-.44-2.226,5.648,5.648,0,0,1,.44-2.226A5.692,5.692,0,0,1,4.109-8.36,5.7,5.7,0,0,1,5.929-9.585a5.622,5.622,0,0,1,2.223-.44,5.675,5.675,0,0,1,2.23.44A5.681,5.681,0,0,1,12.208-8.36a5.692,5.692,0,0,1,1.225,1.823,5.648,5.648,0,0,1,.44,2.226,5.648,5.648,0,0,1-.44,2.226A5.692,5.692,0,0,1,12.208-.261,5.741,5.741,0,0,1,10.385.968,5.609,5.609,0,0,1,8.159,1.411Zm3.5-5.735a.637.637,0,0,0-.209-.44l-2.306-2.3a.541.541,0,0,0-.389-.144.5.5,0,0,0-.371.151.507.507,0,0,0-.148.367.526.526,0,0,0,.166.4l.843.821.793.648L8.62-4.887H5.183a.528.528,0,0,0-.4.162.557.557,0,0,0-.155.4.553.553,0,0,0,.155.4.535.535,0,0,0,.4.159H8.62l1.419-.058-.793.656L8.4-2.35a.5.5,0,0,0-.166.389.528.528,0,0,0,.148.378.491.491,0,0,0,.371.155.529.529,0,0,0,.389-.159l2.306-2.291A.627.627,0,0,0,11.661-4.325Z" transform="translate(-1.155 11.307)" fill="#2f5b96"></path>
                    </svg>
                    Go to Previous
                  </button>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  
  
  
  
  
  
  
  
  
    
  // for quiz to popup
  $(document).ready(function() {
    let camp = "{{ request.path | split: '/' | last }}";
      {% if section.settings.landing_based %}
        if (window.location.href.indexOf(camp) > -1 && sessionStorage.getItem("quizpopUp") === null) {
          $(".Popup_quiz #custom-saleModal").modal("show");
           {% comment %} sessionStorage.setItem("quizpopUp", "poped"); {% endcomment %}
        }
      {% else %}
        $("{{ section.settings.popup_id }}").click(function(e) {
          $(".Popup_quiz #custom-saleModal").modal("show");
        });
      {% endif %}
  });

 
  let next = document.querySelectorAll('.option-container');
  let previous = document.querySelectorAll('.previous');
  // Next button and method
  let redirect,redirect2;
  let final = '';
  let answers = [];
  for (let i = 0; i < next.length; i++) {
    let self = next[i].querySelectorAll('.option');
    for (let j = 0; j < self.length; j++) {
      let selft = self[j];
      selft.addEventListener("click", () => {
        let value = selft.value;
        answers.push(value);console.log(answers);
        {% if section.settings.enable_question_ans %}
        if (i < 3) {
        document.querySelector(`.screen${i+1} .next`).classList.remove("d-none");
        }else if(i == 4) {
          submit.classList.remove("d-none");
        }
        selft.style.backgroundColor = "#f4c730";
        self.forEach(element => {element.style.pointerEvents = "none"; });
        document.querySelector(`.screen${i+1} .next`).addEventListener("click", () => {
          if (i < 3) {
          document.querySelector(`.screen${i+1}`).classList.add("d-none");
          document.querySelector(`.screen${i+2}`).classList.remove("d-none"); 
          self.forEach(element => {element.style.pointerEvents = "auto"; });
          }else{
            document.querySelector(`.screen${i} .next`).classList.add("d-none");
            self.forEach(element => {element.style.pointerEvents = "auto"; });
          }
        });

        {% endif %}
     })
    }
    {% unless section.settings.enable_question_ans %}
    // previous button and method
    let prev = previous[i];
    prev.addEventListener("click", () => {
      if (i > 0) {
        document.querySelector(`.screen${i+1}`).classList.add("d-none");
        document.querySelector(`.screen${i}`).classList.remove("d-none");
        self.forEach(element => {element.style.pointerEvents = "auto"; element.style.backgroundColor = "transparent";});
      }
      if (i == 2 || i == 3 ){
        submit.classList.add("d-none");}
    })
    let nxt = next[i];
    nxt.addEventListener("click", () => {
            // for screen change 
        if (i < 3) {
         console.log(i); 
         document.querySelector(`.screen${i+1}`).classList.add("d-none");
         document.querySelector(`.screen${i+2}`).classList.remove("d-none");  
        }
        // sceens for taking decision
          if (i == 1) {redirect = value; console.log(redirect); }
          if (i == 3) {redirect2 = value; final = `${redirect}${redirect2}`; selft.style.backgroundColor = "#f4c730";
            {% unless block.settings.enable_comma %} switch (final) {  {{- section.settings.quiz_url -}}  } {% endunless %}
            console.log(final);  
            submit.classList.remove("d-none");
            self.forEach(element => {element.style.pointerEvents = "none"; });
          }
    })
    {% endunless %}
  }

  // submit button and method
  const submit = document.getElementsByClassName('submit')[0];
  {% if section.settings.enable_question_ans %}
  submit.addEventListener("click", () => { 
    let corans = answers.filter(word => word.includes('true')).length;
    if (answers.includes('true')){
      console.log("right") ;
      document.querySelector(`.screen4`).innerHTML = `<div class="question-container" id="question"><p>Wohoo! You got ${corans} answer(s) right.
          Here’s your exclusive coupon code: <b>BOATXAMAN</b></p>
          <a href="/collections/all-products"><button is="toggle-button"  aria-expanded="false" class="text-white bg-danger mt-3 px-3 product-item__quick-buy-button" >
            Shop Now
         </button></a> </div>`
        
      }else{
        console.log("wrong");
        document.querySelector(`.screen4`).innerHTML = `<div class="question-container" id="question"><p>Oops! All your answer(s) were wrong.
        Here’s your consolation coupon code: <b>SHARKAMAN</b></p>
        <a href="/collections/all-products"><button is="toggle-button"  aria-expanded="false" class="text-white bg-danger mt-3 px-3 product-item__quick-buy-button" >
          Shop Now
          </button></a> </div>`
      }
      })
  {% else %}
  submit.addEventListener("click", () => { document.location.href = final; })
  {% endif %}










</script>
{% schema %}
{
  "name": "section Popup quiz",
  "class": "Popup_quiz",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "html",
      "name": "quiz screen",
      "settings": [
          {
            "type": "html",
            "id": "quiz_text",
            "label": "quiz question"
          },
          {
            "type": "text",
            "id": "quiz_option1_url",
            "label": "quiz options1 url"
          },
          {
            "type": "html",
            "id": "quiz_option1",
            "label": "quiz options1"
          },
          {
            "type": "text",
            "id": "quiz_option2_url",
            "label": "quiz options2 url"
          },
          {
            "type": "html",
            "id": "quiz_option2",
            "label": "quiz options2"
          },
          {
            "type": "text",
            "id": "quiz_option3_url",
            "label": "quiz options3 url"
          },
          {
            "type": "html",
            "id": "quiz_option3",
            "label": "quiz options3"
          },
          {
            "type": "text",
            "id": "quiz_option4_url",
            "label": "quiz options4 url"
          },
          {
            "type": "html",
            "id": "quiz_option4",
            "label": "quiz options4"
          }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "landing_based",
      "label": "popup quiz on landing"
    },
    {
      "type": "text",
      "id": "popup_id",
      "label": "class/id of <a> to target if not to be popedup on landing"
    },
    {
      "type": "image_picker",
      "id": "popup_image",
      "label": "Popup background"
    },
    {
      "type": "checkbox",
      "id": "enable_question_ans",
      "label": "for question + answers types else collection redirect type"
    },
    {
      "type": "checkbox",
      "id": "enable_logic",
      "label": "logic based url redirection with sort + filter"
    },
    {
      "type": "html",
      "id": "quiz_url",
      "label": "quiz urls brute force"
    }
  ],
  "presets": [
    {
      "name": "section Popup quiz",
      "blocks": [
        {
          "type": "html"
        }
      ],
      "settings": {}
    }
  ]
}
{% endschema %}
