<style>
  #custom-saleModal{z-index:9999;background:#0009;padding:0!important;transform:translateY(0%)}
  #custom-saleModal .modal-dialog,#custom-saleModals-1 .modal-dialog,#custom-saleModals-2 .modal-dialog{top:10%}
  #custom-saleModal .close{position:absolute;top:0;right:0;width:30px;height:30px;background:#EB1C24;color:#fff;line-height:30px;font-weight:400;opacity:1;text-align:center;font-size:30px!important}
  #custom-saleModal .close:focus{border:0;outline:none}
  #custom-saleModal input#sale_email::placeholder{color:grey!important}
  #custom-saleModal .error-msg-sale,#custom-saleModal .thankyou-msg-sale,#custom-saleModal .aluser-msg-sale{text-align:center;margin:0;font-size:12px;opacity:.8}
  #custom-saleModal .sale-btn:focus{outline:none}
  #custom-saleModal img{display:block}
  #custom-saleModal .modal-content{border:0}
  #custom-saleModal .modal-form{background:{{ section.settings.popup_backgroung}} }
  #custom-saleModal input{background:transparent;color:#ccc;margin-right:4px;padding:0 12px;border:0}
  #custom-saleModal input::-webkit-input-placeholder{color:#ccc}
  #custom-saleModal .sale-btn:hover{background:#EB1C24!important}
  @media screen and (max-width: 600px) {
  #custom-saleModal .modal-dialog,#custom-saleModals-1 .modal-dialog,#custom-saleModals-2 .modal-dialog{top:5%}
  }
  .modal-body.p-0{background: url({{ section.settings.popup_image | img_url: 'master' }});background-size: cover;
   min-height: 70vh;}

  .panel{padding: 6vh 0;}
  .panel h6 {color: white;font-weight: 600;     text-align: center;   margin-top: 8px;}
   div#question::before { content: url(https://cdn.shopify.com/s/files/1/0057/8938/4802/files/star_5ca1e219-08c4-4c35-91a7-7f02ab050315.png?v=1671790648);
   position: absolute;top: -22px;left: -22px;}
    .question-container{margin:10px auto;padding:12px 0;width:80%;background-color:#fff;text-align:center;border-radius: 8px;
    border: 1px solid;position:relative;}
    .option-container{display:flex;justify-content:space-around;margin:10px auto;padding:5px;width:90%;flex-wrap:wrap; margin-top: 5vh;}
    .option:hover{background-color:#fa879b9e!important;}
    .previous, .submit{padding: 5px 16px;background-color: #fff;border-radius: 16px!important;border: 1px solid;}
    button.option{display:flex;flex-direction:column;align-items:center;width: 40%;margin-bottom: 12px;}
    @media(min-width:1024px) {
    button.option{width:16%}
    .question-container {width: 40%;}
    .modal-body.p-0 {background-position: unset;background-size: unset;}
    }
    
    @media (min-width: 576px){
      .modal-dialog {
       max-width: 1200px;
       margin: 1.75rem auto;
      }
    }
</style>

<div id="custom-saleModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body p-0">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-body-content">
          <div class="panel">
            <div class="question-container" id="question">Question goes here.</div>
            <div class="option-container">
              <button class="option" onclick="" id="op1">option1</button>

              <button class="option" id="op2">option2</button>

              <button class="option" id="op3">option3</button>

              <button class="option" id="op4">option4</button>
            </div>
            <div class="navigation pt-3 pl-4 ">
              <button class="previous d-none" style="background: #b102027d;color:white;">< Previous Question</button>
              <button class="submit d-none text-center">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script async>
  $(document).ready(function() {
    let camp = "{{ request.path | split: '/' | last }}";
      {% if section.settings.landing_based %}
        if (window.location.href.indexOf(camp) > -1 && sessionStorage.getItem("popUpPoped") === null) {
          $(".Popup_quiz #custom-saleModal").modal("show");
          console.log("opend");
           {% comment %} sessionStorage.setItem("popUpPoped", "poped"); {% endcomment %}
        }
      {% else %}
        $("{{ section.settings.popup_id }}").click(function(e) {
          $(".Popup_quiz #custom-saleModal").modal("show");
        });
      {% endif %}
  });
  // Questions will be asked
const Questions = [
  {% for block in section.blocks %}
    {
      id: {{ forloop.index | minus: 1 }},
      q: `{{ block.settings.quiz_text }}`,
      a: [
            {
              text: `{{- block.settings.quiz_option1 -}}`,
              isCorrect: "a"
            }, 
            {
              text: `{{- block.settings.quiz_option2 -}}`,
              isCorrect: "b"
            }, 
            {
              text: `{{- block.settings.quiz_option3 -}}`,
              isCorrect: "c"
            },
            {
              text: `{{- block.settings.quiz_option4 -}}`,
              isCorrect: "d"
            }
         ]
    },
  {% endfor %}    
  ]

  // Set start
  let start = true;

  // Iterate
  function iterate(id) {

    // Getting the question
    const question = document.getElementById("question");

    // Setting the question text
    question.innerText = Questions[id].q;

    let selected = "";

    for (let i = 0; i < 4; i++) {
      let op = document.getElementById(`op${i+1}`);
      op.innerHTML = Questions[id].a[i].text;
      op.value = Questions[id].a[i].isCorrect;
      op.addEventListener("click", () => { selected = op.value; });
    }

  }

  if (start) { iterate("0") }


  // Next button and method
  let next = document.querySelectorAll('.option-container .option');
  let id = 0;
  let redirect,redirect2;
  let final = '';
  for (let i = 0; i < next.length; i++) {
    let self = next[i];
    self.addEventListener("click", () => {
      let value = self.value;
      if (id == 1) {redirect = value}
      if (id == 2) {document.querySelector('#op4').style.display = "none";}
      if (id == 3) {redirect2 = value; final = `${redirect}${redirect2}`; self.style.backgroundColor = "#fa879b9e";
        console.log(final);
        switch (final) { {{- section.settings.quiz_url -}} }
        console.log(final);
        submit.classList.remove("d-none"); document.querySelector('.option-container').style.pointerEvents = "none";
      }
      if (id < 3) {id += 1;console.log(id);iterate(id);}
      if (id > 0) {previous.classList.remove("d-none")}
   })
  }

  // previous button and method
  const previous = document.getElementsByClassName('previous')[0];
   previous.addEventListener("click", () => {
     if (id > 0) { id--; iterate(id);
      console.log(id);
      document.querySelector('.option-container').style.pointerEvents = "auto";
     }
     if (id == 0) { previous.classList.add("d-none") }
     if (id == 2) {document.querySelector('#op4').style.display = "block"; submit.classList.add("d-none"); 
     next.forEach(element => { element.style.backgroundColor = "transparent";});
                  }
   })


  // submit button and method
    const submit = document.getElementsByClassName('submit')[0];
    submit.addEventListener("click", () => { console.log(final); document.location.href = final; })

</script>
{% schema %}
{
  "name": "section Popup quiz",
  "class": "Popup_quiz",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "text",
      "name": "quiz screen",
      "settings": [
          {
            "type": "html",
            "id": "quiz_text",
            "label": "quiz question"
          },
          {
            "type": "html",
            "id": "quiz_option1",
            "label": "quiz options1"
          },
          {
            "type": "html",
            "id": "quiz_option2",
            "label": "quiz options2"
          },
          {
            "type": "html",
            "id": "quiz_option3",
            "label": "quiz options3"
          },
          {
            "type": "html",
            "id": "quiz_option4",
            "label": "quiz options4"
          }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "landing_based",
      "label": "popup quiz on landing"
    },
    {
      "type": "text",
      "id": "popup_id",
      "label": "class/id of <a> to target if not to be popedup on landing"
    },
    {
      "type": "image_picker",
      "id": "popup_image",
      "label": "Popup background"
    },
    {
      "type": "html",
      "id": "quiz_url",
      "label": "quiz urls"
    }
  ],
  "presets": [
    {
      "name": "section Popup quiz",
      "blocks": [
        {
          "type": "text"
        }
      ],
      "settings": {}
    }
  ]
}
{% endschema %}
