<!-- Shop by passion Section starts here -->
<style>
.find_your_match_section,.shop_by_passion_section{margin-top:40px}
.shop_by_passion_section .shop_by_passion_tiles .left_section{width:55%;display:flex;height:max-content}
.shop_by_passion_section .shop_by_passion_tiles .img_box{margin:10px;position:relative}
.shop_by_passion_section .shop_by_passion_tiles .img_box img{border-radius:6px}
.shop_by_passion_section .shop_by_passion_tiles .img_box a.tile_link{position:absolute;bottom:14px;z-index:2;color:#fff;font-size:12px;left:8px}
.shop_by_passion_section .shop_by_passion_tiles .img_box a.link_arrow_icon{position:absolute;bottom:14px;right:20px;z-index:2}
.shop_by_passion_section .shop_by_passion_tiles .right_section{width:45%}
.shop_by_passion_section .shop_by_passion_tiles .right_section .img_box.sbp_tile_4{display:flex;height:454px}
.shop_by_passion_section .shop_by_passion_tiles .img_box::after{background:linear-gradient(to bottom,#0000 0,#0000007a 100%,#e9e9e9 30%,#e9e9e9 100%);border-radius:6px;position:absolute;bottom:0;top:0;left:0;z-index:1;content:'';width:100%;height:100%}
.shop_by_passion_section .shop_by_passion_tiles .sbp_tile_1 img{height:454px}
.shop_by_passion_section .shop_by_passion_tiles .sbp_tile_2 img,.shop_by_passion_section .shop_by_passion_tiles .sbp_tile_3 img{height:217px}
.shop_by_passion_section .shop_by_passion_tiles .center_section{display:grid}
.shop_by_passion_section .shop_by_passion_tiles .img_box a.link_arrow_icon img{height:20px}
@media screen and (max-width:767px) {
  .shop_by_passion_section .shop_by_passion_tiles .left_section,.shop_by_passion_section .shop_by_passion_tiles .right_section{width:100%}
  .shop_by_passion_section .shop_by_passion_tiles .right_section .img_box.sbp_tile_4{height:auto!important}
  .shop_by_passion_section .shop_by_passion_tiles .sbp_tile_1 img,.shop_by_passion_section .shop_by_passion_tiles .sbp_tile_2 img{height:auto}
}
</style>
<div class="container shop_by_passion_section">
  <div class="row">
    <div class="col-md-12 text-container d-flex justify-content-between">
      <h3 class="heading h3">{{- section.settings.sectionHeading -}}</h3>
    </div>
  </div>
  <div class="row shop_by_passion_tiles">
      {%- for block in section.blocks -%}
        {%- if forloop.index == 1 -%}
          <div class="left_section justify-content-around">
        {% endif %}
        {%- if forloop.index == 4 -%}
          <div class="right_section justify-content-around">
        {% endif %}
        {%- if forloop.index == 2 -%}
          <div class="center_section">
        {% endif %}
          <div class="img_box sbp_tile_{{- forloop.index -}}">
              <img src="{{block.settings.image | img_url: ''}}" />
              <a class="tile_link" href="{{ block.settings.target_url }}">{{ block.settings.label }}</a>
              <a class="link_arrow_icon" href="{{ block.settings.target_url }}"><img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/arrow_icon_7084259e-6069-43b7-96e5-d623d767f54f.png?v=1661856915" ></a>
          </div>
        {%- if forloop.index == 3 -%}
          </div>
        {% endif %} 
        {%- if forloop.index == 3 or forloop.index == 4 -%}
            </div>
        {% endif %}
       {%- endfor -%}
  </div>
</div>

<!-- Shop by passion Section ends here -->

{% schema %}
  {
    "name": "Shop by passion",
	"max_blocks": 28,
    "max_blocks": 4,
    "settings": [
      {
        "type": "text",
        "id": "sectionHeading",
        "label": "Section Heading"
      }
    ],
	"blocks": [
		{
			"type": "image",
        	"name": "Slide",
			"settings" : [
              {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
              },
              {
                  "type": "url",
                  "id": "target_url",
                  "label": "Target URL"
              },
              {
                "type": "text",
                "id": "label",
                "label": "Label"
              }
			]
		}
	],
	"presets": [
      {
        "name": "Shop by passion",
        "category": "Image",
        "settings": {
        },
        "blocks": [
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}