<!-- Shop by passion Section starts here -->
<div class="container shop_by_passion_section">
  <div class="row">
    <div class="col-md-12 text-container d-flex justify-content-between">
      <h3 class="heading h3">{{- section.settings.sectionHeading -}}</h3>
    </div>
  </div>
  <div class="row shop_by_passion_tiles">
      {%- for block in section.blocks -%}
        {%- if forloop.index == 1 -%}
          <div class="left_section justify-content-around">
        {% endif %}
        {%- if forloop.index == 4 -%}
          <div class="right_section justify-content-around">
        {% endif %}
        {%- if forloop.index == 2 -%}
          <div class="center_section">
        {% endif %}
          <div class="img_box sbp_tile_{{- forloop.index -}}">
              <img src="{{- settings.speedsize_url_pfx_https -}}{{block.settings.image | img_url: ''}}" />
              <a class="tile_link" href="{{ block.settings.target_url }}">{{ block.settings.label }}</a>
              <a class="link_arrow_icon" href="{{ block.settings.target_url }}"><img src="{{- settings.speedsize_url_pfx -}}https://cdn.shopify.com/s/files/1/0057/8938/4802/files/arrow_icon_7084259e-6069-43b7-96e5-d623d767f54f.png?v=1661856915" ></a>
          </div>
        {%- if forloop.index == 3 -%}
          </div>
        {% endif %} 
        {%- if forloop.index == 3 or forloop.index == 4 -%}
            </div>
        {% endif %}
       {%- endfor -%}
  </div>
</div>

<!-- Shop by passion Section ends here -->

{% schema %}
  {
    "name": "Shop by passion",
	"max_blocks": 28,
    "max_blocks": 4,
    "settings": [
      {
        "type": "text",
        "id": "sectionHeading",
        "label": "Section Heading"
      }
    ],
	"blocks": [
		{
			"type": "image",
        	"name": "Slide",
			"settings" : [
              {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
              },
              {
                  "type": "url",
                  "id": "target_url",
                  "label": "Target URL"
              },
              {
                "type": "text",
                "id": "label",
                "label": "Label"
              }
			]
		}
	],
	"presets": [
      {
        "name": "Shop by passion",
        "category": "Image",
        "settings": {
        },
        "blocks": [
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}