<style>
    
    
    .shop_by_category_section_2_0 .img_container{position: relative;height: 100px;display: flex;align-items: center;justify-content: center;}
    .shop_by_category_section_2_0 .img_container img{margin: 0px auto;width: 82px;}
    .shop_by_category_section_2_0 .img_container:after{content: '';width: 68px;height: 68px;opacity: 0.53;background-color: #d0d9de;position: absolute;bottom: 0px;left: 50%;transform: translateX(-50%);border-radius: 50%;z-index: -1;}
    .shop_by_category_section_2_0 .shop_by_category_slider{margin: 0px auto;width: max-content;overflow-x: auto;display: flex;gap: 28px;}
    .shop_by_category_section_2_0 .single_column{width: 98px;display: grid;max-width: 98px;min-width: 98px;}
    .shop_by_category_section_2_0 .single_collection .collection_title{text-align: center;margin-top: 20px;}
    .shop_by_category_section_2_0 .single_collection .collection_title span{font-size: 14px;font-weight: bold;line-height: 1;color: #1a2024;display: block;}
    .shop_by_category_section_2_0 .shop-by-category-slider{padding-top: 0px;}
    .shop_by_category_container{padding-bottom: 1rem;}
    
    @media(max-width:768px) {
        .shop_by_category_section_2_0 .shop_by_category_slider{gap: 10px;}
        .shop_by_category_section_2_0 .single_column{width: 72px;max-width: 72px;min-width: 72px;gap: 8px;}
        .shop_by_category_section_2_0 .img_container img{width: 62px;}
        .shop_by_category_section_2_0 .single_collection .collection_title span{font-size: 10px;min-height: 22px;}
        .shop_by_category_section_2_0 .single_collection .collection_title{margin-top: 4px;}
        .shop_by_category_section_2_0 .img_container:after{bottom: 5px !important;width: 52px;height: 52px;}
        .mobile-only-flex {display: flex !important;}
        .shop_by_category_section_2_0 .shop_by_collection-row{padding-right: 20px;}
        .shop_by_category_container.container{padding-inline:0;}
    }
    @media(min-width:768px) {
        .single_column .single_collection.cat_single_column:nth-child(2){display: none;}
        .mobile-only-flex {display: none !important;}
    }
    @media(min-width:999px) {
        .shop_by_category_section_2_0 .shop_by_collection-row{padding-right:17px;}
    }
    
</style>


<!-- Shop by section starts here -->
<div class="shop_by_category_section_2_0 container top-collections top-2 px-lg-0 pr-0 section-id-{{ section.id }}">
    <div class="shop_by_category_container container">
        {%- if section.settings.view_Url != blank or section.settings.title != blank -%}
            <header class="section__header text-container d-flex justify-content-between px-lg-5 mb-0 mb-lg-3 shop-heading">
                {%- if section.settings.title != blank -%}
                    <h3 class="heading h2">{{ section.settings.title | escape }}</h3>
                {%- endif -%}
            </header>
        {%- endif -%}
        <div class="row shop_by_collection-row">
            <div class="shop-by-category-slider {{ section.id }}"> 
                <div class="shop_by_category_slider only-desktop">
                    {% for block in section.blocks %}
                        <div class="single_column">
                            <div class="single_collection cat_single_column">
                                <div class="img_container">
                                    <a href="{{ block.settings.imageUrl }}">
                                        <img loading="lazy" src="{{block.settings.image | img_url: 'small'}}" alt="{{ block.settings.collection_Title }}" />
                                    </a>
                                </div>
                                <div class="collection_title">
                                    <a href="{{ block.settings.imageUrl }}"><span>{{ block.settings.collection_Title }}</span></a>
                                </div>
                            </div>
                        </div>
                    {%- endfor -%}
                </div>

                
                <div class="shop_by_category_slider mobile-only-flex ">
                    {% for block in section.blocks %}
                        {% assign rep_value = forloop.index | modulo:2 %}
                        {% if forloop.index == 1 or rep_value != 0 %}
                            <div class="single_column">
                        {% endif %}
                        <div class="single_collection cat_single_column">
                            <div class="img_container">
                                <a href="{{ block.settings.imageUrl }}">
                                    <img loading="lazy" src="{{block.settings.image | img_url: 'small'}}" alt="{{ block.settings.collection_Title }}" />
                                </a>
                            </div>
                            <div class="collection_title">
                                <a href="{{ block.settings.imageUrl }}"><span>{{ block.settings.collection_Title }}</span></a>
                            </div>
                        </div>
                        {% if forloop.last or rep_value == 0 %}
                            </div>
                        {% endif %}
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- Shop by section ends here -->

{% schema %}
{
    "name": "Shop by category 2.0",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Your title"
        },
        {
            "type": "url",
            "id": "view_Url",
            "label": "viewall URL"
        },
        {
            "type": "number",
            "id": "slides_no",
            "label": "mobile slides",
            "default": 1
        },
        {
            "type": "number",
            "id": "deskslides_no",
            "label": "desk slides",
            "default": 3
        }, {
            "type": "checkbox",
            "id": "loop",
            "label": "infinite loop",
            "default": true
        }, {
            "type": "checkbox",
            "id": "autoplay",
            "label": "autoplay",
            "default": true
        }, {
            "type": "number",
            "id": "slideBy",
            "label": "number of slides drag in one screen",
            "default": 1
        }, {
            "type": "number",
            "id": "margin",
            "label": "margin",
            "default": 0
        }, {
            "type": "checkbox",
            "id": "show_dots_on_mobile",
            "label": "Show Dots on Mobile",
            "default": true
        }, {
            "type": "checkbox",
            "id": "show_dots_on_desktop",
            "label": "Show Dots on Desktop",
            "default": true
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Primary image",
                    "info": "300px wide minimum"
                },
                {
                    "type": "url",
                    "id": "imageUrl",
                    "label": "Collection Link"
                },
                {
                    "type": "text",
                    "id": "collection_Title",
                    "label": "Collection Title"
                },
                {
                    "type": "select",
                    "id": "show_in_row",
                    "label": "Show in row",
                    "options": [
                      {
                        "value": "first_row",
                        "label": "First Row"
                      },
                      {
                        "value": "second_row",
                        "label": "Second Row"
                      }
                    ],
                    "default": "first_row"
                  }
            ]
        }
    ],
    "presets": [
        {
            "name": "Shop by category 2.0",
            "category": "Image",
            "settings": {},
            "blocks": [
                {
                    "type": "image"
                }
            ]
        }
    ]
}
{% endschema %}
