<div class="slideshow-row section-id-{{ section.id }}" data-section-type="slideshow">
  {% unless settings.use_fullwidth_layout %}<div class="container uncontain-desktop-down">{% endunless %}
  <div class="slideshow auto-play scaled-text-base">
    {% for block in section.blocks %}

    <div class="slide slide-{{ forloop.index }}" {{ block.shopify_attributes }}>
      {% if block.settings.link_url != blank %}<a href="{{ block.settings.link_url }}">{% endif %}

      {% if block.settings.image == blank %}
      <div class="placeholder-image placeholder--banner {% if block.settings.heading != blank or block.settings.text != blank %}dark{% endif %}">
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
      {% elsif block.settings.mobile_image == blank %}
        {% include 'responsive-image', image: block.settings.image, manual_image_load: false, no_max_width: true %}
      {% else %}
      {%- if block.settings.banner_timer -%}
      	{% include 'banner-timer' %}
      {%- endif -%}
        <div class="desktop-only">
          {% include 'responsive-image', image: block.settings.image, manual_image_load: false, no_max_width: true %}
          {% if block.settings.enable_banner_video %}
          <div class="banner_video" data-aos="fade-down">
            <video id="myVideo" width="420" height="200" playsinline loop controls preload="none" muted>
              <source src="{{ block.settings.video_url }}" type="video/mp4">
            </video>
          </div>
          {% endif %}
        </div>
        <div class="mobile-only">
          {% include 'responsive-image', image: block.settings.mobile_image, manual_image_load: false, no_max_width: true %}
        </div>
      {% endif %}

      {% if block.settings.heading != blank or block.settings.text != blank or block.settings.button_text != blank %}
      <div class="overlay-text overlay-{{ block.settings.position }} {% if block.settings.mobile_image != blank %}overlay-text--no-mobile-stack{% endif %}">
        <div class="inner">
          <div class="text">
            <div class="scaled-text">
              {% if block.settings.heading != blank %}
                <div>{{ block.settings.heading | escape }}</div>
              {% endif %}
              {% if block.settings.text != blank %}
                <div class="second-line">{{ block.settings.text | escape }}</div>
              {% endif %}
              {% if block.settings.button_text != blank %}
                <span class="button altcolour">{{ block.settings.button_text }}</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if block.settings.link_url != blank %}</a>{% endif %}
    </div>

    {% endfor %}
  </div>
  {% unless settings.use_fullwidth_layout %}</div>{% endunless %}
  {% comment %}
  <div class="only-desktop section-1-line">
  	{{ 'vertical-red-line.png' | asset_url | img_tag }}
  </div>
  {% endcomment %}
</div>
<!-- Trigger the modal with a button -->
<button type="button" hidden class="btn btn-info btn-lg" data-toggle="modal" id="saleModalBtn" data-target="#saleModal">Open Modal</button>

<!-- Modal -->
<div id="saleModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body p-0">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-body-content">
          <div class="modal-image">
            <img class="lazyload" data-src='https://cdn.shopify.com/s/files/1/0057/8938/4802/files/website-pop-up.jpg?v=1629267746' />
          </div>
          <div class="modal-form p-3">
          	<div class="sale-pop-form">
            <div class="form-group" style="margin: 0;">
              <div class="myform" style="display: flex;margin: 0;justify-content: center;">
              	<input style="border-radius: 5px;max-width: 65%;font-size: 12px;width: 100%;" type="email" name="email" id="sale_email" placeholder="Email Address">
              <button style="border-radius: 5px;background: transparent;border-color: #ff0000;color: #fff;" class="button sale-btn" type="submit">YES</button>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<style type="text/css">
  {% for block in section.blocks %}
  {%- assign background_alpha = block.settings.overlay_bg | color_extract: 'alpha' -%}
  .section-id-{{ section.id }} .slide-{{ forloop.index }} .overlay-text .text > div {
    color: {{ block.settings.overlay_color }};
    background: {% if background_alpha == 0 %}transparent{% else %}{{ block.settings.overlay_bg | color_modify: 'alpha', 0.8 }}{% endif %};
  }
  {% endfor %}
  .mobile-only .rimage-wrapper .rimage__image {top: 0px;}
  @media screen and (min-width: 1200px) {
  	ul.slick-dots {display: none !important;}
  }
  
  .slideshow .slick-dots li button:before {color: #ccc;}
  .slideshow .slick-dots li.slick-active button:before {color: #fff;}
  .slideshow .slick-dots {padding-bottom: 0;}
  .slideshow .slick-dots li {height: 15px;}
  #shopify-section-1478795901388 .slide a {display: block;}
  #saleModal {z-index: 9999;background: #0009;padding: 0 !important;}
  #saleModal .modal-dialog{top: 20%;}
  #saleModal .close {
  	position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: #EB1C24;
    color: #fff;
    line-height: 30px;
    font-weight: normal;
    opacity: 1;
  }
  #saleModal .close:focus {
  	border: 0;
    outline: none;
  }
  .error-msg-sale, .thankyou-msg-sale, .aluser-msg-sale {
  	text-align: center;
    margin: 0;
    font-size: 12px;
    color: #fff;
    opacity: .8;
  }
  .sale-btn:focus {outline: none;}
  #saleModal img {display:block;}
  #saleModal .modal-content {border:0;}
  .modal-form {background: #000;}
  #saleModal input {
  	border: 1px solid #ccc;
    background: transparent;
    color: #ccc;
    margin-right: 4px;
  }
  #saleModal input::-webkit-input-placeholder {color: #ccc;}
  #saleModal .sale-btn:hover {background: #EB1C24!important;}
  
  @media screen and (max-width: 600px) {
  	#saleModal .modal-dialog{top: 25%;}
  }
  @media screen and (min-width: 1100px) {
    #shopify-section-1478795901388 {margin-bottom: 20px}
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
    	$('.section-1-line').addClass('slideUp');
    }, 2000);
    {%- if block.settings.enable_banner_video -%}
    if($.browser.mobile)
     {
         console.log("is mobile")
         $("#myVideo").get(0).pause();
        // it is mobile browser
     }
    else {
      setTimeout(function(){
    	$("#myVideo").get(0).play();
      }, 1000)
    }
    {%- endif -%}
    {% comment %}
    $("#shopify-section-1478795901388 .slide-1 a").click(function(e){
      e.preventDefault();
      $("#saleModalBtn").trigger("click");
    });
    {% if customer %}
    	document.getElementById("sale_email").value = '{{customer.email}}'
    {% endif %}
    $(".sale-btn").click(function () {
    var e = document.getElementById("sale_email").value;
    "" !== e && /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/.test(e)
        ? localStorage.getItem("userEmailIdSale") === e
            ? $(".form-group").append('<p class="aluser-msg-sale">You are already subscribed!!</p>')
            : (localStorage.setItem("userEmailIdSale", e),
              clevertap.onUserLogin.push({ Site: { Email: e, "MSG-email": !0 } }),
              clevertap.event.push("Subscribed for boAt Sale", { Email: e, Source: "HomePage Banner Popup" }),
              $("#saleModal .form-group").append('<p class="thankyou-msg-sale">Thank You for subscribing!</p>'))
        : $(".form-group").append('<p class="error-msg-sale">Please enter a valid email Id!</p>');
    setTimeout(function () {
        $(".error-msg-sale, .thankyou-msg-sale, .aluser-msg-sale").remove();
    }, 5e3);
});
    {% endcomment %}
  })
  var userSource = '';
  if(navigator.userAgent.includes('Mobile')) userSource = 'Mobile';
  else if(navigator.userAgent.includes('iPad')) userSource = 'Tablet';
  else userSource = 'Desktop';
  const slides = document.querySelectorAll('.slideshow .slide');
  slides.forEach((slide, i) => {
    slide.addEventListener('click', function() {
    	let slideNum = `${i+1}`
        clevertap.event.push("Homepage Banner clicked", {
          "Banner Number": 'Banner ' + slideNum,
          "userSource": userSource
        })
    })
//     console.log(slide.querySelector('img').dataset.src)
  });
</script>

{% schema %}
  {
    "name": "Slideshow",
    "max_blocks": 8,
    "settings": [
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Primary image",
            "info": "1200px wide minimum"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile image"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "Slide link"
          },
          {
            "type": "header",
            "content": "Overlay"
          },
          {
            "type": "paragraph",
            "content": "Without a mobile image, overlay text will show underneath the image on mobile screens."
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Slideshow"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Subheading",
            "default": "Tell your story with images"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text"
          },
		  {
            "type": "checkbox",
            "id": "banner_timer",
            "label": "Show Timer on banner"
          },
          {
            "type": "text",
            "id": "timer_text",
            "label": "Add timer text",
            "default": "Hurry! Sale ends in:"
          },
          {
            "type": "text",
            "id": "timer",
            "label": "Add date and time for timer",
            "default": "April 20, 2021 23:59:00"
          },
		  {
			"type": "checkbox",
            "id": "enable_banner_video",
            "label": "Video on Banner",
            "default": false
		  },
		  {
			"type": "url",
            "id": "video_url",
            "label": "Video URL"
		  },
		  {
            "type": "image_picker",
            "id": "video_poster_image",
            "label": "Video Thumbnail Image"
          },
          {
            "type": "select",
            "id": "position",
            "label": "Text alignment for large screens",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "centre",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "centre"
          },
          {
            "type": "color",
            "id": "overlay_color",
            "label": "Text color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "overlay_bg",
            "label": "Background color",
            "default": "#464654"
          }
		  
        ]
      }
    ],
    "presets": [
      {
        "name": "Slideshow",
        "category": "Image",
        "settings": {
        },
        "blocks": [
          {
            "type": "image"
          },
           {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
