{%- comment -%}
  blog-pos.liquid
{%- endcomment -%}
<script>
  $('.article-list .article-item').each(function(e) {
    $(this).click(function() {
      let blog = $(this).find('img').attr('alt');
      clevertap.event.push('Homepage Blog Section Clicked', {
        "Card": blog,
        "userSource": userSource
      });
    });
  });
</script>

{%- comment -%}
  custom-popup-modal.liquid
{%- endcomment -%}
<script>
  $(document).ready(function() {
    var camp = "{{ request.path | split: '/' | last }}"{% if section.settings.landing_based  %}
      if (window.location.href.indexOf(camp) > -1 && sessionStorage.getItem("popUpPoped") === null) {
        $(".custom_Popup #saleModal").modal("show");
        sessionStorage.setItem("popUpPoped", "poped");
      }
    {% else %}
      $("{{ section.settings.popup_id }}").click(function(e) {
        $(".custom_Popup #saleModal").modal("show");
      });{% endif %}$(".custom_Popup .sale-btn").click(function() {
      var e = document.getElementById("sale_email").value;
      "" !== e && /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/.test(e)
        ? localStorage.getItem("userEmailIdSale               {{ section.settings.clevertap_id }}") === e
          ? $(".form-group").append('<p class="aluser-msg-sale">You are already subscribed!!</p>')
          : (localStorage.setItem("userEmailIdSale               {{ section.settings.clevertap_id }}", e), clevertap.onUserLogin.push({
            Site: {
              Email: e,
              "MSG-email": !0
            }
          }), clevertap.event.push("Notify Me                {{ section.settings.clevertap_id }}", {
            Email: e,
            Source: camp
          }), $(".custom_Popup #saleModal .form-group").append('<p class="thankyou-msg-sale">Thank You for subscribing!</p>'))
        : $(".custom_Popup .form-group").append('<p class="error-msg-sale">Please enter a valid email Id!</p>');
      setTimeout(function() {
        $(".custom_Popup .error-msg-sale, .custom_Popup .thankyou-msg-sale, .custom_Popup .aluser-msg-sale").remove();
      }, 5e3);
    });
  });
</script>

{%- comment -%}
  explore_now_home.liquid
{%- endcomment -%}
<script>
  $(document).ready(function() {
    $('.explore_now_slider').owlCarousel({
      loop: true,
      responsiveClass: true,
      autoplay: true,
      items: 6,
      nav: false,
      dots: false,
      responsive: {
        300: {
          items: 2.3,
          margin: 10
        },
        600: {
          items: 5.2,
          margin: 10
        },
        1000: {
          items: 6,
          loop: true,
          margin: 10
        }
      }
    })
  });

  var explore_now_slider_img = document.querySelectorAll('.explore_now_slider .explore_item');
  explore_now_slider_img.forEach((slide, i) => {
    slide.addEventListener('click', function() {

      let imageurl = slide.querySelector('a').href;
      let imageTitle = slide.querySelector('img').alt;

      console.log(imageurl);
      console.log(imageTitle);
      clevertap.event.push("Explore now clicked", {
        "image url": imageurl,
        "image Title": imageTitle,
        "userSource": userSource
      })
    })
  });
</script>


{%- comment -%}
  explore_now_home.liquid
{%- endcomment -%}
<script>
  $(document).ready(function() {
    $('.explore_now_slider').owlCarousel({
      loop: true,
      responsiveClass: true,
      autoplay: true,
      items: 6,
      nav: false,
      dots: false,
      responsive: {
        300: {
          items: 2.3,
          margin: 10
        },
        600: {
          items: 5.2,
          margin: 10
        },
        1000: {
          items: 6,
          loop: true,
          margin: 10
        }
      }
    })
  });

  var explore_now_slider_img = document.querySelectorAll('.explore_now_slider .explore_item');
  explore_now_slider_img.forEach((slide, i) => {
    slide.addEventListener('click', function() {

      let imageurl = slide.querySelector('a').href;
      let imageTitle = slide.querySelector('img').alt;

      console.log(imageurl);
      console.log(imageTitle);
      clevertap.event.push("Explore now clicked", {
        "image url": imageurl,
        "image Title": imageTitle,
        "userSource": userSource
      })
    })
  });
</script>

{%- comment -%}
  featured-blog.liquid
{%- endcomment -%}
<script type="text/javascript">
  $(document).ready(function($) {
    $('.article-list').on('click', function() {
      clevertap.event.push('Homepage Blog section clicked', {userSource: userSource});
    });
  });
</script>