    {% include 'judgeme_core' %}
    <style>
      .jdgm-prev-badge__text{
            font-size: 10px;
        font-weight: 600;
        margin-left: 4px;
      }
      .jdgm-widget{
        margin-bottom:0px;
      }
      body{
      background: black !important;
      }
      .steps{
      position: relative;
      height: 3px;
      width: 80%;
      background: white;
      margin: auto;
      }
      .step1{
          position: absolute;
        left: 11%;
        width: 15px;
        height: 15px;
        background: white;
        border-radius: 50%;
        top: -6px;
      }
      .step2_3{
      position: absolute;
      left: 48%;
      width: 15px;
      height: 15px;
      background: white;
      border-radius: 50%;
      top: -6px;
      }
      .step4{
      position: absolute;
        right: 11%;
        width: 15px;
        height: 15px;
        background: white;
        border-radius: 50%;
        top: -6px;
      }
      .step1-text {
        position: absolute;
        color: white;
        top: 2vw;
        width: 36vw;
        left: -17vw;
        text-align: center;
    }
        .step2_3-text {
        position: absolute;
        color: white;
        top: 2vw;
        width: 19vw;
        left: -9vw;
        text-align: center;
    }
        .step4-text {
        position: absolute;
        color: white;
        top: 2vw;
        width: 36vw;
        left: -17vw;
        text-align: center;
    }
      .product-card{
      position: relative;
      width: 300px;
    /*   border: 2px solid red; */
        margin: 10px;
       display: flex;
       flex-direction: column;
       align-items: center;
    /*    padding: 20px; */
    /*    height: 390px; */
       justify-content: space-between;
       background: #c4c4c4;
       border-radius: 18px;
       margin-bottom: 30px;
      }
      .product-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        align-items: space-around;
        max-width: 80%;
        margin: auto;
        margin-top: 36px;
    }
      .product-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: #f1f1f1;
        padding: 20px 0px;
        border-radius: 0 0 18px 18px;
      }
      .var-img{
      width: 60%;
      margin-top: 20px;
      }
      .atb {
        background: black;
        color: white;
        padding: 6px 22px;
        border-radius: 4px;
        font-size: 14px;
        margin-top: 10px;
        cursor: pointer;
    }
      @media (max-width: 600px){
        .step1-text{
        margin-top: 16px;
        }
         .step1-text {
        position: absolute;
        color: white;
        top: 2vw;
        width: 30vw;
        left: -13vw;
        text-align: center;
    }
         .step4-text {
        position: absolute;
        color: white;
        top: 2vw;
        width: 30vw;
        left: -13vw;
        text-align: center;
    }
        .product-flex{
          margin: 36px 7px;
          max-width: 100%;
        }
        
        .product-card{
          position: relative;
          width: 175px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          background: #c4c4c4;
          border-radius: 18px;
          margin: 0 0 30px 0;
          min-height: 376px;
        }
        .var-img{
          width: 90%;
    	  margin-top: 22px;
        }
        .product-info{
        	width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          background: #f1f1f1;
          padding: 6px 0px;
          border-radius: 0 0 18px 18px;
        }
        .product-name{
			    text-align: center;
          color: black;
          padding: 0 10px;
          margin-bottom: 0px;
          font-size: 14px;
        }
        .product-cost{
        	margin-bottom: 3px;
    		font-size: 14px;
        }
        .product-cost-span{
            color: #ed1c24;
            font-size: 14px !important;
            font-weight: 600;
        }
        .var-select{
          padding: 5px;
    	  width: 80%;
        }
        .atb{
        	background: black;
            color: white;
            padding: 4px 16px;
            border-radius: 4px;
            font-size: 14px;
            margin-top: 10px;
            cursor: pointer;
        }
        .step1-heading{
        margin-top: 130px !important;
      }
      }
      .total-price{
      position: fixed;
      bottom: 65px;
      left: 0;
      right: 0;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center; 
      background: white;
      padding: 0 20px;
      }
      .cross{
        position: absolute;
        top: -0.5px;
        right: 0;
        background: #f90c0c;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 40px;
        height: 30px;
        border-radius: 0 15px 0 0;
        color: white;
      }
      .count{
        position: absolute;
        top: -0.5px;
        left: 0;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 40px;
        height: 30px;
        border-radius: 15px 0 0 0;
        color: white;
      }
      .selected{
      border: 3px solid red;
      }
      .cross{
      display: none;
      }
      .count{
      display: none;
      }
      #ymPluginDivContainerInitial{
      display: none !important;
      }
      .checkout{
        background: #f90c0c;
        padding: 5px 10px;
        color: white;
        border-radius: 6px;
        cursor: pointer;
      }
      .checkout:hover{
        background: #red;
        padding: 5px 10px;
        color: white;
        border-radius: 6px;
        cursor: pointer;
      }
      .atb:hover{
        background: #f90c0c !important;
        background-color: #f90c0c !important;
      }
      .total-price{
      display: none;
       z-index: 9999;
      }
      .alert {
                position: fixed;
                bottom: 107px;
                height: 40px;
                background: white;
                display: flex;
                width: 100vw;
                justify-content: center;
                align-items: center;
                color: red;
                font-weight: 900;
                display: none;
                height: max-content;
                text-align: center;
                padding: 10px 0;
                z-index: 9999;
            }
      .step1-heading{
      color: white;
        text-align: center;
        margin-top: 100px;
        font-size: 22px;
        font-weight: 600;
      }
      @media (min-width: 765px){
        .total-price{
        bottom: 0;
        }
        .alert{
        bottom: 44px;
        }
      }
      .featuredImg-div{
      display: flex;
      justify-content: flex-start;
      }
      .featured_img_cont{
      display: flex;
      position: relative;
      }
      .featuredCount{
        font-size: 10px;
        display: flex;
        background: black;
        color: white;
        height: 16px;
        width: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-weight: 600;
        position: absolute;
        top: -8px;
        left: -6px;
    }
    </style>

    <div class="steps">
      <div class="step1">
      <p class="step1-text">
      Step 1 <br>
        Choose Your Gifts</p>
      </div>
      <div class="step2_3">
      <p class="step1-text">
      Step 2<br>
        Opt For Gift Box</p>
      </div>
      <div class="step4">
      <p class="step1-text">
      Step 3 <br>
        Checkout</p>
      </div>
    <!--   <div class="step1"></div> -->
    </div>


    <div class="step1-content">
    {%- assign collection = collections["christmas-sale"] -%}
      <div class="step1-heading" style="color: white;">Choose Your Gifts</div>
      <div class="product-flex">
        {% for product in collection.products %}
      <div class="{{product.id}}_productCard product-card">
      {% for variant in product.variants % %}

        <img style="display: none;" class="{{variant.id}} var-img" src=" {{ variant.image.src | img_url: "1024x1024" }}" />
    {% endfor %}
        <div class="product-info">
          {% comment %}Start automatically added Judge.me widget{% endcomment %}
                  {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: product %}
                {% comment %}End automatically added Judge.me widget{% endcomment %}

          <div class="count {{product.id}}_count">0</div>
          <div class="cross {{product.id}}_cross" prod-id = "{{product.id}}">X</div>
      <p class="product-name" style="text-align: center;color: black;padding: 0 10px; margin-bottom:3px;">{{product.title}}</p>
          <p class="product-cost" style="margin-bottom:3px;"><span class="product-cost-span" style="
        color: #ed1c24;
        font-size: 18px;
        font-weight: 600;
    ">Rs. {{product.price | divided_by: 100}}</span>&nbsp;&nbsp;<span style="
        text-decoration: line-through;
        font-size: 14px;
        color: #525151;
    ">{{product.compare_at_price | divided_by: 100}}</span></p>
    <!--       <p><span>Rs. {{product.price | divided_by: 100}}</span><span> {{product.compare_at_price | divided_by: 100}}</span></p> -->
      <select style="padding: 5px;"onchange="varSelect(event)" class="{{product.id}} var-select">
    <!--     <option value ="default" selected>Select Colour</option> -->
      {% for variant in product.variants % %}
      <option value ="{{variant.id}}_{{variant.price}}">
      {{variant.title | split: "/" | first }}    ₹{{variant.price | divided_by: 100}}
      </option>
    {% endfor %}
      </select>
                <div class="atb {{product.id}}_atb" var-id = "" price="" prod-id="{{product.id}}">Add To Box</div>

      </div>
        </div>
      {% endfor %}
      </div>
      <div class="total-price">
        <div class="featuredImg-div">
        {% for product in collection.products %}
         <div class="featured_img_cont">
          <div style="display: none;" class="{{product.id}}_featuredCount featuredCount">0</div>
        <img class="{{product.id}}_featuredImg" style="max-width:30px;display: none; margin-right: 10px;" src=" {{ product.featured_image | img_url: "1024x1024" }}" />
          </div>
        {% endfor %}
        </div>
        <div class="dyn-price" style="font-weight: 500;">Total: <span class="price-span" style="color: #f90c0c; font-weight: 700; margin-left: 4px;">₹ 0</span></div>
        <div class="checkout">Next Step</div>
      </div>
      <div class="alert">Max. number of 3 products are allowed per gifting box</div>
    </div>

    <script>
      $('.var-select').each((i,ele)=>{
        $(`.${ele.value.split('_')[0]}`).show();
        $(`.${ele.classList[0]}_atb`)[0].setAttribute('var-id',ele.value.split('_')[0])
        $(`.${ele.classList[0]}_atb`)[0].setAttribute('price',parseInt(ele.value.split('_')[1])/100)
      })
      function varSelect(event){
      console.log(event.target.value);
        $('.var-img').hide();
    $('.var-select').each((i,ele)=>{
        $(`.${ele.value.split('_')[0]}`).show();
        $(`.${ele.classList[0]}_atb`)[0].setAttribute('var-id',ele.value.split('_')[0])
        $(`.${ele.classList[0]}_atb`)[0].setAttribute('price',parseInt(ele.value.split('_')[1])/100)
      })
      }

      let obj = {
        items: []
        };
      var t_price = 0;
      $('.atb').on('click',(e)=>{
        $('.total-price')[0].style.display = "flex";
        let qty = 0;
        obj.items.forEach((ele)=>{
        qty = parseInt(ele.qty) + parseInt(qty);
        })
        console.log(qty)
        if(qty < 3){
        obj.items.push({"qty": 1,
                        "varId" : e.target.getAttribute('var-id'),
                        "prodId" : e.target.getAttribute('prod-id'),
                        "price" : e.target.getAttribute('price')
                       }); 
          console.log(obj.items);
          $(`.${e.target.getAttribute('prod-id')}_count`)[0].innerText = parseInt($(`.${e.target.getAttribute('prod-id')}_count`)[0].innerText) + 1
        $(`.${e.target.getAttribute('prod-id')}_productCard`).addClass('selected');
        $(`.${e.target.getAttribute('prod-id')}_cross`)[0].style.display = "flex";
        $(`.${e.target.getAttribute('prod-id')}_count`)[0].style.display = "flex";
        $(`.${e.target.getAttribute('prod-id')}_featuredImg`)[0].style.display = "flex";
          $(`.${e.target.getAttribute('prod-id')}_featuredCount`)[0].style.display ="flex";
          $(`.${e.target.getAttribute('prod-id')}_featuredCount`)[0].innerText = parseInt($(`.${e.target.getAttribute('prod-id')}_featuredCount`)[0].innerText) + 1
          t_price = 0;
        obj.items.forEach((ele)=>{
        t_price = parseInt(ele.price) + parseInt(t_price);
        })
        console.log(t_price);
          $('.price-span').text(`₹ ${t_price}`)
        }
        else{
    //     $(".alert").css('display','flex');  
        $(".alert").fadeIn(500);
          setTimeout(()=>{
          $(".alert").fadeOut(500);           
           },3000)
        }
        })

      $('.cross').on('click',(e)=>{
       console.log(e.target)  
       let prodId = e.target.getAttribute('prod-id');
        let i_arr = [];
       obj.items.forEach((ele,i)=>{
         console.log(i)
         if(ele.prodId != prodId){
           console.log('entered')
           i_arr.push(ele);
         }
         obj.items = i_arr;
       })
       $(`.${e.target.getAttribute('prod-id')}_count`)[0].innerText = 0;
        $(`.${e.target.getAttribute('prod-id')}_count`)[0].style.display = "none";
        $(`.${e.target.getAttribute('prod-id')}_productCard`).removeClass('selected');
        $(`.${e.target.getAttribute('prod-id')}_cross`)[0].style.display = "none";
        $(`.${e.target.getAttribute('prod-id')}_featuredImg`)[0].style.display = "none";
        $(`.${e.target.getAttribute('prod-id')}_featuredCount`)[0].style.display ="none";
        $(`.${e.target.getAttribute('prod-id')}_featuredCount`)[0].innerText = 0;
        let qty = 0;
        obj.items.forEach((ele)=>{
        qty = parseInt(ele.qty) + parseInt(qty);
        })
        if(qty <= 0){
        $('.total-price')[0].style.display = "none";
        }
       t_price = 0;
       obj.items.forEach((ele)=>{
        t_price = parseInt(ele.price) + parseInt(t_price);
        })
        console.log(t_price);
          $('.price-span').text(`₹ ${t_price}`)
       })

    // const findIndex = obj.items.findIndex(a => a.varId == 31302755647586)

    // findIndex !== -1 && obj.items.splice(findIndex , 1)

    // //print result
    // console.log(obj.items)




    //   obj.items.forEach((ele)=>{
    // if(ele.varId == 31302755647586){
    // ele.qty = parseInt(ele.qty) + 1
    // };
    // })

      $('.checkout').on('click',()=>{
         let new_arr = [];
      obj.items.forEach((ele)=>{
        let temp_obj = {
          "quantity" : ele.qty,
          "id" : ele.varId
        };
        new_arr.push(temp_obj);
      })
        console.log(new_arr);    
      $.ajax({
             type: "POST",
             url: '/cart/add.js',
             data: {
             items: new_arr
         },
            success: function(){ window.location.href = "/checkout"; }
           });
       })


    </script>